///header
header{
    font-size: pxToEm(17);
    height: pxToEm(45,17);
    padding: 0 pxToEm(10,17) 0 0;
    line-height: pxToEm(45,17);
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    right: 0;
    font-family: "STXihei";
    color: #f5f7fe;
    background-color: #387bee;
    a.back{
        display: inline-block;
        padding-left: pxToEm(10,17);
        img{
            //width: pxToEm(image-width("../image/header-back.png"), 12) / 2;
            height: pxToEm(17,17);
            width: auto;
            vertical-align: middle;
        }
    }
    span{
        &.title{
            vertical-align: middle;
            line-height: pxToEm(46,17);
        }
    }
    .opera{
        position: absolute;
        right: pxToEm(10,17);
        top: 0;
        bottom: 0;
        a{
            font-size: pxToEm(14,17);
            color: #fff;
            &.sear{
                img{
                    height: pxToEm(20,14);
                    width: auto;
                    vertical-align: middle;  
                }
                
            }
            &.filter{
                display: inline-block;
                padding: 0 pxToEm(10,14) 0 pxToEm(6,14);
                //margin: 0 pxToEm(2,14);
                background: url(../image/header-opera-arrow.png) right center no-repeat;
                background-size: pxToEm(image-width("../image/header-opera-arrow.png"), 14) / 2 pxToEm(image-height("../image/header-opera-arrow.png"), 14) / 2;
            }
        }
    }
}