@charset "utf-8";
/*---自定义CSS样式---------*/
.hidden{display: none;}
.mr5{ margin-right: 5px;}
.ml5{ margin-left: 5px;}
.mt5{ margin-top: 5px;}
.mb5{ margin-bottom: 5px;}
.mtb10{padding:10px;}
.fl{ float: left;}
.fr{ float: right;}
.red{color: red;}
.tab{padding: 20px 60px;}
.set strong{ float:left; margin: 8px 20px 8px 20px}
.checkbox-list{ float: left; margin-top: 6px; margin-bottom: 0;}
.set .form-group{margin: 13px 0 0 0;}
.checkbox-list .checkbox{  display: block;float: left;margin-right: 25px;  margin-bottom: 0;}
.borders{border: 1px solid #ccc;}
.mt20{ margin-top: 20px;}
.pt5{ padding-top: 5px;}
.lh35{line-height: 35px;}
.lh34{line-height: 34px;}
.label-m15{display: flex;}
.label-m15 .checkbox{ margin-right: 15px; }
.label-m15 .radio{margin-right: 15px;}
.border-r{ border-right: 1px solid #f4f4f4;}
.border-l{ border-left: 1px solid #f4f4f4;}
.border-t{ border-top: 1px solid #f4f4f4;}
.border-b{ border-bottom: 1px solid #f4f4f4;} 
.mt10{ margin-top: 10px;}
.odder tr td:nth-child(2n+1){background:#fdfdfd; text-align: right; }
.kong{ margin: 0;padding: 0;border: 0; clear: both;}

.over-hidden{width:150px;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;cursor:pointer;}
.pb10{padding-bottom: 10px;}


.texts p{font-size: 14px; width: 25%; float:left; text-align: center; }
.price{ color:red; font-size: 18px;font-weight: bold;}
.mb10{ margin-bottom: 10px;}
.mb5{ margin-bottom: 5px;}
.mb0{ margin-bottom: 0px;}

.note{font-size: 10px;margin-top: 10px;}
.ms .col-sm-9{ padding-right:0px;}   

.select-vip { width: 100%; height: 60px;display: block;padding-top:10px}
.select-vip .col-sm-2 .fl{ width: 40px; display:block ;padding-top:5px; float: left;}
.select-vip .col-sm-3 .fl{ width: 80px; display:block ;padding-top:5px; float: left;}
.select-vip .col-sm-2 input,.select-vip .col-sm-3 input{ float:left; width: 100px;}

.red{ color: red;}
.yellow{ color:orange;}
.green{ color: green;}
.table th,.table td{text-align: center;}

.w80{ width: 80px;}
.imgs{ width: 100px; height: 100px; float: left;}
.m5{ margin: 6% 0 0 10px;}
.titles{ background: #fafafa;padding:10px}

.thr table th{text-align:right ;}
.p20{padding: 20px 0;}

.text-fl{ float: left; margin-right: 10px; padding-top: 5px;}


.dis-none{display:none;}
.wid_750{width:750px;}
	

.tabs td,.tabs th{ border-right:0;}
.tabs th{text-align: right;}
.tabs td{text-align: left;}
.text-r{text-align: right;}
.text-l{text-align: left;}

.in_block{
    display:inline-block;
}

/*------后台首页-----------*/
.i-orange{ background: #ff9966;}
.i-blue{ background:#6699ff}
.i-red{ background: #ff6666}
.i-green{ background: #99cc33}
.pd40{padding:20px 10px;height: 100px; width: 100%; display: block}

.font-white p{font-size:18px; color: #fff; font-family: "微软雅黑", "Microsoft Yahei";  margin: 0;}


.f26{ font-size: 26px; font-weight: bold}
.f20{ font-size:20px; font-weight: bold;}
.dates{ width: 100%; min-height: 50px; display: block}
.dates i{ color: #99cc33;}

.f16{font-size:16px; margin-left: 20px}
.border-right{ padding:20px 0px 10px 0px;}
.border-right .col-sm-3{ border-right:1px solid #f5f3f3; padding-left:50px;}
.datep{margin-left: 20%;color: #a4a4a4}

.highcharts-button,.highcharts-axis{ display: none}
.inbox{padding: 20px 0;-webkit-padding-start: 0;}
.inbox li{ list-style: none; text-align: center; font-weight: bold; line-height: 30px; }

.link-box{height: 30px; padding:0 40px;font-size:11px; text-align: center}
.number-block{ width: 20px; height: 20px; color: #fff; text-align: center; margin: 0 auto;}
.b-red{ background: #ff6666}
.b-yellow{ background: #ffcc33}
.b-blue{ background: #6699ff}
.b-gray{ background:#c0c1c3 }
.red-ico{ color: #ff6666; margin-left: 5px}
.gray-ico{ color: #9b9b9b; margin-left: 5px}

.th-bg th{ background: #c0c1c3; color: #fff; }
.th-bg>tbody>tr>td{ border-bottom:1px dashed #e8e8e8;border-top:0px;}

#tab_2{ position: relative}
.blist{ position: absolute;right:10px; top:-35px; width: 48%;}
.s-gray{ font-size: 14px;  color:#999999}

#tabs,#blue-tab{ border-bottom-color: #fff; padding: 10px 0 0 10px }
#tabs>li,#blue-tab>li {border:1px solid #ecf0f5;margin-right: 0;}
#tabs>li.active{border:1px solid #ff6666;}
#tabs>li.active>a{background:#ff6666 ; color: #fff; }
#tabs>li>a,#blue-tab>li>a{padding:5px 15px;border:0;}

#blue-tab.actvie{border:1px solid #6699ff;}
#blue-tab>li.active>a{background:#6699ff; color: #fff; }
#blue-tab>li.pull-right{ border:none}

#blue-tab>li:first-child,#tabs>li:first-child{border-right:0}
#blue-tab>li:nth-child(3n){border-left:0}
/*.carousel*/
.carousel {
    margin-bottom: 0;
    padding: 0 40px 10px 40px;
}
/* The controlsy */
.carousel-control {
    left: -6px;
    height: 40px;
    width: 40px;
    margin-top:20px;
    text-shadow: none;
}
.carousel-control.right i,.carousel-control.left i{ color: #717171; font-size: 24px}
.carousel-control.right {
    right: -6px;
}
/* The indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
    background: #cecece;
}
.carousel-indicators .active {
    background: #428bca;
}


.mega-dropdown { position: static !important; }
.mega-dropdown-menu {
    padding: 20px 15px 15px;
    width: 100%; margin-top: -100px; border:0; border-radius: 0; border-bottom: 2px solid #fafafa;
}

.font-small{ color: #a09b9b;}
.datex ul{-webkit-padding-start: 20px}
.datex li{ list-style: none;float: left;padding:8px 10px; line-height: 40px}
.datex li:first-child{ width: 75%; }
.datex li:nth-child(2n){ width: 10%; }
.p20s{ padding: 10px }

.list-number{-webkit-padding-start:10px;}
.list-number li{ list-style: decimal; padding: 2px 0px; font-size: 13px; color: #807e7e;}

div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
}
div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;}
div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
}

.bg-box{ padding:10px; border:1px solid #fbe884;}


.search_text,.category_select{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.category_select{ margin-top: 10px}
.button{padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid transparent;
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
    margin: -5px 0px 0px 5px;
}

/* 提示消息弹框 */
.msge-wrap{
    width: 400px;
    top:30%;
    left: 50%;
    padding: 15px;
    background: rgba(60,60,60,0.9);
    position:fixed;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    z-index: 1000000000;
    margin-left:-200px;
  }
  .msge-icon{
  	font-size: 90px;
  }
  .msge-cont{
  	font-size: 24px;
  	font-weight: bold;
  	word-wrap:break-word ;
  	color: #3c8dbc;
  }
  .success{
  	color:#00a65a;
  }
  .error{
  	color: #f56954;
  }
  .warn{
  	color:#f39c12;
  }
/* 提示消息弹框 */

/* 日期输入框 */
  .date_input{
  	border: 1px solid #adadad;
    text-align: center;
    height: 30px;
    border-radius:3px;
  }
  .mid_po_icon{
  	line-height: 30px;
    padding: 0 5px;
    color: gray;
  }



@media only screen and (min-width:1024px) {
    .link-box{padding:0 20px}
    .carousel-control { margin-top: 0px;}
}
/*个人中心-我的消息*/
div.messages {
    margin-top: 20px;
    background-color: #fff;
}
div.messages li {
    border: 1px solid #e4e4e4;
    padding:20px 30px 20px 30px;
    margin-top: -1px;
}
div.messages li .dt {
    font-weight: 600;
    font-size: 14px;
    position: relative;
}
div.messages li .dt em {
    color:#eb3341;
    padding-right: 5px;
}
div.messages li .dd {
    padding-left: 18px;
    padding-top: 10px;
}
div.messages li .dd .info {
    padding-top: 5px;
}
div.messages li .delete {
    position: absolute;
    right: 20px;
    top: 3px;
    width: 13px;
    height: 13px;
    font-size: 0;
    overflow: hidden;
    vertical-align: middle;
    background: url(//misc.360buyimg.com/user/myjd-2015/css/i/order-icon20150916.png) -23px -132px no-repeat;
}
div.messages li .delete:hover {
    background-position: 0 -132px;
}
div.messages li:hover {
    background-color: #f1f1f1;
}
div.messages li:hover .delete {
    background-position: 0 -132px;
}
div.messages .p-skip {
    display: none;
}

.new-message-box ul li .dd {
    padding-top: 2px;
}
.new-message-box ul li .dd .info {
    padding-top: 2px;
}






















