@charset "utf-8";
/*------------*/
body {
    height: 100%;
/*    overflow: scroll;*/
}
.lf {
    width: 15%;
/*    min-width: 200px;*/
/*    max-width: 280px;*/
    height: 100%;
    text-align: center;
}
.rt {
    width: 85%;
}
.log-content {
    width: 100%;
    height: 355px;
    background:url(../images/qiepian.png) repeat-x;
    background-color: #44b5dd;
}
.log-cell {
    max-width:180px;
    margin:0 auto;
    padding-top: 17px;
    padding-bottom: 35px;
    vertical-align: middle;
}
.log-cell img {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.log-img {
    width:104px;
    height: 104px;
    margin: 0 auto;
    border: 4px solid #fff;
    border-radius: 60px;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    behavior: url(../css/ie-css3.htc);
    z-index:2;
    position: relative;
    background-color: #fff;
    vertical-align: middle;
    overflow: hidden;
}/*需要做兼容*/
.log-img img {
    width: 104px;
    height: 104px;
}
.approve {
    width:80px;
    height: 19px;
    margin: 0 auto;
    padding-top: 14px;
    vertical-align: middle;
    overflow: hidden;
}
.approve img {
    width: 80px;
    height: 19px;
}
.bus-title {
    padding-top: 20px;
    color: #fff;
    font-size:12px;
    line-height: 22px;
}
/*左侧导航栏*/
.main_left {
    width: 100%;
    min-height: 700px;
    float: left;
    background-color: #44b5dd;
}
.main_left .active {
    background-color: rgb(1,167,147);
}
.sidebar_left{
    width: 100%;
    margin-bottom:6px;
}
.sidebar_left h3{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: left;
    text-indent: 23%;
/*    padding-left: 25%;*/
    line-height: 66px;
    background: url(../img/xiala.png) no-repeat;
    background-position: 160px 17px;
    background-color: #299ed2;
}
.sidebar_left h3 a {
    color: #fff;
    display: block;
}
.sidebar_left ul{
/*    margin-top: 12px;*/
    padding: 0px;
    list-style-type: none;
}
.sidebar_left ul li{
    color: #fff;
    display: block;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.sidebar_left ul li:before {
    content: "";
    z-index: -100;
    float: left;
    width: 1px;
    min-height: 1px;
    height: 100%;
    margin-left: 25%;
    background-color: #fff;
}
.sidebar_left ul li a{
    color: #fff;
    display: block;
    font-size: 16px;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    text-indent: -25%;
}
.sidebar_left ul li a:before {
    content:url(../images/ka.png);
    position: relative;
    margin-top: 18px;
    float: left;
    text-indent: -6px;
    z-index: 200;
}
.sidebar_left ul li a:hover{
    color: #01a793;
    background-color: #bee5f3;
}
.sidebar_left ul li a.active {
    color: #01a793;
    background-color: #bee5f3
}
/*right*/
.background-index {
    height:95px;
    text-indent: 17px;
    background-color:#44b5dd;
}
.background-index h2 {
    font-size:30px;
    line-height: 95px;
    text-align: left;
    font-weight: bold;
    display:block;
    width: 280px;
    height: 95px;
    float: left;
    color: #fff;
}
.background-index ul {
    margin: 0;
    padding: 0;
    float: left;
}
.background-index ul li {
    color: #fff;
    font-size:30px;
    float: left;
}
.background-index ul li a {
    display: block;
    color: #fff;
    padding: 0 20px;
    line-height: 95px;
    height: 95px;
}
.background-index ul li:first-child a img {
    width: 32px;
    height: 28px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.breadcrumbs {
    /*width: 100%;*/
    height: 44px;
    line-height: 44px;
    background-color: #fff;
    border-bottom:1px solid #aeaeae;
    box-shadow: 0 3px 3px #aeaeae;
    color: #666;
}
ul.breadcrumb {
    text-indent: 17px;
    display: inline-block;
}
ul.breadcrumb p {
    float: left;
}
ul.breadcrumb li {
    display: inline-block;
    font-size: 14px;
    float: left;
}
ul.breadcrumb>li+li:before {
    color: #666666;
    padding-right: 15px;
    content: ">";
}
ul.breadcrumb li a {
    color: #2dc3e8;
}
/**/
ul.balance-item {
    width: 98%;
    min-width: 910px;
    height:99px;
    margin:1% 0 1% 1% ;
    padding: 1% 0 1% 1%;
    background-color: #fff;
}
ul.balance-item li {
    width: 45%;
    min-width: 430px;
    height: 99px;
    float: left;
    margin-right:1%;
}
.balance {
    width: 200px;
    color: #fff;
    margin-left:4%;
    margin-top: 15px;
    overflow: hidden;
}
.balance div.box {
    width: 200px;
    height: 28px;
    overflow: hidden;
    margin-bottom:10px;
}
.sum {
    width: 140px;
    float: left;
    overflow: hidden;
    text-overflow:ellipsis;
    text-overflow:ellipsis;
-o-text-overflow:ellipsis;
-icab-text-overflow: ellipsis;
-khtml-text-overflow: ellipsis;
-moz-text-overflow: ellipsis;
-webkit-text-overflow: ellipsis;
    font-size: 26px;
    font-weight: bold;
}
.small-sum {
    width: 92px;
    float: left;
    overflow: hidden;
    text-overflow:ellipsis;
    text-overflow:ellipsis;
-o-text-overflow:ellipsis;
-icab-text-overflow: ellipsis;
-khtml-text-overflow: ellipsis;
-moz-text-overflow: ellipsis;
-webkit-text-overflow: ellipsis;
    font-size: 22px;
    line-height: 36px;
}
.balance p {
    float: left;
    font-size: 18px;
    line-height: 36px;
    text-overflow:ellipsis;
-o-text-overflow:ellipsis;
-icab-text-overflow: ellipsis;
-khtml-text-overflow: ellipsis;
-moz-text-overflow: ellipsis;
-webkit-text-overflow: ellipsis; ;
    overflow: hidden;
}
a.withdraw {
    background-color: #333333;
    color: #fff;
    font-size:16px;
    line-height: 1;
    padding: 8px 20px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    behavior: url(../css/ie-css3.htc);
    z-index:2;
    position: relative;
    float: left;
    margin-top: 33px;
    margin-left: 4%;
}
.contact {
    margin:20px 0 0 25px;
    color:#fff;
}
.contact span {
    font-size:22px;
    line-height: 1;
    text-align:left;
}
.contact h4 {
    margin-top:15px;
    color:#fff100;
    font-size:26px;
    line-height: 1;
    font-weight: bold;
}
/**/
.imenu {
    width: 98%;
    height: 66px;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #44b5dd;
    border-left: 1px solid #44b5dd;
    border-right: 1px solid #44b5dd;
}
a.form-title {
    width: 7%;
    height: 66px;
    display: block;
    float: left;
    color: #fff;
    font-size:14px;
    line-height: 66px;
    text-align: center;
}
input.ls-input {
    width:15%;
    height: 40px;
    float: left;
    line-height: 40px;
    background-color: #fff;
    text-align: center;
    font-size:14px;
    color: #999999;
    margin: 13px 2% 13px 0;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    behavior: url(../css/ie-css3.htc);
    z-index: 2;
    outline: none;
    border:none;
}
/*报表JS*/
.datepicker {
  display: none;
  position: absolute;
  padding: 4px;
  margin-top: -3px;
  margin-left: -25px;
  direction: ltr;
}
.datepicker.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    color: #333;
    font-size: 14px;
    line-height: 18px; }
.datepicker.dropdown-menu th {
    padding: 4px 5px;
}
.datepicker.dropdown-menu td {
    padding: 4px 5px;
}
.datepicker table {
    border: 0;
    margin: 0;
    width: 210px;
}
.datepicker table thead tr:first-child {
    background-color: #f5f5f5;
}
.datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
}
.datepicker td {
    text-align: center;
    width: 20px;
    height: 20px;
    border: 0;
    font-size: 12px;
    padding: 4px 8px;
    background: #fff;
    cursor: pointer;
}
.datepicker td.active.day, .datepicker td.active.year {
    background: #ff8b00;
}
.datepicker td.old, .datepicker td.new {
    color: #999;
}
.datepicker td span.active {
    background: #ff8b00;
}
.datepicker td.day.disabled {
    color: #eee;
}
.datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    border: 0;
    font-size: 12px;
    padding: 4px 8px;
    background: #fff;
    cursor: pointer;
}
.datepicker th.active.day, .datepicker th.active.year {
    background: #ff8b00;
}
.datepicker th.date-switch {
    width: 145px;
}
.datepicker th span.active {
    background: #ff8b00;
}
.datepicker-rtl {
    direction: rtl;
}
.datepicker-rtl table tr td span {
    float: right;
}

.datepicker > div,
.datepicker-dropdown::before,
.datepicker-dropdown::after {
    display: none;
}

.datepicker-close {
    position: absolute;
    top: -30px;
    right: 0;
    width: 15px;
    height: 30px;
    padding: 0;
    display: none;
}
.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
    background-color: transparent;
}
/**/
.bus-tip {
    width: 100px;
    height: 66px;
    display: block;
    float: left;
    color: #fff;
    font-size:14px;
    line-height: 66px;
    text-align: center;
    overflow:hidden;text-overflow:ellipsis;
    text-overflow:ellipsis;
-o-text-overflow:ellipsis;
-icab-text-overflow: ellipsis;
-khtml-text-overflow: ellipsis;
-moz-text-overflow: ellipsis;
-webkit-text-overflow: ellipsis;
}
input.sp-input {
    width: 25%;
    height: 40px;
    float: left;
    line-height: 40px;
    background-color: #fff;
    text-align: left;
    text-indent: 20px;
    font-size:14px;
    color: #999999;
    margin: 13px 0 13px 20px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    behavior: url(../css/ie-css3.htc);
    z-index:2;
    position: relative;
    outline: none;
    border:none;
}
a.ex-item {
    display: block;
    float: left;
    font-size: 18px;
    line-height: 40px;
    padding: 0 16px;
    text-align: center;
    margin: 13px 0 0 35px;
    color: #fff;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    behavior: url(../css/ie-css3.htc);
    z-index:2;
    position: relative;
}
table.product-items {
    width: 100%;
    height:auto;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
}
.tb-container {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    overflow: hidden;
    margin-top: -2px;
}
table.product-items {
    width: 100%;
}
table.product-items thead tr th {
    color: #000;
    font-size: 15px;
    line-height: 61px;
    background-color: #ffe8e8;
}
table.product-items tr {
    height: 60px;
    line-height: 60px;
}
table.product-items th {
    border-left: 1px solid #cccccc;
    color: #666666;
    /*padding: 0 10px;*/
    min-width: 5%;
    max-width: 7%;
    font-weight: 400;
}
table.product-items th:first-child {
    border-left: 0;
    padding: 0;
    width: 6%;
}
.product-items tr th a {
    color: #0da7ff;
}

table.product-items tr:nth-child(2n) {
    background-color: #f6f6f6;
}
.product-items tr th a.inv {
    display: block;
    width: 80px;
    height: 36px;
    line-height: 36px;
    margin: 0 auto;
    color: #fff;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    behavior: url(../css/ie-css3.htc);
    z-index:2;
    position: relative;
    background-color: #0da7ff;
}
table.product-items th span {
    font-size: 12px;
    color: #ff5555;
    font-weight: 600;
}
input.inv-num {
    width:60px;
    height: 24px;
    line-height: 24px;
    color: #666;
    font-size:12px;
    text-align: center;
}
.pag-container {
    height: 42px;
    padding-top:18px;
    background-color: #fff;
}
ul.sell-container {
    height: 60px;
    background-color: #f6f6f6;
}
ul.sell-container li {
    width: 49.8%;
    height: 60px;
    line-height: 60px;
    color: #666666;
    float: left;
    text-align: center;
    font-size: 20px;
}
ul.sell-container>li+li:before{
    height: 100%;
    width: 1px;
    float: left;
    content: "";
    background-color:#cccccc;
}
/**/
.js_bill {
    height:50px;
    background-color: #ffe8e8;
    border-top: 1px solid #bbb;
}
.js_bill span {
    line-height: 50px;
    color: #333333;
    font-size: 16px;
    margin:0 23px;
    float: left;
}
.js_bill input.js_click {
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 50px;
    background-color: #ffe8e8;
    float: left;
    height: 50px;
    padding: 0 10px;
}
/**/
.js_bill ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.js_bill ul li {
    width:20%;
    float: left;
    text-align: center;
}
.js_bill ul li a {
    display: block;
    margin: 0 15%;
    color: #333333;
    font-size: 16px;
    line-height: 50px;
}
.js_bill ul li a:hover {
    color: #e41c1c;
}
.js_bill ul li a.active {
    color: #e41c1c;
    border-bottom: 1px solid #e41c1c;
}
/*form*/
div.order-form {
    width: 100%;
    float: left;
    background-color: #fff;
}
.order-title {
    line-height: 1;
    text-align: left;
    color: #999999;
    font-size: 14px;
}
table.fm-basic {
    margin-left: 35px;
}
table.fm-basic th {
    padding: 5px 0;
}
table.fm-basic tr th{
    font-size: 14px;
    padding-left: 15px;
    text-align: left;
    font-weight: 400;
}
table.fm-basic tr th:first-child {
    text-align: right;
    color: #333;
    line-height: 50px;
}
table.fm-basic tr th:first-child span {
    color: #fe2828;
    padding-right: 4px;
}
table.fm-basic tr th input.inwarp {
    height: 28px;
    color: #666;
    border: 1px solid #cccccc;
    outline: none;
    background-color: #fff;
    text-indent: 5px;
    font-family: "microsoft yahei";
    overflow: hidden;
}
table.fm-basic tr th select.inwarp {
    width:110px;
    height: 28px;
    color: #666;
    text-align: center;
    border: 1px solid #cccccc;
    outline: none;
    margin-right: 10px;
    background-color: #fff;
    font-family: "microsoft yahei";
}
table.fm-basic tr th select.inwarp option　{
    width: 110px;
    height: 28px;
    color: #666;
    text-align: center;
}
.wd500 {
    width: 500px;
}
.wd320 {
    width: 320px;
}
.wd200 {
    width: 200px;
}
/*input-file*/
.fl-wrap {
    width:560px;
    height: 320px;
    border: 1px solid #cccccc;
    background-color: #f7f8f8;
}
.fl-wrap .left {
    width:120px;
    height: 100%;
    float: left;
    color: #333;
    font-size:14px;
}
.fl-wrap .left p {
    margin-top:35px;
    line-height: 1;
    text-align: right;
}
.fl-wrap .right {

}
.fl-wrap .right input.inwarp {
    width:300px;
    height: 28px;
    color: #666;
    text-align: center;
    border: 1px solid #cccccc;
    outline: none;
    margin-top: 27px;
    margin-right: 10px;
    background-color: #fff;
    font-family: "microsoft yahei";
}
.fl-wrap .right input.file {
    width: 299px;
    height: 180px;
    border: 1px dashed #cccccc;
    outline: none;
/*    margin-top: 21px;*/
    background: url(../images/file.png) no-repeat;
    background-size: cover;
    opacity: 0;
    filter: alpha(opacity=0);
}
.fl-wrap .right #file {
    width: 299px;
    height: 180px;
    border: 1px dashed #cccccc;
    background: url(../images/file.png) no-repeat;
    background-size: cover;
    position: absolute;
    margin-top: 21px;
    margin-left: 120px;
}
.fl-wrap div p {
    font-size: 12px;
    color: #999;
    font-weight: 400;
    margin-top: 10px;
}
a.btn-accredit {
    display: block;
    float: left;
    width:100px;
    height: 36px;
    margin: 35px 50px 50px 10px;
    color: #fff;
    text-align: center;
    line-height: 36px;
    font-weight: bold;
}
.bg-orgn {
    background-color: #f99f0a;
}
.bg-gray {
    background-color: #666;
}
/*tab*/
ul.tab-item {
    height:38px;
    background-color: #fff;
    border-bottom: 2px solid #999;
}
ul.tab-item li a {
    display: block;
    color: #333333;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    width: 110px;
    float: left;
}
ul.tab-item li a.active {
    color: #ff5555;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    border-bottom: 2px solid #ff5555;
}
/*form*/
.fm {
    background-color: #fff;
    padding-top: 1.5%;
    padding-bottom: 3%;
}
.fm-container {
    margin: 0 auto;
    border:1px solid #eeeeee;
    background-color: #fff;
    width: 97%;
}
.fm-container tr {
    border-top: 1px solid #eee;
}
.fm-container tr:first-child {
    border-top: none;
}
.fm-container th {
    height: 80px;
    float: left;
    text-align: center;
    font-size:14px;
    color: #333;
    line-height: 80px;
}
.fm-container th:first-child {
    width: 11%;
    border-right: 1px solid #eee;
}
.fm-container tr th a {
    color: #0da7ff;
}
/*表格-账单明细*/
table.tb-check {
    width: 100%;
    background-color: #fff;
    text-align: center;
}
table.tb-check tr {
    height: 52px;
    line-height: 52px;
}
table.tb-check th {
    color: #666666;
    padding: 0 3%;
    float: left;
    font-weight: 400;
}
table.tb-check th span {
    font-size: 12px;
    color: #ff5555;
    font-weight: 600;
}
table.tb-check th a {
    color: #0da7ff;
}
table.tb-check tr:nth-child(2n) {
    background-color: #fbfbfb;
}
.select{
    width: 100px;
    height: 66px;
    display: block;
    float: left;
    color: #fff;
    font-size:14px;
    line-height: 66px;
    margin-right: 1%;
    position: relative;
    cursor: pointer;
}
.select::after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    top: 24px;
    right: -14px;
    position: absolute;
    transform: rotate(-46deg);
    transition: all .3s ease-in;
}
.select p{
    width: 100px;
    height: 66px;
    line-height: 66px;
    font-size: 14px;
    font-family: "microsoft yahei";
    color: #fff;
    overflow: hidden;
}
.select ul{
    width: 260px;
    display: block;
    font-size: 16px;
    background: #FFFFFF;
    position: absolute;
    top: 66px;
    left: -90px;
    border-top: 0;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .3s ease-in;
}
.select ul li{
    width: 100%;
    height: 50px;
    line-height: 50px;
    list-style: none;
    color: #666666;
    text-align: center;
    overflow: hidden;
}
.select ul li:hover{
    background: #D0D0D0;
}
@-webkit-keyframes slide-down{
    0%{transform: scale(1,0);}
    25%{transform: scale(1,1.2);}
    50%{transform: scale(1,0.85);}
    75%{transform: scale(1,1.05);}
    100%{transform: scale(1,1);}
}
.select.open ul{
    max-height: 250px;
    transform-origin: 50% 0;
    -webkit-animation: slide-down .5s ease-in;
    transition: max-height .2s ease-in;
}
.select.open::after{
    transform: rotate(134deg);
    transition: all .3s ease-in;
    top: 30px;
}
.seone{
    width: 90px;
    height: 66px;
    display: block;
    float: left;
    color: #fff;
    font-size:14px;
    line-height: 66px;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}
.seone::after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    top: 24px;
    right: 0;
    position: absolute;
    transform: rotate(-46deg);
    transition: all .3s ease-in;
}
.seone p{
    width: 90px;
    height: 66px;
    line-height: 66px;
    text-align: center;
    font-size: 14px;
    font-family: "microsoft yahei";
    color: #fff;
    overflow: hidden;
}
.seone ul{
    width: 100px;
    display: block;
    font-size: 16px;
    background: #FFFFFF;
    position: absolute;
    top: 66px;
    left: 0;
    max-height: 0px;
    border: 1px solid #f1f1f1;
    overflow: hidden;
    transition: max-height .3s ease-in;
}
.seone ul li{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #f1f1f1;
    line-height: 40px;
    list-style: none;
    color: #666666;
    text-align: center;
}
.seone ul li:hover{
    background: #D0D0D0;
}
@-webkit-keyframes slide-down{
    0%{transform: scale(1,0);}
    25%{transform: scale(1,1.2);}
    50%{transform: scale(1,0.85);}
    75%{transform: scale(1,1.05);}
    100%{transform: scale(1,1);}
}

.seone.open ul{
    max-height: 250px;
    transform-origin: 50% 0;
    -webkit-animation: slide-down .5s ease-in;
    transition: max-height .2s ease-in;
}
.seone.open::after{
    transform: rotate(134deg);
    transition: all .3s ease-in;
    top: 30px;

}
/*登陆-注册页*/
.pc-bg {
    background-color: #eff2f5;
}
.header-bg {
    background-color: #fff;
}
.header-login0 {
    width: 160px;
    height: 88px;
}
ul.nav-entrance {
    margin-top: 30px;
}
ul.nav-entrance li {
    float: left;
    font-size: 16px;
    height: 16px;
    line-height: 1;
    margin-top: -1px;
}
ul.nav-entrance li:last-child {
    margin-right: -25px;
}
ul.nav-entrance li a {
    display: block;
    color: #333333;
    font-size:16px;
    margin: 0 40px;
    line-height: 2;
}
ul.nav-entrance li a:hover {
    color: #ff6d06;
}
ul.nav-entrance li a.active {
    color: #ff6d06;
    border-bottom: 1px solid #ff6d06;
}
/*首页-头部-end*/
.banner {
    width: 100%;
    min-height: 430px;
    max-height: 450px;
    background-image: url(../images/PC-login_05.png);
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-position: center top;
}
/*登录框-start*/
.px {
    width: 300px;
    height: 300px;
    background-color: #fff;
    vertical-align: middle;
    margin-top: 45px;
    padding:40px 30px 0 30px;
}
.px .am-fl span {
    color: #666666;
    font-size: 16px;
    text-align: left;
    /*line-height: 1;*/
    display: block;
}
.px .am-fr span {
    color: #666666;
    font-size:14px;
    text-align: left;
/*    line-height: 1;*/
    display: block;
    margin-top: 2px;
}
.px .am-fr span a {
    color: #ec6a1b;
}
.normalInput {
    width: 100%;
    height: 70px;
    float: left;
    border-bottom:1px solid #cccccc;
}
.normalInput div.bg {
    width:45px;
    height: 70px;
    float: left;
}
.normalInput input {
    width: 150px;
    height: 58px;
    line-height: 58px;
    border:0;
    padding-top: 10px;
    float: left;
    line-height:2.5;
    color: #cccccc;
    font-size: 16px;
    text-align: left;
    padding-left: 0;
}
.normalInput-bg1 {
    background-image: url(../images/PC-login_27.png);
    background-repeat: no-repeat;
    background-position: 0px 25px;
}
.normalInput-bg2 {
    background-image: url(../images/PC-login_28.png);
    background-repeat: no-repeat;
    background-position: 0px 25px;
}
.normalInput-bg3 {
    background-image: url(../images/PC-login_32.png);
    background-repeat: no-repeat;
    background-position: 0px 25px;
}
.i_icon{display: inline-block;width: 100%;height: 100%;overflow: hidden;}

.rememberField{
    float: left;
    margin-bottom: 30px;
    margin-top:10px;
    height: 20px;
    width: 100%;
    line-height: 20px;
}
.checkboxPic {
    outline: none;
    display: inline-block;
    width: 25px;
    height: 20px;
    line-height: 34px;
    cursor: pointer;
    vertical-align: middle;
    overflow: hidden;
    _margin-top:5px;
}
.check_chk i {
    background-position: 1px -77px;
    background-image: url("../images/elements.png");
    background-repeat: no-repeat;
}
.pointer{
    cursor: pointer;
    color: #4c4c4c;
    font-size: 12px;
    display: inline-block;
    font-weight: 400;
}
.fullBtnBlue{
    float: left;
    display: inline-block;
    height: 43px;
    width: 100%;
    font-size: 20px;
    line-height: 43px;
    text-align: center;
    outline: none;
    border:0;
    cursor: pointer;
    background-color: #ff6d06;
    color: #fff;
}
.fullBtnBlue:hover {
    color: #fff;
}
.button-validation {
    display: inline-block;
    height: 26px;
    width: 88px;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    margin-top: 25px;
    outline: none;
    cursor: pointer;
    background-color: #2cbbe7;
    color: #fff;
}
.button-validation:hover {
    color: #fff;
}
/**/

div.am-container ul.th-convenient {
    margin-top:40px;
    _margin-top:40px;
    padding-bottom: 60px;
    float: left;
}
div.am-container ul.th-convenient li {
    margin: 0 20px;
    float: left;
    width: 243px;
    _width:243px;
    height: 300px;
    _height:300px;
    border: 1px solid #d9d9d9;
    text-align: center;
}
ul.th-convenient li:hover {
    border: 1px solid #ff6d06;
}
ul.th-convenient li:first-child {
    margin-left: 0;
}
ul.th-convenient li:last-child {
    margin-right: 0;
}
ul.th-convenient li h1 {
    line-height: 1;
    margin: 39px 0 28px 0;
    color: #333;
    font-size:16px;
    font-weight: bold;
}
ul.th-convenient li h2 {
    color: #00a1e9;
    font-size: 18px;
    margin-top: 11px;
    line-height: 1;
}
ul.th-convenient li p {
    color: #666666;
    font-size: 14px;
    margin-top: 13px;
    line-height: 1.6;
}
ul.th-convenient .th-convenient-bg {
    width:2px;
    height: 189px;
    float: left;
    background-image: url(../img/PC-login_29.png);
    background-repeat: no-repeat;
}
.th-convenient-bt-bg {
    width:1200px;
    height: 2px;
    margin-bottom: 44px;
    float: left;
    background-image: url(../img/PC-login_30.png);
    background-repeat: no-repeat;
}
.Contact-us {
    margin-bottom: 50px;
}
.Contact-us h2 {
    color: #666666;
    font-size: 20px;
    margin-bottom:30px;
    line-height: 1;
    text-align: left;
}
.Contact-us p {
    color: #666;
    font-size: 14px;
    line-height: 1;
    margin-bottom:15px;
    text-align: left;
}
.Contact-us h3 {
    color: #666666;
    font-size: 44px;
    text-align: left;
    line-height: 1;
}
.Contact-us h3 img {
    margin-top: -5px;
    margin-right: 10px;
}
.Contact-us-fr {
    margin-top: 50px;
}
.Contact-us-fr li {
    float: right;
    margin-left: 60px;
}
/*底部*/
.foote {
    width: 100%;
    height: 40px;
    float: left;
    background-color: #39424f;
}
.foote ul {
    margin:0 auto;
    text-align: center;
}
.foote ul li {
    font-size: 12px;
    color: #fff;
}
.foote ul  .text {
    line-height: 40px;
    color: #8c939c;
}
.foote ul li a {
    color: #8c939c;
}
.top-content {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #00a0e9;
}
.top-content .wrap {
    width: 1100px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    color: #ffffff;
    font-size: 12px;
}
.bt-content {
    width: 100%;
    height: 160px;
    background-color: #00a0e9;
}
.bt-content .wrap {
    width: 1100px;
    height: 160px;
    margin: 0 auto;
}
.bt-content .wrap .top {
    float: left;
    width: 100%;
    margin-top: 40px;
}
.bt-content .wrap .top ul {

}
.bt-content .wrap .top ul li {
    float: left;
    margin-right: 35px;
    margin-bottom:15px;
    color: #fff;
    line-height: 1;
    font-size:14px;
}
.bt-content .wrap .top ul li a {
    color: #fff;
}
.bt-content .wrap .top ul li a.active {
    color: #ff843a;
}
.bt-content .wrap .top span {
    float: right;
    color: #fff;
    font-size: 14px;
    line-height: 1;
}
.bt-content .wrap ul.left {
    float: left;
    color: #ccefff;
    font-size:14px;
    vertical-align: middle;
    display: inline-block;
}
.bt-content .wrap ul.left li {
    margin-right: 30px;
    float: left;
    line-height: 80px;
}
.bt-content .wrap ul.left li img {
    vertical-align: middle;
    height: 100%;
    text-align: center;
    display: inline-block;
}
.bt-content .wrap .right {
    text-align: right;
    float: right;
}
.bt-content .wrap .right h3 {
    margin-bottom: 15px;
    color: #ffde00;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
}
.bt-content .wrap .right span {
    color: #fff;
    font-size: 14px;
    line-height: 1;
}
/*统计页面*/
ul.info-item {
    width: 100%;
    float: left;
    background-color: #fff;
}
ul.info-item li {
    width: 100%;
    float: left;
    height: 80px;
    border-bottom: 1px solid #eeeeee;
}
ul.info-item li:nth-child(2n) {
    background-color: #fbfbfb;
}
ul.info-item:nth-child(2n) li {
    background-color: #fff;
}
ul.info-item:nth-child(2n) li:nth-child(2n) {
    background-color: #fbfbfb;
}
ul.info-item li .left {
    float: left;
    margin: 25px 20px auto 25px;
    width: 31px;
    height: 31px;
    overflow: hidden;
}
ul.info-item li .left img {
    width: 31px;
    height: 31px;
    vertical-align: middle;
    text-align: center;
}
ul.info-item li .right {
    width: 880px;
    float:left;
    margin-top: 25px;
}
ul.info-item li .right .title {
    line-height: 1;
    color: #666;
    font-size:14px;
    float: left;
    width: 100%;
}
ul.info-item li .right .title p {
    float: left;
}
ul.info-item li .right .title span {
    float: right;
}
ul.info-item li .right .plan {
    height:6px;
    float: left;
    border-radius: 6px;
    margin-top: 10px;
    behavior: url(../css/ie-css3.htc);
    z-index:2;
    position: relative;
}
ul.info-item+ul.info-item {
    margin-top: 13px;
}
.bg-org2 {
    background-color: #fa6a05;
}
.bg-cyan {
    background-color: #88cb40;
}
.bg-grayness {
    background-color: #666;
}
/*日期选择页面*/
.monthpicker {
    border: 1px solid #eee;
    padding: 1em;
    top: 6px;
    z-index: 1000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: .2em;
    background:#fff;
    behavior: url(../css/ie-css3.htc);
        z-index:2;
        position: relative;
}
.monthpicker .years {
  margin-bottom: .8em;
  text-align: center;
}

.monthpicker .years select {
  font-size: 1em;
  width: 100%;
}

.monthpicker .years select:focus {
  outline: none;
}

.monthpicker table {
  border-collapse: collapse;
  table-layout: fixed;
}

.monthpicker td {
  padding: .1em;
}

.monthpicker table button {
  width: 100%;
  border: none;
  background: #CAE3FB;
  font-size: .8em;
  padding: .6em;
  cursor: pointer;
  border-radius: .2em;
    behavior: url(../css/ie-css3.htc);
    z-index:2;
    position: relative;
  transition: background .2s;
}

.monthpicker table button:hover {
  background: #B1D3F3;
}

.monthpicker table button:focus {
  outline: none;
}

/*退货管理页面*/
ul.catalog-s {
    padding: 0 1%;
    line-height: 48px;
    color: #000;
    font-size: 15px;
    border:1px solid transparent;
}
ul.catalog-s li {
    text-align: center;
    float: left;
    width: 11%;
}
div.catalog-details {
    background-color: #fff;
    padding:1%;
}
div.catalog-details ul.item {
    border:1px solid #fccf84;
}
div.catalog-details ul.item div.details-order {
    background-color: #fafafa;
    height: 48px;
    line-height: 48px;
}
div.catalog-details ul.item div.details-order p {
    color: #000;
    float: left;
    margin-left: 15px;
    font-size: 14px;
}
div.catalog-details ul.item div.details-order span {
    color: #666;
    float: left;
    font-size: 14px;
    margin-left: 20px;
}
div.catalog-details ul.item div.details-order p a {
    color: #666;
}
div.catalog-details ul.item div.details-order div.subset {
    float: left;
    margin-top:18px;
    margin-left:15px;
    height: 12px;
}
div.catalog-details ul.item div.details-order div.subset img {
    width: 12px;
    height: 12px;
    float: left;
    margin: 0 1px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
div.catalog-details ul.item {
    margin-bottom: 17px;
}
div.catalog-details ul.item li {
    padding: 12px 0;
    border-bottom: 1px solid #eeeeee;
}
div.catalog-details ul.item li table {
    width: 100%;
}
div.catalog-details ul.item li table th {
    font-weight: 400;
    width: 11%;
    text-align: center;
    color: #2c2c2c;
    font-size: 13px;
    float: left;
}
div.catalog-details ul.item li table th img {
    width:80px;
    height: 80px;
    margin: 0 15px;
    float: left;
}
div.catalog-details ul.item li table th p.title {
    width:204px;
    height: 66px;
    line-height: 22px;
    color: #333;
    font-size: 13px;
    overflow: hidden;
    text-align: left;
}
div.catalog-details ul.item li table th span {
    color: #999;
    font-size: 12px;
    text-overflow:ellipsis;
    text-overflow:ellipsis;
-o-text-overflow:ellipsis;
-icab-text-overflow: ellipsis;
-khtml-text-overflow: ellipsis;
-moz-text-overflow: ellipsis;
-webkit-text-overflow: ellipsis;
    overflow: hidden;
    width: 204px;
    float: left;
    text-align: left;
}
div.catalog-details ul.item a.more {
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #4598c8;
    font-size:12px;
    text-align: center;
    display: block;
    border-bottom: 1px solid #eeeeee;
}
div.catalog-details ul.item div.sales-num {
    width: 100%;
    height:50px;
    line-height: 50px;
    background-color: #fafafa;
}
div.catalog-details ul.item div.sales-num a.btn-sales {
    float: right;
    margin-right:14%;
    margin-top: 10px;
    width:96px;
    height: 30px;
    line-height: 30px;
    background-color: #4ec6f8;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    behavior: url(../css/ie-css3.htc);
    z-index:2;
    position: relative;
    color: #fff;
    font-size: 18px;
    text-align: center;
    display: block;
}
div.catalog-details ul.item div.sales-num div.sales-item {
    float: right;
    color: #000000;
    font-size: 13px;
    line-height: 50px;
    text-align: left;
    margin-right: 9%;
}
div.catalog-details ul.item div.sales-num div.sales-item span {
    color: #eb3341;
}
