// -------------------------------------
// common:微信端回到顶部按钮
// -------------------------------------
///回到顶部
.backtotop {
    .weui_positionscroller-hd {
        //position: fixed;
        width: 2em;
        height: 2em;

        //right: 10px;
        //bottom: 10%;
        background-color: #fff;

        //display: none;
        //text-align: center;
        line-height: 2em;
        border-radius: 50%;

        //color: #666;
        border: 1px solid #666;
        opacity: 0.7;
    }
}