body {
  line-height: 1.4;
  font-size: 1.4rem;
}

.am-margin-xx {
  margin: 0.1rem;
}
.am-margin-top-xx {
  margin-top: 0.1rem;
}
.am-margin-left-xx {
  margin-top: 0.1rem;
}
.am-margin-bottom-xx {
  margin-top: 0.1rem;
}
.am-margin-right-xx {
  margin-top: 0.1rem;
}

.am-padding-xx {
  margin: 0.1rem;
}
.am-padding-top-xx {
  margin-top: 0.1rem;
}
.am-padding-left-xx {
  margin-top: 0.1rem;
}
.am-padding-bottom-xx {
  margin-top: 0.1rem;
}
.am-padding-right-xx {
  margin-top: 0.1rem;
}

/**
 * divider
 */
 
.am-divider {
  margin: 0.8rem auto;
}

.am-divider-line{
  height: 10px;
  border: none;
  overflow: hidden;
  clear: both;
  margin-top: 0rem;
  margin-bottom: 0rem;
  background: #ccc;
}

a {
    background-color: transparent;
    color: #333;
}

.am-topbar {
    min-height: 49px;
    border-width: 0 0 0 0px; 
}
.am-header-default{background-color:#ff6d06;}
.am-header .am-header-title {
  font-size: 1.8rem;
}
.am-titlebar-default .am-titlebar-title {
    color: #333;
    font-size: 1.6rem;
    font-weight: 300;
}
.am-titlebar-default .am-titlebar-title:before {
  top: 14px;
  bottom: 14px;
  border-left: 3px solid #ff6d06;
}

