/* CSS Document */

 /*定义带有方向属性的样式，以上右下左为书写方向。*/
 /*未完成（样式书写方式：先写。。。。。。后写。。。。。）*/
 /*自定义样式时，请添加相关注释，注释书写以右侧为主*/  /*--XXX--*/
 /*在样式表里进行书写时，请以添加为主，已有样式请勿随意删除、更改*/
 /*熟悉相关比较成熟的开源框架：bootstrap、amazeui等，有相关开发项目经验*/
 /*在写移动端web页面的时候，请前端er熟悉相关CSS3、html5标签属性*/
/*本源码已手淘为借鉴对象，采用amazeui(妹子UI)为基本框架，具体细节搭建以手淘的flexible.debug.js为主要技术实现*/
/*因为使用了相关比较成熟的开源项目，前期编写的时候也有使用相关代码。所以，在编写页面的时候，如遇到不符合要求的样式，请使用优先级更高的选择器进行覆盖或者进行同组沟通*/
/*flexible.debug.js 是以设计图的宽度为基准，把页面分为10等分，比如设计图为640，则在JS里设置640为窗口宽度，页面宽度=10rem;1rem=64px;*/
/*amazeui里以定义了相关基础重置样式，请勿随意更改，使用优先级更高的选择器覆盖掉*/
/*建议使用sublimetext、WebStorm作为主要编辑器，sublimetext有比较丰富的插件*/
@CHARSET "UTF-8";html,body,.page{height:100%;width:100%;}
body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-family:"Microsoft YaHei",Arial,Narrow,Helvetica,sans-serif;}
[class*=wap-icon-]:before{display:inline-block;font:normal normal normal 1.6rem/1 FontAwesome,sans-serif;font-size:medium;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);}
a{color:#666;}


.am-topbar {background: #fff;border-width: 0 0 0px;}
.am-header-default{background-color:#ff6d06;}
.am-titlebar-multi{border-top: 2px solid #FF0A0A;}
.am-titlebar-default{background: #fff;}
.am-titlebar-default .am-titlebar-title:before{border-left: 3px solid #FF0A0A;}
.am-popup-bd .am-tabs-d2{margin:0px;}
.am-popup-bd .am-tabs-d2 ul{width: 34%;margin: 0px 10px;height: 30px;line-height: 30px;background: #fff;}
.am-popup-bd .am-tabs-d2 ul li{width: 32%;margin: 0px;height: 30px;line-height: 30px;}
.am-popup-bd .am-tabs-d2 ul li a{height: 30px;line-height: 30px;font-size: 1.5rem;}
.am-popup-bd .am-tabs-d2 ul .am-tabs-nav>.am-active{width: 32%;margin: 0px 10px;height: 30px;line-height: 30px;}
.am-titlebar-multi .am-titlebar-nav{line-height: 40px;font-size: xx-small;}
.am-tabs-bd .am-tab-panel{padding-top:0px;}
.am-g div[data-am-widget="titlebar"]{border: none;background: #fff;border-top: 1px solid #ddd;height: 40px;line-height: 40px;}
 .am-g div[data-am-widget="titlebar"] h2{color: rgba(36, 36, 36, 0.85);font-size: initial;line-height: 40px;font-weight: 100;height: 40px;}
 .am-g div[data-am-widget="titlebar"] nav.am-titlebar-nav small{color: #858585;margin-right: 7px;}
.am-g div[data-am-widget="titlebar"] nav.am-titlebar-nav a{height: 100%;vertical-align: top;font-size: medium;
color: rgba(95, 95, 95, 0.85)}
 .am-g div[data-am-widget="titlebar"] nav.am-titlebar-nav a.wap-active{color: #3c3c3c; border-bottom: 2px solid; rgba(155, 147, 147, 0); border-bottom-color: #0e90d2;height: 35px}
.am-btn-primary:active{background:#ccc;}
.am-btn-primary:hover{background:#ccc;}

.am-popup .am-popup-hd span{left: 10px;opacity: .6;top: 9.6px;}

.inok{display:none;position:fixed;left:50%;bottom:50%;z-index:9999;background-color:#000;color:#FFF;border-radius:4px;padding:5px;width:270px;text-align:center;margin-left:-135px;margin-top:-18px;opacity:.8;}
.wap-static-float-bottom{background-color:rgba(241,241,241,0.94);}
.wap-btn-select{border-radius:2px;}
.wap-icon-right{float:right;margin-right:14px;}
.wap-float-icon{position:absolute;top:20px;right:15px;z-index:666;}
.wap-float-icon li{color:rgba(180,180,180,0.8);}
.wap-float-icon li:FIRST-CHILD{margin-right:10px;}
.wap-icon-start-0:before{content:"\f006\f006\f006\f006\f006";color:rgb(247,83,60);}
.wap-icon-start-1:before{content:"\f123\f006\f006\f006\f006";color:rgb(247,83,60);}
.wap-icon-start-2:before{content:"\f005\f006\f006\f006\f006";color:rgb(247,83,60);}
.wap-icon-start-3:before{content:"\f005\f123\f006\f006\f006";color:rgb(247,83,60);}
.wap-icon-start-4:before{content:"\f005\f005\f006\f006\f006";color:rgb(247,83,60);}
.wap-icon-start-5:before{content:"\f005\f005\f123\f006\f006";color:rgb(247,83,60);}
.wap-icon-start-6:before{content:"\f005\f005\f005\f006\f006";color:rgb(247,83,60);}
.wap-icon-start-7:before{content:"\f005\f005\f005\f123\f006";color:rgb(247,83,60);}
.wap-icon-start-8:before{content:"\f005\f005\f005\f005\f006";color:rgb(247,83,60);}
.wap-icon-start-9:before{content:"\f005\f005\f005\f005\f123";color:rgb(247,83,60);}
.wap-icon-start-10:before{content:"\f005\f005\f005\f005\f005";color:rgb(247,83,60);}
.wap-text-block{display:block;background-color:rgb(218,218,218);border-radius:2px;}

.p_vtag{border-radius:50%;background:#fff;width:8px;height:8px;position:absolute;bottom:0px;right:0px;}
.p_vtag::after,.p_vtag::before{position:absolute;top:1px;left:5px;content:'';width:1px;height:6px;background:#f00;-webkit-transform:rotate(45deg);}
.p_vtag::after{-webkit-transform:rotate(-45deg);width:1px;height:4px;top:3px;left:2px;}
.wap-noicon-tips{border-radius:6px;background:#FDFDFD;color:#414141;border:3px dashed #f00;}
#wrapper{top:49; ;z-index: 1;bottom:0;margin:0 0 51px 0;width:100%;padding:0 8px;background-color:#fff;}
.pull-action{text-align:center;height:45px;line-height:45px;color:#999;}
.pull-action .am-icon-spin{display:none;}
.pull-action .loading .am-icon-spin{display:block;}
.pull-action .loading .pull-label{display:none;}
/*.am-list{margin:0;padding:0px;}*/
.am-list>li{border: none;}

#wrapper-h{overflow:hidden}
#wrapper-h li{float:left;margin-left:5px;border: none;}
#wrapper-h li img{width:70px;height:70px;}
#wrapper-h li p{margin-top:0px;margin-bottom:0px;}

#footer_b li span{color: #666666;}

.wap-index-btns p{margin:0;font-size:1.2rem;font-weight: bolder;}
.am-titlebar{margin:0 0 10px 0;}
.wap-index-cats{margin-bottom:1rem;}
.wap-index-cats .am-u-sm-6{margin-bottom:1rem;padding:0 .5rem;}
.wap-index-adList{position:relative;}
.wap-index-adList li{margin:0;border:none;}
.wap-index-adList li a{padding:0;}
.wap-index-adList li a img{width:100%;}
.wap-index-adList li:first-child{float:left;width:34%;}
.wap-index-adList li:nth-child(2){width:66%;float:right;}
.wap-index-adList li:nth-child(3){width:33%;float:right;}
.wap-index-adList li:nth-child(4){width:33%;float:right;}

.wap-index .wap-index-channel li h3{color: black;top: 0px;background: none;font-weight: bolder;line-height: 20px;height: 20px;}
.wap-index .wap-index-channel li p{margin: 0px;color: rgb(173, 155, 155);top: 20px;background: none;font-weight: 100;font-size: xx-small;line-height: 10px;height: 10px;}


.m_Areas{display:none;width:280px;height:320px;border:4px solid #ffbd33;background:#fff;border-radius:10px;position:absolute;top:50%;left:50%;margin:-144px 0 0 -144px;z-index:6;}
.m_Areas .p_tipsclose{border-radius: 5px;width:28px;height:28px;position:absolute;top:-15px;right:-15px;background:#ffbd33;  padding-left: 4px;padding-top: 2px;}
.m_Areas .p_tipsclose::after,.m_Areas .p_tipsclose::before{background:#fff;width:2px;height:20px;top:5px;left:14px;}
.m_Areas .p_tipsclose::after{-webkit-transform:rotate(-45deg);}
.m_Areas_cont{padding:5px 5px;overflow:hidden;display:none;}
.m_Areas_cont:first-child{display:block;}
.m_Areas_cont h1{width:100%;line-height:30px;height:30px;border-bottom:1px solid #ddd;font-size:1em;}
.m_Areas_cont h1 strong{color:#666;}
.m_Areas_cont h1 span{float:right;color:#999;font-size:0.8em;text-decoration:underline;}
.m_Areas_scrooler{padding:0;height:235px;padding:5px 0;}
.m_Areas_scrooler.m_Areas_scrooler_s{height:265px;}
.m_Areas_scrooler ul{overflow:hidden;padding:0px;}
.m_Areas_scrooler li{text-align:center;line-height:30px;padding:5px 0;color:#999;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.m_Areas_scrooler li.down{background:#f00;color:#fff;border-radius:4px;}
.m_Areas_bg{display:none;width:100%;position:absolute;top:0;left:0;bottom:0;right:0;background:rgba(0,0,0,.8);z-index:5;}

/*order_info_address*/
.wap-address{background-color:#D3A06F;padding:10px;height:71px;color:#fff;margin-bottom:0px;}
.wap-address span.am-badge{position: absolute; right: 14px; top: 13px; border-radius: 4px;}
.wap-address address a.wap-address-to{color:#fff;bottom:35px;position:relative;}
.wap-address address p{margin-bottom:0px;margin-top:0px;}
.wap-address address p span{margin-left:5px;}
.wap-address address p i{margin-left:6px;}
li.wap-address{border:3px dashed #f40;border-radius:3px;}

.wap-comment-hd{background-color:#DBDBDB;}

.wap-member-header-top{background:url('../image/headerbg.jpg') no-repeat center;color:#fff;}
.wap-member-header-top .wap-member-balance{max-width:60%;color:#e7c525;font-size:1.5em;font-weight:200;margin:0 5px;}
.wap-member-header{background:url('../image/bg.png') repeat-x;}
.wap-member-header ul{height:45px;line-height:45px;}
.wap-member-header ul li:first-child{border-right:1px solid #b2b2b2;}
.wap-member-header ul li a{color:#fff;}
.wap-member-money{font-size:1.6rem;border-top: 1px solid #dedede;border-bottom: 1px solid #dedede;height:45px;line-height:45px;font-weight:bolder;}
.wap-member-money ul li:first-child{border-right: 1px solid #dedede;}
.wap-member-menulist{font-size:1.5rem;font-weight:bolder;}
.wap-member-menulist ul li{background:url('../image/left.png') 95% no-repeat;border: 1px solid #dedede;}

.wap-member-info-2{background:#fff;}
.wap-member-info-2 li{background:url('../image/left.png') 95% no-repeat;}
.wap-member-info-3{background:#fff;}

.wap-member-orderlist-nav{margin-top:0px;height:45px;}
.wap-member-orderlist-nav li{height:45px;}
.wap-member-orderlist-nav li a{background:#fff;padding-left:0px;padding-right:0px;text-align:center;padding-top: 1px;}
.wap-member-orderlist-nav li.am-active a{background:#ebebeb;}
.wap-member-orderlist-nav li a p{height:20px;line-height:20px;font-size:0.8em;color:#666;}
.wap-member-orderlist-nav li span{position:absolute;right:0px;top:0px;}
.wap-member-orderlist-nav li a img{height:20px;}
.wap-member-order-list{;}
.wap-member-order-list ul{padding:0 2px;}
.wap-member-order-list ul li{margin-bottom:10px;background:#fff;}
.wap-member-order-list ul li .order-list-header{border-bottom:1px solid #C9C9C9;}
.wap-member-order-list ul li .order-list-header{border-bottom: 1px solid #dedede;}
.wap-member-order-list ul li .order-list-header a{height:40px;float:left;line-height:40px;color:#4c4c4c;text-decoration:none;font-size:1em;-o-text-overflow:ellipsis;text-overflow:ellipsis;}
.wap-member-order-list ul li .order-list-header .order_time{line-height:40px;color:#999;margin:0px;text-align:right;font-size:0.8em;padding-right: 10px;}
.wap-member-order-list ul li .order-list-content .order-memo .goods_price{margin:0px;height:20px;line-height:20px;color:red;}
.wap-member-order-list ul li .order-list-content .order-memo .goods_amount{margin:0px;height:20px;text-align:right;font-size:0.9em;color:#808080;line-height:15px;}
.wap-member-order-list ul li .order-list-content .order-memo .shop_name{margin:0px;height:20px;text-align:right;font-size:0.9em;color:#cc9933;}
.wap-member-order-list ul li .order-list-content{padding-top: 10px;padding-bottom: 10px;padding-left: 10px;height: 80px;}
.wap-member-order-list ul li .order-list-content .order-memo{width:80px;position:absolute;top: 50px;right: 10px;}
.wap-member-order-list ul li .img-left{width:60px;float:left;}
.wap-member-order-list ul li .order-product{width:220px;margin-right:0px;}
.wap-member-order-list ul li .order-product .goods_name{margin:0px;line-height:20px;font-size:1em;color:#4c4c4c;height:40px;}
.wap-member-order-list ul li .order-product .goods_style{height:20px;color:#808080;font-size:0.9em;margin:0px;}
.wap-member-order-list .goods_details{text-align:center;border-top: 1px solid #dedede;border-bottom: 1px solid #dedede;height:30px;line-height:30px;font-size:0.8em;font-weight:bolder;}
.wap-member-order-list .goods_others{height:40px;border-top: 1px solid #ccc;}
.wap-member-order-list .goods_others .am-u-am-4{width:139px;font-size:0.8em;line-height:20px;color:#808080;height:40px;}
.wap-member-order-list .goods_others .am-u-am-4 p{margin:0px;}
.wap-member-order-list .goods_others .am-u-am-4 .total_amount{float:right;}
.wap-member-order-list .goods_others .am-u-am-4 .total_price{float:right;color:red;}
.wap-member-order-list .goods_others .goods_operate{float:right;height:40px;}
.wap-member-order-list .goods_others .goods_operate .o_button_gray{height:40px;border:1px solid #666;border-radius:5px;line-height:40px;text-align:center;color:#5E5E5E;text-decoration:none;background-color:rgb(219,219,219);padding:5px;vertical-align:middle;}
.wap-member-order-list .goods_others .goods_operate .o_button_red{height:40px;border:1px solid #666;border-radius:5px;line-height:40px;text-align:center;color:#585858;text-decoration:none;background-color:rgb(250, 169, 169);padding:5px;vertical-align:middle;margin-right: 3px;}

.m_share1{width:300px;height:169px;position:absolute;z-index:1002;top:0;right:10px;background:url(../image/am-wxprompt.png) no-repeat;background-size:300px 169px;}
.m_share1.m_share_card{background:url(../image/am-wxprompt_1.png) no-repeat;background-size:300px 169px;}
.m_share1 div{width:100%;height:100%;position:relative;}
.m_share1 span{position:absolute;color:#b58e68;top: 75px;right: 30px;width:80px;height:40px;line-height:40px;text-align:center;font-size:0.6em;text-decoration:underline;}
.m_share1.m_share_card span{top:70px;right: 10px;}
.m_share1.m_share_card p{position:absolute;bottom:35px;font-size:0.6em;color:#d7d7d7;width:100%;display:block;text-indent:15px;font-weight: 100;}
.m_share1.m_share_card p:last-child{bottom:17px;text-indent:24px;}

.m_share2{width:300px;height:169px;position:absolute;z-index:1002;top:0;right:10px;background:url(../image/am-wxll.png) no-repeat;background-size:300px 169px;}
.m_share2.m_share_card{background:url(../image/am-wxprompt_1.png) no-repeat;background-size:300px 169px;}
.m_share2 div{width:100%;height:100%;position:relative;}
.m_share2 span{position:absolute;color:#b58e68;top: 75px;right: 30px;width:80px;height:40px;line-height:40px;text-align:center;font-size:0.6em;text-decoration:underline;}
.m_share2.m_share_card span{top:70px;right: 10px;}
.m_share2.m_share_card p{position:absolute;bottom:35px;font-size:0.6em;color:#d7d7d7;width:100%;display:block;text-indent:15px;font-weight: 100;}
.m_share2.m_share_card p:last-child{bottom:17px;text-indent:24px;}

.m_sharebg{width:100%;position:absolute;top:0;left:0;bottom:0;right:0;background:rgba(0,0,0,.8);z-index:1001}
.wap-btn-input{border: 1px solid #ccc;float: left;margin-left: 0px;margin-right: 0px;width: 69px;height: 37px;text-align: right;border-radius: 0px;border-left: none;border-right: none;}
.wap-pannel{margin-bottom:2px;}
.wap-bg-left{background: url("../images/left.png") no repeat;}
.wap-specification{overflow: hidden;}
.wap-specification li span{display:inline-block;}
.wap-specification li span img{width:30px;height:30px;}
.wap-specification li{padding:2px 5px;display:inline-block;float:left;line-height:20px;}
.wap-specification li span{border:1px solid #ddd;color: #5E5E5E;padding:5px;line-height:20px;font-size:0.8em;}
.wap-specification li span .p_vtag{display:none;}
.wap-specification li span.locked{position:relative;color:#ddd;}
.wap-specification li span.locked::before{content:'';width:8px;height:8px;border-radius:50%;border:1px solid #f00;position:absolute;bottom:1px;right:1px;}
.wap-specification li span.locked::after{content:'';width:1px;height:8px;background:#f00;position:absolute;bottom:1px;right:5px;-webkit-transform:rotate(-45deg);}
.wap-specification li span.m_sfadd_hove{position:relative;background:#f00;color:#fff;border-color:#f00;}
.wap-specification li span.m_sfadd_hove a::after{content:'v';color:#f00;}
.wap-specification li span.m_sfadd_hove .p_vtag{display:block;}
.wap-at-plus{background: #fff;
border-color: #ccc!important}
.wap-at-minus{background: #fff;
border-color: #ccc!important}

.wap-active-delivery{color: #3c3c3c!important; border-bottom: 2px solid!important; rgba(155, 147, 147, 0)!important; border-bottom-color: #0e90d2!important;}

.wap-cart-bottom{;background-color: #fff;border-top: 1px solid #C9C9C9;}
.wap-cart-bottom .wap-cart-bottom-left{padding-left:1px; padding-right:0px;}
.wap-cart-bottom .wap-cart-bottom-left div{;}
.wap-cart-bottom button{width: 25%;height: 100%;}
ul.wap-cart-list li{border-bottom:1px solid;border-top:1px solid;padding:6px!important;}
ul.wap-cart-list .am-list-item-text{-webkit-box-orient:horizontal!important;}

.wap-method-div{padding: 2px 5px 2px 5px; height: 51px; line-height: 44px;border-top:1px solid rgba(184, 184, 184, 0.53);}
.wap-static-float-bottom p{padding: 0px 8px;margin: 1px;line-height: 20px;}
.wap-orderinfo-bottom{border-top: 1px solid #B8B8B8;}
.wap-orderinfo-bottom button{padding: 4px 11px;width: 24%;}
.wap-orderinfo-bottom .wap-orderinfo-bottom-left{padding-left:0px; padding-right:0px; padding-top:2px;}
.wap-orderinfo-bottom .wap-orderinfo-bottom-left div{line-height: 20px;height: 20px;}
.wap-orderinfo-bottom .wap-orderinfo-bottom-left div strong{color:rgb(240, 69, 69);}
ul.wap-info-list>li{border: 1px solid #dedede;}

.wap-order-detail{background: #fff;}
.wap-order-detail p{line-height: 24px;font-size: 0.8em;color: #999;}
.wap-order-detail p span{color: #333;}
.wap-order-detail-bottom{height: 60px;background-color: #fff;}
.wap-order-detail-bottom p{padding-top:2px;padding-bottom:2px;height: 25px;line-height: 25px;border-bottom: 1px solid silver;}
.wap-order-detail-bottom a{background-color: #B9B6B6;width: 150px;margin-top: 3px;border: 1px solid #B3B3B3;border-radius: 5px;line-height: 27px;height: 28px;color: #424241;}
.wap-order-detail-bottom a.o_button_red{background-color: rgb(252, 61, 61);
color: #FFFEFE;}
.wap-trade-header{border-bottom: none;background: #fff!important;}
.wap-trade-header a{padding: 0px 6px;
border-radius: 5px;margin-left: 10px;}
.wap-trade-header a.trade_detail_abled{background: #FD5B5B;
color: #E4E2E2;}
.wap-trade-header a.trade_detail_unable{background: #D6D6D6;}

.wap-trade-review{list-style: none;padding-left: 0px;}
.wap-trade-review li{padding: 0 10px; background: #fff;}
.wap-trade-review li div{padding: 0 0 0 60px;position: relative;display: inline-block;}
.wap-trade-review li div span{position: absolute;left: 0;line-height: 45px;color: #666;width: 50px;text-align: right;}
.wap-trade-review li div i{font-size: 2.5em;line-height: 45px;color: #f1f1f1;}
.wap-trade-review li div i.w_down{color: #f7c92b;}

.wap-favorite{width: 156px; padding-top: 10px;}
.wap-favorite ul.wap-favorite-tab{width: 140px;height: 49px;border-radius: 4px;margin: 0 auto;overflow: hidden;line-height: 49px; text-align: center; font-size: 0.8em; font-weight: bold; color: #fff;}
.wap-favorite ul.wap-favorite-tab{width: 140px;height: 49px;border-radius: 4px;margin: 0 auto;overflow: hidden;line-height: 49px; text-align: center; font-size: 0.8em; font-weight: bold; color: #fff;}
.wap-favorite ul.wap-favorite-tab li{color: #fff;background: none;border: 0;width: 69px;float: left;height: 30px;line-height: 30px;font-size: 0.8em;font-weight: bold;}
.wap-favorite ul.wap-favorite-tab li.m_down{border-radius: 4px;background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#fff));color: #333;box-shadow: inset 1px 0px 1px rgba(0,0,0,.1);border: 0; width: 69px;float: left; height: 30px; line-height: 30px;font-size: 0.8em; font-weight: bold;}

.wap-productcn-active{rgba(155, 147, 147, 0); color: #3c3c3c!important;border-bottom: 2px solid #0e90d2 !important;}

.wap-goods-list{;}
.wap-goods-list .wap-avg1{;}
.wap-goods-list .wap-avg1 img{width: 100%;}
.wap-goods-list .wap-avg2{;}
.wap-goods-list .wap-avg2 img:first-child{width: 50%; float: left;}
.wap-goods-list .wap-avg2 img:nth-child(2){width: 50%; float: right;}
.wap-goods-list .wap-avg3{;}
.wap-goods-list .wap-avg3 img:first-child{width: 65%; float: left;}
.wap-goods-list .wap-avg3 img:nth-child(2){width: 31.7%; margin-left: 2.5%;}
.wap-goods-list .wap-avg3 img:nth-child(3){width: 31.7%; margin-left: 2.5%;margin-top: 2.5%;}
.wap-goods-list p{font-size: 1em; font-weight: 100;margin: 0px;}
.wap-goods-list span{font-size: 0.8em; color: #999; border-radius: 4px; border: 1px solid #999; padding: 2px 5px;}

.id_pic_list{}
.id_pic{float:left;width:44%;height:71px;margin-left:10px;text-align:center; border-radius:10px;border:2px dashed #aaa;}
.id_pic img{width:100%;height:100%;}
.pic1{background: url("../image/idfront.png") no-repeat center;}
.pic2{background: url("../image/idback.png") no-repeat center;}
/*邀请开店补充样式*/
.fl {
    float: left;
}
.fr {
    float: right;
}
.open_shop_f0eff4 {
  background-color: #f0eff4;
  text-align: center;
}
.open_shop_bg {
  max-width: 100%;
  padding-bottom: 0.3rem;
}
.nation_p p{
  font-size: 0.375rem;
  line-height: 2.8;
  text-align: left;
  padding: 0 10%;
}
.am-input-grou_bg {
  width: 100%;
  padding: 0 0.375rem;
  background-color: #fff;
  border-radius:6px;
  margin-bottom: 0.4rem;
}
.am-btn_333 {
  width: 100%;
  border-bottom: 1px solid #d6d6d6;
}
.am-btn_phone {
  width: 100%;
  color: #333;
  text-align: left;
  display: inline-block;
    margin-bottom: 0;
    padding: 0.3rem 0;
    vertical-align: middle;
    font-size: 0.4rem;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    white-space: nowrap;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    outline: none;
}
.am-btn_separator {
  margin: 0 0.3rem;
  color: #d6d6d6;
}
.am_input_code {
    width: 45%;
    margin-right: 9%;
    border: 1px solid #dddada;
    border-radius:6px;
    line-height: 2.3;
    font-size: 0.375rem;
    padding: 0 0.3rem;
    color: #333333;
    float: left;
}
.am_input_code_bg {
    width: 45%;
    border-radius: 6px;
    font-size: 0.375rem;
    color: #fff;
    line-height: 2.3;
    float: right;
}
.am_input_complete {
    width:100%;
    line-height: 2.3;
    font-weight: bold;
/*    color: #fff;*/
    font-size: 0.5rem;
    background-color: #f9d73a;
    border-radius: 6px;
    margin: 0.4rem auto 0.5rem auto ;
}
.am_kaidian_li_style li {
  text-align: left;
  margin-left: -10px;
  padding-bottom: 0.3rem;
}
.am_kaidian_li_style li:before {
    content: "●";
    font-size: 10px;
    color: #bcbbbd;
    margin-right: 10px;
}

/*注册邀请开店页面*/
.open_shop_ff6c5a {
    background-color: #ff6c5a;
}
.open_shop-img-bd {
    max-width:3.0rem;
    max-height:3.0rem;
}
.am_margin_t2 {
    margin-top: 2rem;
}
.am_img_laba {
    width: 1.609375rem;
    height: 1.6875rem;
}
.am_laba_notice {
    font-size:0.5rem;
    color: #fff;
    display: block;
    width: 100%;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    margin-top: 0.4rem;
}
.am_kaidian_agreement {
    line-height: 1.4;
    color: #fff;
    font-size: 0.375rem;
}
.down_size {
  width: 100%;
  height: 100%;
}
.btn_kaidian {
    width:4rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.5rem;
    font-weight: bold;
    color: #e60012;
    text-align: center;
    background-color: #d5e9fb;
    border-radius: 6px;
}
.btn_layout {
    position: absolute;
    left: 50%;
    top: 2.3rem;
    margin-left: -2rem;
}
.btn_layout_bt {
    position: relative;
    bottom:1.9rem;
    left: 50%;
    margin-left: -2rem;
    float: left;
    margin-bottom: -1rem;
}
.am_down_1 {
    background-color: #ff6d06;
}
.am_down_bg_1 {
   background: url(../img/down_1.png) no-repeat center top;
}
.am_down_bg_2 {
   background: url(../img/down_2.png) no-repeat center top;
}
.am_down_bg_3 {
   background: url(../img/down_3.png) no-repeat center top;
}
.am_down_bg_4 {
   background: url(../img/down_4.png) no-repeat center top;
}
.am_down_bg_5 {
   background: url(../img/down_5.png) no-repeat center top;
}

.am_down_size {
    background-size: 100% auto;
    width: 100%;
}
.am_down_size:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.am_down_bg_4:before {
    content: "";
    display: block;
    padding-top: 46.5%;
}
.am_down_bg_5:before {
    content: "";
    display: block;
    padding-top: 130%;
}
/*iphone/android APP下载页*/
.am_down_2 {
    background-color: #ff6d06;
    text-align: center;
    min-height:736px;
}
.am_down_bg_6 {
    width: 100%;
    height:47.5%;
    background-color: #ff6d06;
}
.am_down_bg_6 .button {
    height: 3rem;
    width: 12rem;
    border:2px solid #fff;
    border-radius: 6px;
    display: block;
    margin: 2rem auto 0 auto;
}
.am_down_bg_6 span {
    line-height: 3rem;
    color: #fff;
    margin-left: 3rem;
    float: left;
}
.button_5 {
    background: url(../img/iphone.png) left;
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    background-position: 0.5rem 0.5rem;
}
.button_6 {
    background: url(../img/and.png) left;
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    background-position: 0.5rem 0.5rem;
}
/*邀请分享页面*/
.am_share_bg {
    background: url(../img/yaoqing_2.png) no-repeat center top;
    background-size: 100% auto;
    width: 100%;
}
.am_share_bg:before {
    content: "";
    display: block;
    padding-top: 20%;
    margin-top: -0.1rem;
}
.am_art {
    text-indent: 0.7rem;
    text-align: left;
    color: #fff;
    font-size: 0.3rem;
    line-height: 1.6;
    margin: 0.3rem 0;
}
.am_art strong {
    font-size: 160%;
    color: #fdefac;
}
.am_art_border {
    border-left: 2px solid #ff6c5a;
    min-height: 4.2rem;
}
.bg_fff {
    background-color: #fff;
}
.am-list_content li{
    padding-left: 0.35rem;
    font-size:0.3125rem
}
.am-list_content li:before {
    content: "\e650" ;
    font-family: iconfont;
    color:#ff6c5a;
    font-size: 0.38rem;
    left:-0.19rem;
    margin-left: -1px;
    position: absolute;
}
.am_input_welcome {
    width:100%;
    line-height: 2.3;
    font-weight: bold;
    color: #fff;
    font-size:0.5rem;
    background-color: #ff6d06;
    border-radius: 6px;
    margin: 1rem auto 1.5rem auto ;
}


/*领取优惠券*/
.Shop_coupons {
    background-color: #eff3f5;
}
#level_xin {
    color: #999999;
    font-size: 0.3rem;
    margin-left: 4px;
}
#level_red {
    color: #e60012;
    margin-left: 4px;
    font-size: 0.3rem;
}
.Shop_name {
    width: 100%;
    margin-top:0.3rem;
    margin-bottom: 0.3rem;
    line-height: 1;
    display: block;
    overflow: hidden;
/*    color: #333333;*/
    font-weight: 500;
    font-size: 0.4rem;
    word-wrap: normal;
    /* for IE */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.Shop_name_left {
    padding-left: 1rem;
}
.am-g .Shop_coupons_bg {
    background: url(../img/coupons_11.png) no-repeat center top;
    background-size: 100% 100%;
    width: 100%;
    height: 12.5rem;
}

.shop_sign {
    width: 100%;
    background-color: #fff4c7;
    overflow: hidden;
    margin-bottom:0.61rem
}
.shop_sign span {
    margin:0.2rem 0.4rem;
    float: left;
    color: #f65700;
}
#abc {
    color: #fff4c7;
    font-size: 0.7rem;
    line-height: 1;
    float: left;
    margin-bottom: -0.3rem;
    margin-left:0.66rem;
}
.am-g .shop_sum {
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    color: #f65700;
    display: block;
    font-weight: bold;
    margin: 1.5rem 0 0.5rem 0;
}
.am-g .shop_sum span {
    font-size: 2rem;
    line-height: 1;
    color: #f65700;
    font-weight: bold;
}
.shop_sum_instructions {
    color: #f65700;
    line-height: 1.7;
    font-size:0.4rem;
    text-align: center;
    display: block;
}
.shop_sum_conditions {
    color: #f65700;
    line-height: 1.2;
    font-size:0.75rem;
    text-align: center;
    display: block;
}
/*--margin-bottom--*/
.mb_1 {
    margin-bottom: 0.1rem;
}
.mb_2 {
    margin-bottom: 0.2rem;
}
.mb_3 {
    margin-bottom: 0.3rem;
}
.mb_4 {
    margin-bottom: 0.4rem;
}
.mb_5 {
    margin-bottom: 0.5rem;
}
.mb_6 {
    margin-bottom: 0.6rem;
}
.mb_7 {
    margin-bottom: 0.7rem;
}
.mb_8 {
    margin-bottom: 0.8rem;
}
.mb_9 {
    margin-bottom: 0.9rem;
}
.mb_10 {
    margin-bottom: 1rem;
}
.mb_13 {
    margin-bottom: 1.3rem;
}
/*--margin-top--*/
.mt_1 {
    margin-top: 0.1rem;
}
.mt_2 {
    margin-top: 0.2rem;
}
.mt_3 {
    margin-top: 0.3rem;
}
.mt_4 {
    margin-top: 0.4rem;
}
.mt_5 {
    margin-top: 0.5rem;
}
.mt_6 {
    margin-top: 0.6rem;
}
.mt_7 {
    margin-top: 0.7rem;
}
.mt_8 {
    margin-top: 0.8rem;
}
.mt_9 {
    margin-top: 0.9rem;
}
.mt_10 {
    margin-top: 1rem;
}
.mt_12 {
    margin-top: 1.2rem;
}
.mt_13 {
    margin-top: 1rem;
}
/*---margin-left-*/
.ml_1 {
    margin-left: .1rem;
}
.ml_2 {
    margin-left: .2rem;
}
.ml_3 {
    margin-left: .3rem;
}
.ml_4 {
    margin-left: .4rem;
}
.ml_5 {
    margin-left: .5rem;
}
.ml_6 {
    margin-left: .6rem;
}
.ml_7 {
    margin-left: .7rem;
}
.ml_8 {
    margin-left: .8rem;
}
.ml_9 {
    margin-left: .9rem;
}
.ml_10 {
    margin-left: 1rem;
}
/*--margin-right--*/
.mr_1 {
    margin-right: .1rem;
}
.mr_2 {
    margin-right: .2rem;
}
.mr_3 {
    margin-right: .3rem;
}
.mr_4 {
    margin-right: .4rem;
}
.mr_5 {
    margin-right: .5rem;
}
.mr_6 {
    margin-right: .6rem;
}
.mr_7 {
    margin-right: .7rem;
}
.mr_8 {
    margin-right: .8rem;
}
.mr_9 {
    margin-right: .9rem;
}
.mr_10 {
    margin-right: 1rem;
}
/*--padding-top--*/
.pt_1 {
    padding-top: .1rem;
}
.pt_2 {
    padding-top: .2rem;
}
.pt_3 {
    padding-top: .3rem;
}
.pt_4 {
    padding-top: .4rem;
}
.pt_5 {
    padding-top: .5rem;
}
.pt_6 {
    padding-top: .6rem;
}
.pt_7 {
    padding-top: .7rem;
}
.pt_8 {
    padding-top: .8rem;
}
.pt_9 {
    padding-top: .9rem;
}
.pt_10 {
    padding-top: 10rem;
}
/*--padding-bottom--*/
.pb_1 {
    padding-bottom: .1rem;
}
.pb_2 {
    padding-bottom: .2rem;
}
.pb_3 {
    padding-bottom: .3rem;
}
.pb_4 {
    padding-bottom: .4rem;
}
.pb_5 {
    padding-bottom: .5rem;
}
.pb_6 {
    padding-bottom: .6rem;
}
.pb_7 {
    padding-bottom: .7rem;
}
.pb_8 {
    padding-bottom: .8rem;
}
.pb_9 {
    padding-bottom: .9rem;
}
.pb_10 {
    padding-bottom: 10rem;
}
/*--padding-left--*/
.pl_1 {
    padding-left: .1rem;
}
.pl_2 {
    padding-left: .2rem;
}
.pl_3 {
    padding-left: .3rem;
}
.pl_4 {
    padding-left: .4rem;
}
.pl_5 {
    padding-left: .5rem;
}
.pl_6 {
    padding-left: .6rem;
}
.pl_7 {
    padding-left: .7rem;
}
.pl_8 {
    padding-left: .8rem;
}
.pl_9 {
    padding-left: .9rem;
}
.pl_10 {
    padding-left: 10rem;
}
/*--padding-right--*/
.pr_1 {
    padding-right: .1rem;
}
.pr_2 {
    padding-right: .2rem;
}
.pr_3 {
    padding-right: .3rem;
}
.pr_4 {
    padding-right: .4rem;
}
.pr_5 {
    padding-right: .5rem;
}
.pr_6 {
    padding-right: .6rem;
}
.pr_7 {
    padding-right: .7rem;
}
.pr_8 {
    padding-right: .8rem;
}
.pr_9 {
    padding-right: .9rem;
}
.pr_10 {
    padding-right: 10rem;
}
/*--padding--*/
.pd_1 {
    padding:.1rem;
}
.pd_2 {
    padding:.2rem;
}
.pd_3 {
    padding:.3rem;
}
.pd_4 {
    padding:.4rem;
}
.pd_5 {
    padding:.5rem;
}
.pd_6 {
    padding:.6rem;
}
.pd_7 {
    padding:.7rem;
}
.pd_8 {
    padding:.8rem;
}
.pd_9 {
    padding:.9rem;
}
.pd_10 {
    padding:1.0rem;
}

/*--字体颜色--*/
.dark-grey {
    color: #333333;
}
.light-grey {
    color: #666666;
}
.color_fff {
    color: #fff;
}
.white {
    color: #fff;
}
.red {
    color: #e60012;
}
.color_999 {
    color: #999;
}
.color_333 {
    color: #333;
}
#color_333 {
    color: #333;
}
#color_333:before {
    color: #333;
}
.cl-2b99ff {
    color: #2b99ff;
}
/*--背景色--*/
.bg_white {
    background-color: #fff;
}
.bg_orange_1 {
    background-color: #f9d73a;
}
.color_orange_1 {
    color: #f9d73a;
}
.bg_red_1 {
    background-color: #e60012;
}
.bg-taupe {
    background-color: #ffa627;
}
/*--字号规范--*/
.font-huge {
    font-size:0.5rem;    /*32px*/
}
.font-large {
    font-size:0.40625rem;/*26px*/
}
.font-medium {
    font-size:0.375rem;  /*24px*/
}
.font-normal {
    font-size:0.3125rem; /*20px*/
}
.fs-18 {
    font-size:0.28125rem; /*18px*/
}
.font-small {
    font-size:0.25rem;   /*16px*/
}
.font-micro {
    font-size:0.21875rem;/*14px*/
}
.font-mini {
    font-size: 0.1875rem;/*12px*/
}
/**/
.border_bt {
    border-bottom: 1px solid #e9e9e9;
}
/*--圆角--*/
.rounded-6 {
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
}
.rounded-8 {
    border-radius: 8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
}
.rounded-10 {
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}
.rounded-12 {
    border-radius: 12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
}
/**/
.btn-shop_share {
    background-color: #feed55;
    color: #eb4326;
    text-align: center;
    font-size: 0.5rem;
    border-radius: 12px;
    padding: 0.4rem 0;
    vertical-align: middle;
    font-weight: normal;
    line-height: 1.2;
}
.btn-shop_share:focus {
    color: #eb4326;
    text-decoration: none;
}
/*--代金卷-已领取--*/
.shop_img_get {
    background: url(../img/coupons_00.png) no-repeat center;
    background-size: contain;
    width: 1.65625rem;
    height: 1.65625rem;
    display: block;
    z-index: 999;
    right: 0.85rem;
    margin-top: -0.4rem;
    position: absolute;
}
/*--优惠券页面--*/
.coupons_bg {
    background-color: #e8eaea;
}
.coupons_sub_bg {
    background-color: #eb4326;
}
.coupons_subtitle {
    display: block;
    font-size: 0.3rem;
    color: #fff;
}
.coupons_sign {
    width: 100%;
    overflow: hidden;
}
.coupons_sign span {
    margin:0.4rem 0.4rem;
    float: left;
    color: #fff;
    font-size: 0.3rem;
}
.coupons_sum_instructions {
    color: #fff;
    line-height: 1.7;
    font-size:0.5rem;
    text-align: center;
    display: block;
}
.coupons_bottom_bg {
    background: url(../img/coupons_12.png) no-repeat center top;
    background-size:100% 100%;
    width:100%;
    height: 0.5rem;
    display: block;
    overflow: hidden;
    margin-top: -3px;
}
#coupons_list_arrow {
    font-size: 0.35rem;
}
.coupons_list_bg {
    margin-top:0.3rem;
    background-color: #fff;
}
.am-row {
    margin: 0 auto;
    width: 100%;
    height: 1.25rem;
}
.am-row span {
    line-height: 1.25rem;
    color: #333333;
}
/*--优惠券-详情--*/
.coupons_details_sub {
    height: 1rem;
    line-height: 1rem;
    color: #666666;
    font-size: 0.4rem;
    text-align: left;
}
.coupons_details_bd {
    background-color: #fff;
    font-size: 0.4rem;
    color: #333333;
    padding:0.4rem 0;
    line-height: 1.7;
}
#am-modal-btn-shop {
  height: 1.4rem;
  font-size: 0.4rem;
  line-height: 1.4rem;
  text-align: center;
  color: #333;
}

/*购物车-cart-list*/
title {
    font-size: 0.625rem;
    background-color: #ff6d06;
}

.cart-page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #e8eaea;
    padding-bottom: 2.3rem;
    max-width: 10rem;
    margin: 0 auto;
}
.cart-header {
    padding-left:  5.5%;
    padding-right:  5.5%;
    background-color: #fff;
}
.cart-header li {
    text-align: center;
    font-size: 0.4rem;
    color: #000;
    line-height: 0.875rem;
}
.cart-header li a {
    color: #000;
}
.cart-header li .visit {
    padding: 0 0.15rem;
    display: inline-table;
    line-height: 0.875rem;
    border-bottom: 2px solid #e60012;
    margin-bottom: -1px;
}
.mui-flex, .mui-flex *, .mui-flex :after, .mui-flex :before {
    box-sizing: border-box;
}
.mui-flex {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.mui-flex>.cell.fixed {
    -webkit-box-flex: 0!important;
    -webkit-flex: none!important;
    -ms-flex: none!important;
    flex: none!important;
    width: auto;
}
.mui-flex>.cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
    display: block;
    padding: 0!important;
    position: relative;
   }
.mui-flex .align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
ul.mui-flex li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
    display: block;
    padding: 0!important;
    position: relative;
}
.cart-order {
    width: 100%;
    padding: 0 5.5%;
    display: block;
    background-color: #fff;
}
.grey-line {
    border-top: 1px solid #e0e0e0;
}
.grey-line-bt {
    border-bottom: 1px solid #e0e0e0;
}

/*shop-login*/
#shop-icon-1 {
    font-size:0.5625rem;
    color: #333333;
/*    margin-right: 0.2rem;*/
}
#shop-icon-2 {
    font-size:36px;
    color: #333333;
    margin-right: 0.2rem;
}
#shop-icon-3 {
    font-size:0.3125rem;
    color: #5c5c5c;
}
.order-orderInfo {
/*    line-height: 3;*/
    font-size: 0.4rem;
    color: #333333;
    margin-right: 0.2rem;
}
.order-orderInfo-small {
    color: #e60012;
    display: block;
/*    line-height:1.21875rem;*/
    font-size: 0.3125rem;
}
.order-items {
    padding:0.3125rem 0 0.46875rem 0;
}
.order-items .img {
    max-width: 1.875rem;
    max-height: 1.875rem;
    overflow: hidden;
    margin-right:0.3125rem;
    display: block;
}
.content .title {
    line-height: 1.6;
    font-size: 0.34375rem;
}
/*--折扣、满减、买赠--*/
.order-prefer {
    display: table-cell;
    padding:0 0.08rem;
    border-radius: 6px;
    font-size:0.28125rem;
}
/*--限时折扣-*/
.order-discount {
    border:2px solid #ff635b;
    color: #ff635b;
}
/*--满减--*/
.order-full {
    border:2px solid #c183e2;
    color: #c183e2;
}
/*--买赠--*/
.order-gift {
    border:2px solid #ffa627;
    color: #ffa627;
}


.sku-info {
    color: #666;
    font-size: 0.25rem;
}
.item-pay {
    text-align: right;
}

.price {
    font-size: 0.3125rem;
/*    font-weight: bolder;*/
    /*color: #dd2727;*/
    letter-spacing: -1px;
}
.col-dd2727 {
    color: #dd2727;
}
.price .main-price {
    font-size: 0.40625rem;
}
.old-price {
    color: #666666;
    font-size: 0.25rem;
    text-decoration: line-through;
}
.multiple {
    color: #333333;
    font-size: 0.3125rem;
}
.ext {
    font-size:0.3125rem;
    color: #666;
    font-weight: 400;
}

/*按钮组*/
.item-icon-tip {
    font-size:0.3125rem;
    display: inline-block;
    padding: 0 0.2rem;
    background-color: #e60012;
    line-height: 2;
    color: #fff;
    border: 2px solid #e60012;
    border-radius: 4px;
}
.item-icon-tip:hover {
    color: #fff;
}
.item-icon-tip:focus {
    color: #fff;
}
.item-icon-grey {
    font-size:0.3125rem;
    display: inline-block;
    padding: 0 0.2rem;
    background-color: #fff;
    line-height: 2;
    color: #666666;
    border-radius: 4px;
    border: 2px solid #666;
}
.item-icon-grey:hover {
    color: #666666;
}
.item-icon-grey:focus {
    color: #666666;
}
.buy-single-row {
    background-color: #fff;
    color: #999;
    padding: 9px;
    line-height: 2;
}
.buy-single-row .content {
    text-align: right;
    color: #666;
    line-height: 28px;
}
.select .select-face {
    line-height: 2;
    width: 100%;
}
.select .select-input {
    opacity: 0;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.select-input option {
    text-align: right;
    float: right;
    color: #666666;
    font-size: 0.3125rem;
}
.added {
    min-height:0.8rem;
}
.added textarea {
    border: 1px solid #d6d6d6;
    background-color: #f6f7f7;
    padding: .1rem;
    width: 100%;
    font-size: 0.3125rem;
    color: #999999;
    text-align: left;
    resize: none;
}
/*cart-footer*/
.cart-footer {
    height: 1.5rem;
/*    position: fixed;
    bottom: 0;*/
    width: 10rem;
    background-color: #333333;
/*    z-index: 999;*/
    -webkit-box-shadow: 0 -1px 0 0 rgba(0,0,0,.1),0 -.5px .5px 0 rgba(0,0,0,.2);
    -ms-box-shadow: 0 -1px 0 0 rgba(0,0,0,.1),0 -.5px .5px 0 rgba(0,0,0,.2);
    box-shadow: 0 -1px 0 0 rgba(0,0,0,.1),0 -.5px .5px 0 rgba(0,0,0,.2);
}
.cart-footer .Confirm-order a{
    width: 3.4rem;
    line-height: 1.5rem;
    text-align: center;
    color: #fff;
    font-size: 0.40625rem;
    float: right;
    background-color: #e60012;
}
.pl55 {
    padding-left: 5.5%;
}

/*--城市切换页面--*/
.Locating-city {
    border: 1px solid #d4d3d3;
    background-color: #fff;
}
#icon-map {
    color: #999999;
    font-size:0.3125rem;
}
.am-center-55 {
    margin-left: 5.5%;
    margin-right: 5.5%;
}
ul.city-items {

}
ul.city-items li {
    width: 25%;
    float: left;
    text-align: center;
    border-right: 1px solid #d0cfcf;
    border-bottom: 1px solid #d0cfcf;
}
ul.city-items li a {
    display: block;
    line-height:1rem;
    color: #333333;
    font-size:0.28125rem;
}
ul.city-items li:nth-child(4n) {
    border-right:none;
}
ul.city-items li:nth-last-child(1) {
    border-bottom:none;
}
ul.city-items li:nth-last-child(2) {
    border-bottom:none;
}
ul.city-items li:nth-last-child(3) {
    border-bottom:none;
}
ul.city-items li:nth-last-child(4) {
    border-bottom:none;
}
ul.letter-items {

}
ul.letter-items li {
    width: 25%;
    float: left;
    text-align: center;
}
ul.letter-items li a {
    display: block;
    line-height:1rem;
    color: #2b99ff;
    font-size:0.28125rem;
}
table.city-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}
table.city-table .first-letter {
    font-weight: 600;
    font-size:0.875rem;
    color: #999999;
}
.city-table > tbody > tr > td{
  vertical-align: top;
  width: 25%;
  border-top: 1px solid #d4d3d3;
}
.city-table > tbody > tr > td a {
    line-height: 0.90625rem;
    font-size:0.28125rem;
    color: #333;
    display: block;
    text-align: center;
}
table.city-table td {

}
/**/
.arrow,.cb,.rb{background-image:url(../img/icon-checkbox.png);}
/* checkbox box */
.cb{width:26px;height:26px;display:inline-block;*display:inline;zoom:1;background-position:0 0;cursor:pointer;}
.cb_active{background-position:0 -35px;}
/* radio box */
.rb{width:13px;height:13px;margin:0 auto;padding:0;display:inline-block;*display:inline;zoom:1;background-position:-13px 0;cursor:pointer;}
.rb_active{background-position:-13px -13px;}
