  .am_down_bg_10 {
   background: url(../img/down_10.png) no-repeat center top;
}
  .am_down_bg_11 {
   background: url(../img/down_11.png) no-repeat center top;
}
  .am_down_bg_12 {
   background: url(../img/down_12.png) no-repeat center top;
}
  .am_down_bg_13 {
   background: url(../img/down_13.png) no-repeat center top;
}
  .am_down_bg_14 {
   background: url(../img/down_14.png) no-repeat center top;
}
  .am_down_bg_15 {
   background: url(../img/down_15.png) no-repeat center top;
}
  .am_down_bg_16 {
   background: url(../img/down_16.png) no-repeat center top;
}
  .am_down_bg_17 {
   background: url(../img/down_17.png) no-repeat center top;
}
  .am_down_bg_18 {
   background: url(../img/down_18.png) no-repeat center top;
}
  .am_down_bg_19 {
   background: url(../img/down_19.png) no-repeat center top;
}
  .am_down_bg_20 {
   background: url(../img/down_20.png) no-repeat center top;
}
.am_down_size {
    background-size: 100% auto;
    width: 100%;
}
.am_down_size:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.am_down_size_b {
    background-size: 100% auto;
    width: 100%;
}
.am_down_size_b:before {
    content: "";
    display: block;
    padding-top: 17.5%;
}
.am_down_size_big {
    background-size: 100% auto;
    width: 100%;
}
.am_down_size_big:before {
    content: "";
    display: block;
    padding-top: 160%;
}
.am_down_size_low {
    background-size: 100% auto;
    width: 100%;
}
.am_down_size_low:before {
    content: "";
    display: block;
    padding-top: 75%;
}
.am_down_size_l {
    background-size: 100% auto;
    width: 100%;
    background-color: #80d38d;
}
.am_down_size_l:before {
    content: "";
    display: block;
    padding-top: 36%;
}
img {
  border:0;
}
.btn_kaidian {
    width:3.5rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.5rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    background-color: #d43e3d;
}
.btn_layout_bt {
    position: relative;
    bottom:2.5rem;
    left: 50%;
    margin-left: -1.75rem;
    float: left;
    margin-bottom: -1rem;
}
a.btn_inline {
    width: 44%;
    height:1.32rem;
    border:1px solid #fff;
    border-radius: 6px;
    margin-left: 4%;
     display: block;
     font-size: 0.5rem;
     line-height: 1.32rem;
     text-align: center;
     color: #fff;
     font-weight: 500;
     letter-spacing: 1px;
}
a.btn_inline_bt {
    position: relative;
    bottom:1.8rem;
    float: left;
    margin-bottom: -1rem;
}
.iphone {
  background-image: url(../img/iphone.png);
  background-size: 0.65rem;
  background-repeat: no-repeat;
  background-position: 0.6rem;
}
