/// namespace: STC-TS-11-3
/// description: 技术支持子页面
/* >>wap\html\techsupport\011\011-3.html*/
$page_ns: "STC-TS-11-3";

//style here
//技术支持011-3页面

.course {
    &.STC-TS-11-2 {
        &.STC-TS-11-3 {
            margin-bottom: dimension-to-vw(130px);

            //导读
            .introduction {
                margin-top: dimension-to-vw(30px);
                padding: dimension-to-vw(20px) dimension-to-vw(5px);
            }

            //申请退款步骤
            .step {
                margin: dimension-to-vw(20px) 0 dimension-to-vw(20px);

                h1 {
                    text-align: left;
                    line-height: 3em;
                    margin-top: 0;
                }

                .step_img {
                    width: dimension-to-vw(565px);
                    height: dimension-to-vw(495px);
                    margin: 0 dimension-to-vw(20px);

                    img {
                        width: 100%;
                    }

                    &.step_img2 {
                        width: dimension-to-vw(289px);
                    }
                }
            }
        }
    }
}

$page_ns: "";

/* <<wap\html\techsupport.html*/