body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
ol, ul, li {
    list-style: none outside none;
}
img {
    border: 0 none;
    margin: 0;
    padding: 0;
}
body {
	_width: 100%;
	_height: 100%;
	font: 12px tahoma, Arial, Verdana, sans-serif;
	color: #666666;
  background: none repeat scroll 0 0 #FFFFFF;
}
input {
	vertical-align: middle;
	outline: none;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clear {
    clear: both;
    height: 1px;
    margin-top: -1px;
    width: 100%;
}
.dis {
    display: block;
}
.undis {
    display: none;
}
a {
    color: inherit;
    text-decoration: none;
}
.clearfloat {
    clear: both;
    font-size: 1px;
    height: 0 !important;
    line-height: 0;
}

.container {
    width: 1200px;
    margin:auto;
	position:relative;
}

.container .left {
    float: left;
	width: 230px;
}

#noticeFloat {
    display: none;
    height: 498px;
    left: 50%;
    margin-left: -400px;
    margin-top: -249px;
    position: fixed;
    top: 50%;
    width: 800px;
    z-index: 999;
}
#returnTop {
    background: url("../images/returnTop.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    bottom: 40px;
    display: none;
    height: 46px;
    position: fixed;
    right: 0;
    width: 46px;
    z-index: 10000;
}
#returnTop:hover {
    background: url("../images/returnTopBg.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
#mainContent {
    background-color: #FFFFFF;
    clear: both;
    margin: 0 auto;
    min-height: 300px;
    max-width: 1200px;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 100%;
  	position:relative;
}

#desktop {
  margin-top:10px;
  float:left;
  width: 100%;
}
.desktop {
  margin-top:10px;
  float:left;
  width: 100%;
}

.maindesktop {
    float: right;
  	width: 960px;
}
.mainmenu {
    float: left;
  	width: 228px;
}

#header {
    background-color:#f8f8f8;
    height: 60px;
    min-width: 1200px;
    width: 100%;
}
#header .a {
    display: block;
    height: 60px;
    margin: 0 auto;
    width: 1200px;
}
#loginBar {
    border-bottom: 1px solid #EEEEEE;
    min-width: 1200px;
    width: 100%;
    background: #f8f8f8;
}
.loginBarContent {
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    overflow: hidden;
    vertical-align: middle;
    width: 1200px;
}
.loginBarContentLeft {
    float: left;
    margin-left: 0;
}
.loginBarContentMid {
    float: left;
    margin-left: 20px;
}
.loginBarContentRight {
    float: right;
    margin-right: 0;
}
.loginBarContentRight li {
    display: inline;
    padding-left: 1px;
    padding-right: 1px;
}
.loginBarContentRight a {
    color: rgb(96, 96, 96);
    font-size: 12px;
    margin-left: 0px;
    text-decoration: none;
}
#searchBg {
    height: 68px;
    width: 100%;
}
#search {
    background-color: #fffff;
    height: 78px;
    margin-left: auto;
    margin-right: auto;
    min-width: 1200px;
    position: relative;
    width: 100%;
}
.free_srh_content {
    background-color: #FFFFFF;
    clear: both;
    height: 78px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 1200px;
    z-index: 450;
}
.srh_content {
    clear: both;
    height: 78px;
    margin: 0 auto;
    position: relative;
    width: 1200px;
    z-index: 450;
}
.srh_content .idea {
    bottom: 0;
    display: block;
    height: 65px;
    position: absolute;
    right: 0;
    width: 115px;
    z-index: 22;
}
#logo {
    display: block;
    float: left;
    height: 70px;
    margin-top: 10px;
    width: 270px;
}
.search {
    float: left;
    height: 78px;
    margin-left: 40px;
    text-align: center;
    width: 620px;
}
.srh_01 {
    background: url("../images/search.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: both;
    display: inline-block;
    height: 34px;
    margin-top: 17px;
    padding: 2px;
    width: 598px;
}
#srh_text {
    border: medium none;
    float: left;
    height: 30px;
    margin-top: 1px;
    width: 476px;
}
.inp_srh {
    border: medium none;
    display: block;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 20px;
    margin-left: 2px;
    outline: medium none;
    vertical-align: middle;
    width: 474px;
}
.btn_srh {
    border: medium none;
    cursor: pointer;
    display: block;
    float: right;
    height: 33px;
    width: 117px;
}
#hot_srh {
    display: inline-block;
    height: 18px;
    padding-top: 3px;
}
#hot_srh li {
    display: inline;
    padding-left: 4px;
}
#hot_srh li a {
    color: #6F6F6F;
}
#mainNav {
    background-color: #FF9400;
    clear: both;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.nav_bg {
    clear: both;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1200px;
    z-index: 800;
}

.nav_bg .ul {
    float: left;
    margin-left: 230px;
    overflow: hidden;
}
.nav_bg .ul li {
    display: inline;
    float: left;
    height: 40px;
    padding-left: 3px;
    text-align: center;
}
.nav_bg .ul li a {
    color: #FFFFFF;
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
}
.nav_bg .ul li a:hover {
    background-color: #F27302;
}

.mainNav-ext {
    background-color: #DB3E00;
    border: 1px solid #C10000;
    height: 38px;
    float: right;
    margin-top: 0px;
    text-align: center;
    vertical-align: middle;
    width: 197px;
}
.mainNav-ext a {
  line-height: 38px;
	color: rgb(255, 255, 255); font-family: "Î¢ÈíÑÅºÚ","Microsoft YaHei"; font-size: 16px; font-weight: bold;
}
#category {
    clear: both;
    float: left;
    left: 0;
    position: absolute;
    width: 230px;
    z-index: 900;
}
#category .dt {
    background-color: #F27302;
    border-bottom: medium none;
    display: block;
    float: left;
    height: 40px;
    line-height: 38px;
    padding-left: 20px;
    text-align: center;
    vertical-align: middle;
    width: 210px;
}
#category .dt a {
    display: block;
    float: left;
    height: 40px;
    overflow: hidden;
    width: 185px;
}
#category .dt a #dtSpan {
    font-family: "ËÎÌå","SimSun";
    font-weight: bold;
    margin-left: 40px;
}
.mainMenu {
    float: left;
    height: 630px;
    width: 230px;
}
#mainMenu {
    display: none;
    float: left;
    height: 630px;
    width: 230px;
}
#menuRight {
    background-color: #FDF6F0;
    border-bottom: 2px solid #78A30C;
    border-left: 2px solid #78A30C;
    border-right: 2px solid #78A30C;
    clear: both;
    display: block;
    float: left;
    height: 750px;
    position: relative;
    width: 226px;
}
.menu_header {
    border-bottom: 1px solid #E4E4E4;
    clear: both;
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: left;
    width: 200px;
}
.menu_header div {
    float: left;
    height: 40px;
    width: 40px;
}
.menu_header .div0 {
    background: url("../images/menu1.jpg") no-repeat scroll 15px center rgba(0, 0, 0, 0);
}
.menu_header .div1 {
    background: url("../images/menu2.jpg") no-repeat scroll 15px center rgba(0, 0, 0, 0);
}
.menu_header .div2 {
    background: url("../images/menu3.jpg") no-repeat scroll 15px center rgba(0, 0, 0, 0);
}
.menu_header .div3 {
    background: url("../images/menu4.jpg") no-repeat scroll 15px center rgba(0, 0, 0, 0);
}
#menuRight ul li {
    clear: both;
}
#menuRight ul li a {
    color: #474747;
}
#menuRight ul .item {
    border-bottom: 1px solid #E4E4E4;
    display: block;
    height: 26px;
    line-height: 26px;
    margin: 0 auto;
    vertical-align: middle;
    width: 198px;
}
#menuRight ul .item span {
    color: #FF6600;
    float: right;
    font-family: "ËÎÌå","SimSun";
    font-weight: bold;
    margin-right: 20px;
}
#menuRight ul .hover span, #menuRight ul .item:hover span {
    display: none;
}
#menuRight ul .hover, #menuRight ul .item:hover {
    background-color: #FDF6F0;
    border: 2px solid #FE7C00;
    display: block;
    height: 23px;
    line-height: 23px;
    vertical-align: middle;
    width: 205px;
}
#menuRight ul .item .out, #menuRight ul .item b {
    display: none;
}
#menuRight ul .item h2, #menuRight ul .hover h2, #menuRight ul .item:hover h2 {
    float: left;
    font-weight: normal;
    margin-left: 40px;
}
#menuRight ul .hover .out, #menuRight ul .item:hover .out {
    background-color: #FDF6F0;
    border: 2px solid #FE7C00;
    display: block;
    height: auto;
    min-height: 60px;
    min-width: 200px;
    position: absolute;
    z-index: 998;
}
#menuRight ul .hover h2 b, #menuRight ul .item:hover h2 b {
    background: none repeat scroll 0 0 #FDF6F0;
    display: block;
    height: 23px;
    overflow: hidden;
    position: absolute;
    width: 2px;
    z-index: 1001;
}
#menuRight .out ul {
    height: auto !important;
    width: auto !important;
}
#menuRight .out li {
    border-bottom: 1px solid #E4E4E4;
    float: left;
    height: 26px;
    line-height: 26px;
    margin: 0 auto;
    overflow: hidden;
    vertical-align: middle;
    width: 193px;
}
#menuRight .out li a {
    display: block;
    float: left;
    margin-left: 20px;
}
#mycart {
    background: none repeat scroll 0 0 rgb(255, 148, 0);
    cursor: pointer;
    float: right;
    font-size: 12px;
    height: 37px;
    line-height: 39px;
    margin: 19px 5px 0;
    position: relative;
    width: 147px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
    z-index: 999;
}
#mycart p {
    color: #F66200;
    float: left;
    height: 37px;
}
#mycart .s-gwcp1 {
    background: url("../images/vigoo.jpg") no-repeat scroll 10px -279px rgba(0, 0, 0, 0);
    width: 45px;
}
#mycart .s-gwcp3 {
    background: url("../images/vigoo.jpg") no-repeat scroll -197px -282px rgba(0, 0, 0, 0);
    margin-left: 8px;
    width: 10px;
}
#mycart .s-gwcp2 a {
    color: rgb(255,255,255);
}
#mycart .cart_content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #EC7C48;
    float: left;
    left: -206px;
    padding: 0;
    position: absolute;
    top: 37px;
    width: 349px;
    z-index: 999;
}
#mycart .s-gwcs {
    background: url("../images/vigoo.jpg") no-repeat scroll -193px -108px rgba(0, 0, 0, 0);
    height: 29px;
    left: 27px;
    line-height: 34px;
    position: absolute;
    text-align: center;
    top: -18px;
    width: 27px;
}
#mainMenuCon {
    background-color: #FFFFFF;
    border-bottom: 2px solid #FF9400;
    border-left: 2px solid #FF9400;
    border-right: 2px solid #FF9400;
    clear: both;
    display: block;
    float: left;
    height: 748px;
    padding-top: 10px;
    position: relative;
    width: 226px;
}
#mainMenuCon .mainMenuConDt {
    background: url("../images/listBg.jpg") no-repeat scroll 10px center rgba(0, 0, 0, 0);
    color: #666666;
    font-family: "ËÎÌå","SimSun";
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    overflow: hidden;
    padding-left: 20px;
    vertical-align: middle;
}
#mainMenuCon .mainMenuConDt a {
    color: #666666;
}
#mainMenuCon .mainMenuConDd {
    color: #888888;
    font-family: "ËÎÌå","SimSun";
    font-size: 12px;
    overflow: hidden;
    padding-left: 5px;
}
#mainMenuCon .mainMenuConDd span {
    line-height: 22px;
    overflow: hidden;
    padding: 0 2px;
    vertical-align: middle;
}
#mainMenuCon .mainMenuConDd span a {
    color: #888888;
}
#mainMenuCon .mainMenuConDd ul li {
    display: block;
    float: left;
    line-height: 25px;
    list-style: none outside none;
    padding: 0 2px;
    vertical-align: middle;
    white-space: nowrap;
}
#mainMenuCon .mainMenuConDd ul li a {
    color: #888888;
}

/* ---------- Path ---------- */

div.path {
	height: 25px;
	line-height: 25px;
	clear: both;
	margin-bottom: 10px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: solid 1px #e4e4e4;
}

div.path li {
	float: left;
	padding: 0px 20px 0px 10px;
	color: #d96663;
	background: url(../images/common.gif) right -270px no-repeat;
}

div.path li.last {
	background: none;
}

span.requiredField {
	padding-right: 3px;
	color: #ff6d6d;
	font-size: 10px;
}

label.fieldError {
	line-height: 23px;
	color: #ffb042;
	padding-left: 6px;
}

/* ---------- Message ---------- */

div.xxMessage {
	padding: 10px 30px;
	display: none;
	position: fixed;
	_position: absolute;
	top: 25%;
	_top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(25 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + "px");
	left: 50%;
	z-index: 100;
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 6px #999999;
	-moz-box-shadow: 1px 1px 6px #999999;
	box-shadow: 1px 1px 6px #999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=0,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=270,strength=3)";
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=0,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=270,strength=3);
	border: 1px solid #999999;
	background-color: #ffffff;
}

div.xxMessage .messageContent {
	line-height: 24px;
	padding: 0px 10px 0px 30px;
	color: #666666;
}

div.xxMessage .messagewarnIcon {
	background: url(../images/common.gif) -60px -330px no-repeat;
}

div.xxMessage .messagesuccessIcon {
	background: url(../images/common.gif) -30px -360px no-repeat;
}

div.xxMessage .messageerrorIcon {
	background: url(../images/common.gif) 0px -390px no-repeat;
}

div.xxMessage .messageIframe {
	width: 2000px;
	height: 2000px;
	position: absolute;
	left: -100px;
	top: -100px;
	z-index: -1;
}

/* ---------- Loading ---------- */

span.loadingIcon {
	width: 20px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline;
	background: url(../images/loading_icon.gif) center no-repeat;
}

span.loadingBar {
	width: 208px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline;
	background: url(../images/loading_bar.gif) center no-repeat;
}

/* ---------- Pagination ---------- */

div.pagination {
	height: 20px;
	float: right;
	margin-bottom: 10px;
}

div.pagination a, div.pagination span {
	height: 18px;
	line-height: 18px;
	display: inline;
	float: left;
	margin-left: 3px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	outline: none;
	blr: expression(this.hideFocus = true);
}

div.pagination a {
	padding: 0px 5px;
	border: 1px solid #cccccc;
}

div.pagination a:hover {
	border: 1px solid #fd6d01;
	text-decoration: none;
}

div.pagination a.previousPage {
	width: 18px;
	padding: 0px;
	background: url(../images/common.gif) 0px -180px no-repeat;
}

div.pagination span.previousPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/common.gif) -30px -180px no-repeat;
}

div.pagination a.nextPage {
	width: 18px;
	padding: 0px;
	background: url(../images/common.gif) 0px -210px no-repeat;
}

div.pagination span.nextPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/common.gif) -30px -210px no-repeat;
}

div.pagination a.firstPage {
	width: 18px;
	padding: 0px;
	background: url(../images/common.gif) -60px -180px no-repeat;
}

div.pagination span.firstPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/common.gif) -90px -180px no-repeat;
}

div.pagination a.lastPage {
	width: 18px;
	padding: 0px;
	background: url(../images/common.gif) -60px -210px no-repeat;
}

div.pagination span.lastPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/common.gif) -90px -210px no-repeat;
}

div.pagination .currentPage {
	padding: 0px 5px;
	color: #fd6d01!important;
	font-weight: bold;
	cursor: default;
	border: 1px solid #fd6d01;
	background-color: #ffede1;
}

div.pagination .pageBreak {
	padding: 0px 5px;
	color: #3366cc;
	cursor: default;
}


/* ---------- Footer ---------- */
.ui-adv {
    background: none repeat scroll 0 0 #c1c1c1;
	  font: 12px tahoma, Arial, Verdana, sans-serif;
    color: #999999;
    margin-top:10px;
	  padding: 0px 0px 10px 0px;
    position: relative;
  	float: left;
    width: 100%;
}

.ui-adv .grid {
    width:1200px;
    margin: auto;
    position: relative;
}

.ui-footer {
    background: none repeat scroll 0 0 #363636;
	  font: 12px tahoma, Arial, Verdana, sans-serif;
    color: #999999;
    position: relative;
  	float: left;
    width: 100%;
}
.ui-footer .grid {
    width:1200px;
    margin: auto;
    position: relative;
}
.ui-footer a {
    color: #999999;
}
.ui-footer-about {
    border-bottom: 1px solid #2A2A2A;
    height: 130px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.ui-footer-about dl {
    float: left;
    margin: 0;
    width: 170px;
}
.ui-footer-about dl.item-weixin {
    width: 80px;
}
.ui-footer-about dt {
    color: #CCCCCC;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.ui-footer-about dd {
    line-height: 25px;
    margin-left: 0;
}
.ui-footer-about .item-weibo {
    width: 150px;
}
.ui-footer-about .item-weibo .ui-ico {
    margin-right: 8px;
}
.ui-footer-about .item-app {
    width: 190px;
}
.ui-footer-about .item-app a {
    background: none repeat scroll 0 0 #5D5D5D;
    border-radius: 2px;
    color: #C8C8C8;
    display: inline-block;
    font-size: 14px;
    padding: 5px 15px 5px 8px;
}
.ui-footer-about .item-app a .ui-ico-mobile {
    margin-right: 5px;
    vertical-align: middle;
}
.ui-footer-exlink, .ui-footer-sitelink {
    border-top: 1px solid #434343;
    line-height: 35px;
}
.ui-footer-exlink {
    border-bottom: 1px solid #2A2A2A;
    position: relative;
}
.ui-footer-exlink a {
    margin-right: 5px;
}
.ui-footer-exlink .item-more {
    font-family: simsun;
    position: absolute;
    right: 0;
    top: 0;
}
.ui-footer-sitelink {
    padding: 5px 0;
}
.ui-footer-copyright p {
    float: left;
    margin: 0;
    padding-bottom: 20px;
}
.ui-footer-copyright p.item-icp {
    margin-left: 45px;
}
.ui-footer-gov {
    bottom: 0;
    position: absolute;
    right: 0;
    padding-bottom: 20px;
}
.ui-footer-gov a {
    display: inline-block;
    margin-left: 20px;
}
.ui-footer-gov a .item-txt {
    display: none;
}
