// -------------------------------------
// 自定义图标
// sicon 图标样式基类名(不同于icon，以避免冲突)
// -------------------------------------
/* >>sicon*/

i.sicon {
    @include inline-block;
    &.sicon-linkgo {
        width: image-width("../image/AD-attachment-arrow.png") / 2;
        height: image-height("../image/AD-attachment-arrow.png") / 2;
        background: url(../image/AD-attachment-arrow.png) center center no-repeat;
        background-size: image-width("../image/AD-attachment-arrow.png") / 2 image-height("../image/AD-attachment-arrow.png") / 2;
        margin-left: pxToEm(5, 14);
    }
    ///同意
    &.sicon-agree {
        width: image-width("../image/sicon-agree.png") / 2;
        height: image-height("../image/sicon-agree.png") / 2;
        background: url(../image/sicon-agree.png) center center no-repeat;
        background-size: image-width("../image/sicon-agree.png") / 2 image-height("../image/sicon-agree.png") / 2;
    }
    .act &.sicon-agree {
        background-image: url(../image/sicon-agree-act.png);
    }
    ///不同意
    &.sicon-disagree {
        width: image-width("../image/sicon-disagree.png") / 2;
        height: image-height("../image/sicon-disagree.png") / 2;
        background: url(../image/sicon-disagree.png) center center no-repeat;
        background-size: image-width("../image/sicon-disagree.png") / 2 image-height("../image/sicon-disagree.png") / 2;
    }
    .act &.sicon-disagree {
        background-image: url(../image/sicon-disagree-act.png);
    }
    ///已阅
    &.sicon-haveread {
        width: image-width("../image/sicon-haveread.png") / 2;
        height: image-height("../image/sicon-haveread.png") / 2;
        background: url(../image/sicon-haveread.png) center center no-repeat;
        background-size: image-width("../image/sicon-haveread.png") / 2 image-height("../image/sicon-haveread.png") / 2;
    }
    .act &.sicon-haveread {
        background-image: url(../image/sicon-haveread-act.png);
    }
    ///急(文字)
    &.sicon-urgencytxt {
        width: image-width("../image/wkorder-urgency.png") / 2;
        height: image-height("../image/wkorder-urgency.png") / 2;
        background: url(../image/wkorder-urgency.png) center center no-repeat;
        background-size: image-width("../image/wkorder-urgency.png") / 2 image-height("../image/wkorder-urgency.png") / 2;
    }
    ///正常时间
    &.sicon-normal {
        width: image-width("../image/order-time-state-normal.png") / 2;
        height: image-height("../image/order-time-state-normal.png") / 2;
        background: url(../image/order-time-state-normal.png) center center no-repeat;
        background-size: image-width("../image/order-time-state-normal.png") / 2 image-height("../image/order-time-state-normal.png") / 2;
    }
    ///超时
    &.sicon-timeout {
        width: image-width("../image/order-time-state-timeout.png") / 2;
        height: image-height("../image/order-time-state-timeout.png") / 2;
        background: url(../image/order-time-state-timeout.png) center center no-repeat;
        background-size: image-width("../image/order-time-state-timeout.png") / 2 image-height("../image/order-time-state-timeout.png") / 2;
    }
    ///时间图标
    &.sicon-timedefault{
        width: image-width("../image/order-time-timedefault.png") / 2;
        height: image-height("../image/order-time-timedefault.png") / 2;
        background: url(../image/order-time-timedefault.png) center center no-repeat;
        background-size: image-width("../image/order-time-timedefault.png") / 2 image-height("../image/order-time-timedefault.png") / 2;
    }
    ///时间图标2
    &.sicon-timeT2{
        width: image-width("../image/orderinfo-T-bgimg.png") / 2;
        height: image-height("../image/orderinfo-T-bgimg.png") / 2;
        background: url(../image/orderinfo-T-bgimg.png) center center no-repeat;
        background-size: image-width("../image/orderinfo-T-bgimg.png") / 2 image-height("../image/orderinfo-T-bgimg.png") / 2;
    }
    ///同意2
    &.sicon-agree-T2 {
        width: image-width("../image/sicon-agree-T2.png") / 2;
        height: image-height("../image/sicon-agree-T2.png") / 2;
        background: url(../image/sicon-agree-T2.png) center center no-repeat;
        background-size: image-width("../image/sicon-agree-T2.png") / 2 image-height("../image/sicon-agree-T2.png") / 2;
    }
    ///不同意2
    &.sicon-disagree-T2 {
        width: image-width("../image/sicon-disagree-T2.png") / 2;
        height: image-height("../image/sicon-disagree-T2.png") / 2;
        background: url(../image/sicon-disagree-T2.png) center center no-repeat;
        background-size: image-width("../image/sicon-disagree-T2.png") / 2 image-height("../image/sicon-disagree-T2.png") / 2;
    }
}

/* >>sicon,end*/