///
.table {
    border: 1px solid #ccc;
    //thead
    thead {
        font-size: 12px;
        font-weight: bold;
        color: #888;
        tr {
            //border-bottom: 1px solid #f2f2f2;
            th {
                padding: 5px;
                //text-align: center;
            }
        }
    }
    //tbody
    tbody {
        font-size: 14px;
        font-weight: normal;
        color: #000;
        tr {
            //border-bottom: 1px dashed #d8d8d8;
            td {
                padding: 5px;
            }
        }
    }
}
@import "table/for-page-xxx";