/// namespace: NF
/* >>payment\notify.ftl*/
$page_ns: "NF";

.container {
    &.#{$page_ns} {
        height: 100%;

        #wrapper {
            z-index: 1;
            overflow: auto;
        }
        #scroller {
            height: auto;
            position:relative;
            overflow: hidden;
        }
        

        @at-root .page {
            &.#{$page_ns} {
                $father_page: #{&};

                width: 100%;
                height: 100%;
                position: relative;
                background-color: #fff !important;

                .weui_msg {
                    height: 100%;
                    padding-top: 0;
                    zoom:1;

                    @at-root #{$father_page} .payment_top {
                        width: 100%;
                        padding-top: dimension-to-vw(30px);
                        position: absolute;
                        top: 0;
                        left: 0;


                        .weui_icon_area {
                            margin-bottom: dimension-to-vw(15px);

                            .weui_icon_msg {
                                &:before {
                                    font-size: 60px;
                                }
                            }
                        }

                        .weui_text_area {
                            margin-bottom: dimension-to-vw(30px);
                        }

                        @at-root #{$father_page} {
                            .payment_details {
                                width: 100%;
                                margin: 0 auto;

                                &:before, &:after {
                                    content: " ";
                                    display: table;
                                }

                                .am-g:after {
                                    clear: both;
                                }

                                .payment_details-container {
                                    -webkit-box-sizing: border-box;
                                    box-sizing: border-box;
                                    width: dimension-to-vw(490px);
                                    margin-left: dimension-to-vw(140px);

                                    &:before, &:after {
                                        content: " ";
                                        display: table;
                                    }

                                    &:after {
                                        clear: both;
                                    }

                                    @at-root #{$father_page} {
                                        .pd_text_left {
                                            width: 25%;
                                            margin-bottom: dimension-to-vw(5px);
                                            text-align: right;
                                            float: left;
                                            position: relative;
                                        }

                                        .pd_text_right {
                                            width: 75%;
                                            margin-bottom: dimension-to-vw(5px);
                                            text-align: left;
                                            float: right;
                                            position: relative;

                                            .wallet {
                                                margin-left: dimension-to-vw(100px);
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .btn_total {
                            margin-bottom: dimension-to-vw(63px);

                            .return {
                                width: dimension-to-vw(173px);
                                height: dimension-to-vw(63px);
                                line-height: dimension-to-vw(63px);
                                border-top-left-radius: 20px;
                                border-bottom-left-radius: 20px;
                                border-top-right-radius: 20px;
                                border-bottom-right-radius: 20px;
                            }
                        }

                        .cashback {
                            width: dimension-to-vw(434px);
                            height: dimension-to-vw(91px);
                            text-align: center;
                            margin: 0 auto dimension-to-vw(30px);
                            position: relative;

                            img {
                                width: dimension-to-vw(434px);
                                height: dimension-to-vw(91px);
                                position: absolute;
                                left: 0;
                                top: 0;
                                z-index: -88;
                            }

                            p {
                                line-height: dimension-to-vw(50px);
                                font-weight: bold;
                            }
                        }

                        .items_tit {
                            text-align: left;
                            padding-left: dimension-to-vw(27px);
                            padding-bottom: dimension-to-vw(15px);
                            position: relative;

                            &:after {
                                @include dividingline(bottom, #eeeeee);
                            }
                        }
                    }
                }
            }
        }

        @at-root .payment_bottom {
            width: 100%;
            height: auto;
            position: absolute;
            left: 0;
            bottom: 0;
            overflow: auto;
            overflow-y: scroll;


            @at-root .items {
                &.#{$page_ns} {
                    $father_page: #{&};

                    .items_box {
                        overflow: auto;

                        .box_tenant {
                            .box_tenant-info {
                                @at-root #{$father_page} {
                                    .btm_border {
                                        position: relative;

                                        &:after {
                                            @include dividingline(bottom, #eeeeee);
                                        }

                                        .storename {
                                            & > span {
                                                text-align: left;
                                            }
                                        }

                                        .mainAaddress {
                                            .address {
                                                text-align: left;
                                                margin-left: dimension-to-vw(15px);
                                            }
                                        }
                                        &.btm_border_none:after{ border-bottom: none;}
                                    }

                                }

                                @at-root #{$father_page} .activity {
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

$page_ns: "";

/* <<payment\notify.ftl*/