# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.DS_Store
WebContent/.DS_Store
WebContent/WEB-INF/.DS_Store
out
WebContent/WEB-INF/classes
