/// namespace: TT-BY
/// description: 买单立减
/* >>tenant\buyreduceRN.ftl*/
$page_ns: "TT-BY";

//TT-BY

.buyreduceRN {
    &.#{$page_ns} {
        padding-top: dimension-to-vw(16px);
        line-height: 1;
        &:before {
            @include dividingline(top, #bbbbbb);
        }

        .total_consumption {
            padding: dimension-to-vw(15px) 4%;
            font-size: dimension-to-vw(26px);
            @include flexbox;

            @include flex-direction(row);

            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;

            .weui_cell_bd {
                -webkit-box-flex: 1;
                -moz-box-flex: 1;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;

                input {
                    width: 100%;
                    text-align: right;
                    color: #bbbbbb;
                }

                &.active {
                    input {
                        color: #ff6d06;
                    }
                }
            }
        }

        @at-root .not_participate {
            &.#{$page_ns} {
                //margin: dimension-to-vw(18px) auto;
                position: relative;
                &:before {
                    content: " ";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 92%;
                    margin: 0 4%;
                    height: 1px;
                    border-top: 1px solid #ccc;
                    color: #f2f2f2;
                    transform-origin: 0 0;
                    transform: scaleY(0.5);
                }
                .weui_cell {
                    padding: dimension-to-vw(15px) 4%;

                    &:before {
                        border: none;
                    }

                }

                .SR_bg {
                    width: 100%;
                    height: dimension-to-vw(16px);
                    background: #f2f2f2;
                }

                .ck_box {
                    @include flexbox;

                    @include flex-direction(row);

                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    -webkit-box-align: center;
                    align-items: center;

                    .iconfont {
                        font-size: dimension-to-vw(26px);
                        background: #f2f2f2;
                        color: #f2f2f2;
                        border-radius: dimension-to-vw(5px);
                        border: dimension-to-vw(1px) solid #ccc;
                        box-shadow: 0 0 dimension-to-vw(2px) #ccc;
                    }

                    .SR101 {
                        background: none;
                        color: #fb0;
                        border: none;
                        box-shadow:  0 0 dimension-to-vw(2px) #fb0;
                    }

                    .weui_cell_primary {
                        margin-left: dimension-to-vw(10px);
                        -webkit-box-flex: 1;
                        -moz-box-flex: 1;
                        -webkit-flex: 1;
                        -ms-flex: 1;
                        flex: 1;
                        font-size: dimension-to-vw(20px);
                        color: #999999;
                    }
                }

                .ck_box_money {
                    @include flexbox;

                    @include flex-direction(row);

                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    -webkit-box-align: center;
                    align-items: center;

                    &:before {
                        left: 0;
                    }

                    .weui_cell_hd {
                        font-size: dimension-to-vw(26px);
                    }

                    .weui_cell_primary {
                        -webkit-box-flex: 1;
                        -moz-box-flex: 1;
                        -webkit-flex: 1;
                        -ms-flex: 1;
                        flex: 1;

                        input {
                            width: 100%;
                            text-align: right;
                            font-size: dimension-to-vw(26px);
                            color: #999999;
                        }
                    }
                }
            }
        }

        .merchant_coupons {
            padding-bottom: dimension-to-vw(25px);
            margin-top: dimension-to-vw(16px);
            .merchant_coupons_tit {
                padding: dimension-to-vw(25px) 4%;

                @include flexbox;

                @include flex-direction(row);

                -ms-flex-align: center;
                -webkit-align-items: center;
                -webkit-box-align: center;
                align-items: center;

                .weui_cell_bd {
                    text-align: center;
                    -webkit-box-flex: 1;
                    -moz-box-flex: 1;
                    -webkit-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    span {
                        font-size: dimension-to-vw(26px);
                    }
                }
                .weui_cell_ft {
                    .iconfont {
                        font-size: dimension-to-vw(26px);
                    }
                }
            }

            @at-root .coupon {
                &.#{$page_ns} {
                    width: 92%;
                    height: dimension-to-vw(185px);
                    margin: 0 auto;

                    .coupon_cont {
                        $fa_coupon_cont: #{&};

                        color: #999999;
                        padding: dimension-to-vw(30px) dimension-to-vw(69px);

                        @include flexbox;

                        @include flex-direction(row);

                        -ms-flex-align: center;
                        -webkit-align-items: center;
                        -webkit-box-align: center;
                        align-items: center;

                        .weui_cell_bd {
                            -webkit-box-flex: 1;
                            -moz-box-flex: 1;
                            -webkit-flex: 1;
                            -ms-flex: 1;
                            flex: 1;

                            .money {
                                @include inline-flex;

                                @include flex-direction(row);

                                @at-root #{$fa_coupon_cont} .value {
                                    margin-right: dimension-to-vw(25px);
                                }
                            }

                            .time {
                                margin-top: dimension-to-vw(10px);
                            }
                        }

                        .weui_cell_ft {
                            .section3 {
                                display: none;
                            }
                        }

                        &.active {
                            .section1 {
                                color: #ff6d06;
                            }

                            .section2 {
                                color: #333333;
                            }

                            .section3 {
                                display: block;
                            }
                        }
                    }
                }

                @at-root .no_coupon {
                    &.#{$page_ns} {
                        width: 92%;
                        height: dimension-to-vw(185px);
                        margin: 0 auto;
                        padding: dimension-to-vw(40px) dimension-to-vw(82px);

                        @include flexbox;

                        @include flex-direction(row);

                        -ms-flex-align: center;
                        -webkit-align-items: center;
                        -webkit-box-align: center;
                        align-items: center;

                        &:before {
                            border-top: none;
                            left: 0;
                        }

                        .weui_cell_hd {
                            width: dimension-to-vw(64px);
                            height: dimension-to-vw(104px);
                            margin-right: dimension-to-vw(23px);

                            img {
                                width: 100%;
                            }
                        }

                        .weui_cell_bd {
                            -webkit-box-flex: 1;
                            -moz-box-flex: 1;
                            -webkit-flex: 1;
                            -ms-flex: 1;
                            flex: 1;
                        }
                    }
                }
            }
        }

        .business_discount {
            padding: dimension-to-vw(15px) 0;
            margin-top: dimension-to-vw(16px);
            .bd_tit {
                text-align: center;

                @include flexbox;

                @include flex-direction(row);

                @include justify-content(center);

                -ms-flex-align: center;
                -webkit-align-items: center;
                -webkit-box-align: center;
                align-items: center;

                span {
                    display: inline-block;

                    &:nth-child(2) {
                        margin: 0 dimension-to-vw(30px);
                        font-size: dimension-to-vw(26px);
                    }

                    &.line {
                        width: dimension-to-vw(118px);
                        position: relative;

                        &:before {
                            @include dividingline(top, #bbbbbb);
                        }
                    }
                }
            }

            .bd_cont {
                margin: 0 auto;
                width: 90%;
                @include flexbox;

                @include flex-direction(row);

                -ms-flex-align: center;
                -webkit-align-items: center;
                -webkit-box-align: center;
                align-items: center;

                & > .weui_cell_primary {
                    -webkit-box-flex: 1;
                    -moz-box-flex: 1;
                    -webkit-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    p {
                        line-height: 1.5;
                    }
                }

                &:before {
                    border-top: none;
                    left: 0;
                }

                &.active {
                    .section4 {
                        display: none;
                    }

                    .section5 {
                        display: block;
                    }
                }

                .section5 {
                    display: none;
                }
            }
        }

        .delivery_center {
            margin-top: dimension-to-vw(16px);
            padding: dimension-to-vw(15px) 4%;
            line-height: 1.5;
            &.weui_cell:before {
                left: 0;
            }
        }

        .random_reduce {
            height: dimension-to-vw(72px);
            margin: dimension-to-vw(18px) auto 0;
            padding: 0 dimension-to-vw(30px);

            @include flexbox;

            @include flex-direction(row);

            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;

            &:before {
                border-top: none;
                left: 0;
            }

            .weui_cell_bd {
                -webkit-box-flex: 1;
                -moz-box-flex: 1;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;

                .section3 {
                    color: #bbbbbb;
                    display: none;
                }
            }

            .weui_cell_ft {
                color: #bbbbbb;

                &.active {
                    .section1 {
                        color: #ff6d06;
                    }
                }
            }

            &.active {
                .section3 {
                    display: block;
                }

                .section1 {
                    color: #ff6d06;
                }
            }
        }

        .pay_money {
            margin: dimension-to-vw(16px) 0;
            padding: dimension-to-vw(26px) 4%;

            @include flexbox;

            @include flex-direction(row);

            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;

            &:before {
                border-top: none;
                left: 0;
            }

            .weui_cell_bd {
                -webkit-box-flex: 1;
                -moz-box-flex: 1;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
                font-size: dimension-to-vw(26px);
            }

            .weui_cell_ft {
                color: #333333;
                font-size: dimension-to-vw(26px);
                &.active {
                    .section1 {
                        color: #ff6d06;
                    }
                }
            }
        }

        .buyreduceRN_ft {
            padding: dimension-to-vw(68px) 0;

            .confirm_check {
                text-align: center;
                font-size: dimension-to-vw(26px);
                padding: dimension-to-vw(20px) 0;
                border-radius: dimension-to-vw(10px);
                margin: 0 dimension-to-vw(100px) dimension-to-vw(60px);

                &.section4 {
                    background-color: #cccccc;

                    &.active {
                        background-color: #ff6d06;
                    }
                }
            }

            @at-root .buyreduceRN_business {
                &.#{$page_ns} {
                    @include flexbox;

                    @include flex-direction(row);

                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    -webkit-box-align: center;
                    align-items: center;

                    padding: dimension-to-vw(10px) 4%;

                    &:before {
                        border-top: none;
                        left: 0;
                    }

                    .weui_cell_bd {
                        -webkit-box-flex: 1;
                        -moz-box-flex: 1;
                        -webkit-flex: 1;
                        -ms-flex: 1;
                        flex: 1;

                        p {
                            line-height: 1.8em;
                            &:nth-child(1) {
                                font-size: dimension-to-vw(26px);
                            }
                            &:nth-child(2) {
                                font-size: dimension-to-vw(20px);
                            }
                        }
                    }

                    .weui_cell_ft {
                        .iconfont {
                            font-size: dimension-to-vw(26px);
                        }
                    }

                }
            }
        }

        @at-root .more_coupon_cont {
            &.#{$page_ns} {
                padding: 0 dimension-to-vw(28px) dimension-to-vw(15px);

                li {
                    position: relative;
                    height: dimension-to-vw(120px);

                    @include flexbox;

                    @include flex-direction(column);

                    @include justify-content(center);

                    &:after {
                        @include dividingline(bottom, #eeeeee);
                    }

                    &:last-child {
                        &:after {
                            border-bottom: none;
                        }
                    }
                }
            }
        }

        @at-root .addrits {
            &.#{$page_ns} {
                & > .weui_actionsheet_menu {
                    & > .weui_cells {
                        margin-top: 0;
                    }
                }

                @at-root .addrits-title {
                    &.#{$page_ns} {
                        font-size: 16px;
                        text-align: center;
                        color: #333;

                        //font-weight: bold;
                        margin-top: 0;
                        margin-bottom: 0;

                        //background-color: #e8eaea;
                   
                    }
                }

                @at-root .addrits-ctn {
                    &.#{$page_ns} {
                        padding-bottom: 50px;
                        font-size: 14px;
                        color: #666;

                        & > .weui_cell {
                            &.active {
                                .icon_check {
                                    visibility: visible;
                                }
                            }
                        }

                        &:before {
                            color: #09BB07;
                            border-top: 1px solid #09BB07;
                        }

                        .store-name {
                            font-size: 14px;
                            color: #333;
                            font-weight: normal;
                        }

                        .store-address {
                            font-size: 12px;
                            color: #999;
                        }

                        //选中按钮
                        .icon_check {
                            color: #09BB07;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
}

$page_ns: "";

/* <<tenant\buyreduceRN.ftl*/