/// namespace: TT-IN
/* >>tenant\index3.0.ftl*/
$page_ns: "TT-IN";
$star: "*";

//顶部搜索框及购物车
.top {
    &.#{$page_ns} {
        $father_top: #{&};

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 267;
        padding: dimension-to-vw(21px) 15px;

        @include flexbox;

        @include flex-direction(row);

        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;

        &:before {
            display: none;
        }

        .weui_cell_bd {
            margin-right: dimension-to-vw(20px);
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;

            a {
                border-radius: .3em;
                width: dimension-to-vw(530px);
                height: dimension-to-vw(50px);
                line-height: dimension-to-vw(50px);
                padding-left: dimension-to-vw(20px);
                display: block;
            }

            .search {
                color: #e0e0e0;
            }
        }

        .weui_cell_ft {
            & > span {
                position: relative;

                @at-root #{$father_top} {
                    .cornernum {
                        @include C-cornernum($dimension-rate: 1.2, $bgcolor: #e60012);
                    }
                }
            }
        }
    }
}

//店铺banner
.banner {
    &.#{$page_ns} {
        position: relative;

        //banner图
        .banner-bgs {
            z-index: 1;

            img {
                width: 100%;
            }

            .mask_bg {
                z-index: 2;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4));
            }
        }

        //店铺logo、名称等信息
        @at-root .banner-shopinfo {
            position: absolute;
            z-index: 2;
            background-color: transparent;
            width: 100%;
            left: 0;
            bottom: .4em;
            padding: 0 dimension-to-vw(27px) 0 dimension-to-vw(28px);

            @include flexbox;

            @include flex-direction(row);

            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;

            &:before {
                border-top: none;
            }

            &:after {
                border-bottom: none;
            }

            &.weui_cell {
                &:before {
                    content: none;
                }
            }

            .weui_cell_hd {
                width: dimension-to-vw(105px);
                height: dimension-to-vw(105px);
                margin-right: dimension-to-vw(13px);

                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }

            .weui_cell_bd {
                -webkit-box-flex: 1;
                -moz-box-flex: 1;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;

                h2 {
                    font-weight: normal;
                    line-height: 1.2;

                    @extend %ellipsis-2line;
                }

                .starlevelsR {
                    line-height: 1;
                }
            }

            .weui_cell_ft {
                .L {
                    display: inline-block;
                    text-align: center;
                    line-height: 1.4;
                    vertical-align: middle;

                    span {
                        display: block;
                        font-weight: normal;
                    }
                }

                .save_tenant {
                    vertical-align: middle;
                    padding: 0.3em;
                }
            }
        }
    }
}

//店铺顶部导航
.nav {
    &.#{$page_ns} {
        @include flexbox;

        @include flex-direction;

        @include justify-content(space-around);

        @include align-items(flex-end);

        position: relative;
        background-color: #fff;

        &:after {
            @include dividingline(bottom, #ddd);
        }

        .it {
            $father_nav_it: #{&};

            position: relative;
            text-align: center;
            padding: 8px 0;
            color: #333;

            &.active {
                color: #ff6d06;
            }

            //width: dimension-to-vw(153.6px);
            .imgsignR {
                //padding: 0 40%;
                line-height: 1.6;

                @at-root #{$father_nav_it} {
                    //导航图标
                    .imgsign {
                        width: 15px;

                        @include no-flicker;
                    }
                }
            }

            p {
                text-align: center;
                line-height: 1;
            }
        }
    }
}

//店铺顶部导航对应内容集
.nav_ctnR {
    &.#{$page_ns} {
        margin-top: dimension-to-vw(18px);

        @at-root %loadmore {
            text-align: center;
            display: block;
            padding: 1em 0;
        }

        .it {
            //店铺首页
            &.for-index {
                //优惠券展示
                @at-root .couponboothR {
                    &.#{$page_ns} {
                        margin-bottom: dimension-to-vw(18px);

                        .title {
                            line-height: 1.5;
                            padding: 0.5em 0;

                            p {
                                text-align: center;
                            }
                        }

                        @at-root .couponbooth {
                            &.#{$page_ns} {
                                white-space: nowrap;
                                overflow: auto;

                                @at-root .coupon {
                                    &.#{$page_ns} {
                                        $father_coupon: #{&};

                                        display: inline-block;
                                        position: relative;
                                        width: dimension-to-vw(188px);
                                        height: dimension-to-vw(107px);
                                        margin-left: dimension-to-vw(14px);
                                        border: 1px solid #e3393c;
                                        border-radius: 0.3em;

                                        .up {
                                            height: 60%;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            right: 0;
                                            color: #e3393c;

                                            @include flexbox;

                                            @include flex-direction;

                                            @include align-items(center);

                                            @at-root #{$father_coupon} {
                                                //优惠数额
                                                .amount {
                                                    flex: 1;
                                                    max-width: 80%;

                                                    & > span {
                                                        display: block;
                                                        text-align: center;

                                                        @extend %ellipsis;
                                                    }
                                                }

                                                //优惠数额
                                                .desc {
                                                    padding: 0.3em 0;
                                                    line-height: 1.2;
                                                    min-width: 0;

                                                    h5 {
                                                        font-weight: normal;
                                                    }

                                                    h5, span {
                                                        display: block;
                                                        text-align: center;

                                                        @extend %ellipsis;
                                                    }
                                                }
                                            }
                                        }

                                        .down {
                                            height: 35%;
                                            position: absolute;
                                            left: 0;
                                            right: 0;
                                            bottom: 0;
                                            background-color: #e3393c;
                                            color: #fff;

                                            //@include background-image(url(http://placehold.it/160x160/333/fff.png?text=A));
                                            &:before {
                                                $coupon-serration-direction: top;
                                                $coupon-serration-circle-size: 10px;

                                                @include coupon-serration($direction: $coupon-serration-direction, $circle-size: $coupon-serration-circle-size, $circle-color: #e3393c) {
                                                    content: "";
                                                    height: $coupon-serration-circle-size / 2;
                                                    top: -($coupon-serration-circle-size / 2 - 1px);
                                                    width: 100%;
                                                }
                                            }

                                            & > span {
                                                position: absolute;
                                                left: 50%;
                                                top: 50%;
                                                line-height: 1;

                                                @include no-flicker;

                                                -webkit-transform: translate(-50%, -50%);
                                                transform: translate(-50%, -50%);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                //店铺商品轮播
                @at-root .carousel {
                    &.#{$page_ns} {
                        //margin-top: dimension-to-vw(18px);
                        white-space: nowrap;
                        overflow: auto;

                        .box_product {
                            $father_box_product: #{&};

                            width: dimension-to-vw(302px);
                            margin-top: 5px;
                            margin-left: dimension-to-vw(15px);

                            @include inline-flex;

                            @include flex-direction(row);

                            &:nth-child(2n) {
                                margin-right: dimension-to-vw(15px);
                                margin-left: 0;
                            }

                            s {
                                margin-left: dimension-to-vw(20px);
                            }

                            &:nth-child(2n) > a {
                                padding: 6px 0;
                            }

                            & > a {
                                display: block;
                                padding: 6px 0;

                                p {
                                    line-height: 2em;
                                }

                                @at-root #{$father_box_product} {
                                    .imgsymbol {
                                        width: dimension-to-vw(302px);
                                        height: dimension-to-vw(302px);

                                        img {
                                            width: 100%;
                                        }
                                    }

                                    //description
                                    .description {
                                        height: 2.4em;
                                        line-height: 1.2;
                                        color: #333;
                                        margin-top: 0.3em;
                                    }
                                }
                            }
                        }
                    }
                }

                //店铺导购轮播
                @at-root .shopguide {
                    &.#{$page_ns} {
                        margin: dimension-to-vw(18px) auto;
                        padding: dimension-to-vw(23px) 0;
                        white-space: nowrap;
                        overflow: auto;

                        @include flexbox;

                        @include flex-direction(row);

                        -ms-flex-align: center;
                        -webkit-align-items: center;
                        -webkit-box-align: center;
                        align-items: center;

                        .shopguide_box {
                            width: dimension-to-vw(300px);

                            //display: flex;
                            //flex-direction:row;
                            @include flexbox;

                            @include flex-direction(row);

                            -ms-flex-align: center;
                            -webkit-align-items: center;
                            -webkit-box-align: center;
                            align-items: center;

                            &:first-child {
                                margin-left: dimension-to-vw(50px);
                            }

                            //导购图片
                            .shopguide_img {
                                width: dimension-to-vw(130px);
                                height: dimension-to-vw(130px);

                                img {
                                    width: 100%;
                                }
                            }

                            //导购详细信息
                            .shopguide_description {
                                margin-left: dimension-to-vw(19px);
                                width: dimension-to-vw(151px);

                                //display: flex;
                                @include inline-flex;

                                //flex-direction:column;
                                @include flex-direction(column);

                                //justify-content: center;
                                @include justify-content(center);

                                //align-items:center;
                                @include justify-content(center);

                                p {
                                    line-height: 1.5em;

                                    img {
                                        width: dimension-to-vw(26px);
                                        margin-left: dimension-to-vw(9px);
                                        margin-bottom: dimension-to-vw(6px);
                                    }
                                }

                                a {
                                    display: block;
                                    width: dimension-to-vw(92px);
                                    padding: .2em 0;
                                    margin-top: .3em;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }

                //商品列表-新品概览(一列)
                .newgoods {
                    &.#{$page_ns} {}
                }

                //商品列表-热销商品
                @at-root .sellwell {
                    //sellwell-hd
                    @at-root .sellwell-hd {
                        position: relative;
                        padding: 6px;

                        span {
                            display: inline-block;
                            border-left: 2px solid #ff6d06;
                            line-height: 1;
                            text-indent: 0.5em;
                        }

                        &:after {
                            @include dividingline(bottom, #eee);
                        }
                    }
                }
            }

            //全部(宝贝分类)
            &.for-all {
                //点击加载更多
                .loadonclick {
                    @extend %loadmore;
                }
            }

            //新品
            &.for-new {
                //点击加载更多
                .loadonclick {
                    @extend %loadmore;
                }
            }

            //促销
            &.for-promotion {
                //点击加载更多
                .loadonclick {
                    @extend %loadmore;
                }
            }
        }
    }
}

.popup-classific {
    &.#{$page_ns} {
        position: fixed;
        z-index: 240;
        left: 0;
        bottom: 50px;
        max-height: 60vh;
        overflow-y: auto;
        max-width: 50vw;
        border: 1px solid #c1c1c1;
        border-radius: 0.3em;

        //background-color: #f9fafb;
        text-align: center;

        .menus {
            height: 100%;
            padding: 0 1.3em;
            background-color: #f9fafb;

            //font-size: 1.4rem;
            background-color: #f9fafb;

            li {
                position: relative;

                &:after {
                    @include dividingline(bottom);
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }

            a {
                line-height: 2.8em;
                display: block;
                color: #333;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}

//contactinfo-店铺(门店)信息
.tntcontactinfo {
    &.#{$page_ns} {
        $father_tntcontactinfo: #{&};

        //head,店铺信息 rap
        .tntinfoR {
            margin-top: 0;

            @at-root #{$father_tntcontactinfo} {
                //店铺信息
                .tntinfo {
                    background-color: #fff;
                    padding: 7px 0;

                    a {
                        font-size: 1.2rem;
                    }

                    ///left
                    @at-root .tntinfo-hd {
                        margin: 4px 10px;
                        text-align: center;
                        width: 15.625vw;
                        height: 15.625vw;

                        img {
                            width: 100%;
                            max-height: 100%;
                            vertical-align: middle;
                            border-radius: 50%;
                        }
                    }

                    ///right
                    @at-root .tntinfo-bd {
                        h4 {
                            font-weight: normal;

                            //font-size: 16px;
                       
                        }

                        span {
                            //font-size: 10px;
                            color: #666;
                        }
                    }

                    ///check_licence
                    .check_licence {
                        display: inline-block;
                        padding: 0.3rem 0.5rem;
                        border-radius: 3px;
                        background-color: #ff6d06;
                        color: #fff;
                    }
                }
            }
        }

        ///body,(线下)门店信息
        .storesinfoR {
            &.weui_cells {
                max-height: 300px;
                max-height: 50vh;
                overflow-y: auto;
                margin-top: 0;

                &:before {
                    border-top-width: 0;
                }

                &:after {
                    border-bottom-width: 0;
                }
            }

            //weui_cell
            .weui_cell {
                &:first-child {
                    &:before {
                        //display: block;
                   
                    }
                }

                .weui_cell_primary {
                    h3 {
                        font-weight: normal;
                    }
                }
            }
        }

        //foot,资质声明
        .discsyms {
            margin-top: 0;

            @at-root #{$father_tntcontactinfo} {
                .discsyms-sec1-bd {
                    span {
                        padding-right: 1em;
                    }

                    .iconfont {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

//买单立减浮标链接
.link_toBRRN {
    position: fixed;
    display: block;
    z-index: 265;
    right: 0;
    width: dimension-to-vw(72px);
    top: 35%;
    color: #fff;
    font-size: 12px;
    border-radius: 0.3em;
    padding: 0.2em;
}

$star: "*";
$page_ns: "";

/* <<tenant\index3.0.ftl*/