// -------------------------------------
// common:活动浮标
// -------------------------------------
.activity {
    &.a826 {
        display: block;
        position: fixed;
        z-index: 270;
        right: 0;
        top: 40%;
        width: dimension-to-vw(140px);
        height: dimension-to-vw(140px);

        &.anm-out {
            @include bounceOutRight;

            //@include bounceOutRight2;
       
        }

        &.anm-in {
            @include bounceInRight;

            //@include bounceInRight2;
       
        }
    }
}