.rightin{-webkit-animation:rightin 1s .2s ease both;}
@-webkit-keyframes rightin{
	0%{opacity:0;-webkit-transform:translateX(1200px)}
	100%{opacity:1;-webkit-transform:translateX(0)}
}
.rightout{-webkit-animation:rightout 1s .2s ease both;}
@-webkit-keyframes rightout{
	0%{opacity:1;-webkit-transform:translateX(0)}
	100%{opacity:0;-webkit-transform:translateX(1200px)}
}
.leftin{-webkit-animation:leftin 1s .2s ease both;}
@-webkit-keyframes leftin{
	0%{opacity:0;-webkit-transform:translateX(-1000px);}
	100%{opacity:1;-webkit-transform:translateX(0);}
}
.leftout{-webkit-animation:leftout 1s .2s ease both;}
@-webkit-keyframes leftout{
	0%{opacity:1;-webkit-transform:translateX(0);}
	100%{opacity:0;-webkit-transform:translateX(-1000px);}
}
.leftind{-webkit-animation:leftind 1s .2s ease both;}
@-webkit-keyframes leftind{
	0%{opacity:0;-webkit-transform:translateX(-200px);}
	100%{opacity:1;-webkit-transform:translateX(0);}
}
.leftoutd{-webkit-animation:leftoutd 1s .2s ease both;}
@-webkit-keyframes leftoutd{
	0%{opacity:1;-webkit-transform:translateX(0);}
	100%{opacity:0;-webkit-transform:translateX(-200px);}
}
.bottomin{-webkit-animation:bottomin 1s .2s ease both;}
@-webkit-keyframes bottomin{
	0%{opacity:0;-webkit-transform:translateY(2000px)}
	100%{opacity:1;-webkit-transform:translateY(0)}
}
.bottomout{-webkit-animation:bottomout 1s .2s ease both;}
@-webkit-keyframes bottomout{
	0%{opacity:1;-webkit-transform:translateY(0)}
	100%{opacity:0;-webkit-transform:translateY(2000px)}
}
.topin{-webkit-animation:topin 1s .2s ease both;}
@-webkit-keyframes topin{
	0%{opacity:0;-webkit-transform:translateY(-2000px)}
	100%{opacity:1;-webkit-transform:translateY(0)}
}
.topout{-webkit-animation:topout 1s .2s ease both;}
@-webkit-keyframes topout{
	0%{opacity:1;-webkit-transform:translateY(0)}
	100%{opacity:0;-webkit-transform:translateY(-2000px)}
}
.bottominl{-webkit-animation:bottomin 1s .2s ease both;}
@-webkit-keyframes bottomin{
	0%{opacity:0;-webkit-transform:translateY(50px)}
	100%{opacity:1;-webkit-transform:translateY(0)}
}
.bottomind{-webkit-animation:bottomind 1s .2s ease both;}
@-webkit-keyframes bottomind{
	0%{opacity:0;-webkit-transform:translateY(10px)}
	100%{opacity:1;-webkit-transform:translateY(0)}
}
.bottomoutd{-webkit-animation:bottomoutd 1s .2s ease both;}
@-webkit-keyframes bottomoutd{
	0%{opacity:1;-webkit-transform:translateY(0)}
	100%{opacity:0;-webkit-transform:translateY(10px)}
}
.ddout{-webkit-animation:ddout 1s .2s ease both;}
@-webkit-keyframes ddout{
	0%{opacity:1;}
	100%{opacity:0;}
}
.ddin{-webkit-animation:ddin 1s .2s ease both;}
@-webkit-keyframes ddin{
	0%{opacity:0;}
	100%{opacity:1;}
}
.scalein{-webkit-animation:scalein 1s .2s ease both;}
@-webkit-keyframes scalein{
	0%{-webkit-transform:scale(1)}
	100%{-webkit-transform:scale(.9)}
}
.scaleout{-webkit-animation:scaleout 1s .2s ease both;}
@-webkit-keyframes scaleout{
	0%{-webkit-transform:scale(.9)}
	100%{-webkit-transform:scale(1)}
}
.scaleup{-webkit-animation:scaleup 1s .2s ease both;}
@-webkit-keyframes scaleup{
	0%{-webkit-transform:scale(0)}
	70%{-webkit-transform:scale(1.1)}
	100%{-webkit-transform:scale(1)}
}
.p_tag.p_deg180{-webkit-transform:rotate(225deg);top: 27px;right: 22px;}
/*关闭按钮*/
.p_tipsclose,.p_loginclose{width:38px;height:38px;border-radius:50%;position: absolute;top:-19px;right:-19px;background: #fff;border:2px solid #b51217;}
.p_tipsclose::after,.p_tipsclose::before,.p_loginclose::after,.p_loginclose::before{content: '';width:3px;height:25px;-webkit-transform:rotate(45deg);background: #b51217;position: absolute;top:7px;left:17px;}
.p_tipsclose::after,.p_loginclose::after{-webkit-transform:rotate(-45deg);}
.p_tipsclose{top:1px;right:5px;background: none;border:0;}

/*箭头*/
.p_datag{width:60px;z-index: 3;height:60px;background:rgba(255,255,255,.2);}
.p_datag::after,.p_datag::before{content: '';width:3px;height:25px;-webkit-transform:rotate(45deg);background: rgba(255,255,255,.7);position: absolute;top:26px;left:30px;}
.p_datag::after{-webkit-transform:rotate(-45deg);top:10px;}


/*热销箭头*/
.p_uptag{position:absolute;top: 14px;right: 10px;width: 0;	height: 0;	border-left: 5px solid transparent;	border-right: 5px solid transparent;border-bottom: 5px solid #333;}
.p_downtag{position:absolute;top: 22px;right: 10px;width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #333;}
.p_downtag.okstyle{border-top:5px solid #f00;}
.p_uptag.okstyle{border-bottom:5px solid #f00;}
.p_sales .p_uptag{width:4px;height:10px;border:0;background:#333;top:15px;right:13px;}
.p_sales .p_uptag.p_uptag_1{border:0;background:#f00}

/*筛选icon*/
.p_ssicon{position:absolute;top:9px;left:9px;width: 0;height: 0;border-left: 10px solid transparent;	border-right: 10px solid transparent;border-top: 10px solid #333;}
.p_ssiconl{width:4px;height:18px;background:#333;position:absolute;top:10px;left:17px;}

/*箭头*/
.p_tag::after,.p_tag{width:2px;height:10px;background:#fff;position:absolute;-webkit-transform:rotate(45deg);top: 33px;right: 20px;z-index:2}
.p_tag::after{content:'';-webkit-transform:rotate(-90deg);top: -4px;right: 4px;}
/*search*/
.p_searchfixed .p_search_icon,.p_search_icon{width:12px;height:12px;border-radius: 50%;border:2px solid #929292;position:absolute;top:5px;left:5px;}
.p_searchfixed .p_search_icon::after,.p_search_icon::after{content:'';width:2px;height:10px;-webkit-transform:rotate(-45deg);background:#929292;position:absolute;right:-3px;top:10px;}

/*star*/
.score0{width:80px;height:20px;background:url(../images/review.gif) 0px -60px no-repeat;display:block;}
.score1{width:80px;height:20px;background:url(../images/review.gif) 0px -90px no-repeat;display:block;}
.score2{width:80px;height:20px;background:url(../images/review.gif) 0px -120px no-repeat;display:block;}
.score3{width:80px;height:20px;background:url(../images/review.gif) 0px -150px no-repeat;display:block;}
.score4{width:80px;height:20px;background:url(../images/review.gif) 0px -180px no-repeat;display:block;}
.score5{width:80px;height:20px;background:url(../images/review.gif) 0px -210px no-repeat;display:block;}
.score6{width:80px;height:20px;background:url(../images/review.gif) 0px -240px no-repeat;display:block;}
.score7{width:80px;height:20px;background:url(../images/review.gif) 0px -270px no-repeat;display:block;}
.score8{width:80px;height:20px;background:url(../images/review.gif) 0px -300px no-repeat;display:block;}
.score9{width:80px;height:20px;background:url(../images/review.gif) 0px -330px no-repeat;display:block;}
.score10{width:80px;height:20px;background:url(../images/review.gif) 0px -360px no-repeat;display:block;}

/*详情规格选中右下角勾*/
.p_vtag{border-radius:50%;background:#fff;width:10px;height:10px;position:absolute;bottom:3px;right:5px;}
.p_vtag::after,.p_vtag::before{position:absolute;top:3px;left:6px;content:'';width:1px;height:6px;background:#f00;-webkit-transform:rotate(45deg);}
.p_vtag::after{-webkit-transform:rotate(-45deg);width:1px;height:4px;top:5px;left:3px;}

/*旋转90*/
.p_90deg{-webkit-transform:rotate(90deg);}

/*翻转*/
.p_turn{-webkit-animation:p_turn 1s .2s ease both;}
@-webkit-keyframes p_turn{
	0%{-webkit-transform:scale(1);}
	50%{-webkit-transform:scale(1.5);}
	100%{-webkit-transform:scale(1);}
}
.p_turnin{-webkit-animation:p_turnin 1s .2s ease both;}
@-webkit-keyframes p_turnin{
	0%{-webkit-transform:perspective(200px) rotateY(0);
	-webkit-animation-timing-function:ease-out}
	40%{-webkit-transform:perspective(200px) translateZ(100px) rotateY(45deg);
	-webkit-animation-timing-function:ease-out}
	50%{-webkit-transform:perspective(200px) translateZ(100px) rotateY(90deg) scale(1);
	-webkit-animation-timing-function:ease-in}
	80%{-webkit-transform:perspective(200px) rotateY(135deg) scale(.95);
	-webkit-animation-timing-function:ease-in}
	100%{-webkit-transform:perspective(200px) rotateY(180deg) scale(1);
	-webkit-animation-timing-function:ease-in}
}
.p_turnout{-webkit-animation:p_turnout 1s .2s ease both;}
@-webkit-keyframes p_turnout{
	0%{-webkit-transform:perspective(200px) rotateY(0);
	-webkit-animation-timing-function:ease-out}
	40%{-webkit-transform:perspective(200px) translateZ(100px) rotateY(-45deg);
	-webkit-animation-timing-function:ease-out}
	50%{-webkit-transform:perspective(200px) translateZ(100px) rotateY(-90deg) scale(1);
	-webkit-animation-timing-function:ease-in}
	80%{-webkit-transform:perspective(200px) rotateY(-135deg) scale(.95);
	-webkit-animation-timing-function:ease-in}
	100%{-webkit-transform:perspective(200px) rotateY(-180deg) scale(1);
	-webkit-animation-timing-function:ease-in}
}

/*收货地址列表字母放大*/
.p_scale_big{-webkit-animation:scale_big 0.5s 0 ease-in-out both; font-weight:bold; }
.p_scale_small{-webkit-animation:scale_small 0.3s 0 ease-in-out both;}
@-webkit-keyframes scale_big{
0%{-webkit-transform:scale(1)}
100%{-webkit-transform:scale(2)}
}
@-webkit-keyframes scale_small{
0%{-webkit-transform:scale(2)}
100%{-webkit-transform:scale(1)}
}
/*加入购物车效果*/
.p_cart_img{ position:fixed;top:10px;z-index: 9999; display: none;}
.p_addcart1{display: block;-webkit-animation:p_addcart 1s 0 ease-in both;top:auto;bottom:10px;right:10px;}
.p_addcart{display: block;-webkit-animation:p_addcart 1s 0 ease-in both;}
@-webkit-keyframes p_addcart {
	0% {-webkit-transform: scale(1) translate(40px,40px);}
	50% {-webkit-transform: scale(.2) translate(120px,40px);}
	100% {-webkit-transform: scale(.2) translate(1020px,1400px);}
}