/// namespace: G
/* >>indexnew.ftl*/
$page_ns: "G";

.nav {
    &.#{$page_ns} {
        $father_nav: #{&};

        position: fixed;
        z-index: 251;
        left: 0;
        right: 0;
        bottom: 0;

        &:before {
            @include dividingline(top, #e0e0e0);
        }

        ul {
            @include flexbox;

            @include justify-content(space-around);

            @include align-items;

            padding: 6px 0;

            @at-root #{$father_nav} {
                .it {
                    display: block;
                    text-align: center;

                    & > span {
                        display: block;
                        line-height: 1.2;

                        &:first-child {}
                    }
                }
            }
        }
    }
}

$page_ns: "";

/* <<indexnew.ftl*/