@charset "utf-8";
*{margin:0;padding:0;}
body,div,address,blockquote,iframe,ul,ol,dl,dt,dd,li,dl,h1,h2,h3,h4,h5,h6,p,pre,table,caption,th,td,form,legend,fieldset,input,button,select,textarea
	{
	font-family:"微软雅黑";
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
fieldset{border:none;}
ol,ul,li {
	list-style: none outside none;
}
a {
	color: inherit;
	text-decoration: none;
}
img {
	border: 0 none;
	margin: 0;
	padding: 0;
}

body {
	background: none repeat scroll 0 0 #fafafa;
	color: #666666;
	font: 12px tahoma, Arial, Verdana, sans-serif;
}

input {
	outline: medium none;
	vertical-align: middle;
	font-size:14px;
	border: #e4e4e4 2px solid;
}
select{border: #e4e4e4 2px solid;}
.clearfix{float:left;}
.clear {
    clear: both;
    height: 1px;
    margin-top: -1px;
    width: 100%;
}
.m-button{float:left;width:auto;height:28px;margin-left:10px;padding:0 10px;background:#c7000b;border:solid 1px #d4975c;text-align:center;line-height:28px;color:#fff; cursor:pointer; text-decoration:none;}
.m-button:hover{background:#960008;}
.h-button{float:left;width:auto;height:28px;margin-left:10px;padding:0 10px;background:#c7000b;border:solid 1px #d4975c;text-align:center;color:#fff; cursor:pointer; text-decoration:none;}
.h-button:hover{background:#960008;}
/*顶部导航*/
.topnav{width:100%;min-width:980px;height:30px;background:#000;margin-bottom:10px;}
.topnav a{ position:relative;width:auto;height:30px;margin:0 5px;color:#fff;text-decoration:none;}
.topnav-content{width:980px;height:30px;margin:0 auto; line-height:30px;}
.topnav-left{float:left;}
.topnav-left ul li{float:left; color:#fff;}
.topnav-right{float:right;}
.topnav-right ul li{float:left;color:#fff;}

.weixin-qr{position:absolute; float:left; top:0px;width:61px;height:30px;background:#fff; display:none; z-index:999;}
.weixin-qr-title{ color:#666;}
.weixin-qr-img{width:200px;height:200px;}
/*页首*/
.main-nav{width:980px;height:68px;margin:0 auto 10px auto;border-bottom:2px solid #c7000b;}
.main-nav-banner{float:left;margin-top:20px;}
.main-nav-list{float:right;width:210px;height:30px;margin-top:36px;text-align:center;}
.main-nav-list img{width:15px;}
.main-nav-list ul{float:left;width:100%;height:100%;}
.main-nav-list ul li{float:left;width:70px;;height:30px;text-align:center;}
.main-nav-list ul li a{float:left;width:70px;height:25px;margin:0 5px;color:#c7000b;text-decoration:none; text-align:center;}
/*页脚*/
.ui-footer {color: #999999;font: 12px tahoma,Arial,Verdana,sans-serif;position:relative;width:980px;margin:10px auto 0 auto;}
.ui-footer .grid {margin: auto;position: relative;width: 980px;}
.ui-footer a {color: #999999;}
.ui-footer-exlink, .ui-footer-sitelink {border-top: 1px solid rgba(0,0,0,.05);line-height:35px;}
.ui-footer-exlink {border-bottom: 1px solid rgba(0,0,0,.05);border: 1px solid rgba(0,0,0,.05);position: relative;text-align: center;}
.ui-footer-exlink a {margin-right: 5px;}
.ui-footer-exlink .item-more {font-family:simsun;position: absolute;right: 0;top: 0;}
.ui-footer-sitelink {padding:5px 0;text-align:center;}
.ui-footer-copyright p {width:100%;text-align:center;}
/*主内容*/
.main-content{width:980px;height:auto;margin:0 auto;}
.main-content-left{float:left;width:720px;height:auto;margin-right:10px;}
.main-content-left150{float:left;width:150px;height:auto;margin-right:10px;}
.main-content-left150 a:hover{background:#e5e5e5;}
.main-content-right{float:left;width:250px;height:auto;}
.main-content-right820{float:left;width:820px;height:auto;}
.main-content-top{float:left;width:980px;height:120px;margin-bottom:10px;}
.main-content-bottom{float:left;width:980px;height:auto;}



/*列表项*/
.shop-content{float:left;width:100%;height:220px;}
.shop-content ul{float:left;width:660px;height:auto;margin:8px 0 0 29px;}
.shop-content ul li:hover{border:solid 1px #e4e4e4;background:#f2f2f2;}
.shop-item{float:left;width:328px;height:98px; border:solid 1px #fff;}
.shop-item-img{float:left;width:50px;height:50px;text-align:center;margin-top:25px;margin-left:50px;}
.shop-item-text{float:left;width:auto;height:50px;margin-top:25px;margin-left:10px;}
.shop-item2{float:left;width:218px;height:78px;margin-top:10px;border:solid 1px #fff;}
.shop-item-img2{float:left;width:50px;height:50px;text-align:center;margin-top:15px;margin-left:10px;}
.shop-item-text2{float:left;width:auto;height:50px;margin-top:15px;margin-left:10px;}

.shop-item3{float:left;width:328px;height:140px;;border:solid 1px #fff;text-align:center;}
.shop-item-img3{float:left;width:328px;height:48px;text-align:center;margin-top:25px;}
.shop-item-text3{width:auto;height:50px;margin-top:15px;}
/*通知公告*/
.tab-title{width:100%;background:#f7f7f7;height:30px;}
.tab-title li{float:left; text-align:center; line-height:30px;cursor:pointer;}
.tab-title li a{color:#666;}
.tab-title li.liActive a{color:#c7000b;}
.liActive{background-color:#fff;color:#c7000b;}
.tab-content{padding:0 4px; overflow:hidden;}
.tab-content li{line-height:17px;}
.tab-content a{color: #666666; font-size:12px; text-decoration:none;}

/*通用模块*/
.red-title{float:left;width:100%;height:30px;background:#c7000b;line-height:30px;color:#fff;}
.red-line-title{float:left; width:130px; height:30px; margin-left:10px;border-bottom:1px solid #c7000b; line-height:30px;}

.margins-lr{margin:0 10px;}
/*翻页*/
/* ---------- Pagination ---------- */

div.pagination {
	height: 20px;
	float: right;
	padding: 10px 0px;
}

div.pagination a, div.pagination span {
	height: 18px;
	line-height: 18px;
	display: inline;
	float: left;
	margin-left: 3px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	outline: none;
	blr: expression(this.hideFocus = true);
}

div.pagination a {
	padding: 0px 5px;
	border: 1px solid #cccccc;
}

div.pagination a:hover {
	border: 1px solid #fd6d01;
	text-decoration: none;
}

div.pagination a.previousPage {
	width: 18px;
	padding: 0px;
	background: url(../images/list.gif) 0px -180px no-repeat;
}

div.pagination span.previousPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/list.gif) -30px -180px no-repeat;
}

div.pagination a.nextPage {
	width: 18px;
	padding: 0px;
	background: url(../images/list.gif) 0px -210px no-repeat;
}

div.pagination span.nextPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/list.gif) -30px -210px no-repeat;
}

div.pagination a.firstPage {
	width: 18px;
	padding: 0px;
	background: url(../images/list.gif) -60px -180px no-repeat;
}

div.pagination span.firstPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/list.gif) -90px -180px no-repeat;
}

div.pagination a.lastPage {
	width: 18px;
	padding: 0px;
	background: url(../images/list.gif) -60px -210px no-repeat;
}

div.pagination span.lastPage {
	width: 18px;
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/list.gif) -90px -210px no-repeat;
}

div.pagination .currentPage {
	padding: 0px 5px;
	color: #fd6d01!important;
	font-weight: bold;
	cursor: default;
	border: 1px solid #fd6d01;
	background-color: #ffede1;
}

div.pagination .pageBreak {
	padding: 0px 5px;
	color: #3366cc;
	cursor: default;
}

div.pagination .pageSkip {
	vertical-align: middle;
	padding: 0px 3px;
	color: #666666;
}

div.pagination .pageSkip input {
	width: 18px;
	height: 18px;
	line-height: 18px;
	padding: 0px;
	margin: 0px 5px;
	text-align: center;
	vertical-align: top;
	*vertical-align: middle;
	ime-mode: disabled;
	border: 1px solid #cccccc;
}

div.pagination .pageSkip button {
	width: 20px;
	height: 20px;
	margin: 0px 0px 0px 5px;
	vertical-align: top;
	*vertical-align: middle;
	cursor: pointer;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: none;
	background: url(../images/list.gif) -120px -210px no-repeat;
}


/*下载提示框*/
.shadow-bg{ display:none;position:absolute; left:0;right:0;top:0;bottom:0; background:#000; z-index:999;
filter:alpha(opacity=50);  /*支持 IE 浏览器*/
-moz-opacity:0.50; /*支持 FireFox 浏览器*/
opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/}
.dl-prompt-bg{display:none; position:relative;width:100%; height:1px;z-index:99999;}
.dl-prompt{ position:absolute;  width:500px; height:200px;left:50%; margin-left:-250px; margin-top:200px; background:#fff url(../images/cry.png) no-repeat; border:1px solid #e4e4e4; 
-moz-box-shadow: 3px 3px 10px #000; 
-webkit-box-shadow: 1px 1px 10px #000; 
box-shadow: 3px 3px 10px #000;
/* For IE 8 */ 
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=150, Color='#000000')"; 
/* For IE 5.5 - 7 */ 
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000'); 
 }
.dl-prompt p{ margin:40px 20px; font-size:18px; }
.dl-prompt-botton{ width:400px; height:50px;  }
.dl-prompt-botton a{ width:125px; margin-left:20px;}

/*整理*/
.container {
	margin: auto;
	position: relative;
	float:left;
	width: 818px;
}

.container .left {
	float: left;
	width: 230px;
}

/* ---------- Message ---------- */

div.xxMessage {
	padding: 10px 30px;
	display: none;
	position: fixed;
	_position: absolute;
	top: 25%;
	_top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(25 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + "px");
	left: 50%;
	z-index: 100;
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 6px #999999;
	-moz-box-shadow: 1px 1px 6px #999999;
	box-shadow: 1px 1px 6px #999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=0,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=270,strength=3)";
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=0,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=270,strength=3);
    border: 1px solid #999999;
	background-color: #ffffff;
}

div.xxMessage .messageContent {
	line-height: 24px;
	padding: 0px 10px 0px 30px;
	color: #666666;
}

div.xxMessage .messagewarnIcon {
	background: url(../images/common_admin.gif) -60px -360px no-repeat;
}

div.xxMessage .messagesuccessIcon {
	background: url(../images/common_admin.gif) -30px -390px no-repeat;
}

div.xxMessage .messageerrorIcon {
	background: url(../images/common_admin.gif) 0px -420px no-repeat;
}

div.xxMessage .messageIframe {
	width: 2000px;
	height: 2000px;
	position: absolute;
	left: -100px;
	top: -100px;
	z-index: -1;
}

.index{float:left; width:980px; margin:0 auto;}

/* ---------- page-nav ---------- */
.page-nav::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.page-nav {
	padding: 0px 10px 0px 12px; border-color: rgb(225, 226, 226); border-width: 1px;border-top-left-radius:2px;border-top-right-radius:2px; border-style: solid; -ms-zoom: 1; min-height: 37px; background-color: rgb(255, 255, 255); _height: 37px;
}
.page-nav .title-wrap {
	padding-left: 9px; margin-top: 9px;position: absolute;
}
.page-nav .title-wrap h2 {
	color: rgb(102, 102, 102); font-size: 14px; display: inline;
}
.page-nav .title-wrap .app-img {
	margin: 0px 12px 0px 0px; width: 32px; height: 32px; text-indent: -99em; overflow: hidden; float: left;
}
.page-nav .title-wrap dl {
	line-height: 1.2; float: left;
}
.page-nav .title-wrap dt {
	font-size: 14px; font-weight: 700;
}
.page-nav .title-wrap dd {
	color: rgb(153, 153, 153); margin-top: 2px;
}
.page-nav .links::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.page-nav .links {
	padding: 5px 0px 0px; -ms-zoom: 1;
}
.page-nav .links li {
	float: left; display: inline;
}
.page-nav .links a {
	float: left; display: inline;
}
.page-nav .links span.on {
	float: left; display: inline;
}
.page-nav .links li {
	margin: 0px 30px -1px 0px; position: relative;
}
.page-nav .links a {
	padding: 0px 12px; height: 33px; text-align: center; line-height: 35px; overflow: hidden; white-space: nowrap; position: relative; min-width: 66px; _width: 66px; _overflow: visible;
}
.page-nav .links span.on {
	padding: 0px 12px; height: 33px; text-align: center; line-height: 35px; overflow: hidden; white-space: nowrap; position: relative; min-width: 66px; _width: 66px; _overflow: visible;
}
.page-nav .links a:hover {
	text-decoration: none; background-color: rgb(225, 230, 235);
}
.page-nav .links .on {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(225, 226, 226) rgb(225, 226, 226) rgb(216,216,216); margin: -1px -1px 0px; color: rgb(0, 0, 0); font-weight: 700; background-color: rgb(255, 255, 255);
}
.page-nav .links a.on:hover {
	color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);
}
.page-nav .links a.link-jump-out {
	width: auto; min-width: 0px;
}
.page-nav .links a.link-jump-out:hover {
	text-decoration: underline; background-color: transparent;
}
.page-nav .links a.link-jump-out .ico-arrow-right {
	_margin-top: -3px;
}
.page-nav-title .links {
	float: right;
}
.page-nav-title .links li {
	margin-right: 0px; margin-left: 3px;
}
.page-nav-title .links a {
	min-width: 52px; _width: 52px;
}
.page-nav-title .links span.on {
	min-width: 52px; _width: 52px;
}
.page-nav-title .links .on {
	font-weight: 400;
}
.page-nav-app {
	min-height: 56px; _height: 56px;
}
.page-nav-app .title-wrap {
	margin-top: 13px;
}
.page-nav-app .title-wrap .app-info {
	margin-top: -2px;
}
.page-nav-app .title-wrap .app-title {
	margin: 4px 0px 2px; float: left;
}
.page-nav-app .title-wrap .app-status {
	margin: 0px 0px 0px 11px; float: left; _position: relative;
}
.page-nav-app .links {
	padding-top: 24px; float: right;
}
.page-nav-app .links li {
	margin-right: 0px; margin-left: 3px;
}
.page-nav-app .links a {
	min-width: 52px; _width: 52px;
}
.page-nav-app .links span.on {
	min-width: 52px; _width: 52px;
}
.page-nav-app .links .on {
	font-weight: 400;
}
.page-nav-app .btn-app-add {
	width: 57px; height: 21px; color: rgb(102, 102, 102); line-height: 24px; vertical-align: top; _line-height: 20px;
}
.page-nav-app .btn-app-share {
	width: 57px; height: 21px; color: rgb(102, 102, 102); line-height: 24px; vertical-align: top; _line-height: 20px;
}
.page-nav-app .btn-app-add {
	background-position: -421px 0px; text-indent: 24px;
}
.page-nav-app .btn-app-add:hover {
	background-position: -421px -22px; text-decoration: none;
}
.page-nav-app .btn-app-share {
	background-position: -421px -44px; text-indent: 27px;
}
.page-nav-app .btn-app-share:hover {
	background-position: -421px -66px; text-decoration: none;
}
.page-nav-app .app-status-added-text {
	padding: 0px 9px 0px 12px; margin-top: 5px; vertical-align: top; display: none; _margin-top: 3px; _padding-right: 5px;
}
.page-nav-app .app-status .app-share {
	padding-left: 5px; vertical-align: top; display: inline-block; position: relative; _margin-left: 0;
}
.page-nav-app .app-status .app-share-list {
	border: 1px solid rgb(179, 179, 179); left: -33px; top: 22px; width: 93px; display: none; position: absolute; background-color: rgb(255, 255, 255);
}
.page-nav-app .app-status .app-share-list a {
	height: 30px; line-height: 30px; padding-left: 35px; display: block;
}
.page-nav-app .app-status .app-share-list a:hover {
	text-decoration: none; background-color: rgb(238, 237, 237);
}
.page-nav-app .app-status .app-share-list .ico {
	left: 9px; margin-top: 7px; position: absolute;
}
.page-nav-app .app-intro {
	clear: both;
}
.page-nav-app .app-status-added .app-status-added-text {
	display: inline-block;
}
.page-nav-app .app-status-added .btn-app-add {
	display: none;
}
.page-nav-app .app-status .show-app-share-list .app-share-list {
	display: block;
}
.page-nav-ico .links {
	padding-top: 14px;
}
.page-nav-ico .links a {
	padding: 0px 12px 0px 56px; height: 40px; text-align: left; line-height: 42px; min-width: 0px; _width: auto;
}
.page-nav-ico .links span.on {
	padding: 0px 12px 0px 56px; height: 40px; text-align: left; line-height: 42px; min-width: 0px; _width: auto;
}
.page-nav-ico .links a span {
	left: 12px; top: 4px; position: absolute; cursor: pointer;
}
.page-nav-ico .links .on span {
	left: 12px; top: 4px; position: absolute; cursor: pointer;
}

.highlight {
	color: rgb(255, 102, 51);
}

#desktop {
	float: left;
	margin-top: 10px;
	width: 100%;
}

.desktop {
	float: left;
	margin-top: 10px;
	width: 100%;
}

.maindesktop {
	float: right;
	position:relative;
	_left:10px;
}

.mainmenu {
	float: left;
	width: 228px;
}

.mainMenu {
	float: left;
	/*height: 630px;*/
	width: 230px;
}

#mainMenu {
	display: none;
	float: left;
	height: 630px;
	width: 230px;
}

#menuRight {
	background-color: #FDF6F0;
	border-bottom: 2px solid #78A30C;
	border-left: 2px solid #78A30C;
	border-right: 2px solid #78A30C;
	clear: both;
	display: block;
	float: left;
	height: 750px;
	position: relative;
	width: 226px;
}

.menu_header {
	border-bottom: 1px solid #E4E4E4;
	clear: both;
	float: left;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	text-align: left;
	width: 200px;
}

.menu_header div {
	float: left;
	height: 40px;
	width: 40px;
}

.menu_header .div0 {
	background: url("../images/menu1.jpg") no-repeat scroll 15px center
		rgba(0, 0, 0, 0);
}

.menu_header .div1 {
	background: url("../images/menu2.jpg") no-repeat scroll 15px center
		rgba(0, 0, 0, 0);
}

.menu_header .div2 {
	background: url("../images/menu3.jpg") no-repeat scroll 15px center
		rgba(0, 0, 0, 0);
}

.menu_header .div3 {
	background: url("../images/menu4.jpg") no-repeat scroll 15px center
		rgba(0, 0, 0, 0);
}

#menuRight ul li {
	clear: both;
}

#menuRight ul li a {
	color: #474747;
}

#menuRight ul .item {
	border-bottom: 1px solid #E4E4E4;
	display: block;
	height: 26px;
	line-height: 26px;
	margin: 0 auto;
	vertical-align: middle;
	width: 198px;
}

#menuRight ul .item span {
	color: #FF6600;
	float: right;
	font-family: "????", "SimSun";
	font-weight: bold;
	margin-right: 20px;
}

#menuRight ul .hover span,#menuRight ul .item:hover span {
	display: none;
}

#menuRight ul .hover,#menuRight ul .item:hover {
	background-color: #FDF6F0;
	border: 2px solid #FE7C00;
	display: block;
	height: 23px;
	line-height: 23px;
	vertical-align: middle;
	width: 205px;
}

#menuRight ul .item .out,#menuRight ul .item b {
	display: none;
}

#menuRight ul .item h2,#menuRight ul .hover h2,#menuRight ul .item:hover h2
	{
	float: left;
	font-weight: normal;
	margin-left: 40px;
}

#menuRight ul .hover .out,#menuRight ul .item:hover .out {
	background-color: #FDF6F0;
	border: 2px solid #FE7C00;
	display: block;
	height: auto;
	min-height: 60px;
	min-width: 200px;
	position: absolute;
	z-index: 998;
}

#menuRight ul .hover h2 b,#menuRight ul .item:hover h2 b {
	background: none repeat scroll 0 0 #FDF6F0;
	display: block;
	height: 23px;
	overflow: hidden;
	position: absolute;
	width: 2px;
	z-index: 1001;
}

#menuRight .out ul {
	height: auto !important;
	width: auto !important;
}

#menuRight .out li {
	border-bottom: 1px solid #E4E4E4;
	float: left;
	height: 26px;
	line-height: 26px;
	margin: 0 auto;
	overflow: hidden;
	vertical-align: middle;
	width: 193px;
}

#menuRight .out li a {
	display: block;
	float: left;
	margin-left: 20px;
}

div.path {
	border: 1px solid #E4E4E4;
	border-radius: 0;
	clear: both;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
}

div.path li a {
	padding: 3px;color:#333;
}

div.path li {
	background: url(../images/w_tag.jpg) no-repeat 0 8px;
	background-size: 10px 18px;
	border: 0;
	font-weight: 100;
	color: #c4251c;
	padding: 0 8px 0 18px;
	float: left;
}

div.path li.w_firstlist {
	text-align: center;
	padding: 0 5px 0 10px;
	font-weight: bold;
	float: left;
	color: #333;
	background: none;
}

div.condition {
	border: 1px solid #E4E4E4;
	border-radius: 0;
	clear: both;
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
}

div.condition li {
	color: #c4251c;
	float: left;
	padding: 0 0 0 10px;
}

div.condition li.first {
	text-align: center;
	padding: 0 10px;
	background: #fafafa;
	font-weight: bold;
	border-right: 1px solid #e4e4e4;
	color: #333;
}
div.condition li.first a{color:#333;}