.content {
	width: 779px; padding-bottom: 30px; float: right; min-height: 0px; _height: 0px;
}
.hide {
	display: none;
}
.loading {
	background: url("../images/loading.gif") no-repeat 0px 0px; margin: 10px auto; width: 66px; height: 66px; overflow: hidden; position: relative;
}
#wrapper {
	margin: 0px auto; width: 816px; height: auto; position: relative;margin-top:5px;
}
.searchBox {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(90, 143, 205) rgb(90, 143, 205); width: 264px; height: 315px; overflow: hidden; float: left; position: relative;
}
.searchBox .header {
	width: 264px; height: 33px; position: relative;
}
.searchBox .header a.opt {
	background: url("../images/BG.jpg") repeat-x 0px 0px; width: 132px; height: 33px; text-align: center; color: rgb(255, 255, 255); line-height: 33px; overflow: hidden; font-weight: bold; text-decoration: none; vertical-align: top; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; display: inline-block; position: relative;
}
.searchBox .header a.opt .trip_ico {
	background: url("../images/icons.jpg") no-repeat 0px 0px; width: 16px; height: 23px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.searchBox .header a.opt .hotel_ico {
	background: url("../images/icons.jpg") no-repeat -34px 0px; width: 16px; height: 23px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.searchBox .header a.opt:hover {
	opacity: 0.85;
}
.searchBox .header a.on {
	background: rgb(255, 255, 255); height: 30px; color: rgb(67, 125, 193); line-height: 30px; text-decoration: none; border-top-color: rgb(67, 125, 193); border-top-width: 3px; border-top-style: solid;
}
.searchBox .header a.on .trip_ico {
	background-position: -17px 0px;
}
.searchBox .header a.on .hotel_ico {
	background-position: -51px 0px;
}
.searchBox .jp {
	padding: 18px; width: 228px; height: auto; position: relative;
}
.searchBox .jp .toggle {
	margin: 0px 1px 16px 0px; width: 69px; height: 26px; text-align: center; color: rgb(103, 103, 103); line-height: 26px; border-bottom-color: rgb(223, 222, 221); border-bottom-width: 2px; border-bottom-style: solid; display: inline-block; position: relative; cursor: pointer;
}
.searchBox .jp .on {
	color: rgb(67, 125, 193); font-weight: bold; border-bottom-color: rgb(123, 167, 219); border-bottom-width: 2px; border-bottom-style: solid;
}
.searchBox .jp .toggle i.arrow {
	display: none;
}
.searchBox .jp .on i.arrow {
	border-width: 5px; border-style: solid; border-color: rgb(123, 167, 219) transparent transparent; left: -3px; width: 0px; height: 0px; bottom: -11px; overflow: hidden; margin-left: 50%; display: inline-block; position: absolute;
}
.searchBox .line {
	padding: 3px 0px 4px; width: 100%; height: 25px; color: rgb(103, 103, 103); line-height: 25px; position: relative;
}
.searchBox .line input.radio {
	top: 2px; position: relative;
}
.searchBox .line .city {
	border: 1px solid rgb(207, 207, 207); width: 156px; height: 23px; color: rgb(103, 103, 103); line-height: 23px; text-indent: 6px; position: relative;
}
.searchBox .line .focus {
	border: 1px solid rgb(67, 125, 193);
}
.searchBox .line .cityIco {
	background: url("../images/icons.jpg") no-repeat -68px 0px; top: 7px; width: 16px; height: 16px; right: 18px; overflow: hidden; display: inline-block; position: absolute; cursor: pointer;
}
.searchBox .line .dateIco {
	background: url("../images/icons.jpg") no-repeat -85px -1px; top: 8px; width: 16px; height: 14px; right: 18px; overflow: hidden; display: inline-block; position: absolute; cursor: pointer;
}
.searchBox .line .arrow {
	top: 8px; width: 10px; height: 10px; right: 33px; overflow: hidden; display: inline-block; position: absolute; cursor: pointer;
}
.searchBox .line .arrow .blue {
	border-width: 5px; border-style: solid; border-color: rgb(79, 141, 212) transparent transparent; top: 5px; width: 0px; height: 0px; overflow: hidden; position: absolute;
}
.searchBox .line .arrow .white {
	border-width: 5px; border-style: solid; border-color: rgb(255, 255, 255) transparent transparent; top: 4px; width: 0px; height: 0px; overflow: hidden; position: absolute; z-index: 1;
}
.searchBox .line a.switch_city {
	background: url("../images/switch_city.gif") no-repeat 0px 0px; top: 10px; width: 18px; height: 40px; right: -10px; overflow: hidden; text-decoration: none; display: block; position: absolute; cursor: pointer;
}
.searchBox .line a.switch_city:hover {
	background-position: -19px 0px;
}
.searchBox a.searchBtn {
	background: url("../images/buttons.jpg") no-repeat 0px 0px; margin: 8px 0px 0px 60px; width: 75px; height: 34px; text-decoration: none; display: block;
}
.searchBox a.searchBtn:hover {
	opacity: 0.85;
}
.searchBox a.history {
	width: auto; height: 14px; right: 14px; bottom: 13px; color: rgb(67, 125, 193); line-height: 14px; padding-right: 13px; text-decoration: none; display: inline-block; position: absolute;
}
.searchBox a.history .blue_arrow {
	border-width: 5px; border-style: solid; border-color: rgb(67, 125, 193) transparent transparent; top: 4px; width: 0px; height: 0px; right: 0px; overflow: hidden; display: block; position: absolute; z-index: 0;
}
.searchBox a.history .white_arrow {
	border-width: 5px; border-style: solid; border-color: rgb(255, 255, 255) transparent transparent; top: 3px; width: 0px; height: 0px; right: 0px; overflow: hidden; display: block; position: absolute; z-index: 1;
}
.searchBox a.history:hover {
	opacity: 0.85;
}
.searchBox .hotel {
	padding: 18px; width: 228px; height: auto; position: relative;
}
.searchBox .hotel h1 {
	margin: 0px; padding: 0px 0px 15px; color: rgb(103, 103, 103); font-size: 12px; position: relative;
}
.searchBox .hotel .line .cityIco {
	right: 10px;
}
.searchBox .hotel .line .dateIco {
	right: 10px;
}
.searchBox .hotel .line .select {
	border: 1px solid rgb(207, 207, 207); width: 156px; height: 23px; color: rgb(103, 103, 103); line-height: 23px; text-indent: 6px; display: inline-block; position: relative; cursor: pointer;
}
.searchBox .hotel .line .arrow {
	right: 15px;
}
.searchBox .hotel a.searchBtn {
	margin-left: 65px;
}
.banner {
	margin: 0px 0px 0px 271px; width: 508px; height: 315px; position: relative;
}
.part {
	padding: 20px 22px 16px; border: 1px solid rgb(223, 223, 223); width: 733px; height: 315px; margin-top: 5px; position: relative;
}

.intro {
	margin: 30px 0px 20px 10px; clear: both;
}
.intro ol {
	margin: 5px 0px 0px 5px; color: rgb(102, 102, 102); line-height: 1.5; padding-left: 20px;
}
.intro li {
	list-style: decimal; padding: 2px 0px;
}

.mainnav-link .nav-youhui {
	color: rgb(255, 143, 0); text-decoration: none; border-bottom-color: rgb(255, 143, 0); border-bottom-width: 3px; border-bottom-style: solid;
}
.mainnav-link .nav-youhui .alt-bg {
	background-position: -257px -74px;
}

