@charset "UTF-8";

/*----------member-header-----------*/
div.member-header {
    background: #eb3341;
    height: 36px;
    padding: 12px 0;
    position: relative;
    z-index: 5;
    margin-top: 30px;
}
div.member-header .logo {
    float: left;
    position: relative;
    overflow: hidden;
    width: 16%;
    height: 35px;
}
div.member-header .logo a {
    font-size: 26px;
    color: #fff;
    font-weight: 600;
}
div.member-header .nav {
    float: right;
    width: 82%;
}
div.member-header .nav li {
    position: relative;
    float: left;
    cursor: pointer;
    z-index: 1;
    height: 50px;
    font: 400 14px/36px tahoma;
    line-height: 39px\9;
}
div.member-header .nav li a:link,div.member-header .nav li a:visited {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0 25px;
    color: #fff;
}
div.member-header .nav li.selected .arrow {
    border-style: solid;
    border-width: 6px;
    font-size: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    width: 0;
    border-color: #eb3341 #eb3341 #fff;
    left: 50%;
    margin-left: -6px;
    box-shadow: 0 1px 0 #fff;
    bottom: 2px;
}
div.member-header .search-field {
    /*width: 322px;*/
    float: right;
    background: #eb3341;
    height: 36px;
    /*margin-top: 4px;*/
}
div.member-header .search-field button {
    text-indent: 0;
    font-size: 12px;
    color: #666;
    background: #fff;
    height: 36px;
    line-height: 36px;
    width: 70px;
    border: 0;
    margin-right: 1px;
    float: left;
}
div.member-header .search-field input {
    height: 26px;
    line-height: 26px;
    padding: 5px;
    border: 0;
    width: 230px;
    float: left;
}
/*------------------*/
div.member-content {
    margin-top: 5px;
}
div.personal {
    background: #333;
    color: #fff;
    position: relative;
    z-index: 999;
}
div.personal .info {
    padding: 10px;
}
div.personal .pic {
    padding: 26px;
}
div.personal .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #e4e4e4;
    overflow: hidden;
}
div.personal .avatar img {
    width: 100%;
    height: 100%;
}
div.personal .text {
    text-align: center;
    border-bottom: 1px dashed #e4e4e4;
    padding-bottom: 10px;
}
div.personal .name em {
    font-size: 14px;
}
div.personal .level i {
    font-size: 20px;
    color: #eb3341;
    padding-right: 5px;
}
div.personal .level span {
    font-size: 14px;
    display: inline-block;
    background-color: #fb4004;
    width: 16px;
    height: 16px;
    line-height: 16px;
    padding: 2px;
}
div.personal .level em {
    font-size: 12px;
}
div.personal .balance {
    padding: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}
div.personal .balance .color {
    color: #fb4004;
}
/*------*/
div.menu {
    background: #e4e4e4;
    color: #333333;
}
div.menu .menu-item {
    padding: 0 10px 280px;
}
div.menu .menu-item .li {
    line-height: 60px;
    border-bottom: 1px dashed #999;
    height: 60px;
    cursor: pointer;
}
div.menu .menu-item .wire {
    border-bottom: 0;
}
div.menu .menu-item .li.selected a {
    color: #eb3341;
}
div.menu .menu-item .li a {
    padding: 0 10px;
    font-size: 18px;
    display: block;
    height: 60px;
}
div.menu .menu-item .li:hover a {
    color: #eb3341;
}
div.menu .menu-item .li span {
    float: left;
}
div.menu .menu-item .li em {
    float: right;
    font-size: 22px;
    /*font-family: consolas;*/
    font-family: simsun;
    font-weight: 600;
}
/*-------------------*/
div.my-order-header {
    margin-bottom: 22px;
    margin-top: 15px;
    font-size: 16px;
    border-bottom: 2px solid #E8E8E8;
}
div.my-order-header .li {
    padding: 0 30px 12px;
    position: relative;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    cursor: pointer;
    bottom: -2px;
}
div.my-order-header .li.selected {
    border-bottom: 2px solid #ff6000;
}
div.my-order-header .li.selected a {
    color: #ff6000;
}
div.my-order-header .li:hover a {
    color: #ff6000;
}
div.my-order-header .li .title {
    font-weight: 700;
}
div.my-order-header .li .wire {
    background-color: #E8E8E8;
    width: 1px;
    height: 14px;
    top: 2px;
    right: 0px;
    font-size: 0px;
    color: #E8E8E8;
    position: absolute;
}
div.my-order-header .li em {
    color: #ff6000;
}
/*------------------*/
div.my-order-main {

}
div.my-order-th {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    background-color: #F5F5F5;
    border: 1px solid #e4e4e4;
}
div.my-order-th .th {
    float: left;
    text-align: center;
}
div.my-order-th .th-buynum,div.my-order-th .th-refundnum {
    width: 185px;
    text-align: center;
}
div.my-order-th .th-item,div.my-order-list .td-item {
    width: 370px;
    padding-left: 20px;
}
div.my-order-th .th-price,div.my-order-list .td-price {
    width: 110px;
    text-align: center;
}
div.my-order-list .td-buynum,div.my-order-list .td-refundnum {
    width: 185px;
    text-align: center;
}
div.my-order-th .th-amount,div.my-order-list .td-amount {
    width: 80px;
    text-align: center;
}
div.my-order-th .th-sum,div.my-order-list .td-sum {
    width: 180px;
    text-align: center;
}
div.my-order-th .th-status,div.my-order-list .td-status {
    width: 110px;
    text-align: center;
}
div.my-order-th .th-op,div.my-order-list .td-op {
    width: 110px;
    text-align: center;
}

div.my-order-page {
    padding: 10px 0;
    overflow: hidden;
}
div.my-order-page .li {
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    line-height: 18px;
    padding: 0px 8px;
    border: 1px solid #e4e4e4;
    height: 18px;
    position: relative;
}
div.my-order-page .up span {
    padding-left: 8px;
}
div.my-order-page .next span {
    padding-right: 8px;
}
div.my-order-page .up {
    margin-right: 10px;
    /*color: #e4e4e4;*/
    float: left;
}
div.my-order-page i {
    display: inline-block;
    width: 0;
    height: 0;
    border-top-style: solid;
    border-top-color: transparent;
    border-top-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    border-bottom-width: 4px;
    position: absolute;
    top: 5px;
}
div.my-order-page .up i {
    border-right-style: solid;
    border-right-color: #6C6C6C;
    border-right-width: 4px;
    left: 5px;
}
div.my-order-page .next i {
    border-left-style: solid;
    border-left-color: #6C6C6C;
    border-left-width: 4px;
    margin-left: 8px;
    right: 5px;
}
div.my-order-page .up i.on {
    border-right-color: #ff6000;
}
div.my-order-page .next i.on {
    border-left-color: #ff6000;
}
/*------------------------*/
div.my-order-list {

}
div.order-list-item .unfold {
    position: absolute;
    right: 15px;
    top: 125px;
    color: #0033fb;
    cursor: pointer;
}
div.order-list-item {
    border: 1px solid #e4e4e4;
    margin-bottom: 10px;
    position: relative;
}
div.order-list-item:hover {
    border: 1px solid #f60000;
}
div.order-list-info {
    background: #f5f5f5;
    position: relative;
    height: 38px;
    overflow: hidden;
    color: #333;
}
div.order-list-info span {
    display: inline-block;
    line-height: 38px;
    float: left;
}
div.order-list-info .tr {
    position: relative;
    z-index: 2;
    line-height: 38px;
    padding-left: 15px;
    padding-right: 50px;
    _padding-top: 8px;
}
div.order-list-info .td {
    display: inline-block;
    float: left;
}
div.order-list-info .title {
    padding-left: 100px;
}
div.order-list-info .checkbox {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    overflow: hidden;
    margin-top: 12px;
    _margin-top: 6px;
    *margin-top:13px;
    vertical-align: middle;
    float: left;
}
div.order-list-info .checkbox input {
    position: absolute;
    z-index: 0;
    left: -20px;
    top: -20px;
}
div.order-list-info .checkbox label {
    position: relative;
    z-index: 1;
    float: left;
    width: 15px;
    height: 15px;
    background-position: 0 0;
    line-height: 200em;
    overflow: hidden;
    cursor: pointer;
}
div.order-list-info .date {
    padding: 0 5px;
}
div.order-list-info .name {
    display: inline-block;
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
}
div.order-list-info .level {
    color: #eb3341;
    padding-left: 5px;
}
div.order-list-info .delete {
    position: absolute;
    right: 0px;
    padding: 10px;
    _padding:0px;
    *padding:0px;
    padding:0px\9;
}
div.order-list-info .delete a {
    height: 17px;
    width: 1px;
    padding-left: 17px;
    overflow: hidden;
    vertical-align: middle;
    font-size: 0px;
    display: inline-block;
    visibility: visible;
    background: url(//img.alicdn.com/tps/i1/TB1heyGFVXXXXXpXXXXR3Ey7pXX-550-260.png) no-repeat -239px -176px;
}

/*-------*/
div.order-list-content li {
    position: relative;
    float: left;
    height: 82px;
    overflow: hidden;
    _overflow: visible;
    _zoom: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    border-right-width: 0;
    border-right-style: solid;
    border-right-color: #E8E8E8;
    border-top-width: 0;
    border-top-style: solid;
    border-top-color: #E8E8E8;
}
div.order-list-content .item-pic {
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    float: left;
    overflow: hidden;
}
div.order-list-content .item-pic a {
    display: table-cell;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    text-align: center;
}
div.order-list-content .item-info {
    margin: 0 0 0 91px;
}
div.order-list-content .item-basic-info {
    height: 40px;
    padding-bottom: 10px;
}
div.order-list-content .item-title {
    display: block;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    _height: expression(this.scrollHeight > 36 ? "36px" : "auto");
}
div.order-list-content .item-props {
    display: inline-block;
}
div.order-list-content .item-props span {
    display: inline-block;
}
div.order-list-content .td-sum .color {
    color:#333;
    font-size: 14px;
    font-weight: 600;
}
div.order-list-content .td-status a,div.order-list-content .td-op a {
    display: block;
    padding-bottom: 2px;
}
div.order-list-content .td-op a {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    background: #eb3341;
}
div.order-list-content .td-op .check {
    color: #333;
    background: #f1f1f1;
}
div.order-list-content .td-op span {
    display:block;
    padding-top: 10px;
}
div.order-list-content .border-right {
    border-right-width: 1px;
}
div.order-list-content .border-top {
    border-top-width: 1px;
}
div.order-list-content .price-line em {
    display: block;
    text-decoration: line-through;
    color:#999;
    padding-bottom: 5px;
}
/*-----*/
div.order-list-content .item-insurance li {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
}

/*-------------*/
div.my-order-footer {
    padding: 20px 0;
    float: right;
}
div.my-order-footer .p-num {
    float: left;
}
div.my-order-footer .p-skip {
    float: left;
    margin-left: 30px;
}
div.my-order-footer .p-num a {
    color: #333;
    border: 1px solid #e4e4e4;
    background-color: #fff;
}
div.my-order-footer .p-num a i {
    font-family: simsun;
    font-size: 16px;
}
div.my-order-footer .p-num .pn-next.disabled, div.my-order-footer .p-num .pn-prev.disabled {
    background: 0 0;
    background: #fff;
    cursor: no-drop;
    color: #999;
}
div.my-order-footer .p-num a, div.my-order-footer .p-num b {
    float: left;
    height: 34px;
    line-height: 34px;
    padding: 0 14px;
    margin-right: 5px;
    font-size: 14px;
}
div.my-order-footer .p-num a {
    color: #333;
    border: 1px solid #e4e4e4;
    background-color: #fff;
}
div.my-order-footer .p-num a.curr {
    /* border: 0 none; */
    padding: 0px 15px;
    background: #eb3341;
    filter: none;
    color: #fff;
    cursor: default;
}
div.my-order-footer .p-skip em {
    float: left;
    line-height: 34px;
    font-size: 14px;
}
div.my-order-footer .p-skip .input-txt {
    float: left;
    width: 36px;
    height: 26px;
    margin: 0 3px;
    line-height: 26px;
    font-size: 14px;
    text-align: center;
    padding: 3px;
}
div.my-order-footer .p-skip .btn {
    float: left;
    height: 34px;
    margin-left: 10px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 34px;
    border: 1px solid #e4e4e4;
    color: #333;
}
/*---------评价---------*/
div.evaluate-con {
    border-top: 1px solid #e4e4e4;
}
div.evaluate-con dl {
    position: relative;
    padding: 20px 20px 20px 0;
    line-height: 38px;
}
div.evaluate-con dl dt {
    position: absolute;
    left: 0;
    width: 90px;
    color: #666;
    text-align: right;
}
div.evaluate-con dl dt i {
    position: absolute;
    top: 0;
    left: 40px;
    color: #eb3341;
    font-size: 14px;
    padding: 0 5px;
}
div.evaluate-con dl dd {
    position: relative;
    padding-left: 106px;
}
div.evaluate-con .textarea {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 6px 8px;
    line-height: 16px;
    color: #666;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
    vertical-align: top;
    width: 70%;
    _width: 396px;
    resize: both;
}
div.evaluate-con .open-btn {
    padding-top: 10px !important;
    font-size: 16px;
    line-height: 34px;
}
div.evaluate-con .open-btn a {
    display: inline-block;
    width: 104px;
    height: 34px;
    overflow: hidden;
    background-color: #ffa701;
    text-align: center;
    color: #fff;
    margin-right: 10px !important;
}
div.evaluate-con .title {
    position: absolute;
    bottom: 0;
    right: 250px;
}
/*-------我的收藏--------*/
div.my-collect-header {
    margin-top: 15px;
    font-size: 16px;
    border-bottom: 2px solid #E8E8E8;
    height: 34px;
}
div.my-collect-header .li {
    padding: 0 30px 12px;
    position: relative;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    cursor: pointer;
    bottom: -2px;
    _bottom: -4px;
    *_bottom: -4px;
    bottom: -4px\9;
}
div.my-collect-header .li.selected {
    border-bottom: 2px solid #ff6000;
}
div.my-collect-header .li.selected a {
    color: #ff6000;
}
div.my-collect-header .li a:hover {
    color: #ff6000;
}
div.my-collect-header .li .wire {
    background-color: #E8E8E8;
    width: 1px;
    height: 14px;
    top: 2px;
    right: 0px;
    font-size: 0px;
    color: #E8E8E8;
    position: absolute;
}
div.my-collect-h-r {
    line-height: 38px;
    display: inline-block;
    font-size: 12px;
}
div.my-collect-header .select-all {
    width: 60px;
    display: inline-block;
    float: left;
}
div.my-collect-header .checkbox {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    overflow: hidden;
    margin-top: 12px;
    _margin-top: 6px;
    vertical-align: middle;
    float: left;
}
div.my-collect-header .checkbox input {
    position: absolute;
    z-index: 0;
    left: -20px;
    top: -20px;
}
div.my-collect-header .checkbox label {
    position: relative;
    z-index: 1;
    float: left;
    width: 15px;
    height: 15px;
    background-position: 0 0;
    line-height: 200em;
    overflow: hidden;
    cursor: pointer;
}
div.my-collect-header .select-all span {
    line-height: 38px;
    font-size: 12px;
    padding-left: 5px;
}
div.my-collect-header .delete {
    display: inline-block;
    float: left;
    padding-right: 10px;
}
div.my-collect-header .search {
    display: inline-block;
    float: left;
}
div.my-collect-header .delete a {
    height: 18px;
    width: 1px;
    padding-left: 17px;
    overflow: hidden;
    vertical-align: middle;
    font-size: 0px;
    display: inline-block;
    visibility: visible;
    background: url(//img.alicdn.com/tps/i1/TB1heyGFVXXXXXpXXXXR3Ey7pXX-550-260.png) no-repeat -239px -176px;
}
div.my-collect-header .search-field button {
    text-indent: 0;
    font-size: 12px;
    color: #666;
    background: #f1f1f1;
    height: 26px;
    line-height: 26px;
    width: 40px;
    border: 1px solid #e4e4e4;
    margin-left: -1px;
}
div.my-collect-header .search-field input {
    height: 20px;
    line-height: 24px;
    padding: 2px;
    border: 1px solid #e4e4e4;
    width: 130px;
}
div.my-collect-content {
    padding: 10px 0 50px 0;
}
div.my-collect-content .left {
    width: 280px;
}
div.my-collect-content .content {
    width: 710px;
}
div.my-collect-content .li {
    padding:25px 0 10px 0;
    border-bottom: 1px solid #e4e4e4;
    display: inline-block;
    width: 100%;
}
div.my-collect-content .left .pic {
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left;
}
div.my-collect-content .left .collect-info {
    display: inline-block;
    float: left;
    margin-left: 15px;
}
div.my-collect-content .left span {
    display: block;
    padding-top: 10px;
}
div.my-collect-content .left .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
}
div.my-collect-content .left .main,div.my-collect-content .left .company {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 210px;
}
div.my-collect-content .left .label {
    width: 200px;
}
div.my-collect-content .left .label a {
    display: inline-block;
    padding: 2px 8px;
    /*background-color: #eb3341;*/
    margin: 0 10px 10px 0;
    color: #fff;
    border-radius: 5px;
}
div.my-collect-content .content .nav {
    line-height: 30px;
    height: 30px;
}
div.my-collect-content .content .nav .f-left span {
    border: 1px solid #e4e4e4;
    padding: 5px 20px;
    cursor: pointer;
}
div.my-collect-content .content .nav .f-left span:hover {
    color: #eb3341;
}
div.my-collect-content .content .nav .f-left em {
    padding-left: 4px;
}
div.my-collect-content .content .nav .f-left span.curr {
    background-color: #f1f1f1;
    color: #eb3341;
}
div.collect-show {
    margin-top: 15px;
    display: inline-block;
    margin-left: -34px;
    overflow: hidden;
    min-height: 190px;
    height: 190px;
}
div.collect-show li {
    width: 150px;
    height: 190px;
    float: left;
    text-align: center;
    overflow: hidden;
    margin-left: 34px;
    cursor: pointer;
}
div.collect-show li a {
    border: 1px solid #e4e4e4;
    display: inline-block;
}
div.collect-show li a img {
    display: inline-block;
    width: 148px;
    height: 148px;
}
div.collect-show li span {
    color: #eb3341;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
    display: inline-block;
}
/*------*/
div.my-collect-products {
    padding: 20px 0;
    display: inline-block;
    margin-left: -25px;
}
div.my-collect-products li {
    width: 150px;
    height: 220px;
    float: left;
    overflow: hidden;
    margin-left: 52px;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
}
div.my-collect-products li a {
    display: inline-block;
}
div.my-collect-products img {
    width: 148px;
    height: 148px;
    border: 1px solid #e4e4e4;
}
div.my-collect-products .depict {
    width: 100%;
    position: absolute;
    top:125px;
    left: 0;
    height: 25px;
    line-height: 25px;
    background: #333;
    opacity: .6;
    filter: progid:DXImageTransform.Microsoft.alpha(opacity=60);
}
div.my-collect-products .depict a {
    width: 50%;
    float: left;
    text-align: center;
    color: #fff;
}
div.my-collect-products .depict a:hover {
    text-decoration: underline;
}
div.my-collect-products .title {
    display: inline-block;
    width: 140px;
    padding: 10px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.my-collect-products .price {
    text-align: center;
    position: relative;
    overflow: hidden;
}
div.my-collect-products .price .color {
    color:#eb3341;
    font-size: 14px;
}
div.my-collect-products .price em {
    text-decoration: line-through;
    color: #999;
}
div.my-collect-products .price i {

}
div.my-collect-products .delete {
    padding: 5px;
    background-color: #333;
    position: absolute;
    top: 0;
    right: 0;
}
div.my-collect-products .delete:hover {
    background-color: #ff0055;
}
div.my-collect-products .delete i {
    height: 18px;
    width: 1px;
    padding-left: 17px;
    overflow: hidden;
    vertical-align: middle;
    font-size: 0px;
    display: inline-block;
    visibility: visible;
    background: url(//img.alicdn.com/tps/i1/TB1heyGFVXXXXXpXXXXR3Ey7pXX-550-260.png) no-repeat -238px -175px;
}
/*-------------我的钱包--------------*/
div.my-wallet {
    /*border: 1px solid #e4e4e4;*/
}
div.my-wallet .assets {
    padding: 0 20px;
    font-size: 16px;
    border: 1px solid #e4e4e4;
}
div.my-wallet .assets .dl {
    padding: 20px 0;
}
div.my-wallet .assets .dt {
    padding-bottom: 5px;
}
div.my-wallet .assets .dd {
    display: inline-block;
}
div.my-wallet .assets span {
    display: inline-block;
}
div.my-wallet .assets .sum {
    font-weight: 600;
    padding-top: 8px;
    padding-right: 40px;
    float: left;
}
div.my-wallet .assets .text {
    padding-left: 30px;
    line-height: 26px;
    float: left;
    color: #999;
}
div.my-wallet .assets .wire {
    border: none;
    border-bottom: 1px solid #e4e4e4;
}
div.my-wallet .assets .dd a {
    display: inline-block;
    float: left;
    padding: 5px 20px;
    height: 16px;
    line-height: 16px;
    background-color: #ff3341;
    color: #fff;
    border-radius: 5px;
}
div.my-wallet .assets .ul {
    display: inline-block;
    float: left;
    /*width: 700px;*/
}
div.my-wallet .assets .li {
    display: inline-block;
    float: left;
    padding:0 30px;
}
div.my-wallet .assets .ul {
    margin-top: -6px;
}
div.my-wallet .assets .ul .wire {
    border: none;
    border-right: 1px solid #e4e4e4;
}
div.my-wallet .assets .li span {
    display: block;
    color: #999;
}
div.my-wallet .assets .li em {
    color: #333;
}
div.my-wallet .assets .li .title {
    font-size: 12px;
}
/*--默认银行卡--*/
div.default-card {
    border: 1px solid #e4e4e4;
    border-top: 0;
}
div.default-card .default-card-hd {
    padding: 15px 20px;
    font-size: 16px;
    background-color: #f6f6f6;
}
div.default-card .default-card-item {
    padding: 15px 20px;
    font-size: 14px;
    border-top: 1px solid #e4e4e4;
}
div.default-card .default-card-item span {
    vertical-align: middle;
}
div.default-card .default-card-item .control {
    display: inline-block;
    padding-left: 40px;
    vertical-align: middle;
    color: #0033ff;
}
div.default-card .logo {
    display: inline-block;
    width: 130px;
    height: 40px;
    line-height: 40px;
}
div.default-card .card-no {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
}
/*------------我的银行卡---------------*/
div.my-bank-card {
    border: 1px solid #e4e4e4;
    /*display: inline-block;*/
}
div.my-bank-card-hd {
    line-height: 50px;
    height: 50px;
    background-color: #f6f6f6;
    padding-left: 20px;
    font-size: 16px;
    border-bottom: 1px solid #e4e4e4;
}
div.my-bank-card-hd a:hover {
    color: #0033ff;
}
div.my-bank-card-list {
    padding: 20px 15px;
    display: inline-block;
    margin-left: -2px;
}
div.my-bank-card-list .my-bank-card-item {
    position: relative;
    float: left;
    margin: 20px 30px;
    width: 218px;
    height: 126px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 10px 20px;
}
div.my-bank-card-list .add-card {
    border: 1px dashed #e4e4e4;
}
div.my-bank-card-list .add-card a {
    position: relative;
    color: #c9c9c9;
    font-size: 14px;
    display: block;
    width: 100%;
    line-height: 126px;
    text-align: center;
}
div.my-bank-card-list .add-card a i {
    font-size: 60px;
    font-family: sans-serif;
    position: absolute;
    top: 0;
}
div.my-bank-card-list .add-card a span {
    padding-left: 40px;
}
div.my-bank-card-list .card-info {
    border-bottom: 1px solid #e4e4e4;
    float: left;
    width: 100%;
    height: 41px;
    line-height: 40px;
    position: relative;
}
div.my-bank-card-list .card-info .title {
    position: absolute;
    top: 0;
    right: 0;
    color: #0033ff;
}
div.my-bank-card-list .card-info span {
    display: inline-block;
    line-height: 40px;
}
div.my-bank-card-list .card-num {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 18px 0;
    float: left;
    width: 100%;
}
div.my-bank-card-list .logo {
    display: inline-block;
    width: 130px;
    height: 40px;
    line-height: 40px;
}
div.my-bank-card-list .delete {
    display: inline-block;
    width: 100%;
    text-align: right;
}
/*--------账单记录---------*/
div.bill-record {
    margin-top: 20px;
}
div.bill-record .display-n {
    display: none;
}
div.bill-record-hd {
    padding: 15px 20px;
    font-size: 16px;
    background-color: #f6f6f6;
    line-height: 20px;
    height: 20px;
    border: 1px solid #e4e4e4;
    border-bottom: none;
}
div.bill-record-hd .date {
    display: inline-block;
    padding-left: 20px;
    /*cursor: pointer;*/
    float: left;
}
div.bill-record-hd .date .date_input {
    border: 0px;
    width: 80px;
    font-size: 16px;
    color: rgb(102, 102, 102);
    position: relative;
    z-index: 1000;
    background: url('../images/blank.gif');
    cursor: pointer;
}
div.bill-record-hd .date i {
    position: relative;
    left: -20px;
}
div.bill-record-hd h2 {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    float: left;
}
div.bill-record-hd .date i {
    color: #999;
}
div.bill-record-list-nav {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-bottom: 2px solid #999;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
div.bill-record-list-nav .li {
    float: left;
    padding: 0 35px;
    cursor: pointer;
    font-weight: 600;
}
div.bill-record-list-nav .li:hover {
    color: #fb0600;
}
div.bill-record-list-nav .li.selected {
    border-bottom: 2px solid #fb0600;
    color: #fb0600;
}
div.bill-record-list-item {
    display: inline-block;
    border: 1px solid #e4e4e4;
    border-top: none;
}
div.bill-record-list-item .li {
    float: left;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    width: 100%;
}
div.bill-record-list-item .bg {
    background-color: #f6f6f6;
}
div.bill-record-list-item .li span {
    display: inline-block;
    text-align: center;
}
div.bill-record-list-item .li .date {
    width: 115px;
}
div.bill-record-list-item .li .info {
    width: 100px;
}
div.bill-record-list-item .li .pay-num {
    width: 340px;
}
div.bill-record-list-item .li .price {
    width: 150px;
    color: #fb0600;
    font-weight: 600;
}
div.bill-record-list-item .li .status {
    width: 170px;
}
div.bill-record-list-item .li .details {
    width: 90px;
}
/*------统计-------*/
div.bill-record-list-items .ul {
    border: 1px solid #e4e4e4;
    margin-bottom: 20px;
}
div.bill-record-list-items .ul .li {
    padding: 0 25px;
    height: 82px;
}
div.bill-record-list-items .ul .bg {
    background-color: #f6f6f6;
}
div.bill-record-list-items .ul .li .left {
    float: left;
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 25px 0;
    overflow: hidden;
}
div.bill-record-list-items .ul .li .img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    /*background-color: #fb0600;*/
    position: relative;
}
div.bill-record-list-items .ul .li .img i {
    position: absolute;
    top: 0;
    left: 0;
}
div.bill-record-list-items .ul .li .right {
    float: left;
    width: 860px;
    padding: 25px 0 25px 20px;
}
div.bill-record-list-items .ul .li .right .info {
    padding-bottom: 10px;
    text-align: right;
}
div.bill-record-list-items .ul .li .right .info em {
    padding-left: 10px;
}
div.bill-record-list-items .ul .progress-bar {
    width: 500px;
    overflow: hidden;
}
div.bill-record-list-items .ul .progress-bar .wire-bar {
    /*background-color: #fb0600;*/
    height: 6px;
    border-radius: 3px;
}
/*------------------安全设置-------------------*/
div.my-settings {
    margin-bottom: 50px;
}
div.my-settings h1 {
    padding: 25px 20px 15px;
    font-size: 18px;
    font-weight: 600;
}
div.my-settings h2 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
}
div.my-settings .basic-info,div.my-settings .security {
    padding: 20px 0 20px 20px;
    border-top: 1px solid #e4e4e4;
}
div.my-settings dl {
    position: relative;
    line-height: 38px;
    font-size: 14px;
}
div.basic-info input,div.basic-info select {
    color: #999;
    font-weight: 600;
}
div.basic-info select {
    height: 28px;
}
div.basic-info dt {
    position: absolute;
    left: 0;
    width: 100px;
    color: #666;
    text-align: right;
}
div.basic-info dd {
    position: relative;
    padding-left: 110px;
    padding-bottom: 5px;
    padding-top: 5px;
    _padding-bottom: 0px;
    *padding-bottom: 0px;
    padding-bottom: 0px\9;
    _padding-top: 0px;
    *padding-top: 0px;
    padding-top: 0px\9;
}
div.basic-info .location {
    padding-top: 5px;
    _padding-top: 0px;
    *padding-top: 0px;
    padding-top: 0px\9;
}
div.basic-info .address input {
    width: 360px;
}
div.basic-info .save {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    padding-left: 40px;
    color: #0033ff;
}
/*-----------*/
div.security-level {
    font-size: 14px;
    color: #333;
    padding: 20px;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px dashed #e4e4e4;
}
div.security-level .dd {
    float: left;
    display: inline-block;
}
div.security-level .level-bar-bg {
    width: 380px;
    height: 12px;
    background-color: #e1e1e1;
    margin: 5px 20px 0 20px;
    border-radius: 5px;
}
div.security-level .level-bar {
    width: 66%;
    height: 12px;
    background-color: #fb0;
    border-radius: 5px;
}
div.security-level .dd a {
    color: #0033ff;
}
/*--*/
div.security .li {

}
div.security .li-hd {
    position: relative;
    padding: 30px 0;
    border-bottom: 1px dashed #e4e4e4;
}
div.security .li-hd i {
    position: absolute;
    font-size: 26px;
    top: 22px;
    left: 0;
    color: #eb3341;
}
div.security .li-hd .hint {
    padding-left: 30px;
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
}
div.security .li-hd .hint span {
    padding-right: 20px;
    display: inline-block;
    float: left;
}
div.security .li-hd .hint a {
    position: absolute;
    right: 0;
    color: #0033ff;
}
div.security .li-hd .hint .title {
    width: 600px;
}
div.security .li-main {
    padding:20px 0 20px 30px;
}
div.security .li-main dl {
    position: relative;
    line-height: 44px;
    font-size: 14px;
}
div.security .li-main dt {
    position: absolute;
    left: 0;
    width: 120px;
    color: #666;
    text-align: left;
}
div.security .li-main dd {
    position: relative;
    padding-left: 120px;
    padding-bottom: 8px;
    padding-top: 8px;
    _padding-bottom: 0px;
    padding-bottom: 0px\9;
    _padding-top: 0px;
    padding-top: 0px\9;
}
div.security .li-main .save-btn {
    display: inline-block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    background-color: #ffa701;
    text-align: center;
    color: #fff;
}
div.security .li-main input.text {
    width: 210px;
}
div.security .li-main .verify-code {
    height: 28px;
    line-height: 28px;
    _padding-bottom: 8px;
    _padding-top: 8px;
    *padding-bottom: 8px;
    *padding-top: 8px;
}
div.security .li-main .verify-code input.text {
    width: 100px;
    vertical-align: top;
}
div.security .li-main .verify-code img {
    width: 100px;
    height: 28px;
    cursor: pointer;
    vertical-align: top;
}
div.security .li-main .verify-code a {
    color: #0033ff;
}
/*------------订单详情--------------*/
div.order-info-guide {
    width: 990px;
    overflow: hidden;
    /*height: 200px;*/
}
div.order-info-guide .guide {
    padding-top: 60px;
    overflow: hidden;
}
div.order-info-guide .guide .processOne {
    left: 0;
}
div.order-info-guide .guide .title {
    padding: 0;
    top: 5px;
}
div.order-info-guide .guide .title h1 {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
}
div.order-info-guide .guide .processBar {
    width: 240px;
    left: -105px;
}

div.order-info-guide .guide .guideProcessAll {
    font-size: 14px;
}
div.order-info-guide .guide .processTwo {
    left: 240px;
}
div.order-info-guide .guide .processThree {
    left: 480px;
}
div.order-info-guide .guide .processFour {
    left: 720px;
}
div.order-info-guide .guide .processFive {
    left: 960px;
}

div.order-info-guide .guideProcess .word {
    top:-20px;
    left: -35px;
}
div.order-info-guide .guideProcess .time {
    position: absolute;
    top: 40px;
    left: -55px;
    color: #999;
    width: 150px;
    text-align: center;
}
div.order-info-guide .processOne .time {
    text-align: left;
    left: 0;
}
div.order-info-guide .processFive .time {
    text-align: right;
    left: -120px;
}
div.order-info-guide .processOne .word {
    text-align: left;
    left: 0;
}
div.order-info-guide .processFive .word {
    text-align: right;
    left: -70px;
}
/*--*/
div.order-info-guide .order-info {
    border: 1px solid #ccc;
    display: inline-block;
}
div.order-info-guide .info-left {
    width: 330px;
    height: 195px;
    float: left;
    background-color: #f9f9f9;
    padding: 25px 129px 50px 35px;
}
div.order-info-guide .info-left h1 {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
}
div.order-info-guide .info-left dl {
    font-size: 14px;
}
div.order-info-guide .info-left dt {
    width: 75px;
    float: left;
}
div.order-info-guide .info-left dd {
    padding-left: 80px;
    padding-bottom: 5px;
}
div.order-info-guide .order-info .right {
    width: 424px;
    float: right;
    height: 195px;
    padding: 25px 35px 50px 35px;
    position:relative;
}
div.order-info-guide .order-info .right h1 {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-top: 15px;
}
div.order-info-guide .order-info .right h1 span {
    font-weight: normal;
}
div.order-info-guide .order-info .right i {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid #eb3341;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    color: #eb3341;
    position: absolute;
    top: 10px;
}
div.order-info-guide .order-info .status {
    position: relative;
}
div.order-info-guide .order-info .right dl {
    padding-left: 50px;
    font-size: 14px;
}
div.order-info-guide .order-info .right dt {
    width: 70px;
    float: left;
    padding-bottom: 5px;
}
div.order-info-guide .order-info .right dd {
    display: inline-block;
    float: left;
    padding-bottom: 5px;
}
div.order-info-guide .order-info .right .status-left {
    width:160px;
}
div.order-info-guide .order-info .right .status-right {
    width:70px;
}
div.order-info-guide .order-info .right a {
    position: absolute;
    top: 180px;
    left: 85px;
    display: inline-block;
    padding: 5px 25px;
    background-color: #eb3341;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
}

div.order-info-guide .logistics-info {
    padding: 25px 0;
    border-bottom: 1px solid #ccc;
    display: inline-block;
}
div.order-info-guide .logistics-info h1 {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
}
div.order-info-guide .logistics-info dl {
    font-size: 14px;
}
div.order-info-guide .logistics-info dt {
    width: 70px;
    float: left;
    padding-bottom: 5px;
}
div.order-info-guide .logistics-info dd {
    display: inline-block;
    float: left;
    padding-bottom: 5px;
}
div.order-info-guide .logistics-info .time {
    width: 360px;
}
div.order-info-guide .logistics-info .company {
    width: 490px;
}
div.order-info-guide .logistics-info .num {
    width: 360px;
}
div.order-info-guide .logistics-info .zt {
    width: 250px;
}
div.order-info-guide .logistics-info .th-code {
    width: 170px;
}
div.order-info-guide .logistics-info .trace {
    width: 360px;
}

div.order-info-guide .logistics-info .trace a {
    color: #0033ff;
    text-decoration: underline;
}
div.product-info-form h1 {
    font-size: 16px;
    font-weight: 600;
    padding: 15px 0;
}
div.product-info-form .product-info-th {
    height: 35px;
    line-height: 35px;
    background-color: skyblue;
}
div.product-info-main {
    border: 1px solid #e4e4e4;
}
div.product-info-form .product-info-th .th {
    float: left;
    width: 200px;
    text-align: center;
}
div.product-info-form .product-info-th .th-item,div.product-info-list .item-content .td-item {
    width: 388px;
}
div.product-info-list .order-content {
    background: #fcfcfc;
}
div.product-info-list .item-body {
    _zoom: 1;
    border-bottom: 1px solid #e4e4e4;
}
div.product-info-list .item-content .td {
    float: left;
    min-height: 129px;
    _height: 129px;
    overflow: hidden;
    _overflow: visible;
    _zoom: 1;
}
div.product-info-list .item-content .td-price,div.product-info-list .item-content .td-amount,div.product-info-list .item-content .td-coupon {
    width: 200px;
    text-align: center;
}
div.product-info-list .td-inner {
    padding-top: 20px;
    _zoom: 1;
}
div.product-info-list .item-content .item-pic {
    width: 90px;
    height: 90px;
    border: 1px solid #eee;
    float: left;
    overflow: hidden;
    margin-left: 20px;
}
div.product-info-list .item-content .item-pic img {
    width: 100%;
    height: 100%;
}
div.product-info-list .item-content .item-info {
    margin: 5px 0 0 126px;
    padding-right: 45px;
}
div.product-info-list .item-content .item-info a {
    display: block;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    _height: expression(this.scrollHeight > 36 ? "36px" : "auto");
}
div.product-info-list .item-content .item-info .type {
    color: #999;
    padding-top: 8px;
}
div.product-info-list .item-content .item-info .type p {
    padding-bottom: 5px;
}
div.product-info-list .item-checked, div.product-info-list .item-total {
    padding: 16px 60px 16px 0;
    line-height: 24px;
    vertical-align: top;
    font-size: 16px;
    text-align: right;
    color: #999;
}
div.product-info-list .item-checked {
    border-bottom: 1px solid #e4e4e4;
}
div.product-info-list .item-checked span {
    display: inline-block;
    font-size: 14px;
    padding-left: 40px;
}
div.product-info-list .item-checked .em {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
}
div.product-info-list .item-total span {
    color: #ff4f7c;
    padding-left: 8px;
    font-weight: 700;
}
div.product-info-list .item-total em {
    padding-left: 5px;
}
/*-------退货管理---------*/
div.return-management .order-list-content {
    border-bottom: 1px solid #ddd;
}
div.order-list-footer {
    background: #f5f5f5;
    position: relative;
    height: 48px;
    overflow: hidden;
    color: #333;
    line-height: 48px;
}
div.order-list-footer dl {
    float: right;
    padding-right: 10px;
}
div.order-list-footer dl dt {
    width: 65px;
    float: left;
    padding-left: 60px;
}
div.order-list-footer dl dd {
    display: inline-block;
    float: left;
    color: #eb3341;
}
/*------退货申请--------*/
div.return-request .my-order-th {
    margin-top: 20px;
}
div.return-request .order-list-content {
    border-bottom: 1px solid #ddd;
}
div.return-request .my-order-th .th-item,div.return-request .my-order-list .td-item {
    width: 480px;
}
div.return-request .item-content .checkbox {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    overflow: hidden;
    vertical-align: middle;
    float: left;
    padding-right: 5px;
    margin-left: -4px;
}
div.return-request .item-content .checkbox input {
    position: absolute;
    z-index: 0;
    left: -20px;
    top: -20px;
}
div.return-request .item-content .checkbox label {
    position: relative;
    z-index: 1;
    float: left;
    width: 15px;
    height: 15px;
    background-position: 0 0;
    line-height: 200em;
    overflow: hidden;
    cursor: pointer;
}
div.return-request .order-list-content .item-info {
    margin: 0 0 0 111px;
}
div.return-request .order-list-btn {
    height: 50px;
    text-align: right;
    padding: 35px;
}
div.return-request .order-list-btn a {
    display: inline-block;
    width: 200px;
    background-color: #eb3341;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}
div.my-order-list .td-refundnum .item-amount {
    width: 105px;
    height: 27px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-left: 50px;
}
div.my-order-list .td-refundnum .text-amount {
    width: 51px;
    height: 15px;
    line-height: 15px;
    border: 1px solid #aaa;
    color: #343434;
    text-align: center;
    padding: 5px 0;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    left: 26px;
    top: 0;
    border-radius: 0px;
}
div.my-order-list .td-refundnum .item-amount a {
    display: block;
    height: 25px;
    width: 25px;
    border: 1px solid #e5e5e5;
    background: #f0f0f0;
    text-align: center;
    line-height: 25px;
    color: #444;
    position: absolute;
    top: 0;
}

div.my-order-list .td-refundnum .minus,div.my-order-list .td-refundnum .no-minus {
    border-left-color: transparent;
    left: 0;
}
div.my-order-list .td-refundnum .plus,div.my-order-list .td-refundnum .no-plus {
    border-left-color: transparent;
    right: 0;
}
div.my-order-list .td-refundnum .text-amount,div.my-order-list .td-refundnum a {
    float: left;
}
div.my-order-list .td-refundnum .no-plus,div.my-order-list .td-refundnum .no-minus {
    color: #e5e5e5;
}
div.my-order-list .td-refundnum .plus:hover,div.my-order-list .td-refundnum .minus:hover {
    color:#f50;
    z-index:3;
    border-color:#f60;
}
/*--------账户充值--------*/
div.account-pay {
    /*padding: 10px 10px 10px 0;*/
}
div.intro {
    margin: 30px 0px 20px 10px;
    clear: both;
}
div.intro ol {
    margin: 5px 0px 0px 5px;
    color: rgb(102, 102, 102);
    line-height: 1.5;
    padding-left: 20px;
}
div.intro li {
    list-style: decimal;
    padding: 2px 0px;
}
div.pagination li {
    display: none;
}
/*-----------*/
.mod-tips {
    padding: 1px 10px;
    border: 1px solid rgb(239, 220, 173);
    color: rgb(96, 96, 96);
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    margin-left: 10px;
    display: none;
    background-color: rgb(255, 250, 213);
    width: 170px;
}

/*---------------- my-coupon ----------------------*/

.coupon-toolbar {
    display: inline-block;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0 0 20px;
    background: #fff;
}

.coupon-toolbar:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .coupon-toolbar {
    height: 1%;
}

*+html .coupon-toolbar {
    min-height: 1%;
}

.coupon-toolbar ul {
    display: inline-block;
    display: block;
}

.coupon-toolbar ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .coupon-toolbar ul {
    height: 1%;
}

*+html .coupon-toolbar ul {
    min-height: 1%;
}

.coupon-toolbar li {
    float: left;
    margin: 0 20px 0 0;
    _display: inline;
}

.coupon-toolbar li.fore1 {
    margin: 0;
}

.coupon-toolbar .c-type {
    position: relative;
    z-index: 5;
    padding: 1px 10px;
    margin-left: 15px;
}

.coupon-toolbar .c-type .dt {
    width: 92px;
    padding-left: 10px;
}

.coupon-toolbar .c-type .dt b {
    display: inline-block;
    *display: inline;
    *zoom:1;width: 9px;
    height: 5px;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 0 0 3px;
    background: url(../../../resources/b2c/images/coupon20150805.png) -66px -160px no-repeat;
}

.coupon-toolbar .c-type .dd {
    position: absolute;
    display: none;
    top: 29px;
    left: -1px;
    width: 120px;
    background: #f5f5f5;
}

.coupon-toolbar .c-type .dd a {
    display: block;
    position: relative;
    color: #666;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
}

.coupon-toolbar .c-type .dd a:hover {
    background: #f5f5f5;
    color: #e4393c;
}

.coupon-toolbar .c-type .dd a b {
    display: block;
    position: absolute;
    left: 5px;
    top: 10px;
    width: 10px;
    height: 7px;
    vertical-align: middle;
    overflow: hidden;
}

.coupon-toolbar .c-type .dd a.curr {
    color: #e4393c;
}

.coupon-toolbar .c-type .dd a.curr b {
    background: url(//misc.360buyimg.com/user/myjd-2015/css/i/order-icon20150212.png) 0 -207px;
}

.coupon-toolbar .c-type-hover {
    background: #fff;
    border: 1px solid #ddd;
    padding: 0 9px;
}

.coupon-toolbar .c-type-hover .dt {
    width: 92px;
}

.coupon-toolbar .c-type-hover .dt b {
    background-position: -86px -160px;
}

.coupon-toolbar .c-type-hover .dd {
    display: block;
    border: 1px solid #ddd;
    border-top: 0;
}

.coupon-toolbar .c-sort {
    float: left;
}

.coupon-toolbar .c-sort .curr a {
    color: #e4393c;
}

.coupon-toolbar .extra-r {
    float: right;
    font-size: 0;
}

.coupon-toolbar .extra-r #list-icon,.coupon-toolbar .extra-r #lump-icon {
    display: inline-block;
    *display: inline;
    *zoom:1;width: 20px;
    height: 18px;
    margin: 6px 10px 0 0;
    overflow: hidden;
    background: url(//misc.360buyimg.com/user/myjd-2015/css/i/coupon20150805.png) -122px -189px;
}

.coupon-toolbar .extra-r #lump-icon {
    background-position: -150px -189px;
}

.coupon-toolbar .extra-r #lump-icon.curr {
    background-position: -122px -189px;
}

.coupon-toolbar .extra-r #list-icon {
    background-position: -208px -189px;
}

.coupon-toolbar .extra-r #list-icon.curr {
    background-position: -178px -189px;
}

/* user-myjd-2015 myjd.coupon20150805.css Date:2016-05-26 16:54:32 */
.coupon-rule {
    line-height:20px;
    font-family:'Microsoft YaHei';
    font-size:16px;
    color:#333
}
.coupon-rule ul {
    display:inline-block;
    display:block
}
.coupon-rule ul:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}
* html .coupon-rule ul {
    height:1%
}
*+html .coupon-rule ul {
    min-height:1%
}
.coupon-rule li {
    float:left;
    width:24%;
    text-align:center;
    border-right:1px solid #f5f5f5
}
.coupon-rule .rule-icon {
    display:block;
    width:50px;
    height:51px;
    margin:20px auto 10px;
    background:url(//misc.360buyimg.com/user/myjd-2015/css/i/coupon-rule.jpg) no-repeat;
    overflow:hidden
}
.coupon-rule li.fore1 .rule-icon {
    background-position:0 -61px
}
.coupon-rule li.fore1 a:hover {
    color:#e02b2b
}
.coupon-rule li.fore2 .rule-icon {
    background-position:0 -122px
}
.coupon-rule li.fore2 a:hover {
    color:#0960b3
}
.coupon-rule li.fore3 .rule-icon {
    background-position:0 0
}
.coupon-rule li.fore3 a:hover {
    color:#03adb1
}
.coupon-rule li.fore4 {
    border-right:none
}
.coupon-rule li.fore4 .rule-icon {
    background-position:0 -183px
}
.coupon-rule li.fore4 a:hover {
    color:#d89700
}
div.mod-main .mt .extra-l li {
    padding:0 20px 0 0
}
div.mod-main .mt .extra-l li a {
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:middle;
    color:#333
}
div.mod-main .mt .extra-l li a.ftx-03 {
    color:#999
}
div.mod-main .mt .extra-l li a:hover em {
    color:#fff
}
div.mod-main .mt .extra-l li em {
    position:relative;
    display:inline-block;
    *display:inline;
    *zoom:1;
    height:15px;
    line-height:15px;
    font-family:arial;
    top:-5px;
    padding:0 4px;
    background:#e4393c;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    color:#fff;
    font-size:10px;
    margin:0 0 0 2px;
    _position:static
}
div.coupon-thickbox {
    height:128px;
    width:360px;
    padding:20px
}
div.coupon-thickbox .m-icon {
    width:145px;
    height:147px;
    left:20px;
    top:20px
}
div.coupon-thickbox .item-fore {
    position:relative;
    top:50%;
    margin-left:155px;
    font-size:14px;
    font-family:'Microsoft YaHei'
}
div.coupon-thickbox .c-icon01 {
    background:url(//misc.360buyimg.com/user/myjd-2015/css/i/c-joy01.png) no-repeat
}
div.coupon-thickbox .c-icon02 {
    background:url(//misc.360buyimg.com/user/myjd-2015/css/i/c-joy02.png) no-repeat
}
div#coupon-thickbox {
    border:5px solid #fa9897
}
#quan02 {
    padding:10px 20px
}
div.mod-coupon .mt {
    padding:10px 0 0
}
div.mod-coupon .mt .extra-r a {
    font-size:14px;
    font-family:'Microsoft YaHei'
}
div.mod-coupon .mt .extra-r em {
    position:relative;
:@inlcude inline-block;
    height:15px;
    line-height:15px;
    font-family:arial;
    top:-5px;
    padding:0 4px;
    background:#e4393c;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    color:#fff;
    font-size:10px;
    margin:0 0 0 5px
}
div.mod-coupon .coupon-icon {
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:22px;
    height:20px;
    background:url(//misc.360buyimg.com/user/myjd-2015/css/i/c-mt-icon.png) no-repeat;
    margin-right:5px;
    vertical-align:middle
}
.coupon-empty-box {
    min-height:600px;
    text-align:center
}
.coupon-empty-box .e-icon {
    display:block;
    width:155px;
    height:101px;
    margin:70px auto 20px;
    background:url(//misc.360buyimg.com/user/myjd-2015/css/i/quan-joy.png) no-repeat;
    overflow:hidden
}
.coupon-empty-box .txt {
    font-size:16px;
    font-family:'Microsoft YaHei';
    line-height:20px
}
.coupon-empty-box .btn-1 {
    font-size:14px;
    height:36px;
    line-height:36px;
    width:118px;
    padding:0
}

/*-------------------------------------*/
.coupon-item .c-msg{overflow:visible;}

.coupon-items02 .coupon-item .range-item .txt {
    width: auto;
}
.coupon-items02 .coupon-item .c-msg{
    float:left;width:540px;
}
.root61 .coupon-items02 .coupon-item .c-msg{
    width:750px;
}
.coupon-item .range-item .range-tip .prompt-01 {
    width: 220px;
    top: -20px;
    left: -220px;
    z-index: 2
}

.coupon-item .range-item .range-tip .prompt-01 .p-arrow-left {
    top: 22px
}

.coupon-item .range-item .range-tip .addr-tit {
    padding-bottom: 5px;
    font-weight: 700;
    border-bottom: 1px dotted #ccc
}

.coupon-item .range-item .range-tip .addr-cont ul {
    display: inline-block;
    display: block;
    width: 200px
}

.coupon-item .range-item .range-tip .addr-cont ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

* html .coupon-item .range-item .range-tip .addr-cont ul {
    height: 1%
}

*+html .coupon-item .range-item .range-tip .addr-cont ul {
    min-height: 1%
}

.coupon-item .range-item .range-tip .addr-cont a {
    color: #666
}

.coupon-item .range-item .range-tip .addr-cont a:hover {
    color: #e4393c
}















