/**
 * Created by Administrator on 2016/2/24.
 */


div.submitOrder {

}
div.submitOrder .order-stit {
    line-height: 25px;
    color: #333;
    font-weight: 700;
    font-size: 16px;
    height: 35px;
    padding: 0px 20px;
}
/*------------selectAddress------------*/
div.selectAddress {
    padding: 15px 20px;
    background-color: #fcfcfc;
}
div.selectAddress .order-stit {
    padding: 0px;
}
div.selectAddress .list {
    height:160px;
    overflow: hidden;
}
div.selectAddress .addr {
    width: 240px;
    height: 160px;
    display: inline-block;
    *display: inline;
    *zoom:1;
    vertical-align: top;
    position: relative;
    margin: 0 15px 10px 0;
    color: #666;
    cursor: pointer;
}
div.selectAddress .addr .inner {
    width: 210px;
    height: 140px;
    background: url(http://s6.mogujie.com/pic/141031/wtp3y_ieygcmjzmrqtkyrtmqytambqhayde_720x160.png) -240px 0px no-repeat;
    z-index: 2;
    position: relative;
    padding: 10px 15px;
    overflow: hidden;
}
div.selectAddress .addr .inner:hover {
    background-position: -480px 0px;
}
div.selectAddress .addr .inner.selected,div.selectAddress .addr .inner.selected:hover {
    background-position: 0px 0px;
}
div.selectAddress .addr .deftip {
    position: absolute;
    top: 10px;
    right: 18px;
    padding: 2px 10px;
    text-decoration: none;
    display: none;
    filter: alpha(opacity=70);
    opacity: .7;
    z-index: 3;
    border-radius: 10px;
}
div.selectAddress .addr .selected .deftip {
    background: #969696;
    color: #fff;
    display: block;
}
div.selectAddress .addr .addr-hd {
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding: 0 0 10px;
    margin-bottom: 5px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.selectAddress .addr .addr-hd span {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.selectAddress .addr .addr-hd .name {
    font-size: 16px;
}
div.selectAddress .addr .addr-bd {
    overflow: hidden;
}
div.selectAddress .addr .addr-bd .street {
    width: 100%;
    max-height: 36px;
    float: left;
    overflow: hidden;
}
div.selectAddress .addr .addr-bd .phone {
    display: inline-block;
    width: 100%;
}
div.selectAddress .addr .addr-toolbar {
    position: absolute;
    bottom: 20px;
    left: 15px;
}
div.selectAddress .addr .addr-toolbar a {
    color: #cc9977;
}
div.selectAddress .addr .addr-toolbar a:hover {
    color: #df231b;
}
div.selectAddress .control {
    padding: 10px 0px;
}
div.selectAddress .control span {
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
/*-------addrWrap-------*/
div.addrWrap .address-pop {
    position: relative;
    padding: 20px 20px 20px 0;
    line-height: 38px;
}
div.addrWrap .address-pop dt {
    position: absolute;
    left: 0;
    width: 90px;
    color: #666;
    text-align: right;
}
div.addrWrap .address-pop dd {
    position:relative;
    padding-left:106px;
    *zoom:1;
}
div.addrWrap .address-pop .address-select {
    _padding-top: 8px;
}
div.addrWrap .address-pop i {
    position: absolute;
    top: 14px;
    left: 90px;
    color: #ff5a00;
    font-size: 14px;
    line-height: 14px;
    font-style: normal;
}
div.addrWrap .address-pop select {
    vertical-align: middle;
    font-size: 100%;
}
div.addrWrap .address-pop .province {
    width: 140px;
}
div.addrWrap .address-pop .city,div.addrWrap .address-pop .area {
    width: 100px;
}
div.addrWrap .address-pop span {
    padding-left: 8px;
    color: #999;
}
div.addrWrap .address_pop .text {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 6px 8px;
    height: 12px;
    line-height: 12px;
    color: #666;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
    width:120px;
}
div.addrWrap .address-pop .textarea {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 6px 8px;
    line-height: 16px;
    color: #666;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
    vertical-align: top;
    width: 90%;
    _width: 396px;
    resize: both;
}
div.addrWrap .address-pop .breakline {
    display: block;
}
div.addrWrap .address-pop .open-btn {
    padding-top: 10px !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 34px;
}
div.addrWrap .address-pop .confirm-btn {
    display: inline-block;
    width: 104px;
    height: 34px;
    overflow: hidden;
    background-color: #ffa701;
    text-align: center;
    color: #fff;
    margin-right: 10px !important;
}
div.addrWrap .address-pop .cancel-btn {
    display: inline-block;
    width: 74px;
    height: 32px;
    overflow: hidden;
    color:#333;
    border: 1px solid #e4e4e4;
    text-align: center;
}
/*---------choose-mode-------------*/
div.pay-mode {
    height: 140px;
    overflow: hidden;
}
div.pay-mode dl {

}
div.pay-mode dt {
    padding: 30px 20px 10px 20px;
    font-size: 20px;
    margin: 0px 35px;
    font-weight: 700;
    font-family: "Microsoft YaHei";
}
div.pay-mode dd {
    border: 1px dashed #e4e4e4;
    border-width: 1px 0 1px 0;
    margin: 0px 35px;
    padding: 20px;
}
div.pay-mode dd label {
    margin-right: 50px;
    position: relative;
    padding-left: 25px;
    display: inline-block;
}
div.pay-mode dd label.on {
    color: #666666;
}
div.pay-mode dd input[type="radio"] {
    position: absolute;
    left: 0;
    top: 2px;
    width: 13px;
    height: 13px;
    margin: 0;
}

div.choose-mode {
    height: 140px;
    overflow: hidden;
}
div.choose-mode dl {

}
div.choose-mode dt {
    color: #333;
    padding: 30px 20px 10px 20px;
    font-size: 16px;
    font-weight: 700;
}
div.choose-mode dd {
    border: 1px dashed #e4e4e4;
    border-width: 1px 0 1px 0;
    padding: 20px;
}
div.choose-mode dd label {
    margin-right: 50px;
    position: relative;
    padding-left: 25px;
    display: inline-block;
}
div.choose-mode dd label.on {
    color: #666666;
}
div.choose-mode dd input[type="radio"] {
    position: absolute;
    left: 0;
    top: 2px;
    width: 13px;
    height: 13px;
    margin: 0;
}
/*------------- order-form ---------------*/
div.order-table .td-inner {
    padding-top:20px;
    _zoom:1;
}
div.order-table .th-item, div.order-table .td-item {
     width: 360px;
 }
div.order-table .th-info, div.order-table .td-info {
    width: 172px;
    padding: 0px 20px;
}
div.order-table .th-price, div.order-table .td-price {
    width: 120px;
    padding: 0px 20px;
}
div.order-table .th-amount, div.order-table .td-amount {
    width: 60px;
    padding: 0px 20px;
}
div.order-table .th-coupon, div.order-table .td-coupon {
    width: 200px;
    padding: 0px 10px;
    text-align: center;
}
div.order-table .th-sum, div.order-table .td-sum {
    width: 115px;
    padding: 0px 10px;
}
/*--- order-th ---*/
div.order-table .order-th {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e4e4e4;
    border-width: 1px 0px 1px 0px;
}
div.order-table .order-th .th {
    float: left;
}
div.order-table .th .td-inner {
    padding: 0 0 0 10px;
}
div.order-table .th-item .td-inner {
    padding: 0px;
    text-align: center;
}
/*--- order-list ---*/
div.order-list .order-body {
    margin-top: 10px;
}
div.order-list .order-body-th {
    position: relative;
    z-index: 2;
    line-height: 38px;
    padding-left: 15px;
}
div.order-list .order-body-th .shop-icon {
    width: 16px;
    height: 16px;
    margin-top: -5px;
    *margin-top: -2px;
    _margin-top: -2px;
    margin-top: -2px\9;
}
div.order-list .order-body-th .marking-v {
    margin-left: 5px;
}
div.order-list .order-body-th .marking-v span {
    width: 17px;
    height: 17px;
    display: inline-block;
    line-height: 17px;
    background-color: #EB3341;
    color: #FFFFFF;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
}

div.order-list .order-content {
    margin-bottom: 5px;
    border: 1px solid #ccc;
    background: #fcfcfc;
}
div.order-list .item-body {
    _zoom: 1;
    border-bottom: 1px solid #e4e4e4;
}
div.order-list .item-content li {
    float: left;
    min-height: 129px;
    _height: 129px;
    overflow: hidden;
    _overflow: visible;
    _zoom: 1;
}
div.order-list .item-content .item-pic {
    width: 90px;
    height: 90px;
    border: 1px solid #eee;
    float: left;
    overflow: hidden;
    margin-left: 20px;
}
div.order-list .item-content .item-pic img {
    width: 100%;
    height: 100%;
}
div.order-list .item-content .item-info {
    margin: 5px 0 0 121px;
    padding-right: 45px;
}
div.order-list .item-content .item-info a {
    display: block;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    _height: expression(this.scrollHeight > 36 ? "36px" : "auto");
}
div.order-list .item-content .item-info a:hover {
    color:#f60;
}
div.order-list .item-content .td-info p {
    margin: 5px 5px 0 5px;
    color: #9c9c9c;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.order-list .item-content .td-price span,div.order-list .item-content .td-amount span,div.order-list .item-content .td-sum span {
    padding:8px;
    display: block;
    color: #333333;
    font-size: 14px;
}
div.order-list .item-content .td-amount span {
    padding-left: 12px;
}
div.order-list .item-content .td-sum span {
    color: #f40;
    font-weight: 700;
}
div.order-list .item-content .td-coupon .td-inner div {
    padding: 8px 0;
}
div.order-list .item-content .td-coupon .td-inner span {
    padding:0 0 2px 2px;
    display: inline-block;
}
div.order-list .item-content .td-coupon .td-inner em {
    padding: 2px;
}
/**/
div.order-list .item-checked {
    border-bottom: 1px solid #e4e4e4;
}
div.order-list .item-checked,div.order-list .item-total {
    padding: 16px 60px 16px 0;
    line-height: 24px;
    vertical-align: top;
    font-size: 16px;
    text-align: right;
}

div.order-list .item-total span {
    color: #ff4f7c;
    padding-left: 8px;
    font-weight: 700;
}
div.order-list .item-total em {
     padding-left: 5px;
 }
div.order-list .item-checked span {
    display: inline-block;
    font-size: 14px;
    padding-left: 40px;
}
div.order-list .item-checked .em {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
}
/**/
div.order-form .note,div.order-form .discount {
    line-height: 24px;
    padding: 20px 0;
}
div.order-form .note {
    float: left;
}
div.order-form .discount {
    float: right;
    padding-top: 23px;
}
div.order-form .note label {
    color: #333;
    font-size: 14px;
}
div.order-form .note input {
    width: 360px;
    padding:2px 5px;
}
div.order-form .discount label,div.order-form .discount span {
    padding:0 0 2px 2px;
    display: inline-block;
}
/*------ order-paybar -------*/
div.order-paybar {
    position: relative;
    height: 50px;
    background: #fff;
    border-top: 1px solid #e4e4e4;
    line-height: 50px;
    clear: both;
    padding-bottom: 60px;
    border-bottom: 1px solid #ccc;
}
div.order-paybar .order_surebtn,div.order-paybar .order_paybar_info_cost,div.order-paybar .order_paybar_info {
    float: right;
}
div.order-paybar .order_surebtn {
    display: block;
    width: 172px;
    height: 51px;
    margin-top: -1px;
    overflow: hidden;
    background: #df231b;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
div.order-paybar .order_paybar_info_cost {
    padding: 0 12px 0 8px;
    display: inline-block;
    color: #ff4f7c;
    font-weight: 700;
    font-size: 24px;
}
div.order-paybar .order_paybar_info span {
    color: #ff4f7c;
}
div.order-paybar .cart_back {
    padding-left: 20px;
    background: url(http://s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) -340px -3px no-repeat;
}


