/// namespace: CT-LT
/* >>cart/list*/
$page_ns: "CT-LT";

body {
    &.#{$page_ns} {
        background-color: #e8eaea;
    }
}

//购物车item样式
.box_cartitR {
    $father_box_cartitR: #{&};

    margin-top: 0.6em;

    ///box_cartitR-hd
    @at-root .box_cartitR-hd {
        ///weui 样式修正
        margin-top: 0;
        margin-bottom: 0;

        .storename {
            $father_storename: #{&};

            margin-left: 0.5em;

            p {
                font-size: 14px;

                @at-root #{$father_storename} {
                    span {
                        vertical-align: middle;
                    }
                }
            }
        }

        .rightaccess {}
    }

    ///box_cartitR-bd
    @at-root .box_cartitR-bd {
        ///box_cartitS
        @at-root .box_cartitS {
            ///box_cartitS-bd
            @at-root .box_cartitS-bd {
                ///box_cartitS-main
                @at-root .box_cartitS-main {
                    @include align-items(flex-start);

                    ///goodsthumb
                    .goodsthumb {
                        margin-left: 0.5em;
                        margin-right: 0.5em;

                        a {
                            //line-height: 2.3rem;
                            display: block;
                            width: 20vw;
                            height: 20vw;
                            text-align: center;
                            vertical-align: middle;
                            background-color: #fff;

                            img {
                                width: 100%;
                                height: 100%;
                                text-align: center;
                                vertical-align: middle;
                            }
                        }
                    }

                    ///box_cartitT
                    @at-root .box_cartitT {
                        $father_box_cartitT: #{&};

                        @include flexbox;

                        @include flex-direction(column);

                        @include align-items(flex-start);

                        @include justify-content(space-between);

                        min-height: 20vw;

                        ///sec1
                        .sec1 {
                            div:first-child {
                                font-size: 14px;
                                color: #333;
                                line-height: 1.2;

                                @extend %ellipsis-line2;
                            }

                            div:last-child {
                                font-size: 10px;
                                color: #666;
                                line-height: 1;
                                padding-top: 0.3em;
                            }
                        }

                        .sec2 {
                            @at-root #{$father_box_cartitT} {
                                ///sec2-prices
                                .sec2-prices {
                                    line-height: initial;

                                    & > div {
                                        display: inline-block;
                                    }

                                    &:first-child {
                                        color: #e60012;
                                        padding-top: 0.4em;
                                    }
                                }

                                ///sec2-txttags
                                .sec2-txttags {
                                    .order-prefer {
                                        &.#{$page_ns} {
                                            padding: 0.2em 0.3em 0;
                                            border-radius: 3px;
                                            display: inline-block;
                                            text-align: center;
                                            font-size: 10px;
                                            vertical-align: middle;
                                        }
                                    }
                                }
                            }
                        }

                        ///sec3
                        .sec3 {
                            margin-top: 0.2em;
                            padding: 0;
                            width: 100%;

                            @at-root #{$father_box_cartitT} {
                                .sec3-ft {
                                    i {
                                        display: inline-block;
                                        margin: 0 0.5em;
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

///ScheckB
.ScheckB {
    display: block;
    width: 4.2vw;
    height: 4.2vw;
    margin: 1vw;
    background-image: url(../images/checked-item.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: contain;

    //vertical-align: middle;
    border-radius: 0.2em;
    border: 1px solid #d6d6d6;

    @at-root #cart-footer & {
        display: inline-block;
        vertical-align: middle;
    }

    &.active {
        //display: inline-block;
        //width: 0.9em;
        //height: 0.9em;
        //background: url(/tiaohuo/resources/wap/2.0/images/checked-item.png) center center no-repeat #e60012;
        //vertical-align: middle;
        //border-radius: 0.2em;
        //border: 1px solid #d6d6d6;
        background-color: #e60012;

        //background-size: contain;
        border-width: 0;
    }
}

//样式覆盖
.add_minus.#{$page_ns} {
    .opera-add, .opera-minus {
        border: 1px solid #ccc;
        width: 1.2em;
        height: 1.2em;
        background-color: #fff;
    }
}

//样式覆盖
form.add_minus input {
    width: 20px;
    vertical-align: middle;
}

$page_ns: "";

/* >>cart/list,end*/