// -------------------------------------
// 底部版权、技术支持
// -------------------------------------
footer.btcopyright {
    padding: 0 5%;
    background: #fff;
    .links {
        text-align: center;
		line-height: 3;
	    border-bottom: 1px solid #e6e6e6;
        a {
            display: inline-block;
            font-family: "微软雅黑";
            color: #333;
            margin: 0 0.6em;
        }
    }
    .techsupport{
    	height: 45px;
	    margin: 0.6em 0;
    	background: url(../images/technical_support.png) center center no-repeat #fff;
    	background-size: contain;
    }
}