// -------------------------------------
// 自定义数字角标样式
// -------------------------------------
/* >>component\cornermark\_common*/
///位置信息mixin定义
@mixin cornermark-posinfo($pos) {
    @if $pos == leftbottom {
        top: auto;
        bottom: 0;
        left: 0;
        right: auto;
    }
    @else if $pos == righttop {
        top: 0;
        bottom: auto;
        left: auto;
        right: 0;
    }
    @else if $pos == rightbottom {
        top: auto;
        bottom: 0;
        left: auto;
        right: 0;
    }
    @else {
        top: 0;
        bottom: auto;
        left: 0;
        right: auto;
    }
}

///上层背景样式
@mixin cornermark-border_bgstyle_bg1($pos) {
    @if $pos == leftbottom {
        border-width: 0 13vw 16vw 0;
        border-color: transparent transparent #ff6d06 transparent;
    }
    @else if $pos == righttop {
        border-width: 16vw 0 0 13vw;
        border-color: #ff6d06 transparent transparent transparent;
    }
    @else if $pos == rightbottom {
        border-width: 16vw 13vw 0 0;
        border-color: transparent #ff6d06 transparent transparent;
    }
    @else {
        border-width: 16vw 13vw 0 0;
        border-color: #ff6d06 transparent transparent transparent;
    }
}

///下层背景样式
@mixin cornermark-border_bgstyle_bg2($pos) {
    @if $pos == leftbottom {
        border-width: 0 16vw 13vw 0;
        border-color: transparent transparent #fbcbaa transparent;
    }
    @else if $pos == righttop {
        border-width: 13vw 0 0 16vw;
        border-color: #fbcbaa transparent transparent transparent;
    }
    @else if $pos == rightbottom {
        border-width: 13vw 16vw 0 0;
        border-color: transparent #fbcbaa transparent transparent;
    }
    @else {
        border-width: 13vw 16vw 0 0;
        border-color: #fbcbaa transparent transparent transparent;
    }
}

///数字角标主体样式
@mixin corner_indexmark($pos) {
    position: absolute;
    width: 16vw;
    height: 16vw;

    ///背景橙角样式

    @include cornermark-posinfo($pos);

    .num {
        position: absolute;

        @include cornermark-posinfo($pos);

        color: #fff;
        z-index: 120;
        font-size: 6vw;
        line-height: 1.8;
        text-align: center;
        display: block;
        width: 45%;
    }

    .bg1 {
        position: absolute;
        display: block;
        height: 0;
        width: 0;

        @include cornermark-posinfo($pos);

        @include cornermark-border_bgstyle_bg1($pos);

        ///border-width: 16vw 13vw 0 0;
        ///border-style: solid;
        ///border-color: #ff6d06 transparent transparent transparent;
        border-style: solid;
        z-index: 101;
        opacity: 1;
    }

    .bg2 {
        position: absolute;
        display: block;
        height: 0;
        width: 0;

        @include cornermark-posinfo($pos);

        @include cornermark-border_bgstyle_bg2($pos);

        z-index: 100;
        border-style: solid;
        opacity: 1;
    }
}

///类快捷方式
///角标-左上角
.corner_indexmark-lefttop {
    @include corner_indexmark(lefttop);
}

///角标-左下角
.corner_indexmark-leftbottom {
    @include corner_indexmark(leftbottom);
}

///角标-右上角
.corner_indexmark-righttop {
    @include corner_indexmark(righttop);
}

///角标-右下角
.corner_indexmark-rightbottom {
    @include corner_indexmark(rightbottom);
}

///corner_indexmark animate 渐变动画补丁
@mixin corner_indexmark-animate-patch($pos) {
    @if $pos == leftbottom {
        .bg1 {
            opacity: 0;
            transform: translateY(-50vw);
            -webkit-transform: translateY(-50vw);
            transition: all 0.5s cubic-bezier(0.950, 0.050, 0.795, 0.035);
            -webkit-transition: all 0.5s cubic-bezier(0.950, 0.050, 0.795, 0.035);
        }

        .bg2 {
            opacity: 0;
            transform: translateX(50vw);
            -webkit-transform: translateX(50vw);
            transition: all 0.5s cubic-bezier(0.950, 0.050, 0.795, 0.035);
            -webkit-transition: all 0.5s cubic-bezier(0.950, 0.050, 0.795, 0.035);
        }
    }
    @else if $pos == righttop {
        .bg1 {
            opacity: 0;
            transform: translateY(50vw);
            -webkit-transform: translateY(50vw);
            transition: all 0.5s cubic-bezier(0.950, 0.050, 0.795, 0.035);
            -webkit-transition: all 0.5s cubic-bezier(0.950, 0.050, 0.795, 0.035);
        }

        .bg2 {
            opacity: 0;
            transform: translateX(-50vw);
            -webkit-transform: translateX(-50vw);
            transition: all 0.5s cubic-bezier(0.950, 0.050, 0.795, 0.035);
            -webkit-transition: all 0.5s cubic-bezier(0.950, 0.050, 0.795, 0.035);
        }
    }
    @else if $pos == rightbottom {
        .bg1 {
            opacity: 0;
            transform: translateY(-50vw);
            -webkit-transform: translateY(-50vw);
            transition: all 0.5s cubic-bezier(0.950, 0.050, 0.795, 0.035);
            -webkit-transition: all 0.5s cubic-bezier(0.950, 0.050, 0.795, 0.035);
        }

        .bg2 {
            opacity: 0;
            transform: translateX(-50vw);
            -webkit-transform: translateX(-50vw);
            transition: all 0.5s cubic-bezier(0.950, 0.050, 0.795, 0.035);
            -webkit-transition: all 0.5s cubic-bezier(0.950, 0.050, 0.795, 0.035);
        }
    }
    @else {
        .bg1 {
            opacity: 0;
            transform: translateY(50vw);
            -webkit-transform: translateY(50vw);
            transition: all 0.5s cubic-bezier(0.950, 0.050, 0.795, 0.035);
            -webkit-transition: all 0.5s cubic-bezier(0.950, 0.050, 0.795, 0.035);
        }

        .bg2 {
            opacity: 0;
            transform: translateX(50vw);
            -webkit-transform: translateX(50vw);
            transition: all 0.5s cubic-bezier(0.950, 0.050, 0.795, 0.035);
            -webkit-transition: all 0.5s cubic-bezier(0.950, 0.050, 0.795, 0.035);
        }
    }

    //@include corner_indexmark(leftbottom);
}

/* >>component\cornermark\_common,end*/