// -------------------------------------
// 商品列表:新品上市(新品速递)
// -------------------------------------
.ls_product_new {
    //一列展示状态
    &.col-1 {
        .box_product {
            $father_box_product: #{&};

            position: relative;

            &:first-child {
                &:before {
                    display: none;
                }
            }

            &:before {
                z-index: 1;

                @include dividingline(top, #eee);
            }

            & > a {
                @include flexbox;

                @include flex-direction;

                @include align-items(flex-start);

                position: relative;
                padding: 6px;
                background-color: #fff;

                @at-root #{$father_box_product} {
                    //商品描述
                    .imgsymbol {
                        width: dimension-to-vw(180px);
                        height: dimension-to-vw(180px);
                    }

                    //商品内容盒
                    .inforap {
                        padding-left: 0.5em;

                        @include flex;

                        @at-root #{$father_box_product} {
                            //description
                            .description {
                                height: 2.4em;
                                line-height: 1.2;
                                color: #333;
                                margin-top: 0.3em;

                                @extend %ellipsis-2line;
                            }

                            .price {
                                font-weight: normal;
                            }
                        }
                    }

                    //立即购买
                    .buynow {
                        position: absolute;
                        right: 5px;
                        bottom: 1.5em;
                        width: 2em;
                        height: 2em;
                        color: #ff6d06;
                        border: 1px solid #ff6d06;
                        border-radius: 50%;
                        line-height: 2em;
                        text-align: center;

                        .iconfont {
                            font-size: 1em;
                        }

                        .waitingcart {
                            text-decoration: none;
                            position: absolute;
                            top: -0.5em;
                            bottom: -0.5em;
                            left: -0.5em;
                            right: -0.5em;
                            border-radius: 50%;
                            overflow: hidden;

                            //飞出视窗
                            &.anm-fly {
                                opacity: 0.3;
                                -webkit-transform-origin: center;
                                transform-origin: center;
                                -webkit-transform: translateY(-100vh) scale(0.5);
                                transform: translateY(-100vh) scale(0.5);
                                -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
                                transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
                            }
                        }
                    }
                }
            }
        }
    }

    //两列展示状态
    &.col-2 {
        .box_product {
            $father_box_product: #{&};

            width: 49.375vw;

            //padding-right: 4px;
            margin-right: 1.25vw;
            margin-top: 5px;

            &:nth-child(1), &:nth-child(2) {
                margin-top: 0;
            }

            &:nth-child(2n) {
                margin-right: 0;
            }

            & > a {
                display: block;
                padding: 1.875vw;
                background-color: #fff;

                @at-root #{$father_box_product} {
                    .imgsymbol {
                        width: 45.625vw;
                        height: 45.625vw;
                    }

                    //description
                    .description {
                        height: 2.4em;
                        line-height: 1.2;
                        color: #333;
                        margin-top: 0.3em;

                        @extend %ellipsis-2line;
                    }

                    .amounts {
                        padding: 0;
                        line-height: 1;

                        @include align-items(baseline);

                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}