// -------------------------------------
// 商品列表:推荐
// -------------------------------------

.ls_product_recommend {
    //两列展示状态
    &.col-2 {
        .box_product {
            $father_box_product: #{&};

            width: 49.375vw;
            //padding-right: 4px;
            margin-right: 1.25vw;
            margin-top: 5px;

            &:nth-child(1), &:nth-child(2) {
                margin-top: 0;
            }

            &:nth-child(2n) {
                margin-right: 0;
            }

            & > a {
                display: block;
                padding: 1.875vw;
                background-color: #fff;

                @at-root #{$father_box_product} {
                    .imgsymbol {
                        width: 45.625vw;
                        height: 45.625vw;
                    }

                    //description
                    .description {
                        height: 2.4em;
                        line-height: 1.2;
                        color: #333;
                        margin-top: 0.3em;

                        @extend %ellipsis-2line;
                    }

                    .amounts {
                        padding: 0;
                        line-height: 1;

                        @include align-items(baseline);

                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}