/**************** Body and tag styles ****************/
body{margin:0; padding:0; font-size:12px;background-color:#efefef;}
body{
scrollbar-face-color: #DBEBFE; 
scrollbar-shadow-color: #B8D6FA; 
scrollbar-highlight-color: #FFFFFF; 
scrollbar-3dlight-color: #DBEBFE; 
scrollbar-darkshadow-color:#458CE4; 
scrollbar-track-color: #FFFFFF; 
scrollbar-arrow-color: #458CE4;
}

table{
border-collapse:collapse;
}
a img{border:none;}
img{
   vertical-align:text-bottom;
}
a{ text-decoration:none; color:#333333;}

img{border:0px none;vertical-align:middle;margin-left:auto;margin-right:auto;} 
ul{margin:0;padding:0;}

/**************** Header styles ****************/
.header{ background:url(../images/top_bg.png) repeat-x; height:62px;}
.header_main{ width:1000px; margin:auto; text-align:center;}
.header_logo{ float:left;}
.header_menu{ float:right;}

.menubox{ 
width:200px; 
height:36px; 

}

.menutab{ float:right; height:36px; width:300px; padding-top:26px;}

.menutab ul{ list-style:none; margin:0; padding:0; }
.menutab ul li{ float:left; width:94px; height:36px; line-height:43px; text-align:center;}
.menutab ul li a{display:block; width:94px; height:36px ;font-size:12px; font-weight:bold;}
.menutab ul li a:link{text-decoration:none;font-size:12px; font-weight: bold;}
.menutab ul li a:visited{ color:#FFFFFF; text-decoration:none;font-size:12px; font-weight:bold;}
.menutab ul li a:hover{ color:#03F; text-decoration:none;font-size:12px; font-weight:bold;}

.menutab_on{background:url(../images/menu_on.png) no-repeat bottom; color:#03F; font-size:14px; height:36px;}
.menutab_out{background:url(../images/menu_1.gif) repeat;}

.index_tab_list { height:36px;}
.index_tab_list li { width:94px;height:36px; line-height:36px;}
.index_tab_list li a { display:inline-block; height:36px; line-height:36px; border-bottom:0px; border-right:0px; width:94px;  color:#FFFFFF; }
.index_tab_list li .current { background:url(../images/menu_on.png) no-repeat bottom; color:#03F; width:94px;  border-right:0px; text-decoration:none; }
.index_tab_list li a:hover, .index_tab_list li.press a { background:url(../images/menu_on.png) no-repeat bottom; color:#03F; width:94px;  border-right:0px; text-decoration:none; } 

/**************** Left menu styles ****************/
.main{ text-align:center; margin-top:5px; background-color:#efefef;}
#left{
float:left;
height:530px;
border-bottom:0px;
width:153px;
border:1px solid #cccccc;
margin-left:10px;
background-color:#FFFFFF;
margin-right:5px;
}
#left_title{
background-color:#2684c2;
color:#FFFFFF;
font-weight:bold;
height:35px;
line-height:35px;
font-size:14px;
 padding-left:45px;
}
.left_m{  margin:0px 0px 1px 0px;}
.left_title, left_title1 { margin:0px 0px 1px 0px; }
.left_title h3, .left_title1 h3 { height:25px; line-height:25px;  color:#505568; font-weight:bold; padding:0px 0px 0px 15px; cursor:pointer; border-bottom:1px solid #e0e0e0; }
.left_m h3, .left_m h3 { height:15px; line-height:15px;  color:#505568; font-weight: normal; padding:0px 0px 0px 26px; cursor:pointer;font-size:12px;}
.left_title a{ color:#333333;}
.left_title a:hover{ color:#0293cc;}
.left_m a{ color:#333333;}
.left_m a:hover{ color:#0293cc;}
.left_m img{vertical-align:middle;}
.left_m1{  margin:0px 0px 1px 0px;}
.left_m1 h3, .left_m1 h3 { height:25px; line-height:25px;  color:#505568; font-weight:  bold; padding:0px 0px 0px 15px; cursor:pointer; border-bottom:2px solid #2684c2; font-size:14px;}
.right{ background:url(../images/r_bg.png) no-repeat top right; width:837px;height:529px; padding-top:2px; background-color:#2684c2;}
.right_pic{ margin:30px auto 20px auto;}
.right-text{ font-size:14px; color:#FFFFFF; font-weight:bold;}
.right-text a{ text-decoration:none;color:#FFFFFF;}
.right-text a:hover{ color:#ff9b21;text-decoration:none;}

.left_mm{width:100%}
.left_mm a{display:block;line-height:15px; color:#333333;height:15px; line-height:15px;  color:#505568; font-weight: normal; padding:5px 0px 5px 26px; cursor:pointer;font-size:12px;}
.left_mm a:hover{ color:#0293cc;}
