/// namespace: TTI
/* >>tenant\_index*/
$page_ns: "TTI";

.TTI {
    &.product_tags {
        $tag_height: 1.5em;

        height: $tag_height;
        line-height: $tag_height * 1.2;

        //因为font-size是10px，所以line-height需要修正
        padding: 0 0.3em;
        margin: 0.1em 0.1em;
    }

    &.d-price {
        padding: 0.3em 0 0.4em 0.5em;
        align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;

        ///display: -webkit-box;
        ///display: -webkit-flex;
        ///display: -ms-flexbox;
        ///display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;

        &:before {
            border-top-width: 0;
            left: 0;
        }

        .shop-price {
            font-size: 18px;
        }

        ///抢
        .grab_it {
            background-color: #eb3341;
            color: #fff;
            padding: 5px 12px;
            border-radius: 5px 0px 0 5px;
        }
    }

    &.store_symbol-mask {
        z-index: 200;
        border-radius: 0;
    }
}

.store_couponR {
    &.#{$page_ns} {
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: auto;

        @at-root .store_coupon {
            &.#{$page_ns} {
                clear: none;
                float: none;
                display: inline-block;

                ///store_coupon-it
                @at-root .store_coupon-it {
                    &.#{$page_ns} {
                        position: relative;
                        display: block;
                        border: 1px solid #e3393c;
                        border-radius: 5px;

                        //@include flexbox;
                        //@include flex-direction(column);
                        .hd {}

                        .bd {}

                        .ft {
                            position: relative;
                            background-color: #e3393c;
                            color: #fff;
                            text-align: center;
                            margin-top: 0.4em;
                            font-size: 1.6em;

                            &:before {
                                content: "";
                                display: block;
                                height: 10px;
                                height: 5px;

                                //background-color: #e3393c;
                                @include background(radial-gradient(10px 10px, #fff 0px, #fff 4px, #e3393c 4px) left top repeat-x #e3393c);

                                background-size: 12px 12px;
                                background-position: 0px -6px;
                            }
                        }
                    }
                }
            }
        }
    }
}

body {
    background-color: #fff;
}

///店铺信息展示
///store_symbol-info written in common
///覆盖common样式
.store_symbol-info {
    &.#{$page_ns} {
        .hd {
            .hd-img {
                &:nth-child(2) {
                    transform: scale(0.8, 0.3);
                    -webkit-transform: scale(0.8, 0.3);
                    transform-origin: center top;
                    -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
                    -webkit-filter: blur(5px);
                }
            }
        }

        .bd {
            text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 1px, rgba(0, 0, 0, 0.6) 1px 1px 2px, rgba(0, 0, 0, 0.5) 2px 2px 3px, rgba(0, 0, 0, 0.4) 3px 3px 4px;

            p {
                font-family: "微软雅黑";
            }
        }
    }
}

.we-icon-bottom {
    font-size: 18px;
    line-height: 18px;
    margin: 7px auto 1px;
}

///popupmenu
.popupmenu {
    max-width: 50%;
    position: fixed;
    bottom: 48px;
    left: 70%;
    max-height: 50%;
    overflow: auto;
    z-index: 1001;
    border: 1px solid #c1c1c1;
    border-bottom-width: 0;
    border-radius: 0.5rem;
    backface-visibility: hidden;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);

    &::-webkit-scrollbar {
        width: 0;
    }

    ///menus
    .menus {
        height: 100%;
        z-index: 230;
        padding: 0 1.5rem;
        border-top-width: 0;
        font-size: 1.4rem;
        background-color: #f9fafb;

        li {
            height: 2.5rem;
            line-height: 2.5rem;
            text-align: center;
            border-bottom: 1px solid #e8eaea;

            &:last-child {
                border-bottom-width: 0px;
            }
        }

        a {
            display: block;
            color: #333;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            &:focus, &:hover {
                color: #333;
            }
        }
    }

    ///arrow
    .arrow {
        display: none;
        z-index: 250;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        bottom: -8px;
        width: 14px;
        height: 9px;
        background: url(../images/popupmenu_bottomarrow.png) center -1px no-repeat #fff;
    }
}

///商品详情页弹出式面板
.store_detail_dialog {
    padding: 1.2rem;
    background-color: #fff;

    .store_QRcode {
        display: inline-block;
        margin: 0.2rem;
        width: 21px;

        img {
            width: 100%;
            max-height: 100%;
            vertical-align: middle;
        }
    }
}

///面板头部
.sim_panel_box01R {
    margin-top: 0;
}

.sim_panel_box01 {
    background-color: #fff;
    padding: 7px 0;

    a {
        font-size: 1.2rem;
    }

    ///left
    @at-root .sim_panel_box01-hd {
        margin: 4px 10px;
        text-align: center;
        width: 15.625vw;
        height: 15.625vw;

        img {
            width: 100%;
            max-height: 100%;
            vertical-align: middle;
            border-radius: 50%;
        }
    }

    ///right
    @at-root .sim_panel_box01-bd {
        h4 {
            font-weight: normal;
            font-size: 16px;
        }

        span {
            font-size: 10px;
            color: #666;
        }
    }

    ///check_licence
    .check_licence {
        display: inline-block;
        padding: 0.3rem 0.5rem;
        border-radius: 3px;
        background-color: #ff6d06;
        color: #fff;
    }
}

///面板内容
.sd_dialog-ctn {
    &.weui_cells {
        &:before {
            border-top-width: 0;
        }

        &:after {
            border-bottom-width: 0;
        }
    }

    //weui_cell
    .weui_cell {
        font-size: 1.2rem;
        color: #333;

        &:first-child {
            &:before {
                //display: block;
           
            }
        }

        .weui_cell_primary {
            color: #666;
            font-size: 10px;

            h3 {
                font-size: 14px;
                color: #333;
                font-weight: normal;
            }

            p {
                &:last-child {
                    font-size: 12px;
                }
            }
        }

        .weui_cell_bd {
            color: #666;
        }

        .weui_cell_ft {
            color: #333;
            font-size: 14px;
        }
    }
}

///弹出式菜单
.popupsheet {
    position: fixed;
    right: 0;
    bottom: 48px;
    left: 0;
    z-index: 600;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    .weui_cell {
        font-size: 14px;

        &:last-child {
            font-size: 12px;
        }
    }
}

//.actionsheet_detail

///sd_dialog-ctn
.sd_dialog-ctn {
    .weui_cell_primary {
        color: #666;
        font-size: 10px;

        h3 {
            font-size: 14px;
            color: #333;
        }
    }
}

.discsyms {
    margin-top: 0;
}

$page_ns: "";

/* >>tenant\_index,end*/