/// namespace: STC-TS-4
/// description: 技术支持子页面
/* >>wap\html\techsupport\004.html*/
$page_ns: "STC-TS-4";

//style here
//技术支持004页面
.client {
    &.STC-TS-5 {
        &.STC-TS-4 {
            //挑货网商家版（WEB端）主体内容
            .business-PC {
                width: 100%;
                text-align: center;

                img {
                    width: 100%;
                    margin-bottom: 1em;
                }

                .business-PC-main {
                    text-align: center;

                    img {
                        width: dimension-to-vw(277px);
                        height: auto;
                        margin-bottom: 0;
                    }

                    h2 {
                        margin: dimension-to-vw(25px) auto dimension-to-vw(40px);
                    }

                    .APP-open {
                        position: static;
                    }
                }
            }
        }
    }
}

$page_ns: "";

/* <<wap\html\techsupport.html*/