/// namespace: STC-TS-6
/// description: 技术支持子页面
/* >>wap\html\techsupport\006.html*/
$page_ns: "STC-TS-6";

//style here
//技术支持006页面
.shopScreen {
    &.STC-TS-5 {
        &.STC-TS-6 {
            //页面头部
            .ss-hd {
                text-align: center;
                margin: dimension-to-vw(29px) auto dimension-to-vw(20px);

                .logo {
                    width: dimension-to-vw(154px);
                    height: dimension-to-vw(62px);
                    margin: 0 auto dimension-to-vw(10px);

                    img {
                        width: 100%;
                    }
                }

                h1 {
                    letter-spacing: .1em;
                }
            }

            //页面主体图片样式
            .ss-bd {
                img {
                    width: 100%;
                }
            }

            //页面底部
            .ss-ft {
                text-align: center;
                padding: dimension-to-vw(50px) 0 dimension-to-vw(55px);

                .support_logo {
                    width: dimension-to-vw(459px);
                    height: dimension-to-vw(57px);
                    margin: dimension-to-vw(15px) auto 0;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

$page_ns: "";

/* <<wap\html\techsupport.html*/