/// namespace: STC-TS-7
/// description: 技术支持子页面
/* >>wap\html\techsupport\007.html*/
$page_ns: "STC-TS-7";

//style here
//技术支持007页面
.cloud {
    &.STC-TS-5 {
        &.STC-TS-6 {
            &.STC-TS-7 {
                //云看店底部
                .cloud-ft {
                    .support_logo {
                        width: dimension-to-vw(376px);
                        height: dimension-to-vw(114px);
                    }
                }
            }
        }
    }
}

$page_ns: "";

/* <<wap\html\techsupport.html*/