/// namespace: STC-TS-9
/// description: 技术支持子页面
/* >>wap\html\techsupport\009.html*/
$page_ns: "STC-TS-9";

//style here
//技术支持009页面

.sharing_system {
    &.STC-TS-5 {
        &.STC-TS-8 {
            &.STC-TS-9 {
                //页面banner图
                .adv_banner {
                    height: dimension-to-vw(400px);
                }

                //优点
                .adv-1 {
                    margin: dimension-to-vw(55px) 0 0 dimension-to-vw(130px);

                    .icon {
                        width: dimension-to-vw(43px);
                    }
                }
            }
        }
    }
}

$page_ns: "";

/* <<wap\html\techsupport.html*/