// -------------------------------------
// common:店铺星级
// -------------------------------------
@at-root .starlevels {
    display: inline-block;
    vertical-align: middle;
    @include no-flicker;

    & > i {
        //display: inline-block;
        float: left;
        width: 1.1em;
        height: 1.1em;

        //background: -webkit-linear-gradient(left, #ff6d06 60%, #bfbebc 60%);
        //background: linear-gradient(left, #ff6d06 60%, #bfbebc 60%);
        background: -webkit-linear-gradient(left, #ff6d06, #ff6d06);
        background: linear-gradient(left, #ff6d06, #ff6d06);

        //background-color: #ff6d06;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }

    & + span {
        vertical-align: middle;
        display: inline-block;
        padding-top: 0.2em;
    }
}