@charset "UTF-8";

.box_tenant {
	display: block;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 2.81vw;
}
.box_tenant:before, .box_tenant:after {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	display: none;
}
.box_tenant:last-child:after {
	border-bottom-width: 0;
}
.box_tenant:active {
	background-color: #ececec;
}
.box_tenant-info {
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	-webkit-align-items: stretch;
	-moz-align-items: stretch;
	align-items: stretch;
	padding-bottom: 0px;
	padding-top: 0px;
}
.box_tenant-info > .weui_cell_hd {
	width: 16vw;
	height: 16vw;
}
.box_tenant-info > .weui_cell_hd img {
	height: 100%;
	width: 100%;
	border-radius: 3px;
}
.box_tenant-info > .weui_cell_bd {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	justify-content: space-around;
	margin-left: 2.5vw;
}
.box_tenant-info p.storename {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	color: #333;
	line-height: 1;
}
.box_tenant-info p.storename > span {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-size: 14px;
}
.box_tenant-info div.starlevelsR {
	line-height: 1;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.box_tenant-info div.starlevelsR>span {
	color: #ff6d06;
}
.box_tenant-info .mainAaddress {
	padding: 0;
	line-height: 1.8;
}
.box_tenant-info .mainAaddress:before {
	display: none;
}
.box_tenant-info .mainAaddress .mainbusiness {
	color: #888;
}
.box_tenant-info .mainAaddress .address {
	text-align: right;
	color: #888;
}
.box_tenant-promotions {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
}
.box_tenant-promotions:before {
	display: none;
}
.box_tenant-promotions > .weui_cell_hd {
	width: 16vw;
}
.box_tenant-promotions > .weui_cell_primary {
	position: relative;
	margin-left: 3.13vw;
}
.box_tenant-promotions > .weui_cell_primary:before {
	content: " ";
	position: absolute;
	color: #ddd;
	border-top: 1px solid #ddd;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}
.box_tenant-promotions .promdesc {
	line-height: 1;
}
.box_tenant-promotions .promdesc .promtag {
	font-size: 11px;
}
.box_tenant-promotions .promdesc span {
	color: #666;
}

/* 促销标签*/
.promtag.pt-buyfree:before {
	content: "\e65c";
	color: #ffa627;
}
.promtag.pt-discount:before {
	content: "\e65d";
	color: #ff635b;
}
.promtag.pt-mail:before {
	content: "\e665";
	color: #10AEFF;
}
.promtag.pt-new:before {
	content: "\e666";
	color: #06c1ae;
}
.promtag.pt-coupon:before {
	content: "\e619";
	color: #c183e2;
}
.promtag.pt-voucher:before {
	content: "\e68c";
	color: #c183e2;
}
.promtag.pt-integral:before {
	content: "\e68d";
	color: #ff9900;
}
.promtag.pt-seckill:before {
	content: "\e68e";
	color: #ff4466;
}

/* 星级*/
.starlevels {
	display: inline-block;
	vertical-align: middle;
}
.starlevels > i {
	float: left;
	width: 1.1em;
	height: 1.1em;
	background: -webkit-linear-gradient(left, #ff6d06, #ff6d06);
	background: linear-gradient(left, #ff6d06, #ff6d06);
	-webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}