// -------------------------------------
// common:商品图形化标签
// -------------------------------------
.prodtag {
    //推荐
    &.pt-5 {
        &:before {
            content: "\e696";
            color: #c183e2;
        }
    }

    //新品
    &.pt-2 {
        &:before {
            content: "\e666";
            color: #06c1ae;
        }
    }

    //热销
    &.pt-1 {
        &:before {
            content: "\e695";
            color: #ff635b;
        }
    }

    //明星导购推荐
    &.pt-31 {
        &:before {
            content: "\e670";
            color: #ffa627;
        }
    }
}