<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="" content="">
    <title>聚德汇-店铺优惠券</title>
    <meta name="keywords" content="聚德汇-店铺优惠券" />
    <meta name="description" content="聚德汇-店铺优惠券" />
    <script type="text/javascript" src="../../../resources/b2c/js/jquery-1.9.1.min.js"></script>
    <link rel="icon" href="../../../resources/b2c/images/favicon.ico" type="image/x-icon">
    <link href="../../../resources/b2c/css/common.css" type="text/css" rel="stylesheet">

    <link href="../../../resources/b2c/css/coupon_popup.css" type="text/css" rel="stylesheet">
</head>
<body>

<div id="qqq" style="width: 100%;height: 2000px;">
    1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>
    1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>
    1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>
    1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>
    1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>1<br/>12<br/>
</div>


<div id="coupon-trigger">
    <span class="shop-coupon-trigger">
    <em>店铺优惠券</em>
    <span class=""></span>
</span>
</div>

<div class="ks-overlay cart-tips coupon-popup" id="coupon-popup">
    <a class=" ks-overlay-close" href="javascript:void('close')" role="button">

    </a>
    <div class=" ks-overlay-content">
        <div class="coupon-summary">
            <span class="icon-announcement"></span>
            已领取
            <em>0</em>
            张优惠券，有新优惠券可领取
        </div>
        <div class="coupon-list">
            <div class="cart-container">
                <ul>
                    <li class="coupon-youhuijuan">
                        <div class="coupon-amount">
                            <span class="rmb" title="¥ 10">¥ 10</span>

                        </div>
                        <div class="coupon-detail">
                            <div class="coupon-info">
                                <p class="coupon-title">春节第二波&nbsp;满200减10</p>
                                <p class="coupon-time">2016.02.16-2016.02.29</p>
                            </div>
                            <div class="coupon-op">
                                <a href="javascript:void(0);" class="coupon-unreceived">领 取</a>
                            </div>
                        </div>
                    </li>
                    <li class="coupon-youhuijuan">
                        <div class="coupon-amount">
                            <span class="rmb">¥ 10</span>

                        </div>
                        <div class="coupon-detail">
                            <div class="coupon-info">
                                <p class="coupon-title">2月聚划算10&nbsp;满200减10</p>
                                <p class="coupon-time">2016.02.19-2016.02.21</p>
                            </div>
                            <div class="coupon-op">
                                <a href="javascript:void(0);" class="coupon-unreceived select">已 领</a>
                            </div>
                        </div>
                    </li>
                    <li class=" coupon-youhuijuan">
                        <div class="coupon-amount">
                            <span class="rmb">¥ 20</span>

                        </div>
                        <div class="coupon-detail">
                            <div class="coupon-info">
                                <p class="coupon-title">2月聚划算20&nbsp;满358减20</p>
                                <p class="coupon-time">2016.02.19-2016.02.21</p>
                            </div>
                            <div class="coupon-op">
                                <a href="javascript:void(0);" class="coupon-unreceived">领 取</a>
                            </div>
                        </div>
                    </li>
                    <li class=" coupon-youhuijuan">
                        <div class="coupon-amount">
                            <span class="rmb">¥ 20</span>

                        </div>
                        <div class="coupon-detail">
                            <div class="coupon-info">
                                <p class="coupon-title">春节第二波20&nbsp;满358减20</p>
                                <p class="coupon-time">2016.02.16-2016.02.29</p>
                            </div>
                            <div class="coupon-op">
                                <a href="javascript:void(0);" class="coupon-unreceived">领 取</a>
                            </div>
                        </div>
                    </li>
                    <li class=" coupon-youhuijuan">
                        <div class="coupon-amount">
                            <span class="rmb">¥ 30</span>
                        </div>
                        <div class="coupon-detail">
                            <div class="coupon-info">
                                <p class="coupon-title">春节第二波20&nbsp;满358减20</p>
                                <p class="coupon-time">2016.02.16-2016.02.29</p>
                            </div>
                            <div class="coupon-op">
                                <a href="javascript:void(0);" class="coupon-unreceived">领 取</a>
                            </div>
                        </div>
                    </li>
                    <li class=" coupon-youhuijuan">
                        <div class="coupon-amount">
                            <span class="rmb">¥ 20</span>

                        </div>
                        <div class="coupon-detail">
                            <div class="coupon-info">
                                <p class="coupon-title">2月聚划算20&nbsp;满358减20</p>
                                <p class="coupon-time">2016.02.19-2016.02.21</p>
                            </div>
                            <div class="coupon-op">
                                <a href="javascript:void(0);" class="coupon-unreceived">领 取</a>
                            </div>
                        </div>
                    </li>
                    <li class=" coupon-youhuijuan">
                        <div class="coupon-amount">
                            <span class="rmb">¥ 20</span>

                        </div>
                        <div class="coupon-detail">
                            <div class="coupon-info">
                                <p class="coupon-title">2月聚划算20&nbsp;满358减20</p>
                                <p class="coupon-time">2016.02.19-2016.02.21</p>
                            </div>
                            <div class="coupon-op">
                                <a href="javascript:void(0);" class="coupon-unreceived">领 取</a>
                            </div>
                        </div>
                    </li>
                    <li class=" coupon-youhuijuan">
                        <div class="coupon-amount">
                            <span class="rmb">¥ 20</span>

                        </div>
                        <div class="coupon-detail">
                            <div class="coupon-info">
                                <p class="coupon-title">2月聚划算20&nbsp;满358减20</p>
                                <p class="coupon-time">2016.02.19-2016.02.21</p>
                            </div>
                            <div class="coupon-op">
                                <a href="javascript:void(0);" class="coupon-unreceived">领 取</a>
                            </div>
                        </div>
                    </li>
                    <li class=" coupon-youhuijuan">
                        <div class="coupon-amount">
                            <span class="rmb">¥ 20</span>

                        </div>
                        <div class="coupon-detail">
                            <div class="coupon-info">
                                <p class="coupon-title">2月聚划算20&nbsp;满358减20</p>
                                <p class="coupon-time">2016.02.19-2016.02.21</p>
                            </div>
                            <div class="coupon-op">
                                <a href="javascript:void(0);" class="coupon-unreceived">领 取</a>
                            </div>
                        </div>
                    </li>
                    <li class=" coupon-youhuijuan">
                        <div class="coupon-amount">
                            <span class="rmb">¥ 20</span>

                        </div>
                        <div class="coupon-detail">
                            <div class="coupon-info">
                                <p class="coupon-title">2月聚划算20&nbsp;满358减20</p>
                                <p class="coupon-time">2016.02.19-2016.02.21</p>
                            </div>
                            <div class="coupon-op">
                                <a href="javascript:void(0);" class="coupon-unreceived">领 取</a>
                            </div>
                        </div>
                    </li>
                    <li class=" coupon-youhuijuan">
                        <div class="coupon-amount">
                            <span class="rmb">¥ 20</span>

                        </div>
                        <div class="coupon-detail">
                            <div class="coupon-info">
                                <p class="coupon-title">2月聚划算20&nbsp;满358减20</p>
                                <p class="coupon-time">2016.02.19-2016.02.21</p>
                            </div>
                            <div class="coupon-op">
                                <a href="javascript:void(0);" class="coupon-unreceived">领 取</a>
                            </div>
                        </div>
                    </li>
                    <li class=" coupon-youhuijuan">
                        <div class="coupon-amount">
                            <span class="rmb">¥ 20</span>

                        </div>
                        <div class="coupon-detail">
                            <div class="coupon-info">
                                <p class="coupon-title">2月聚划算20&nbsp;满358减20</p>
                                <p class="coupon-time">2016.02.19-2016.02.21</p>
                            </div>
                            <div class="coupon-op">
                                <a href="javascript:void(0);" class="coupon-unreceived">领 取</a>
                            </div>
                        </div>
                    </li>
                    <li class=" coupon-youhuijuan">
                        <div class="coupon-amount">
                            <span class="rmb">¥ 20</span>

                        </div>
                        <div class="coupon-detail">
                            <div class="coupon-info">
                                <p class="coupon-title">2月聚划算20&nbsp;满358减20</p>
                                <p class="coupon-time">2016.02.19-2016.02.21</p>
                            </div>
                            <div class="coupon-op">
                                <a href="javascript:void(0);" class="coupon-unreceived">领 取</a>
                            </div>
                        </div>
                    </li>
                    <li class=" coupon-youhuijuan">
                        <div class="coupon-amount">
                            <span class="rmb">¥ 20</span>

                        </div>
                        <div class="coupon-detail">
                            <div class="coupon-info">
                                <p class="coupon-title">2月聚划算20&nbsp;满358减20</p>
                                <p class="coupon-time">2016.02.19-2016.02.21</p>
                            </div>
                            <div class="coupon-op">
                                <a href="javascript:void(0);" class="coupon-unreceived">领 取</a>
                            </div>
                        </div>
                    </li>
                    <li class=" coupon-youhuijuan">
                        <div class="coupon-amount">
                            <span class="rmb">¥ 20</span>

                        </div>
                        <div class="coupon-detail">
                            <div class="coupon-info">
                                <p class="coupon-title">2月聚划算20&nbsp;满358减20</p>
                                <p class="coupon-time">2016.02.19-2016.02.21</p>
                            </div>
                            <div class="coupon-op">
                                <a href="javascript:void(0);" class="coupon-unreceived">领 取</a>
                            </div>
                        </div>
                    </li>
                    <li class=" coupon-youhuijuan">
                        <div class="coupon-amount">
                            <span class="rmb">¥ 20</span>

                        </div>
                        <div class="coupon-detail">
                            <div class="coupon-info">
                                <p class="coupon-title">2月聚划算20&nbsp;满358减20</p>
                                <p class="coupon-time">2016.02.19-2016.02.21</p>
                            </div>
                            <div class="coupon-op">
                                <a href="javascript:void(0);" class="coupon-unreceived">领 取</a>
                            </div>
                        </div>
                    </li>
                    <li class=" coupon-youhuijuan">
                        <div class="coupon-amount">
                            <span class="rmb">¥ 20</span>

                        </div>
                        <div class="coupon-detail">
                            <div class="coupon-info">
                                <p class="coupon-title">2月聚划算20&nbsp;满358减20</p>
                                <p class="coupon-time">2016.02.19-2016.02.21</p>
                            </div>
                            <div class="coupon-op">
                                <a href="javascript:void(0);" class="coupon-unreceived">领 取</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    /*-------shoppingCart优惠劵点击事件--------*/
    var sctSpan = $(".shop-coupon-trigger span");
    $("#coupon-popup").hide();
    $(document).ready(function() {
        $(".ks-overlay-close").click(function(){
            $("#coupon-popup").hide();
            $(sctSpan).removeClass("on");
        });
    });
    /*-------shoppingCart优惠劵点击事件2--------*/
    function e(obj){
        return document.getElementById(obj)
    }
    e('coupon-trigger').onclick=function(event){
        e('coupon-popup').style.display='block';
        $(sctSpan).addClass("on");
        stopBubble(event);
        document.onclick=function(){
            e('coupon-popup').style.display='none';
            $(sctSpan).removeClass("on");
            document.onclick=null;

        }
    }
    e('coupon-popup').onclick=function(event){
        //只阻止了向上冒泡，而没有阻止向下捕获，所以点击con的内部对象时，仍然可以执行这个函数
        stopBubble(event);
    }
    //阻止冒泡函数
    function stopBubble(e){
        if(e && e.stopPropagation){
            e.stopPropagation();  //w3c
        }else{
            window.event.cancelBubble=true;//IE
        }
    }
    //


</script>
</body>
</html>