// -------------------------------------
// common:商家列表
// -------------------------------------
//
@at-root .box_tenant {
    display: block;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: dimension-to-vw(18px);

    &:before, &:after {
        @include no-flicker;

        display: none;
    }

    &:last-child {
        &:after {
            border-bottom-width: 0;
        }
    }

    &:active {
        background-color: #ececec;
    }

    //商家列表项主体
    @at-root .box_tenant-info {
        $father_box_tenant-info: #{&};

        @include align-items(stretch);

        padding-bottom: 0px;
        padding-top: 0px;

        @include flexbox;

        @include flex-direction(row);

        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;

        & > .weui_cell_hd {
            width: 16vw;
            height: 16vw;

            //margin-right: 0.5em;
            //padding: 0.2em 0.5em 0.3em 0;
            img {
                height: 100%;
                width: 100%;
                border-radius: 3px;
            }
        }

        & > .weui_cell_bd {
            @include flexbox;

            @include flex-direction(column);

            @include justify-content(space-around);

            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            margin-left: dimension-to-vw(16px);

            @at-root #{$father_box_tenant-info} {
                //店铺名称
                p {
                    &.storename {
                        @include flexbox;

                        @include flex-direction(row);

                        @include justify-content(center);

                        -ms-flex-align: center;
                        -webkit-align-items: center;
                        -webkit-box-align: center;
                        align-items: center;
                        color: #333;
                        line-height: 1;

                        & > span {
                            @include flex;
                        }
                    }
                }

                //星级
                div {
                    &.starlevelsR {
                        line-height: 1;

                        @include no-flicker;

                        //margin-bottom: 0.3em;
                   
                    }
                }

                //主营&地址
                .mainAaddress {
                    padding: 0;
                    line-height: 1.8;

                    @include flexbox;

                    @include flex-direction(row);

                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    -webkit-box-align: center;
                    align-items: center;

                    &:before {
                        display: none;
                    }

                    &:after {
                        //@include dividingline(bottom, #ddd);
                   
                    }

                    .mainbusiness {
                        color: #888;

                        //font-size: 10px;
                   
                    }

                    .address {
                        text-align: right;
                        color: #888;
                        -webkit-box-flex: 1;
                        -moz-box-flex: 1;
                        -webkit-flex: 1;
                        -ms-flex: 1;
                        flex: 1;
                    }
                }
            }
        }
    }

    //商家列表项附加
    @at-root .box_tenant-promotions {
        $father_box_tenant-promotions: #{&};

        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;

        @include flexbox;

        @include flex-direction(row);

        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;

        &:before {
            display: none;
        }

        //promotions
        & > .weui_cell_hd {
            width: 16vw;

            //height: 16vw;
       
        }

        & > .weui_cell_primary {
            position: relative;
            margin-left: dimension-to-vw(20px);
            -webkit-box-flex: 1;
                -moz-box-flex: 1;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;

            //padding-top: 5px;
            &:before {
                @include dividingline(top, #ddd);
            }

            @at-root #{$father_box_tenant-promotions} .promdesc {
                line-height: 1;
            }
        }
    }
}