/// namespace: PPPD
/* >>product\_product-product*/
$page_ns: "PPPD";

///box_st
.box_st {
    &.#{$page_ns} {
        padding: 5px 15px;
        padding-bottom: 0;
        font-size: 12px;
        color: #666;

        .weui_cell_hd {
            i {
                vertical-align: middle;
            }
        }

        .weui_cell_bd {
            padding: 0 1em;

            span {
                font-size: 14px;
            }
        }
    }
}

//box_st_addr
.box_st_addr {
    padding: 5px 15px;
    font-size: 12px;
    color: #999;
    padding-top: 0;
    text-indent: 0.5em;
}

//

.addrits {
    &.#{$page_ns} {
        & > .weui_actionsheet_menu {
            & > .weui_cells {
                margin-top: 0;
            }
        }

        @at-root .addrits-title {
            &.#{$page_ns} {
                font-size: 16px;
                text-align: center;
                color: #333;
                //font-weight: bold;
                margin-top: 0;
                margin-bottom: 0;

                //background-color: #e8eaea;
           
            }
        }

        @at-root .addrits-ctn {
            &.#{$page_ns} {
                padding-bottom: 50px;
                font-size: 14px;
                color: #666;

                & > .weui_cell {
                    &.active {
                        .icon_check {
                            visibility: visible;
                        }
                    }
                }

                &:before {
                    color: #09BB07;
                    border-top: 1px solid #09BB07;
                }

                .store-name {
                    font-size: 14px;
                    color: #333;
                    font-weight: normal;
                }

                .store-address {
                    font-size: 12px;
                    color: #999;
                }

                //选中按钮
                .icon_check {
                    color: #09BB07;
                    visibility: hidden;
                }
            }
        }
    }
}

$page_ns: "";

/* >>product\_product-product,end*/