/// namespace: ACT828
/* >>activity\828.ftl*/
$page_ns: "ACT828";
$star: "*";

.bg_act_828 {
    background-color: #df0e3e;
}

.bg_act_924 {
    background-color: #fbba28;
}

.color_red {
    color: #eb3341;
}

body {
    font-family: "Microsoft YaHei";
}

.banner {
    &.#{$page_ns} {
        position: relative;

        @at-root (without: all) {
            .img {
                width: 100%;
            }
        }

        a {
            position: absolute;
            top: 2vw;
            right: 4vw;
            z-index: 2;
            display: block;
            text-decoration: underline;
            color: #fff;
            font-family: "Microsoft YaHei";
            font-size: 0.875em;
            line-height: 1;
        }
    }
}

.guize {
    &.#{$page_ns} {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;

        .guize_item {
            width: 90%;
            height: auto;
            margin: 8vw auto;
            overflow-y: auto;
            position: relative;
            color: #341012;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 1vw;
            padding: 0 4vw;
            padding-bottom: 5vw;

            .guize_delete {
                display: block;
                font-style: normal;
                font-size: 5vw;
                text-align: center;
                padding: 1vw 20vw;

                a {
                    color: #ffffff;
                    background-color: #341012;
                    border-radius: 1vw;
                    display: block;
                    padding: 2vw 0;
                }
            }

            h2 {
                text-align: center;
                font-weight: 400;
                line-height: 1.5;
                font-size: 5vw;
                padding-top: 2vw;
            }

            p {
                text-align: left;
                line-height: 1.8;
                font-size: 4vw;
                position: relative;

                //padding-left: 5vw;
                &:nth-child(1) {
                    text-align: center;
                    font-size: 5vw;
                    padding-top: 2vw;
                    line-height: 2.2;
                }

                //span {
                //  position: absolute;
                //  top: 0;
                //  left: 0;
                //}
           
            }
        }
    }
}

.timer {
    &.#{$page_ns} {
        margin: 3vw auto;
        width: 80%;
        height: auto;
        text-align: center;
        font-size: 4.2vw;
        padding: 1vw 1vw 1vw 3vw;
        background-color: #d58722;
        border-radius: 1vw;
        position: relative;

        .ACT924 {
            position: absolute;
            top: 2.5vw;
            left: -1.5vw;
            width: 4vw;
            height: 4vw;
            background-color: #d58722;
            border-radius: 2vw;
        }

        span {
            display: inline-block;
            height: auto;
            border-radius: 10%;
            background-color: #fff;
            color: #f5400b;
            font-weight: 600;
            padding: 0 0.5vw;
            font-family: cursive;
        }
    }
}

.nav {
    &.#{$page_ns} {
        //display: flex;
        @include flexbox;

        @include flex-direction(row);

        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        font-size: 3.6vw;
        line-height: 1;
        width: 100%;
        z-index: 999;
        top: 0;

        a {
            flex: 1;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            padding: 3.4vw 0vw;
            float: left;
            color: #000;
            position: relative;

            &.#{$page_ns} {
                background-color: #fff;
                color: #eb3341;

                span {
                    border-left-color: #ff557c;
                }
            }

            span {
                padding: 0.5vw 0;
                border-left: 0.3vw solid #ccc;
                display: block;
            }

            i {
                position: absolute;
                right: 4vw;
                top: 0.4vw;
                display: block;
                font-size: 0.75em;
                color: #fff;
                background-color: #e63d46;
                padding: 0.1vw 1vw;
                border-radius: 1vw;
            }

            &:nth-child(1) {
                span {
                    border-left: none;
                }
            }

            &:nth-child(2n) {
                i {
                    display: none;
                }
            }

            &:nth-child(3n) {
                i {
                    display: none;
                }
            }

            &.ACT924 {
                padding: 2vw 0vw;

                span {
                    border-left: none;
                }

                i {
                    display: none;
                }
            }
        }
    }
}

.content {
    @at-root .list_item {
        &.#{$page_ns} {
            .top {
                position: relative;
                padding: 4vw 0;
                width: 100%;

                h2 {
                    font-size: 3.5vw;
                    color: #de253a;
                    text-align: center;
                    font-weight: 600;
                    width: 100%;
                    position: absolute;
                    top: 5.8vw;
                    line-height: 1;
                }

                span {
                    @extend h2;

                    top: 60%;
                    left: 0;
                    font-size: 3vw;
                    font-weight: 400;

                    //color: #e8bac0;
               
                }
            }

            .items {
                padding: 0 2vw;
                width: 100%;
                padding-bottom: 1px;

                .ACT924 {
                    padding: 2vw;
                    background-color: #fff;
                }

                .item {
                    position: relative;
                    margin-bottom: 2vw;

                    @at-root .item .title {
                        //display: flex;
                        font-size: 3.4vw;
                        padding: 3vw 0;
                        line-height: 1.1;

                        //margin-top: -1px;
                        overflow: hidden;

                        span {
                            display: block;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            width: 100%;
                            padding: 0 2vw;
                            margin-bottom: 1vw;
                            line-height: 1.5;

                            &:nth-child(1) {
                                color: #282828;
                                line-height: 1.1;
                            }

                            &:nth-child(2) {
                                font-size: 2.6vw;
                                color: #666;
                                margin-bottom: 3vw;
                            }

                            &:nth-child(3) {
                                color: #e3393c;

                                i {
                                    font-weight: 600;
                                    font-style: normal;
                                }
                            }

                            &:nth-child(4) {
                                color: #fff;
                                background-color: #e3393c;
                                font-size: 2.6vw;
                                width: auto;
                                padding: 0;
                                margin-left: 2vw;
                                display: inline-block;
                                padding-right: 0.5vw;

                                em {
                                    font-style: normal;
                                    padding: 1vw;
                                    display: inline-block;
                                }

                                i {
                                    color: #e3393c;
                                    background-color: #fff;
                                    font-style: normal;
                                    padding: 0.5vw 2vw;
                                    display: inline-block;
                                    font-family: cursive;
                                }
                            }

                            &:nth-child(5) {
                                color: #fff;
                                background-color: #e3393c;
                                text-align: center;
                                padding: 0;
                                padding-top: 1.5vw;
                                padding-bottom: 1.5vw;
                                margin-left: 2vw;
                                width: 92%;
                                border-radius: 1vw;
                            }
                        }
                    }

                    @at-root .item.ACT924 {
                        a {
                            display: flex;

                            .img {
                                width: 36%;
                                padding: 3%;
                            }

                            .title {
                                flex: 1;
                            }
                        }
                    }

                    .label {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 1.5vw 4vw 1.5vw 2vw;
                        font-size: 2.2vw;
                        background: #f54043;
                        border-top-right-radius: 3vw;
                        border-bottom-right-radius: 3vw;
                        color: #fff;
                        line-height: 1;
                    }
                }

                ul {
                    display: inline-block;
                    list-style-type: none;
                    width: 101%;
                    margin-left: -1.5%;

                    li {
                        width: 48%;
                        height: auto;
                        padding-bottom: 2vw;
                        margin-left: 2%;
                        float: left;

                        @at-root .title_info {
                            display: flex;
                            font-size: 4vw;
                            line-height: 1;
                            margin-top: -1px;
                            color: #000;
                            width: 100%;
                            text-align: center;

                            .title_l {
                                flex: 1;
                                padding: 2vw;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;

                                span {
                                    display: block;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    width: 100%;
                                    padding-top: 1vw;

                                    &:nth-child(2) {
                                        color: #e23a3d;
                                        padding-top: 2vw;
                                        line-height: 1.2;
                                    }

                                    &:nth-child(3) {
                                        background-color: #f54043;
                                        color: #fff;
                                        margin-top: 2vw;
                                        padding: 2vw 0;
                                        border-radius: 1vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .bottom {
                text-align: center;
                color: #fff;
                display: block;
                line-height: 1;
                font-size: 3.2vw;
                padding: 2vw 0;

                i {
                    font-style: normal;
                    font-size: 2.6vw;
                }
            }
        }
    }
}

.actGotop {
    &.#{$page_ns} {
        z-index: 99;
        position: fixed;
        bottom: 5vw;
        right: 2vw;
        display: none;
        width: 12vw;
        overflow: hidden;
    }
}

.gradient {
    &.#{$page_ns} {
        background: linear-gradient(top, #f9a11b, #fbba28);
        background: -webkit-linear-gradient(top, #f9a11b, #fbba28);
        background: -moz-linear-gradient(top, #f9a11b, #fbba28);
        background: -o-linear-gradient(top, #f9a11b, #fbba28);
        padding: 1vw 0;
    }
}

@include mq($min-device-width: 320px, $max-device-height: 480px) {
    .guize {
        &.#{$page_ns} {
            .guize_item {
                margin: 4vw auto;
            }
        }
    }
}


.item .shangquan_title {
    @include flexbox;

    @include flex-direction(row);

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;

    & > span {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}

$page_ns: "";
$star: "";

/* <<activity\828.ftl*/