/// namespace: IDN
/* >>indexnew.ftl*/
$page_ns: "IDN";
$star: "*";

.topbar {
  &.#{$page_ns} {
    position: fixed;
    z-index: 249;
    top: 0;
    left: 0;
    right: 0;

    &:after {
      @include dividingline(bottom, #e0e0e0);
    }

    @include flexbox;

    @include justify-content(space-between);

    @include align-items(center);

    a {
      color: #333;
      font-family: "微软雅黑";
      display: block;
      padding: 0.8em;
      line-height: 1;

      &:nth-child(2) {
        padding: 0.5em;

        & > .iconfont {
          vertical-align: middle;
          margin-right: -0.2em;
        }

        & > span {
          position: relative;

          &:after {
            content: '';
            width: 0;
            height: 0;
            top: 50%;
            margin-top: -0.15em;
            right: -0.8em;
            position: absolute;
            background-color: transparent;
            border-width: 0.35em 0.3em 0 0.3em;
            border-color: #333 transparent transparent transparent;
            border-style: solid;
          }
        }
      }
    }
  }
}

//频道
.channels {
  &.#{$page_ns} {
    font-size: 0;

    //所有浏览器
    #{$star}word-spacing: -1px;

    //IE6、7
    overflow-x: auto;
    padding: dimension-to-vw(12.8px);
    background-color: #fff;

    .it {
      width: dimension-to-vw(120.32px);
      text-align: center;
      width: dimension-to-vw(153.6px);
      display: inline-block;
      #{$star}display: inline;
      #{$star}zoom: 1;
      font-family: "微软雅黑";
      padding: dimension-to-vw(12.8px) 0;
      letter-spacing: normal;
      word-spacing: normal;

      //vertical-align: top;
      &:nth-child(4n+5), &:nth-child(4n+6), &:nth-child(4n+7), &:nth-child(4n+8) {
        padding-top: 0;
      }

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          .channel_sign {
            &.anm-trsi {
              transition: transform #{$i * 0.1 + 0.1}s ease;
              -webkit-transition: transform #{$i * 0.1 + 0.1}s ease;
            }

            &.anm-init {
              @include transform(translateY(-#{$i * 9}px));
            }
          }
        }
      }

      @for $i from 5 through 8 {
        &:nth-child(#{$i}) {
          .channel_sign {
            &.anm-trsi {
              transition: transform #{(9 - $i) * 0.1 + 0.1}s ease;
              -webkit-transition: transform #{(9 - $i) * 0.1 + 0.1}s ease;
            }

            &.anm-init {
              @include transform(translateY(-#{(9 - $i) * 9}px));
            }
          }
        }
      }

      //频道图标wrap
      .channel_sign_rap {
        padding: 0 dimension-to-vw(38.4px);
      }

      //频道图标
      .channel_sign {
        @include no-flicker;

        &.bounceup {
          @include bounce3($delay: 1s, $duration: 1.5s, $count: 1);
        }
      }

      p {
        text-align: center;
        line-height: 2.4em;
        height: 2em;
      }
    }
  }
}

.carousel {
  &.#{$page_ns} {
  }
}

.adsboard {
  &.#{$page_ns} {
    $father_adsboard: #{&};

    position: relative;
    height: dimension-to-vw(294.4px);
    margin-top: 10px;
    background-color: #fff;

    &:before {
      @include dividingline(top, #e0e0e0);
    }

    &:after {
      @include dividingline(bottom, #e0e0e0);
    }

    div {
      overflow: hidden;

      & > a {
        display: block;
      }
    }

    .L {
      position: absolute;
      width: 37.5%;
      height: 100%;
      left: 0;
      background-position: center center;
      background-size: contain;

      &:after {
        @include dividingline(right, #e0e0e0);
      }
    }

    .R {
      position: absolute;
      width: 62.5%;
      height: 100%;
      right: 0;

      @at-root #{$father_adsboard} {
        .R-1 {
          position: absolute;

          //height: 50%;
          height: 40%;
          width: 100%;
          top: 0;
          background-position: center center;
          background-size: contain;

          &:after {
            @include dividingline(bottom, #e0e0e0);
          }
        }

        .R-2 {
          position: absolute;

          //height: 50%;
          height: 60%;
          width: 100%;
          bottom: 0;

          & > a {
            position: absolute;
            height: 100%;
            width: 50%;
            background-position: center center;
            background-size: contain;

            &:first-child {
              left: 0;

              &:after {
                @include dividingline(right, #e0e0e0);
              }
            }

            &:last-child {
              right: 0;
            }
          }
        }
      }
    }
  }
}

.recomtenants {
  &.#{$page_ns} {
    @at-root .recomtenants-title {
      &.#{$page_ns} {
        margin-top: 10px;
        padding: 6px 15px;
        font-size: 13px;

        @include flexbox;

        @include flex-direction(row);
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;

        //color: #666;
        .iconfont {
          font-size: 12px;
        }

        &:before {
          left: 0;
          content: none;
        }

        &:after {
          @include dividingline(bottom, #e0e0e0);
        }
      }

      .weui_cell_bd {
        text-indent: 0.5em;
      }
    }

    a.loadonclick {
      text-align: center;
      display: block;
      padding: 1em 0;
    }
  }
}

.activitylarge {
  position: fixed;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 450;

  @at-root .activitylarge-mask {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent;

    &.trsi {
      transition: background .3s;
    }

    &.anm-fade {
      background: rgba(0, 0, 0, 0.6);
    }
  }

  @at-root .activitylarge-img {
    position: absolute;
    top: 50%;

    //left: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);

    .closebtn {
      @include no-flicker;

      display: inline-block;
      position: absolute;
      top: -(dimension-to-vw(20px));
      right: dimension-to-vw(20px);

      //font-size: 10px;
      //text-align: center;
      width: dimension-to-vw(36px);
      height: dimension-to-vw(36px);
      margin: dimension-to-vw(20px);
      border-radius: 50%;
      background-color: #ffef00;

      //color: #000;

      & > i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
      }
    }


  }
}

$page_ns: "";
$star: "";

/* <<indexnew.ftl*/