/// namespace: MR-OROY
/* >>member/order/orderPay*/
$page_ns: "MR-OROY";

body {
    &.#{$page_ns} {
        background-color: #e8eaea;
    }
}

///收件地址
.receiverR {
    &.#{$page_ns} {
        margin-top: 0.5em;

        ///receiverR-main
        @at-root .receiverR-main {
            p {
                &:first-child {
                    font-size: 16px;
                    line-height: 1.6;
                }

                &:last-child {
                    color: #333;
                    font-size: 12px;

                    i.iconfont {
                        padding-right: 0.3em;
                        color: #5c5c5c;
                    }
                }
            }
        }
    }
}

///订单条件：支付方式，配送方式，优惠券
.order_methodsR {
    &.#{$page_ns} {
        margin-top: 0.5em;

        ///selectR
        .selectR {
            text-align: right;

            &:after {
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
            }

            select {
                width: auto;
                font-size: 12px;
                direction: rtl;
            }
        }

        @at-root .order_methodsR-select {
            .hd {
                padding-left: 15px;
                font-size: 16px;
            }
        }

        @at-root .addtiondesc {
            &.#{$page_ns} {
                textarea {
                    font-size: 14px;
                }
            }
        }
    }
}

///订单详情
.order_tradeR {
    &.#{$page_ns} {
        margin-top: 0.5em;

        .storenameR {
            margin: 0 auto;
            font-size: 16px;
        }
    }
}

//样式覆盖
.MR-OROY {
    @at-root %common_goodstag {
        display: inline-block;
        font-size: 10px;
        padding: 1px 2px;
        margin-left: 0.2em;
        border-radius: 2px;
    }

    &.order-gift {
        @extend %common_goodstag;
    }

    &.order-discount {
        @extend %common_goodstag;
    }
}

///goodsR
.goodsR {
    @include align-items(flex-start);

    ///goodsR-txtR
    @at-root .goodsR-txtR {
        //商品名称
        @at-root .goodsR-txtR-desc {
            font-size: 15px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        //颜色尺码
        @at-root .goodsR-txtR-clr {
            font-size: 10px;
            color: #666;
            margin: 0.2em 0 0.8em 0;
        }

        @at-root .goodsR-txtR-price {
            span.pt1 {
                display: inline-block;
                vertical-align: middle;
                font-size: 16px;
                color: #333;
            }

            del.pt2 {
                display: inline-block;
                vertical-align: middle;
                padding-left: 0.3em;
                font-size: 10px;
                color: #666;
            }
        }
    }

    //goodsR-howmany
    @at-root .goodsR-howmany {
        padding-left: 0.5em;
        color: #666;
        line-height: 2.5;

        b {
            font-size: 14px;
            font-weight: normal;
            vertical-align: middle;
        }
    }
}

$page_ns: "";

/* >>member/order/orderPay,end*/