@charset "utf-8";

/*------------- 手机移动端页面头部 mobile_store_head ----------------*/

div.mobile_store_head {
	width: 100%;
	height: 336px;
	text-align: center;
	background: url(../../../resources/pc/images/手机.png) no-repeat center;
}

div.mobile_store_head h3 {
	text-align: center;
	padding-top: 120px;
	font-size: 36px;
	color: #444444;
	font-weight: 400;
	line-height: 1.1;
}

div.mobile_store_head h1 {
	text-align: center;
	padding-top: 25px;
	font-size: 50px;
	color: #0f94f2;
	font-weight: 400;
	line-height: 1.1;
}

/*-------mobile_store_box 共用-------*/

.title {
	width: 450px;
	padding-top: 250px;
}

.title_l {
    float: left;
}

.title_r {
    float: right;
}

.img_l {
    float: left;
}

.img_r {
    float: right;
}

div.mobile_store_box {
	width: 100%;
}

div.mobile_store_box .img {
	padding: 60px 0;
}

div.mobile_store_box .container {
	width: 1000px;
}

div.mobile_store_box h1 {
    font-size: 38px;
    font-weight: 400;
    color: #333;
    padding-top: 50px;
    padding-bottom: 10px;
    line-height: 1.5;
    text-align: left;
}

div.mobile_store_box h3 {
    font-size: 24px;
	font-weight: 400;
	color: #0f94f2;
	line-height: 1.5;
	text-align: left;
	padding-bottom: 50px;
}

div.mobile_store_box ul {
	margin-left: -20px;
	float: left;
}

div.mobile_store_box ul li {
	width: 320px;
	height: 560px;
	float: left;
	margin-left: 20px;
}

div.mobile_store_box ul li img {
	width: 100%;
	height: 100%;
	display: block;
}

div.mobile_store_box .down {
	display: block;
	width: 1000px;
	height: 110px;
	float: left;
	line-height: 110px;
	font-size: 28px;
	text-align: center;
	color: #aaa;
}

/*---------expand_profit------------*/

div.expand_profit {
	background: #f7f7f7;
}

div.expand_profit h1, div.expand_profit h3 {
	text-align: center;
}

/*----------store_navigate-----------*/

div.store_navigate {
	background: #ffffff;
}



/*----------scan_code_shop-----------*/

div.scan_code_shop {
	background: #f7f7f7;
}

/*----------order_express-----------*/

div.order_express {
	background: #ffffff;
}

div.order_express .container {
	position: relative;
}

div.order_express .title {
	position: absolute;
	top: 180px;
	left: 0;
	padding: 0;
}

