@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
.activator{position:absolute;width:100%;height:100%;top:0;left:0;z-index:10;display:none;}
.activator-shadow{position:absolute; top:0;left:0;right:0;bottom:0;background:#000;  filter:alpha(opacity=50);-moz-opacity:0.5; -khtml-opacity: 0.5;opacity: 0.5;z-index:20;}
.activator-main{position:absolute;width:650px;height:316px;left:50%;margin-left:-350px;top:50%;margin-top:-158px;z-index:30;background:#fff;}
.activator-list{float:left;width:350px;height:270px;}
.activator-guide{float:left;width:299px;height:270px;background:#fff;border-right:1px solid #d9d9d9;}
.activator-guide{float:left;width:299px;height:270px;}
.activator-id-a{flaot:left; width:250px;}
.activator-id-a a{margin:0 5px; color:#1faeff;}