.mobile-index {
	padding-top: 10px;
}
.mobile-index .form .high-text .gray {
	font-size: 12px;
}
.mobile-index .form-line {
	height:60px;
}
.mobile-time .element .lab-wrap {
	padding: 3px 0px 3px 5px; border: 1px solid rgb(255, 255, 255); width: 300px; clear: both; margin-bottom: 10px; float: left; display: block;
}
.mobile-time .element .lab-wrap:hover {
	border: 1px solid rgb(229, 233, 243); padding-left: 5px; background-color: rgb(241, 245, 250);
}
.mobile-time .element .on {
	border: 1px solid rgb(229, 233, 243); padding-left: 5px; background-color: rgb(241, 245, 250);
}
.form .element .gray {
	font-size: 14px;
}
.form .element .text-tips {
	font-size: 14px;
}
.mobile-index .lidou {
	font-size: 12px;
}
.mobile-index .lidou img {
	margin-right: 8px; vertical-align: middle;
}
.mobile-index .lidou .num-lidou {
	color: rgb(255, 102, 51); font-size: 11px; font-weight: bold;
}
.ico-ad-tips {
	background: url("../images/mobile_v2_png24.png") no-repeat; overflow: hidden; display: inline-block; _background: url(../images/mobile_v2_png24.png) no-repeat;
}
.ico-ad-tips span {
	background: url("../images/mobile_v2_png24.png") no-repeat; overflow: hidden; display: inline-block; _background: url(../images/mobile_v2_png24.png) no-repeat;
}
.charge-money a.on {
	background: url("../images/mobile_v2_png24.png") no-repeat; overflow: hidden; border:0px; display: inline-block; _background: url(../images/mobile_v2_png24.png) no-repeat;
}
.charge-money a.on span {
	background: url("../images/mobile_v2_png24.png") no-repeat; overflow: hidden; display: inline-block; _background: url(../images/mobile_v2_png24.png) no-repeat;
}
.ico-ad-tips {
	background-position: right -79px; height: 17px; padding-right: 8px; font-family: ����; margin-right: 8px; vertical-align: middle;
}
.ico-ad-tips span {
	background-position: -249px -79px; height: 17px; color: rgb(255, 255, 255); line-height: 18px; padding-left: 4px; font-size: 12px; vertical-align: top; background-color: rgb(255, 102, 0);
}

.form-line-btn .loading .blues-btn {
	display: none;
}
.mobile-index .mobile-charge {
	padding-top: 0px; font-family: Tahoma;
}
.mobile-index .mobile-charge-rec {
	width: 540px; float: left;
}
.mobile-index .mobile-charge-aside-rec {
	width: 213px; padding-top: 10px; float: right;
}
.mobile-index .mobile-charge .form .label {
	width: 26%;
	padding-top: 0px;
}
.mobile-index .mobile-charge .form .element {
	width: 74%;
}
.mobile-form-line .element {
	position: relative; z-index: 1;
}
.mobile-charge .form-index {
	padding-top: 10px;
}
.mobile-charge .form-guide {
	margin-left: -41px;
}
.mobile-charge .num-company {
	margin-right: 13px;
}
.mobile-index .form-font {
	font-family: Tahoma;font-size: 16px;
}

.mobile-num {
	float: left; _width: 156px; _display: inline-block;
}
.form-guide {
	height: 19px; line-height: 19px; overflow: hidden; font-family: ����; font-size: 12px;
}
.form-guide .ad-ul {
	top: 0px; display: inline-block; position: absolute;
}
.form-guide .ad-li {
	height: 19px; color: rgb(102, 102, 102);
}
.form-guide .ad-li a {
	vertical-align: baseline;
}
.mobile-high-text .label {
	height: 40px; line-height: 40px;
}
.mobile-high-text input.text {
	width: 199px; height: 36px; line-height: 36px; font-size: 24px;
}
a.charge-money-sum {
	border-radius: 1px; border: 1px solid rgb(201, 201, 201); overflow: hidden; padding-right: 10px; margin-right: 7px; float: left; display: inline-block; -webkit-border-radius: 1px; -moz-border-radius: 1px;
}
a.charge-money-sum span {
	height: 37px; text-align: center; color: rgb(51, 51, 51); line-height: 37px; padding-left: 10px; font-size: 14px; display: inline-block; white-space: nowrap; cursor: pointer;
}
.charge-money .element {
	padding-bottom: 18px;
}
.charge-money .charge-money-element {
	margin-right: -10px;
}
.charge-money a.hide {
	display: none;
}
a.charge-money-sum:hover {
	border: 2px solid rgb(255, 102, 0); padding-right: 9px; text-decoration: none;
}
a.charge-money-sum:hover span {
	height: 35px; color: rgb(255, 102, 0); line-height: 35px; padding-left: 9px;
}
.mobile-charge .charge-money a.on {
	background-position: right -19px; border: currentColor; height: 39px; color: rgb(255, 102, 0); line-height: 39px; padding-right: 11px;
}
.mobile-charge .charge-money a.on span {
	background-position: -181px -19px; height: 39px; color: rgb(255, 102, 0); line-height: 39px; padding-left: 11px;
}
.new-recommend {
	border: 1px solid rgb(221, 221, 221); width: 211px; height: 252px;
}
.new-recommend .rec-title {
	padding: 10px 0px 3px 14px; font-weight: bold; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.new-recommend .rec-cnt {
	background: url("../images/recom_autorecharge.png") no-repeat 47px 10px; padding: 120px 15px 15px 14px;
}
.new-recommend .rec-cnt .free-open {
	margin-top: 6px; float: right;
}
.new-recommend .statement-1 {
	display: none;
}
.new-recommend .statement-2 {
	display: none;
}
.new-recommend .rec-status-1 .statement-1 {
	display: block;
}
.new-recommend .rec-status-2 .statement-2 {
	display: block;
}


.intro {
	margin: 30px 0px 20px 10px; clear: both;
}
.intro ol {
	margin: 5px 0px 0px 5px; color: rgb(102, 102, 102); line-height: 1.5; padding-left: 20px;
}
.intro li {
	list-style: decimal; padding: 2px 0px;
}


.mainnav-link .nav-life {
	color: rgb(255, 143, 0); text-decoration: none; border-bottom-color: rgb(255, 143, 0); border-bottom-width: 3px; border-bottom-style: solid;
}
.mainnav-link .nav-life .alt-bg {
	background-position: -257px -185px;
}

