@charset "utf-8";
.clearfix {
	*zoom: 1;
}

.clearfix:after {
	height: 0px;
	display: block;
	clear: both;
	visibility: hidden;
	overflow: hidden;
	content: "\0020";
}
/*我的账户*/
.account-content{float:left;width:978px;height:118px;background:#fff;border:solid 1px #e4e4e4;}
.account-content a{ text-decoration:none;}
/*话费充值*/
.recharge{float:left;width:248px;height:118px;background:#fff;border:solid 1px #e4e4e4;margin-left:10px;}
.recharge-title{width:100%;height:25px;margin-left:10px;margin-top:5px; margin-bottom:5px;color:#f00;}
.recharge-title2{float:left;}
.erro-num{float:left;margin-left:30px;display:none;}
.input-num{width:200px;height:25px;margin:5px auto 0 auto;}
.phone-title{float:left;width:48px;height:23px;background:#e6e6e6;border:1px solid #e4e4e4; text-align:center; line-height:23px;}
.phone-input{float:left;width:148px;height:23px;border:1px solid #e4e4e4;}
.money-input{float:left;width:28px;height:23px;border:1px solid #e4e4e4; border-right:none;}
.yuan{float:left;width:20px;height:23px;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;}
.list-down{float:left;width:8px;height:23px;border:1px solid #e4e4e4; background:url(../images/down.png) center no-repeat;}
.recharge-list{position:relative;width:100px;height:0px;display:none;}
.recharge-list-content{position:absolute;left:50px;top:24px;width:58px;height:auto;background:#fff;border:1px solid #e4e4e4;}
.recharge-list-content li:hover{background:#e6e6e6;}
.discount-cost{float:left;width:auto;height:25px;margin-left:24px;margin-top:5px;}
.discount-cost p{ float:left; width:auto; height:25px;}
/*我的功能*/
.my-function{float:left;width:148px;height:460px;background:#fff;border:solid 1px #e4e4e4;margin-right:0px;}
.function-list{float:left;width:100%;height:auto;}
.function-list a{float:left;width:110px;height:29px;border-bottom:1px solid #b2b2b2;color:#666;text-decoration:none;line-height:30px;}
.function-list a:hover{background:#e5e5e5;}
.function-list ul{float:left;width:100%;height:auto;}
.function-list ul li{float:left;width:100%;height:30px;}
.function-icon{float:left;width:38px;height:18px;text-align:center;margin-top:8px;}
/*账户信息*/
.account-info{width:962px;height:32px;margin-left:10px;border-bottom:solid 1px #f00;}
.account-name{float:left;width:auto;height:33px;line-height:33px;}
.account-identify{float:right;width:auto;height:35px;}
.account-identify ul{float:left;}
.account-identify ul li{float:left;width:16px;height:16px;text-align:center;margin-top:10px;margin-left:5px;}
.account-balance{float:left;width:962px;height:45px;margin-left:10px;line-height:60px;}
.account-balance p{float:left;}
.account-operate{float:left;width:962px;height:40px;margin-left:10px;line-height:40px;}
.transaction-records{float:left;width:auto;height:40px;}
.transaction-records a{margin:0 10px;color:#1faeff;}
.balance-operate{float:right;width:auto;height:40px;}
/*账户列表*/
.account-table1{float:right;width:820px;height:458px;background:#fff;margin-top:10px;border:solid 1px #e4e4e4;}
.account-table1 a{text-decoration:none;color:#1faeff;}
.account-table1-title{float:left;width:100%;height:34px;background:#e6e6e6;border-bottom:1px solid #ccc;}
.account-table1-title ul{float:right;width:auto;height:33px;margin-top:1px;margin-right:10px;}
.account-table1-title ul li{float:left;width:76px;height:31px;line-height:30px;text-align:center;margin-top:2px;margin-right:10px;cursor:pointer;}
.current-tab1{border:1px solid #ccc;border-bottom:none;background:#fff;}
.account-table2{width:750px;height:405px;margin:0 auto;}
.account-table2-title{float:left;width:750px;height:34px;background:#fff;border-bottom:1px solid #f00;}
.account-table2-title ul{float:left;width:auto;height:24px;margin-top:4px;}
.account-table2-title ul li{float:left;width:76px;height:24px;line-height:24px;text-align:center;margin-top:2px;cursor:pointer;}
.current-tab2{background:#f00;color:#fff;}
.line-bg{background:#f2f2f2;}
.list-table {
	float:left;
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-bottom:1px solid #b2b2b2;
}
.list-table a{ text-decoration:none;}
.list-table tr {
	
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
.list-table tr:hover{background:#e5e5e5;}
.list-table th {
	
	text-align:center;
	height: 30px;
	line-height: 30px;
	background: #eee;
}
.list-table td {
	text-align:center;
	height: 30px;
	line-height: 30px;
	
	white-space: nowrap;
	
}


label.fieldError {
	line-height: 23px;
	color: #ffb042;
	padding-left: 6px;
}


.btn-blue {
	background: url("../images/global_png24.png") no-repeat; overflow: hidden; display: inline-block; _background-image: url(../images/global_png24.png);
}
.btn-blue button {
	background:#c4251c; overflow: hidden; display: inline-block;;
}
.btn-blue {
	height: 32px; line-height: 0; overflow: hidden; padding-left: 2px; vertical-align: middle;
}
.btn-blue:hover {
	text-decoration: none;
}
.btn-blue button {
	padding: 0px 11px 0px 10px; border: rgb(216,216,216); height: 100%; text-align: center; line-height: 32px; overflow: visible; font-size: 14px; font-weight: 700; vertical-align: top; white-space: nowrap; cursor: pointer;
}
.btn-blue button {
	padding-bottom: 3px; _padding-bottom: 0;
}
.btn-blue {
	background-position: -280px 0px; background:#c4251c;
}
.btn-blue button {
	background-position: right 0px; color: rgb(255, 255, 255);
}
[class].btn-blue:hover {
	background-position: -280px -58px;
}
[class].btn-blue:hover button {
	background-position: right -58px;
}
button.btn-blue {
	background-position: 0px -35px; padding: 0px 0px 3px; border: 0px rgb(216,216,216); width: 85px; text-align: center; color: rgb(255, 255, 255); line-height: 32px; font-size: 14px; font-weight: 700; _line-height: 32px;
}
button[class].btn-blue:hover {
	background-position: 0px -67px;
}
button.btn-blue:focus {
	background-position: 0px -67px;
}
.btn-blue {
	min-width: 81px;
}
.btn-blue button {
	min-width: 62px; _width: 81px;
}


/*账户资料*/
.personl-info{float:left;width:400px;height:260px; margin-top:5px;margin-right:50px;}
.save-info{float:left;width:300px;height:260px; margin-top:5px;}
.shop-info{float:left;width:100%;height:135px; margin-top:5px;}
.info-title{width:100%;height:29px;border-bottom:1px solid #f00;line-height:30px;}
.info-content{float:left;width:100%;margin-top:10px;}
.info-content ul{float:left;width:100%;}
.info-content ul li{float:left;width:100%; height:30px;}
.info-content strong{float:left;width:85px;text-align:right;font-weight:normal;margin-right:10px;}
.info-content p{float:left;text-align:left;font-weight:normal;margin-right:10px;}
.info-content a{float:right;text-align:left;font-weight:normal;}

/*修改密码*/
body {
	_width: 100%;
	_height: 100%;
	font: 12px/1.5 Tahoma, Arial, ����;color: rgb(51, 51, 51);font-size-adjust: none; font-stretch: normal; 
	background-color: #ffffff;
	_background-image: url(about: blank);
	_background-attachment: fixed;
}

.hidden {
	display: none;
}

table.input th {
	width: 100px;
	line-height: 25px;
	padding: 5px 10px 5px 0px;
	font-weight: normal;
	text-align: right;
	white-space: nowrap;
	border-bottom: 1px solid #fff;
	background-color: #f8f6f6;
}


table.input .title th, table.input .title td {
	text-align: left;
	padding-left: 5px;
	background-color: #f1f8ff;
}

table.input td {
	line-height: 25px;
	padding: 5px;
	color: #666666;
	border-bottom: 1px solid #dde9f5;
}

table.input .fieldTitle {
	height: 29px;
	line-height: 29px;
	padding-right: 5px;
}

input.text {
	width: 220px;
	height: 26px;
	line-height: 26px;
	padding: 0px 4px;
	color: #666666;
	/*-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;*/
	border: #e4e4e4 2px solid;
	background: url(../images/common.gif) 0px 0px no-repeat;
}

input.button {
	height: 28px;
	line-height: 26px;
	*line-height: 24px;
	display: inline-block;
	display: -moz-inline-stack;
	padding: 0px 14px;
	margin-right: 10px;
	color: #fff;
	cursor: pointer;
	*overflow: visible;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: 1px solid #dcdcdc;
	background:#c4251c;border-radius:4px;
}

/* intro */
.intro {
	margin: 30px 0px 20px 10px; clear: both;
}
.intro ol {
	margin: 5px 0px 0px 5px; color: rgb(102, 102, 102); line-height: 1.5; padding-left: 20px;
}
.intro li {
	list-style: decimal; padding: 2px 0px;
}

/* ---------- page-nav ---------- */
.page-nav::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.page-nav {
	padding: 0px 10px 0px 12px; border-color: rgb(225, 226, 226); border-width: 0px;border-top-left-radius:2px;border-top-right-radius:2px; border-style: solid; -ms-zoom: 1; min-height: 37px; background-color: rgb(255, 255, 255); _height: 37px;
}
.page-nav .title-wrap {
	padding-left: 9px; margin-top: 9px;position: absolute;
}
.page-nav .title-wrap h2 {
	color: rgb(102, 102, 102); font-size: 14px; display: inline;
}
.page-nav .title-wrap .app-img {
	margin: 0px 12px 0px 0px; width: 32px; height: 32px; text-indent: -99em; overflow: hidden; float: left;
}
.page-nav .title-wrap dl {
	line-height: 1.2; float: left;
}
.page-nav .title-wrap dt {
	font-size: 14px; font-weight: 700;
}
.page-nav .title-wrap dd {
	color: rgb(153, 153, 153); margin-top: 2px;
}
.page-nav .links::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.page-nav .links {
	padding: 5px 0px 0px; -ms-zoom: 1;
}
.page-nav .links li {
	float: left; display: inline;
}
.page-nav .links a {
	float: left; display: inline;
}
.page-nav .links span.on {
	float: left; display: inline;
}
.page-nav .links li {
	margin: 0px 30px -1px 0px; position: relative;
}
.page-nav .links a {
	padding: 0px 12px; height: 33px; text-align: center; line-height: 35px; overflow: hidden; white-space: nowrap; position: relative; min-width: 66px; _width: 66px; _overflow: visible;
}
.page-nav .links span.on {
	padding: 0px 12px; height: 33px; text-align: center; line-height: 35px; overflow: hidden; white-space: nowrap; position: relative; min-width: 66px; _width: 66px; _overflow: visible;
}
.page-nav .links a:hover {
	text-decoration: none; background-color: rgb(225, 230, 235);
}
.page-nav .links .on {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(225, 226, 226) rgb(225, 226, 226) rgb(216,216,216); margin: -1px -1px 0px; color: rgb(0, 0, 0); font-weight: 700; background-color: rgb(255, 255, 255);
}
.page-nav .links a.on:hover {
	color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);
}
.page-nav .links a.link-jump-out {
	width: auto; min-width: 0px;
}
.page-nav .links a.link-jump-out:hover {
	text-decoration: underline; background-color: transparent;
}
.page-nav .links a.link-jump-out .ico-arrow-right {
	_margin-top: -3px;
}
.page-nav-title .links {
	float: right;
}
.page-nav-title .links li {
	margin-right: 0px; margin-left: 3px;
}
.page-nav-title .links a {
	min-width: 52px; _width: 52px;
}
.page-nav-title .links span.on {
	min-width: 52px; _width: 52px;
}
.page-nav-title .links .on {
	font-weight: 400;
}
.page-nav-app {
	min-height: 56px; _height: 56px;
}
.page-nav-app .title-wrap {
	margin-top: 13px;
}
.page-nav-app .title-wrap .app-info {
	margin-top: -2px;
}
.page-nav-app .title-wrap .app-title {
	margin: 4px 0px 2px; float: left;
}
.page-nav-app .title-wrap .app-status {
	margin: 0px 0px 0px 11px; float: left; _position: relative;
}
.page-nav-app .links {
	padding-top: 24px; float: right;
}
.page-nav-app .links li {
	margin-right: 0px; margin-left: 3px;
}
.page-nav-app .links a {
	min-width: 52px; _width: 52px;
}
.page-nav-app .links span.on {
	min-width: 52px; _width: 52px;
}
.page-nav-app .links .on {
	font-weight: 400;
}
.page-nav-app .btn-app-add {
	width: 57px; height: 21px; color: rgb(102, 102, 102); line-height: 24px; vertical-align: top; _line-height: 20px;
}
.page-nav-app .btn-app-share {
	width: 57px; height: 21px; color: rgb(102, 102, 102); line-height: 24px; vertical-align: top; _line-height: 20px;
}
.page-nav-app .btn-app-add {
	background-position: -421px 0px; text-indent: 24px;
}
.page-nav-app .btn-app-add:hover {
	background-position: -421px -22px; text-decoration: none;
}
.page-nav-app .btn-app-share {
	background-position: -421px -44px; text-indent: 27px;
}
.page-nav-app .btn-app-share:hover {
	background-position: -421px -66px; text-decoration: none;
}
.page-nav-app .app-status-added-text {
	padding: 0px 9px 0px 12px; margin-top: 5px; vertical-align: top; display: none; _margin-top: 3px; _padding-right: 5px;
}
.page-nav-app .app-status .app-share {
	padding-left: 5px; vertical-align: top; display: inline-block; position: relative; _margin-left: 0;
}
.page-nav-app .app-status .app-share-list {
	border: 1px solid rgb(179, 179, 179); left: -33px; top: 22px; width: 93px; display: none; position: absolute; background-color: rgb(255, 255, 255);
}
.page-nav-app .app-status .app-share-list a {
	height: 30px; line-height: 30px; padding-left: 35px; display: block;
}
.page-nav-app .app-status .app-share-list a:hover {
	text-decoration: none; background-color: rgb(238, 237, 237);
}
.page-nav-app .app-status .app-share-list .ico {
	left: 9px; margin-top: 7px; position: absolute;
}
.page-nav-app .app-intro {
	clear: both;
}
.page-nav-app .app-status-added .app-status-added-text {
	display: inline-block;
}
.page-nav-app .app-status-added .btn-app-add {
	display: none;
}
.page-nav-app .app-status .show-app-share-list .app-share-list {
	display: block;
}
.page-nav-ico .links {
	padding-top: 14px;
}
.page-nav-ico .links a {
	padding: 0px 12px 0px 56px; height: 40px; text-align: left; line-height: 42px; min-width: 0px; _width: auto;
}
.page-nav-ico .links span.on {
	padding: 0px 12px 0px 56px; height: 40px; text-align: left; line-height: 42px; min-width: 0px; _width: auto;
}
.page-nav-ico .links a span {
	left: 12px; top: 4px; position: absolute; cursor: pointer;
}
.page-nav-ico .links .on span {
	left: 12px; top: 4px; position: absolute; cursor: pointer;
}

div.mainbox {
	width: 820px; float: right;margin:0px 0 0 0px;_margin:0 0 0 5px;min-height: 0px; _height: 0px;_padding-top:10px;border:solid 1px #e4e4e4;
}

div.input {
	padding: 10px 10px 10px 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 0px;
	border: 1px solid #e4e4e4;
}

div.input .title {
	height: 30px;
	line-height: 30px;
	padding-left: 14px;
	margin-bottom: 10px;
	font-weight: bold;
	border-bottom: 1px solid #e4e4e4;
	background: url(../images/member.gif) 0px -60px no-repeat;
}

table.input {
	float:left;
	width: 100%;
	word-break: break-all;
}

table.input th {
	width: 100px;
	line-height: 25px;
	padding: 5px 10px 5px 0px;
	font-weight: normal;
	text-align: right;
	white-space: nowrap;
	border-bottom: 1px solid #fff;
	background-color: #f8f6f6;
}


table.input .title th, table.input .title td {
	text-align: left;
	padding-left: 5px;
	background-color: #f1f8ff;
}

table.input td {
	line-height: 25px;
	padding: 5px;
	color: #666666;
	border-bottom: 1px solid #dde9f5;
}

.form {
	font-size: 14px;
}
.form-font {
	font-size: 14px;
}
.form::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.form {
	width: 100%; padding-top: 1px;
}
.form legend {
	padding: 0px 0px 20px; width: 100%; font-weight: 700; display: none;
}
.form legend span {
	padding: 0px 0px 4px; border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.form-tips {
	padding-bottom: 20px;
}
.form-line::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.form-guide::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.form-line-btn::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.form-error::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.form-line {
	-ms-zoom: 1;
}
.form-guide {
	-ms-zoom: 1;
}
.form-line-btn {
	-ms-zoom: 1;
}
.form-error {
	-ms-zoom: 1;
}
.form-line-btn {
	height: 47px; padding-top: 25px;
}
.form-font {
	line-height: 22px; _line-height: 22px;
}
.form .label {
	width: 26%; text-align: right; line-height: 22px; padding-top: 1px; padding-right: 5px; margin-left: -5px; float: left; _padding-top: 0;
}
.form .element {
	width: 74%; padding-bottom: 15px; float: right; min-height: 22px; _height: 22px;
}
.form .break-form-line .label {
	width: auto; text-align: left; margin-left: 0px; float: none; display: block;
}
.form .break-form-line .element {
	width: auto; float: none;
}
.form-guide {
	left: -5em; padding-left: 26px; margin-left: -31px; position: relative;
}
.form-guide .ico {
	margin: 0px 10px 0px -26px; font-size: 0px; float: left;
}
.form-guide p {
	float: left;
}
.form .form-info {
	font-size: 12px; margin-top: 2px;
}
.form .form-error {
	font-size: 12px; margin-top: 2px;
}
.form .form-info {
	color: rgb(153, 153, 153);
}
.form .form-text-intro {
	color: rgb(153, 153, 153); font-size: 12px;
}
.form .form-error {
	color: rgb(255, 0, 0); line-height: 18px; padding-left: 21px;
}
.form .form-error .ico-error-s {
	width: 16px; margin-left: -21px; float: left;
}
.form .form-error .ico-warn-s {
	width: 16px; margin-left: -21px; float: left;
}
.form .form-error a {
	vertical-align: 0px;
}
.form .form-error-label {
	vertical-align: baseline;
}
.form input {
	font-size: 12px;
}
.form select {
	font-size: 12px;
}
.form textarea {
	font-size: 12px;
}
.form .text {
	margin-right: 6px;
}
.form select {
	margin-right: 6px;
}
.form .pwdctrl-wrap {
	margin-right: 10px;
}
.form .pwdctrl-wrap {
	
}
.form .text {
	
}
.form .label-text-tips {
	padding: 0px 2px 0px 7px; width: 141px; height: 22px; color: rgb(153, 153, 153); line-height: 26px; overflow: hidden; font-size: 12px; margin-bottom: -23px; display: none; cursor: text;
}
.form :not(tid).label-text-tips {
	line-height: 22px;
}
.form .label-text-tips {
	_position: absolute;
}
.form .focus {
	outline: rgb(31, 200, 249) solid 1px;
}
.form .short {
	width: 91px;
}
.form .long {
	width: 241px;
}
.form .longer {
	width: 281px;
}
.form .longest {
	width: 441px;
}
.form .high-text .label {
	height: 30px; line-height: 30px;
}
.form .high-text .text {
	height: 26px; line-height: 26px; font-size: 18px;
}
.form input.high {
	height: 26px; line-height: 26px; font-size: 18px;
}
.form .element .gray {
	color: rgb(153, 153, 153); font-size: 12px;
}
.form .element .text-tips {
	color: rgb(153, 153, 153); font-size: 12px;
}
.form .lab-wrap {
	font-size: 12px; margin-right: 8px; cursor: pointer;
}
.form .checkbox {
	margin: -3px 7px 0px 0px;
}
.form .radio {
	margin: -3px 5px 0px 0px; _margin: 0 2px 0 -4px;
}
.form .file {
	
}
.form textarea {
	width: 300px; height: 100px; line-height: 1.5; font-size: 12px;
}
.form a {
	font-size: 12px; vertical-align: middle; _display: inline-block;
}
.form-line-btn .ico-loading-16 {
	top: -9999px; position: absolute;
}
.form .loading .btn-blue {
	top: -9999px; position: absolute;
}
.form .loading .btn-white {
	top: -9999px; position: absolute;
}
.form .loading .btn-blue-s {
	top: -9999px; position: absolute;
}
.form .loading .btn-white-s {
	top: -9999px; position: absolute;
}
.form .loading .ico-loading-16 {
	position: static;
}
.form .btn-blue {
	margin-right: 16px;
}
.form .btn-blue-s {
	margin-right: 16px;
}
.form .btn-disable {
	margin-right: 16px;
}
.form .form-error-money {
	padding: 10px; border: 1px solid rgb(229, 187, 48); width: 350px; color: rgb(102, 102, 102); margin-top: 10px; background-color: rgb(255, 249, 215);
}
.form .form-error-money .ico-info-s {
	margin-right: 5px;
}
.form .form-error-money .btn-white {
	margin-left: 30px;
}
.form .high-text .label-text-tips {
	height: 30px; line-height: 32px; margin-bottom: -30px; _line-height: 30px;
}
.form .high-text :not(tid).label-text-tips {
	line-height: 30px;
}
.form .show-text-tips .label-text-tips {
	display: block;
}
.form .focus-text-tips .label-text-tips {
	color: rgb(204, 204, 204); display: block;
}
.form .show-text-tips .text {
	background-color: transparent;
}
.form .show-text-tips textarea {
	background-color: transparent;
}
.form .focus-text-tips .text {
	background-color: transparent;
}
.form .focus-text-tips textarea {
	background-color: transparent;
}
.form .verify-form-line .v-text {
	width: 121px;
}
.form .verify-form-line .verify-wrap {
	padding-top: 6px;
}
.form .verify-form-line .verify-img {
	margin-right: 6px;
}
.form .verify-form-line .verify-link {
	vertical-align: bottom;
}
.form-mini {
	font-size: 12px;
}
.form-mini .form-font {
	font-size: 12px;
}
.form-mini .element {
	padding-bottom: 8px;
}
.form-mini .form-line-btn {
	padding-top: 12px;
}
.form-mini select {
	padding: 2px 0px;
}
/*银行选择*/
.paymentPlugin{width:100%;}
.paymentPlugin div{width:160px;float:left;padding:5px 10px;}
.paymentPlugin div label,.paymentPlugin div input{float:left;}
.paymentPlugin div input{margin:8px 5px 0 0;}
.paymentPlugin div label,.paymentPlugin div label em{display:block;width:140px;height:29px;display:block;background-repeat:no-repeat;background-position:left center;}