.clearfix {
	*zoom: 1;
}

.clearfix:after {
	height: 0px;
	display: block;
	clear: both;
	visibility: hidden;
	overflow: hidden;
	content: "\0020";
}

div.container1 .span24 {
	width: 980px;
	margin-right: 0px;
}

div.register .wrap {
	margin-bottom: 10px;
}

div.register .main {
	padding-bottom: 20px;
	border: 0px solid #d7d7d7;
	width:100%;
}
div.register .title {
	height: 40px;
	line-height: 40px;
	color: #d8d8d8;
	font-family: "Microsoft YaHei";
	border-bottom: 1px dotted #ededed;
}

div.register .title strong {
	padding: 0px 10px;
	color: #c4251c;
	font-size: 18px;
	font-weight: normal;
}

div.register table {
	width: 540px;
	float: left;
	margin-top: 20px;
}

div.register th {
	width: 80px;
	padding: 12px;
	font-weight: normal;
	text-align: right;
}

div.register .captcha {
	width: 130px;
	text-transform: uppercase;
	ime-mode: disabled;
}

div.register .captchaImage {
	margin-left: 10px;
	vertical-align: middle;
	cursor: pointer;
}

div.register .submit {
	overflow:hidden;
	width: 142px;
	height: 37px;
	line-height: 37px;
	margin-top: 10px;
	color: #ffffff;
	cursor: default;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: none;
	background-color:gray;
}

div.register .agreement {
	height: 96px;
	line-height: 24px;
	padding: 0px 4px;
	color: #999999;
	overflow-y: scroll;
	border: 1px solid #e6e6e6;
}

div.register .login {
	width: 380px;
	float: right;
	padding: 0px;
	border-bottom: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2;
	background-color: #fff8db;
}

div.register .login dt {
	line-height: 40px;
	color: #bd5613;
	font-size: 16px;
	font-family: "Microsoft YaHei";
}

div.register .login dd {
	line-height: 28px;
	color: #565656
}

div.register .login dd a {
	color: #bd5613
}

div.container1 {
	width: 980px;
	margin: 0px auto;
	*zoom: 1;
	-ms-zoom: 1;
	overflow: hidden;
	background:#fff;
}

div.container1 .span1, div.container1 .span2, div.container1 .span3, div.container1 .span4, div.container1 .span5, div.container1 .span6, div.container1 .span7, div.container1 .span8, div.container1 .span9, div.container1 .span10, div.container1 .span11, div.container1 .span12, div.container1 .span13, div.container1 .span14, div.container1 .span15, div.container1 .span16, div.container1 .span17, div.container1 .span18, div.container1 .span19, div.container1 .span20, div.container1 .span21, div.container1 .span22, div.container1 .span23, div.container1 .span24 {
	_display: inline;
	float: left;
	margin-right: 10px;
	overflow: hidden;
}
div.container1 .span24{margin:0}

div.main .step {
	height: 38px;
	margin-bottom: 10px;
}

div.main .step li {
	width: 150px;
	height: 38px;
	line-height: 38px;
	float: left;
	padding-left: 50px;
	font-size: 14px;
	font-family: "Microsoft YaHei";
}

div.main .step .current {
	color: #ffffff;
}

div.step1 {
	background:#fff url(../images/cart.gif) 0px 0px no-repeat;
}

div.step2 {
	background: url(../images/cart.gif) 0px -38px no-repeat;
}

div.step3 {
	background: url(../images/cart.gif) 0px -76px no-repeat;
}

.w_register{
	width:490px;float: left;padding:10px;
}

.w_switching{
	padding:10px 0;
}

.w_switching ul{
	border-bottom:1px solid #c4251c;position:relative;padding:0 0 0 10px;height: 42px;
}

.w_switching ul li{
	padding:5px 15px;float:left;margin-left:10px;position:relative;bottom:-1px;background:#f7f7f7;line-height:30px;border-bottom-color:#c4251c;margin-bottom:-1px;
}

.w_switching ul li.w_hover{
	background:#fff;border:1px solid #c4251c;border-bottom:1px solid #fff;
}

.w_register_top{
	position: relative;
	*line-height:44px;
}

.w_registerget{
	width:90px;padding:6px 10px;background:#f7c92b;color:#fff;border-radius:4px;position: relative;border:1px solid #f7f7f7;
}

.w_timing{
	position:absolute; width:150px; left:0px;top:0px;
	-moz-line-height:10px;color: #999;
}

.search{
	position:relative;
}

.hotSrhFont{
	position: absolute;bottom:0;left:0;
}