@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
html{  
    overflow-x: hidden;  
    overflow-y: hidden;

}

.video-f ul li.current-video {
	border: 1px solid #1faeff;
}
.outer {
	
	width: 100%;
	height: 100%;
}
.main {
	position: absolute;
	width: 100%;
	height: 100%;
	min-width: 980px;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background: #333;
}
.node-list {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 200px;
	background: #eee;
}
.node-list-content {
	position: absolute;
	top: 30px;
	padding: 14px;
	padding-top:10px;
	right: 0;
	left: 0;
	bottom: 0;
	border: 4px solid #cb0007 /*#d4975c*/;
	border-top:none;	
}
.contral-list {
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 200px;
	background: #eee;
}
.video-list {
	position: absolute;
	top: 0px;
	left: 200px;
	right: 200px;
	bottom: 0px;
}
.video-f {
	width: 100%;
	height: 100%;
}
.video-f ul {
	float: left;
	width: 100%;
	height: 100%;
	list-style: none;
	text-align: center;
}
.video-f ul li {
	border: 1px solid #666;
	background: #fff;
}
.li-1 {
	position: absolute;
	left: 0;
	right: 50%;
	top: 0;
	bottom: 50%;
}
.li-2 {
	position: absolute;
	left: 50%;
	right: 0;
	top: 0;
	bottom: 50%;
}
.li-3 {
	position: absolute;
	left: 0;
	right: 50%;
	top: 50%;
	bottom: 0;
}
.li-4 {
	position: absolute;
	left: 50%;
	right: 0;
	top: 50%;
	bottom: 0;
}
.video-e {
	width: 100%;
	height: 100%;
}
.video-e ul li.current-video {
	border: 1px solid #1faeff;
}
.e-big.current-video {
	border: 1px solid #1faeff;
}
.e-r li.current-video {
	border: 1px solid #1faeff;
}
.e-b li.current-video {
	border: 1px solid #1faeff;
}
.e-big {
	position: absolute;
	left: 0;
	right: 25%;
	top: 0;
	bottom: 25%;
	text-align: center;
	background: #000;
}
.e-r {
	position: absolute;
	right: 0px;
	width: 25%;
	height: 75%;
	list-style: none;
	text-align: center;
}
.e-r li {
	position: relative;
	float: left;
	width: 100%;
	background: #000;
}
.inner {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border: 1px solid #666;
}
.inner.current-video {
	border: 1px solid #1faeff;
}
.e-b {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 25%;
	list-style: none;
	text-align: center;
}
.e-b li {
	position: absolute;
	top:0px;
	width: 25%;
	height: 100%;
	background: #000;
}
.video_action {
	position: relative;
	margin: 0 auto;
	width: 200px;
	height: 577px;
}
.direction {
	width: 130px;
	height: 160px;
	margin: 0 auto;
}
.direction a {
	float: left;
	width: 100%;
	height: 100%;
}
.m-up {
	float: left;
	width: 130px;
	height: 55px;
	background: url(../images/m-up.png) no-repeat;
}
.m-left {
	float: left;
	width: 43px;
	height: 43px;
	background: url(../images/m-left.png) no-repeat;
}
.m-center {
	float: left;
	width: 44px;
	height: 43px;
	background: url(../images/m-center.png) no-repeat;
}
.m-right {
	float: left;
	width: 43px;
	height: 43px;
	background: url(../images/m-right.png) no-repeat;
}
.m-down {
	float: left;
	width: 130px;
	height: 55px;
	background: url(../images/m-down.png) no-repeat;
}
.m-up:hover {
	background: url(../images/m-up1.png) no-repeat;
}
.m-left:hover {
	background: url(../images/m-left1.png) no-repeat;
}
.m-right:hover {
	background: url(../images/m-right1.png) no-repeat;
}
.m-down:hover {
	background: url(../images/m-down1.png) no-repeat;
}
.video_action ul {
	float: left;
	width: 190px;
	height: 226px;
	margin-left: 3px;
	list-style: none;
	background: url(../images/action-button.png) no-repeat;
}
.video_action ul li {
	float: left;
	margin-bottom: 4px;
}
.video_action ul li a {
	display: block;
	width: 90px;
	height: 37px;
	margin-left: 5px;
}
.v_fast a:hover {
	background: url(../images/action-button.png) -190px -0px no-repeat;
}
.v_slow a:hover {
	background: url(../images/action-button.png) -285px -0px no-repeat;
}
.v_narrow a:hover {
	background: url(../images/action-button.png) -285px -41px no-repeat;
}
.v_enlarge a:hover {
	background: url(../images/action-button.png) -190px -41px no-repeat;
}
.video_action ul li a.v_voice_up {
	float: left;
	width: 45px;
}
.video_action ul li a.v_voice_up:hover {
	background: url(../images/action-button.png) -190px -82px no-repeat;
}
.video_action ul li a.v_voice_down {
	float: left;
	width: 45px;
	margin-left: 0px;
}
.video_action ul li a.v_voice_down:hover {
	background: url(../images/action-button.png) -235px -82px no-repeat;
}
.v_capture a:hover {
	background: url(../images/action-button.png) -285px -82px no-repeat;
}
.video_action ul li.v_play {
	width: 200px;
	margin-top: 15px;
}
.video_action ul li.v_play a {
	float: left;
	width: 200px;
}
.video_action ul li.v_play a:hover {
	background: url(../images/action-button.png) -190px -138px no-repeat;
}
.video_action ul li.v_four a.v_four_bg {
	background: url(../images/action-button.png) -190px -189px no-repeat;
}
.video_action ul li.v_eight a.v_eight_bg {
	background: url(../images/action-button.png) -285px -189px no-repeat;
}
