@charset "utf-8";

.alert_video{
	position:relative;
	width:980px;
	height:576px;
	
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
}

.video_box{
	position:relative;	
	float:left;
	width:704px;
	height:576px;
	border:1px solid #ccc;
	background:#eee;
	margin:0px 10px;

}
.show_video_all{ position:absolute; left:5px; top:3px; width:24px; height:23px; cursor:pointer; background:url(../images/show_video_all.png) no-repeat;}
.show_video_all.on{background:url(../images/show_video_all_on.png) no-repeat;}
.close_video_all{ position:absolute; right:-15px; top:-15px; z-index:10000; width:32px; height:32px; cursor:pointer; background:url(../images/close_video_all_32.png) no-repeat;}
.drag_video{
	position:absolute;
	right:-224px;
	top:293px;
	z-index:10000;
	line-height:24px;
	cursor:pointer;
}
.minimize_video{
	position:absolute;
	right:-206px;
	top:233px;
	z-index:10000;
	line-height:24px;
	cursor:pointer;
}
 
.video{
	position:relative;
	width:694px;
	height:566px;
	border:5px solid #8a9298;
	overflow:hidden;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}
.video ul{
	position: absolute;
	
	width: 131076px;
	height: 566px;
	z-index: 1;
	list-style:none;
}
.video ul li{
	float:left;
	text-align:center;
	width:695px;
	height:566px;
	/*background:url(../images/banner-bg3.jpg) no-repeat;*/
}
.selectedActiveDiv{ float:left;border: 1px solid red;}
.normalActiveDiv{ float:left;border: 1px solid white;}

.video_next a{
	display:block;
	position:absolute;
	right:-357px;
	top:319px;
	width:35px;
	height:31px;
	background:url(../images/video_spirte.png) -266px 0 no-repeat;
	z-index: 3;
}
.video_next a:hover{background:url(../images/video_spirte.png) -266px -37px no-repeat;}
.video_prev a{
	display:block;
	position:absolute;
	left:790px;
	top:320px;
	width:35px;
	height:31px;
	background:url(../images/video_spirte.png) -230px 0 no-repeat;
	z-index: 4;
}
.video_prev a:hover{background:url(../images/video_spirte.png) -230px -37px no-repeat;}

.video_action{ position:relative; float:left;width:130px; height:577px; }
.direction{ float:left; width:130px;height:160px;}
.direction a{ float:left; width:100%;height:100%;}
.m-up{ float:left; width:130px;height:55px; background:url(../images/m-up.png) no-repeat;}
.m-left{ float:left; width:43px;height:43px; background:url(../images/m-left.png) no-repeat;}
.m-center{ float:left; width:44px;height:43px; background:url(../images/m-center.png) no-repeat;}
.m-right{ float:left; width:43px;height:43px; background:url(../images/m-right.png) no-repeat;}
.m-down{ float:left; width:130px;height:55px; background:url(../images/m-down.png) no-repeat;}

.m-up:hover{ background:url(../images/m-up1.png) no-repeat;}
.m-left:hover{ background:url(../images/m-left1.png) no-repeat;}
.m-right:hover{ background:url(../images/m-right1.png) no-repeat;}
.m-down:hover{ background:url(../images/m-down1.png) no-repeat;}
.video_action ul{
	float:left;
	width:130px;
	height:290px;
	margin-left:13px;
	background:url(../images/action-button.png)  no-repeat;
}
.video_action ul li{ float:left;margin-bottom:4px;}
.video_action ul li a{ display:block; width:115px; height:45px; }
.v_narrow a:hover{background:url(../images/action-button.png) -140px -49px no-repeat;}
.v_enlarge a:hover{background:url(../images/action-button.png) -140px -0px no-repeat;}
.v_capture a:hover{background:url(../images/action-button.png) -140px -147px no-repeat;}
.v_play a:hover{background:url(../images/action-button.png) -140px -98px no-repeat;}



.scroll_box{ position:relative; float:left; margin-top:18px; width:120px; height:538px;border:1px solid #ccc;background:#eee;}
.scroll_prev a{ display:block;position:absolute; top:-20px; left:-1px; width:120px; height:18px; border:1px solid #ccc; background:#eee url(../images/video_spirte.png) -5px -352px no-repeat;}
.scroll_prev a:hover{background:url(../images/video_spirte.png) -155px -352px no-repeat;}
.scroll_next a{
	display:block;
	position:absolute;
	left:-1px;
	top:538px;
	width:120px;
	height:18px;
	border:1px solid #ccc;
	background: #eee url(../images/video_spirte.png) -5px -370px no-repeat;
}
.scroll_next a:hover{ background:url(../images/video_spirte.png) -155px -370px no-repeat;}

.small_video{ position:relative; float:left; margin-top:20px; width:120px; height:501px;overflow:hidden;}
.small_video ul{
	position:absolute;
	left:1px;
	top:1px;
	width:120px;
	height:131109px;
	list-style:none;
}
.small_video ul li{ float:left;  margin-left:5px; margin-bottom:5px }
.small_video ul li a{ display:block;width:104px; height:92px; border:2px solid #8a9298;}
.small_video ul li a:hover,.small_video ul li a.sv_on{border:2px solid #1d9df6;}

.device_div {display: none;position: absolute;top: 50px;border: 1px solid black;background-color: white;z-index: 9999;max-height: 200px;overflow-y: auto;}
.device_div div {padding: 2px 10px;}
.device_over {background-color: #cac7c2; cursor: pointer;}
