/// namespace: STC-FB
/// description: 意见反馈
/* >>app\html\option\feedback.html*/
$page_ns: "STC-FB";

.feedback {
    &.#{$page_ns} {
        .feedback_img{
            width: dimension-to-vw(221px);
            height: dimension-to-vw(223px);
            margin: dimension-to-vw(147px) dimension-to-vw(183px) dimension-to-vw(90px) dimension-to-vw(235px);
            img{
                width: 100%;
            }
        }
        .phone{
            p{
                text-align: center;
                margin: 0 auto;
                &:nth-child(2){
                    margin-top: dimension-to-vw(10px);
                }
            }
        }
    }
}

$page_ns: "";

/* <<app\html\option\feedback.html*/