.s_detail{width:980px;position:relative;margin:0 auto;}
.s_detail_top{width:970px;padding-left:10px;height:30px;line-height:30px;position:relative;color:#999;display:none}
.s_detail_top span{width:6px;height:6px;background:#f00;position:absolute;left:0;top:12px;display:block;}
.s_detail_top a{display:inline-block;padding:0 5px;color:#666;line-height:30px;}
.s_detail_top a.lastcolor{color:#f00;}
.s_detail_header{padding:0;width:979px;margin-left:1px;position:relative;background:#f9f9f9;-webkit-box-shadow: 0px 0px 4px #ddd;-moz-box-shadow: 0px 0px 4px #ddd;box-shadow: 0px 0px 4px #ddd;}

.s_detaill{width:322px;float:left;}
.productImage{width:302px;height:370px;float:left;display:block;position:relative;background:#fff;padding:10px; z-index:5001;}
.productImage .medium{width:300px;height:300px;display:block;margin-bottom:4px;}
.productImage .prev{width:10px;height:62px;display:block;float:left;margin-right:5px;outline:none;blr:expression(this.hideFocus = true);border:1px solid #e4e4e4;background:url(../../images/v2.0/product.gif) -120px -510px no-repeat;position:absolute;left:0;bottom:0;}
.productImage .prev:hover{background-color:#f1f1f1;}
.productImage .next{width:10px;height:62px;display:block;float:right;margin-left:4px;outline:none;blr:expression(this.hideFocus = true);border:1px solid #e4e4e4;background:url(../../images/v2.0/product.gif) -180px -510px no-repeat;position:absolute;right:0;bottom:0;}
.productImage .next:hover{background-color:#f1f1f1;}
.productImage .disabled{cursor:default;background-color:#f1f1f1;}
.productImage a[class="prev disabled"]{background:url(../../images/v2.0/product.gif) -150px -510px no-repeat #f4f4f4;}
.productImage a[class="next disabled"]{background:url(../../images/v2.0/product.gif) -210px -510px no-repeat #f4f4f4;}
.productImage .scrollable{width:268px;height:64px;float:left;position:relative;overflow:hidden;padding:0 12px;margin-top: 12px;_padding:5px 12px 0 12px;}
.productImage .scrollable .items{width:20000em;position:absolute;}
.productImage .scrollable a{display:block;float:left;padding:1px;margin-right:4px;outline:none;blr:expression(this.hideFocus = true);border:1px solid #e4e4e4;}
.productImage .scrollable a.current{padding:0px;border:2px solid #c4251c;}
.productImage .scrollable img{width:60px;height:60px;display:block;}
.productImage .zoomPad{float:left;position:relative;z-index:99;cursor:crosshair;}
.productImage .zoomPreload{width:90px;height:43px;* width:100px;* height:49px;padding:8px;text-align:center;color:#333333;-moz-opacity:0.8;opacity:0.8;filter:alpha(opacity = 80);position:absolute;top:0px;left:0px;z-index:110;border:1px solid #e4e4e4;background-color:white;}
.productImage .zoomPup{overflow:hidden;-moz-opacity:0.6;opacity:0.6;filter:alpha(opacity = 60);position:absolute;z-index:120;cursor:crosshair;border:1px solid #e4e4e4;background-color:#ffffff;}
.productImage .zoomOverlay{width:100%;height:100%;position:absolute;left:0px;top:0px;z-index:101;display:none;background:#ffffff;}
.productImage .zoomWindow{height:auto;position:absolute;left:110%;top:40px;z-index:110;background:#ffffff;}
.productImage .zoomWrapper{position:relative;z-index:110;border:1px solid #e4e4e4;}
.productImage .zoomWrapperTitle{width:100%;height:18px;line-height:18px;color:#ffffff;text-align:center;font-size:10px;overflow:hidden;position:absolute;top:0px;left:0px;z-index:120;-moz-opacity:0.6;opacity:0.6;display:block;filter:alpha(opacity = 60);background:#999999;}
.productImage .zoomWrapperImage{display:block;position:relative;overflow:hidden;z-index:110;}
.productImage .zoomWrapperImage img{display:block;position:absolute;z-index:101;border:0px;}
.productImage .zoomIframe{z-index:-1;filter:alpha(opacity=0);-moz-opacity:0.80;opacity:0.80;position:absolute;display:block;}
.s_detailr{width:657px;_width:655px;float:left;min-height:390px;}
.s_detailr .title{padding:10px 10px 0 10px;font-size:18px;font-weight:bold;text-align:left;color:#333;line-height:25px;height:50px;ord-wrap:break-word;overflow:hidden;}
.s_detailr .price{margin-top: 10px;padding:10px 0px 10px 10px;background:#fdecec;text-align:left; overflow:hidden; *line-height:31px;}
.s_detailr .price h1{font-size:24px;font-weight:bolder;color:#fff;display:inline-block;*display:block;padding:0 10px;max-width:400px;}
.s_detailr .price del{color:#f7f7f7;font-size: 12px;padding:0 5px;}
.s_detailr .price h1,.s_detailr .price del,.s_detailr .price span{*float:left; color:#555;}
.s_detailr .price h1{ color:#ae1e23;}
.s_detailr p{padding:10px;color:#666;}
.s_detailr p span{padding:0;color:#f00;}
.s_detailr p span.p10{padding:0 10px;}
.s_detailr p a{display:inline-block;color:#666;padding:0 2px; margin-bottom:10px;}
.s_detailr p a span{border:1px solid #ccc;line-height:20px;display:inline-block;color:#666;padding:0 10px;}
.s_detailr p a.locked {color: #d6d6d6;cursor: not-allowed;border:1px #bbb dotted;}
.s_detailr p a.locked span{border:none;color:#999;}
.s_detailr p a.hover span{border:1px solid #f00;}

.quantity{height:18px;line-height:18px;padding:10px;border-bottom:1px dotted #DCDCDC;position:relative; z-index:1;}
.quantity dt{width:60px;float:left;margin-right:10px;color:#888888;text-align:right;white-space:nowrap;}
.quantity dd{margin-right:4px;color:#666666;display: inline-block;position:absolute;top:10px;left:50px;}
.quantity div.w_detailunit{float:left;margin-right:4px;color:#666;padding:0 10px;border:1px solid #dbdbdb;position:relative;background:url(../../images/v2.0/product_unit.png) no-repeat 90% 50%;display:block;cursor:pointer;}
.quantity div.w_detailunit .w_detailunitc{display:none;position:absolute;top:18px;left:-1px;right:-1px;width:100%;z-index:8;padding:0;}
.quantity div.w_detailunit .w_detailunitc ul{border:1px solid #dbdbdb;border-top:0;background:#fff;width:100%}
.quantity div.w_detailunit .w_detailunitc li{width:100%;height:20px;line-height:20px;clear:both;text-align:center;line-height:18px;}
.quantity div.w_detailunit .w_detailunitc .w_clear{clear:both;padding:0;}
.quantity input{width:22px;height:18px;line-height:18px;float:left;padding:0px 2px;text-align:center;ime-mode:disabled;border:1px solid #dbdbdb;}
.quantity div{height:18px;float:left;padding-left:2px;}
.quantity .increase{width:18px;height:7px;display:block;clear:both;margin-bottom:2px;cursor:pointer;overflow:hidden;border:1px solid #dbdbdb;background:url(../../images/v2.0/product.gif) 0px -570px #f9f9f9 no-repeat;}
.quantity .decrease{width:18px;height:7px;display:block;clear:both;cursor:pointer;overflow:hidden;border:1px solid #dbdbdb;background:url(../../images/v2.0/product.gif) -30px -570px #f9f9f9 no-repeat;}

.detailbtn{padding:10px;}
.detailbtn li{padding:10px;float:left;_width:120px;}
.detailbtn li a{display:block;height:30px;line-height:30px;text-align:center;border:1px solid #f7f7f7;background: #AE1E23;width:122px;padding:5px 0px;color:#fff;}
.detailbtn li a.bgz{background:#f8b72b}
.detailbtn li a.sc{ width:72px; padding:0 2px 0 0; height:18px; line-height:18px; text-align:right; background:url(../../images/v2.0/shop_yun_bg.gif) 4px center no-repeat; border:1px solid #999999; color:#999999; margin-top:10px; *margin-top:20px;}
.detailbtn li a#addCart { background:#fdecec; border:1px solid #AE1E23; color:#AE1E23;}
.s_detail_cont{width:100%;padding-top:20px;}
.detailcl{width:182px;position:relative;float:left;}
div.hotProduct{width:100%;overflow:hidden;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;background:#f5f5f5;}
div.hotProduct .title{height:30px;line-height:30px;font-weight:bold;border-bottom:solid 1px #e4e4e4;color:#fff;background:#c4251c;text-align:center;}
div.hotProduct li{line-height:24px;padding:0px 10px;white-space:nowrap;border-bottom:solid 1px #f1f1f1;}
div.hotProduct li.last{border-bottom:none;}div.hotProduct li a{color:#2953a6;}
div.hotProduct li strong{color:#666666;font-weight:bold;}
div.hotProduct li em{color:#ceaa00;font-weight:bold;font-style:normal;}
div.hotProduct li div{height:24px;}
div.hotProduct li div div{height:24px;float:left;margin-right:6px;}
.w_content{padding:10px;text-align:center;}
.w_content p{line-height:30px;}
.w_content p a{color:#0b63ca;display:block;}
.w_content p a:hover{color:#f00;}
.w_content p.w_lineme a{height:17px;width:60px;line-height:17px;padding:0 5px;margin:0 auto;background:#AE1E23;color:#fff;border-radius: 4px;border:1px solid #fff;position: relative;}
.w_content p.w_lineme a img{position: absolute;top:0;left:-20px;}
.w_content p.w_ptext{height:20px;line-height:20px;}
.w_content p.w_ptext span{color:#f00;}
.w_bder{width:100%;border-top:1px dotted #ddd;height:5px;margin-top:5px;;border-bottom:0;}
.w_bzhang{width:100%;padding:10px 0 0 0;height:20px;}
.w_bzhang a{padding:0 5px;display: block;float:left;}
.w_bzhang a img{float:left;margin-top:0px;}
.w_dj{width: 100%;height:20px;text-align: left;padding:5px 0;text-indent: 10px;position:relative;}
.w_dj div{position:absolute;top:0;left:70px;}
.w_goshop{padding:0 5px;}
.w_goshop a{text-indent:10px;display:block;width:80%;height:30px;border-radius:4px;line-height:30px;text-align:center;color:#666;background:#efc416 url(../../images/v2.0/w_tag_1.png) no-repeat 45px 10px;margin:0 auto;}

div.hotProduct.w_information{width:100%;border: 0;}
div.hotProduct.w_gg .title,div.hotProduct.w_js .title,div.hotProduct.w_information .title{color:#fff;background:#AE1E23;font-size:14px;}
div.hotProduct.w_information p{padding:10px;text-indent: 22px;line-height:18px;max-height:79px;overflow: hidden;}
.nav_bg .ul li a{padding:0 25px;}

.hotproduct{width:100%;border: solid 1px #e4e4e4;}
.hotproduct .top{width:100%;border-bottom:solid 1px #e4e4e4;background:#f7f7f7;color:#333;line-height:30px;text-indent:10px;font-weight:bold;}
.hotproduct .center{width:100%;}
.hotproduct .center li{padding:10px;}
.hotproduct .center li a{display:block;text-align: center;}
.hotproduct .center li a img { width:162px;}
.hotproduct .center li a h1{width:100%;color:#333;font-size:12px;-o-text-overflow: ellipsis;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.hotproduct .center li a p{-o-text-overflow: ellipsis;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.hotproduct .center li a p strong{font-size:12px;color:#f00;padding:0 5px;}
.hotproduct .center li a p del{color:#ccc;}


.detailcr{width:787px;_width:785px;padding:10px 0 0 10px;position:relative;float:left;padding-top:0;}
.detailcr_c{width:100%;border:1px solid #e5e5e5;position:relative;height:38px;}
.detailcr_c li{border-top;width:100px;float:left;margin-top:-2px;_margin-top:0px;cursor:pointer}
.detailcr_c li span{padding:10px;color:#666;width:80px;text-align: center;border-top:2px solid #e5e5e5;border-right:1px solid #e5e5e5;display:block;height:18px;}
.detailcr_c li span.hover{border-top:2px solid #AE1E23;color:#333;}

.detailcr_ch{width:100%;position:relative;padding-top:10px;}
.detailcr_ch .detailcont{width:100%;padding-bottom:20px; display:none;}
.detailcr_ch .detailcont h1{border-bottom:1px solid #ccc;display:block;height:30px;}
.detailcr_ch .detailcont h1 span{padding:5px 10px;font-size:14px;line-height:20px;background:#AE1E23;color:#fff;float:left;}

.detailcr_ch .detailcont table{width:100%;line-height:30px;border-spacing:1px;border:1px solid #f1f1f1;}
.detailcr_ch .detailcont table th{border-bottom:1px solid #fff;width:100px;padding:0px 10px;color:#999;font-weight:normal;text-align:right;background:#f5f5f5}
.detailcr_ch .detailcont table td{color:#999;padding:0px 10px;border-bottom:1px solid #e4e4e4;}
.detailcr_ch .detailcont p{padding:20px;display:block;font-size:12px;color:#ccc;padding:0;}
.detailcr_ch .detailcont p a{color:#f8b72b;}
.detailcr_ch .detailcont table th.group {color:#333;font-size: 14px;text-align: left;background-color:#f5f5f5}

/*详情页 评价*/
.p_evaluate{padding:5px 0;}
.p_evaluate li{width:100%;padding:5px 0;}
.p_evaluate li:first-child{padding:0 0 5px 0;}
.detailcr_ch .detailcont .p_evaluate li p{padding:10px;line-height:30px;color:#333;font-weight:bold;border-radius:6px 0 0 0;}
.p_evaluate li .p_evaluate_text{background:#f5f5f5;border-top:1px dashed #eee;padding:10px 5px;height:20px;}
.p_evaluate li .p_evaluate_text span{float:left;color:#999;padding:0 5px;}
.p_evaluate li .p_evaluate_text span:last-child{float:right;}

/*详情页 咨询*/
.p_consulting{padding:5px 0 10px 0;}
.p_consulting li{width:100%;padding:5px 0;}
.p_consulting li:first-child{padding:0 0 5px 0;}
.p_consulting li .p_evaluate_text_1,.p_consulting li .p_evaluate_text{border-bottom:1px dotted #ccc;padding:10px 5px;height:20px;}
.p_consulting li .p_evaluate_text_1 span,.p_consulting li .p_evaluate_text span{float:left;color:#999;padding:0 5px;}
.p_consulting li .p_evaluate_text_1 span:last-child,.p_consulting li .p_evaluate_text span:last-child{float:right;}
.p_consulting li .p_evaluate_text_1{border:0;background:#f5f5f5;padding-left:45px;}
.p_consulting li .p_evaluate_text_1 span{color:#999;}
.p_consultingbtn{border:1px solid #fff;display:block;background:#f5f5f5;color:#666;line-height:40px;text-align:center;}

/*介绍 公告*/
.w_information p{border-top:1px dotted #fff;background:#f7f7f7;}
.w_information p.s_first{border-bottom:1px dotted #ccc;border-top:0;}
.w_information p span{display:inline-block;width:300px;padding:0 10px 0 10px;float:left;}
.w_information p span a{display:block;float:left;text-indent:0;width:260px;line-height:20px;-o-text-overflow: ellipsis;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.w_information p span a.red{color:#f00;width:40px;}


/*评价*/
/*2014-8-29改*/
.score{width:120px;float:left;padding-top:20px;margin:10px 20px 10px 0px;color:#808080;}
.score strong{display:block;float:left;margin-right:4px;color:#ff6600;font-size:30px;font-weight:normal;font-family:"Microsoft YaHei";}
.score div{float:left;}
.score div div{height:18px;line-height:18px;clear:both;white-space:nowrap;}
.graph{height:60px;width:400px;float:left;padding:10px 10px 10px 0px;margin:10px 0px;}
.graph span{height:21px;display:block;}
.graph em{width:28px;height:21px;line-height:16px;display:block;float:right;margin-right:26px;color:#ffffff;text-align:center;font-style:normal;background:url(../../images/v2.0/review.gif) 0px -30px no-repeat;}
.graph div{width:400px;height:14px;background:url(../../images/v2.0/review.gif) 0px 0px no-repeat;}
.graph li{width:80px;height:26px;line-height:26px;float:left;color:#808080;text-align:center;}
.handle{height:40px;float:left;padding-top:34px;padding-left:20px;margin:10px 0px;}
.handle a{padding:4px 8px;color:#ffffff;font-weight:bold;white-space:nowrap;background-color:#2372cf;}
.detailcr_c table{width:100%;line-height:24px;clear:both;border-top:1px solid #e4e4e4;}
.detailcr_c table th{padding:6px 0px;color:#888888;font-weight:normal;text-align:left;border-bottom:1px dotted #e4e4e4;}
.detailcr_c table td{width:160px;padding-left:10px;border-bottom:1px dotted #e4e4e4;}
.detailcr_c span{color:#999999;}div.productContent .review p{padding:10px;color:#888888;}
div.s_detail .consultation{margin-bottom:10px;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
div.s_detail .consultation .title{height:30px;line-height:30px;font-size:14px;font-weight:bold;font-family:"Microsoft YaHei";}
div.s_detail.consultation .content{padding:0px;width:100%;float:none;}
div.s_detail .consultation .content li{line-height:24px;padding:10px 0px;color:#888888;border-bottom:1px dotted #e4e4e4;}
div.s_detail .consultation .content li.last{border-bottom:none;}
div.s_detail .consultation .content li .arrow{width:0px;height:0px;margin-left:20px;overflow:hidden;border:6px solid;border-color:#ffffff #ffffff #f1f1f1 #ffffff;}
div.s_detail .consultation .content li ul{padding:6px;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;background-color:#f1f1f1;}
div.s_detail .consultation .content li ul li{padding:0px;border-bottom:none;}
div.s_detail .consultation .content span{color:#999999;white-space:nowrap;}
div.s_detail .consultation .content p{padding:10px;color:#999999;}
div.s_detail .tenant{width:202px;line-height:26px;float:right;clear:right;color:#333333;border:1px solid #DCDCDC;background-color:#ffffff;margin-bottom:10px;}

.detail_pj{padding:0 0 0 30px;overflow:hidden;background: #f7f7f7;width:757px;}