// -------------------------------------
// common:店铺图形化标签
// -------------------------------------
.promtag {
    //赠品
    &.pt-buyfree {
        &:before {
            content: "\e65c";
            color: #ffa627;
        }
    }
    //折扣
    &.pt-discount {
        &:before {
            content: "\e65d";
            color: #ff635b;
        }
    }
    //包邮
    &.pt-mail {
        &:before {
            content: "\e665";
            color: #10AEFF;
        }
    }
    //新品
    &.pt-new {
        &:before {
            content: "\e666";
            color: #06c1ae;
        }
    }
    //优惠券
    &.pt-coupon {
        &:before {
            content: "\e619";
            color: #c183e2;
        }
    }
    //代金券
    &.pt-voucher {
        &:before {
            content: "\e68c";
            color: #c183e2;
        }
    }
    //积分
    &.pt-integral {
        &:before {
            content: "\e68d";
            color: #ff9900;
        }
    }
    //秒杀
    &.pt-seckill {
        &:before {
            content: "\e68e";
            color: #ff4466;
        }
    }
    //活动立减（平台主办）
    &.pt-activity {
        &:before {
            content: "\e68f";
            color: #f63736;
        }
    }
}