///两端对齐
@at-root .justifyL {
    //$fa_fontsizeEm_justifyL: 14;
    dt {
        float: left;
        color: #181818;
    }
    dd {
        float: right;
        color: #ccc;
        a {
            color: #ccc;
            font-size: pxToEm(14, 14);
        }
    }
}

///positionAdjust-justifyL
@mixin positionAdjust-justifyL($fa_fontsizeEm) {
    font-size: pxToEm(14, $fa_fontsizeEm);
    margin-left: pxToEm(15, 14);
    padding: pxToEm(10, 14) pxToEm(15, 14) pxToEm(8, 14) 0;
    border-bottom: 1px solid #dfdfdf;
}
