/// namespace: WHT
$page_ns: "WHT";

.btns {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 502;

    a {
        font-size: 12px;
    }
}

$page_ns: "";

//集合入口
@import "whostrap/dialog";
@import "whostrap/tip";
@import "whostrap/positionscroller";