/// namespace: MBPS-WW
/* >>member/purse/withdraw*/
$page_ns: "MBPS-WW";

body {
    &.#{$page_ns} {
        background-color: #ebebeb;
    }
}

.other_blance {
    @include align-items(flex-start);

    padding: 0 0.8em;
    background-color: #ffffff;

    &:before {
        content: none;
    }

    .box {
        position: relative;
        margin: 2em 0;
        padding: 0 0.8em;

        & > h3 {
            font-size: 18px;
            font-weight: normal;
        }

        & > div {
            line-height: 2;
            font-size: 18px;
            margin: 0;
        }

        & > span {
            font-size: 8px;
        }

        &:after {
            @include vertical-line-right;
        }

        &:last-child {
            &:after {
                content: none;
            }
        }
    }
}

$page_ns: "";

/* >>member/purse/withdraw,end*/