/// namespace: IN
/* >>_index*/
$page_ns: "IN";

///跳动等待动画类
.bouncewait {
    @include bounce2($duration: 1.5s, $count: infinite);
}

.index_channel {
    //嵌套增加权重
    .index_channel-it {
        img {
            padding: 10px 5px 0 5px;
            width: 100%;
            height: auto;
            color: #333;
        }
    }
    a{
        ///频道图片标识
        .channel_sign{
            &.bounceup{
                @include bounce3($delay: 1s,$duration: 1.5s, $count: 1);
            }
        }
    }
}

///明星商家副标题
a.starbus-subtitle-txt {
    color: #666;
    display: block;
    margin-top: 3px;

    &.anmfor {
        @include shake2($delay: 1s, $count: infinite, $function: cubic-bezier(0.215, 0.61, 0.355, 1), $fill: forwards);
    }
}

///店长推荐模块
///附加渐变基类
.anm-base01 {
    &.#{$page_ns} {
        opacity: 1;
        transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
        -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    }
}

///渐变基类补丁
.patch-anm-base01 {
    //line-height: 0!important;
    opacity: 0 !important;
}

///.pagescroll-rap {
///position: fixed;
///top: 0px;
///left: 0;
///right: 0;
///bottom: 0px;
///overflow: hidden;
///}

///index.ftl原嵌入样式

///.am-gallery-imgbordered .am-gallery-item img {
///width: 100%;
///height: auto;
///color: #333;
///}

.imgboxT2-R {
    $father_imgboxT2_R: #{&};

    white-space: nowrap;
    overflow: auto;

    //展示盒imgboxT2
    a.imgboxT2 {
        margin: 0 0.5vw;
        padding: 0;
        width: 32vw;
        display: inline-block;
        vertical-align: top;

        @at-root #{$father_imgboxT2_R} {
            .part_img {
                width: 32vw;
                height: 32vw;

                //padding: 0 0.2em;
                display: -webkit-box;
                -webkit-box-align: center;
                overflow: hidden;

                img {
                    width: 100%;
                    vertical-align: middle;
                }
            }

            .part_txt {
                text-align: center;
                padding: 5px;
                font-size: 16px;
                line-height: 20px;
                height: 45px;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                white-space: initial;
            }
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

///同城优品
.cityyoupinR-title {
    ///主标题
    .first {
        line-height: 1.6;
        margin-top: 10px;
        font-size: 18px;
        color: #282828;
        width: 100%;
        display: block;
    }

    ///副标题
    .second {
        line-height: 1;
        font-size: 14px;
        color: #666666;
        width: 100%;

        &.anmfor {
            @include shake3($delay: 3s, $count: infinite, $function: cubic-bezier(0.215, 0.61, 0.355, 1), $fill: forwards);
        }
    }
}

.cityyoupin {
    margin-bottom: 10px;

    .items {
        padding: 0;
        white-space: nowrap;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        a:focus {
            border-width: 0 !important;
        }

        a:hover {
            border-width: 0 !important;
        }
    }
}

$page_ns: "";

/* >>_index,end*/