/* 왆췊훱楞輝 login CSS */
.login_bg {
	POSITION: absolute; top: 14px; left: 736px; width: 230px; height: 236px;
	filter: alpha(Opacity = 80); -moz-opacity: 0.7; opacity: 0.7;
	z-index: 100; background-color: #474747; color: #fff;
}

.index_logo {
	margin: 28px 0 0 0;
}

.login_bg h1 {
	font: normal 14px "풕턼환쥌"; float: left; width: 115px; text-align: center;
	height: 33px; line-height: 33px; letter-spacing: 2px;
}

.login_bg a {
	color: #fff;
}

.login_bg .a_bg {
	display: block; width: 70px; float: right;
}

.login_bg h1 a.zc_bg {
	display: block; border-left: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}

.input_bg1, .input_bg2 {
	width: 192px; border: 1px solid #FFF; height: 28px; line-height: 28px\9;
	padding-left: 5px; margin-top: 20px; margin-left: 16px;
	background: url(../images/input_yhm.png) 175px 6px no-repeat;
	color: #fff;
}

.input_bg2 {
	margin-top: 15px;
	background: url(../images/input_mm.png) 175px 6px no-repeat;
	color: #fff;
}

.error {
	margin-top: 6px; text-align: left; color: #e94242; margin-left: 20px;
}

.input_bg3 {
	margin-left: 16px; margin-top: 5px; height: 20px; line-height: 20px;
	width: 210px;
}

.input_bg3 input {
	margin-top: 4px; *margin-top: 0px; margin-right: 3px;
}

.input_bg3 span {
	display: block; float: left; width: 70px;
}

.btn_bg1 {
	width: 197px; height: 31px; line-height: 20px; margin-top: 8px;
	margin-left: 16px; font-size: 14px; font-family: "풕턼환쥌"; color: #fff;
	border: 1px solid #FFF; background: none; -moz-border-radius: 5px;
	-webkit-border-radius: 5px; border-radius: 5px; position: relative;
	z-index: 5; behavior: url(pie.htc); letter-spacing: 2px;
	cursor: pointer;
}

.login_index_div {
	height: 265px; background: #c30101; margin-bottom: 100px;
}

/* login CSS */
.login_logo_div {
	padding: 17px 0 0 0; height: 72px;
}

.login_logo_div img {
	width: 292px; height: 48px;
}

.login_left_aps {
	margin: 0px 0 0 100px;
}

.login_form_div {
	width: 304px; border: 2px solid #cbcbcb; float: right;
	min-height: 240px; padding-bottom: 20px;
}

.login_form_div ul {
	height: 38px;
}

.login_form_div ul li {
	border-bottom: 2px solid #cbcbcb; color: #989898; font-size: 14px;
	font-family: "풕턼환쥌"; float: left; width: 152px; height: 36px;
	line-height: 36px; text-align: center; cursor: default;
	position: relative;
}

.login_form_div ul li a {
	width: 126px; padding-left: 26px; text-align: left; display: block;
	color: #fff;
	background: #cbcbcb url(../images/login_phone_bg.gif) 115px 14px
		no-repeat;
}

.login_form_div ul li a.seller_login_btn {
	background: #cbcbcb; padding: 0; text-align: center; width: 152px;
}

.login_float_div {
	width: 114px; height: 58px; padding: 15px 0 0 12px; line-height: 18px;
	font-size: 12px; font-family: "풻"; color: #b71c22; text-align: left;
	position: absolute; right: 0; top: -70px;
	background: url(../images/login_float_delete_bg.png) 0 0
		no-repeat;
}

.login_float_div span {
	width: 22px; height: 22px; display: block; position: absolute;
	right: 7px; top: 0; cursor: pointer;
}

.login_input_div {
	padding: 34px 0 0 20px;
}

.login_input_div p.login_p01 {
	padding-bottom: 12px;
}

.login_input_div p.login_p01 input {
	width: 205px; color: #989898; height: 31px; line-height: 31px\9;
	padding-left: 56px; border: 1px solid #dbdbdb;
	box-shadow: 0px 0px 1px #dbdbdb; border-radius: 5px;
	background: url(../images/login_password_bg.gif) 14px center
		no-repeat;
}

.login_input_div p.login_p01 .login_name {
	background: url(../images/login_name_bg.gif) 14px center
		no-repeat;
}

.login_input_div p.login_p01 input.login_code {
	width: 110px;
	background: url(../images/login_code.gif) 14px center no-repeat;
}

.login_input_div p.login_p01 .getCode01 {
	margin: 2px 0 0 10px;
}

.login_input_div p.login_p02 {
	padding: 0;
}

.fieldSet-code #captcha {
	width: 110px;
}

.fieldSet-code #captchaImage {
	margin: 2px 0 0 10px;
}

.login_input_div p.login_p03 {
	padding-top: 10px; color: #ef3434;
}

.login_input_div p.login_p04 {
	padding: 15px 0;
}

.login_input_div p.login_p04 input {
	float: left; margin-top: 2px; margin-right: 2px; *margin-top: -3px;
}

.login_input_div p.login_p04 a {
	margin-left: 100px; color: #1909ea;
}

.login_input_div p.login_p05 {
	padding-bottom: 30px;
}

.login_input_div p.login_p05 input, .register_table01 .submit {
	width: 237px; height: 32px; line-height: 32px; background: #b71c22;
	font-size: 14px; font-family: "풕턼환쥌"; color: #fff; word-spacing: 8px;
	letter-spacing: 2px; border: 0;
}

.login_reg_btn {
	width: 61px; height: 25px; line-height: 25px; border: 1px solid #bdbdbd;
	margin-left: 92px; color: #989898;
}

@
-moz-document url-prefix (){ .login_reg_btn { line-height:22px;
	
}

} /*類쩑턯*/
.login_input_div p.login_p06 {
	padding: 0 0 20px 50px;
}

.login_p01 .fieldError {
	display: block;
}

.login_input_div p.login_p01 .login_password2 {
	background: url(../images/login_password_bg2.gif) 14px center
		no-repeat;
}
/* register css*/
.register_table01 th span {
	color: #b26666;
}

.register_table01 th, .register_table01 td {
	padding: 15px 0 0 0;
}

.register_text {
	border: 1px solid #d1d1d1; width: 140px; height: 20px;
	line-height: 20px; padding: 0 5px; margin-left: 10px;
}

.getCode01 button {
	width: 80px; font-size: 12px; font-family: "풕턼환쥌"; height: 30px;
	background: #b71c22; border: 1px solid #b71c22; position: relative;
	top: -1px; *top: 8px; *left: -4px; color: #fff;
}

.fieldSet select {
	color: #666; width: 72px;
}

.checkbox01 {
	padding-top: 10px; display: block;
}

.checkbox01 a {
	color: #b71c22
}

.checkbox01 input {
	margin-right: 2px;
}

#checkBox {
	position: relative; top: -1px; *top: 0;
}