/* 店铺管理 css */

/* decoration 店铺装修 css */
.decora_stencil { border:1px solid #d1d1d1; overflow:hidden; margin:10px 0; *padding-bottom:15px;}
.decora_tit { border-bottom:1px solid #b71c22; padding:20px 0 10px 0;}
.decora_tit span { color:#b71c22; margin-right:20px; font-family:"Microsoft YaHei"; font-size:16px;}
.decora_tit img { vertical-align:middle;}
.decora_stencil .mb_tit { height:40px; line-height:40px; padding-left:14px;}
.decora_stencil .mb_ul,.decora_stencil .xc_ul { margin:0; padding:0 0 0 0; overflow:hidden; width:750px;}
.decora_stencil .mb_ul li { float:left; height:180px; padding:10px 15px 10px 15px; margin:0 0 15px 15px; text-align:center; border:1px solid #eee; width:180px; cursor:pointer;}
.decora_stencil .mb_ul span { line-height:34px;}
.decora_stencil .mb_ul li:hover,.decora_stencil .mb_ul li.act_li { border:1px solid #f30;}
.decora_stencil .mb_ul li img,.xc_ul li img { width:140px; height:140px; display:block; margin:0 auto;}
.xc_ul dd { float:left; border:1px solid #eee; padding:10px 15px 10px 15px; margin:0px 15px 10px 0;}
.xc_ul dd img { width:71px; height:72px; border:1px solid #c4c4c4;}
.xc_ul dd a { font-size:12px; display:block; width:75px; height:21px; line-height:21px; margin:10px auto 0px auto; background:#a91a20; color:#fff; text-align:center; border-radius:5px;}
.xc_ul dt img { width:73px; height:74px; display:block; margin:0 auto;}
.decora_stencil .xc_ul { width:755px; padding-left:15px;}
.decora_stencil .xc_ul dt { width:109px; float:left; height:131px;}
/* decoration 店铺装修 css */


/* Follow 我要开店 CSS */
.box_menu{ width:980px; overflow:hidden; margin:0 auto 10px auto; border-bottom:2px solid #b71c22;}
.box_menu_wykd{ width:460px; float:right; margin-top:42px; height:41px;font-size:20px;font-family:"Microsoft YaHei";}
.box_menu_wykd_bg1{ width:135px;height:40px; line-height:39px;border:1px solid #b5b5b5;border-bottom:none; color:#989898; text-align:center; float:left;}
.box_menu_wykd_bg2{ width:135px;height:40px; line-height:39px;border-right:1px solid #b5b5b5;border-top:1px solid #b5b5b5; color:#989898; text-align:center; float:left;}
.box_menu_wykd_bg1_a { width:135px;height:48px; line-height:52px;border:1px solid #b5b5b5; border-bottom:none; border-left:none; color:#333333; text-align:center; float:left; margin-top:-8px; background:#f4f4f4; position:relative;}
.box_menu_wykd_bg1_a_img { width:18px; height:18px;background:url(../images/follow_link_select_bg.jpg) no-repeat; position:absolute; left:0px; top:-1px; display:block;}
.box_menu_wykd_bg1_a2 { border-left:1px solid #b5b5b5;}
.all_center_head_ul { float:right; padding:38px 0 0 0;}
.all_center_head_ul li { cursor:default; float:left; height:43px; line-height:43px; text-align:center; width:135px; font-size:21px;}
.all_center_head_ul li.entran { background:#b71c22; color:#fff;}
.box_con{ width:980px; overflow:hidden; clear:both; margin:-1px auto 0 auto; margin-bottom:10px; clear:both;}
.box_con_left{  width:183px; border:1px solid #afaeae;  padding:10px 0;text-align:center; float:left;}
.logo_bg2{ width:50px; height:50px;border:1px solid #bab9b9; display:block; margin:0 auto;}
.balance{ color:#7f7b7b; height:21px; padding:2px 0; text-align:center; font-size:13px; font-family:"Microsoft YaHei";}
.balance span {color:#3a6cc5;}
.center_name { font-size:12px; padding-top:5px; text-align:center; color:#7F7B7B;}
.center_left_div { background:#fff; padding:10px 0; overflow:hidden;}
.center_left_div .cz{ width:42px; height:18px; text-align:center; line-height:18px; border:1px solid #b71c22; background:#FFF; color:#b71c22; margin-left:32px; float:left; cursor:pointer; font-family:"Microsoft YaHei"; font-size:12px;}
.box_con_right{  width:960px; border:0 solid #afaeae;  padding:10px 0; float:left; padding:10px; overflow:hidden;}
.box_con_right_title_bg1{ font-size:20px;font-family:"Microsoft YaHei"; height:30px; line-height:20px;border-bottom:1px solid #afaeae; padding-bottom:16px;}
.box_con_right_title_bg1 img{ border:none; margin-right:10px;}
.box_con_right_title_bg2{ font-size:20px;font-family:"Microsoft YaHei"; height:34px; line-height:20px;border-bottom:1px solid #afaeae; padding-bottom:16px; margin-top:12px; clear:both;}
.box_con_right_title_bg2 span{ display:block; width:85px;float:left; margin-top:8px;}
.box_con_right_title_bg2 span.w1{ width:50px;}
.box_con_right_title_bg2 span.w2{ width:65px;}
.box_con_right_title_bg2 span.w3{ width:36px; margin-bottom:5px;}
.box_con_right_title_bg2 span.w4{ width:125px;}
.box_con_right_title_bg2 span.w5{ width:125px;}
.box_con_right_con_bg1{width:960px; overflow:hidden;padding:15px;}
.box_con_right_con_bg1 img{ width:19px; height:19px; margin-left:20px;}
.box_con_right_con_bg2{overflow:hidden;padding:15px 0 15px 40px; border:1px solid #dedede; color:#666666;font-size:14px;font-family:"Microsoft YaHei"; }
.box_con_right_con_bg2 p{ height:25px; line-height:25px;}
.box_con_right ul{ width:180px; margin-top:10px; background:url(../images/wykd_pic_bg2.jpg) 20px 0 no-repeat;}
.box_con_right li{ width:150px;font-size:16px;font-family:"Microsoft YaHei"; margin-left:20px;height:57px; padding-left:30px;}
.box_con_right li.bg1{ background:url(../images/wykd_pic_bg1.jpg) no-repeat;}
.box_con_right li.bg2{ background:url(../images/wykd_pic_bg1.jpg) 0 -57px no-repeat;}
.box_con_right li.bg3{ background:url(../images/wykd_pic_bg1.jpg) 0 -114px no-repeat;}
.wykd_btn_bg1{ width:143px; height:44px; margin-bottom:20px; cursor:pointer;font-size:16px;font-family:"Microsoft YaHei"; color:#FFF; border:0; background:#ccc; border-radius:4px; cursor: not-allowed;}
.wykd_btn_bg2{ width:143px; height:44px; margin-bottom:20px; cursor:pointer;font-size:16px;font-family:"Microsoft YaHei"; color:#FFF; border:0; background:#4aa8e8; border-radius:4px;}
.wykd_btn_bg3{ width:160px; height:23px; cursor:pointer; margin-top:8px; margin-left:10px; border:0; font-size:14px;}
.wykd_btn_bg4,.wykd_btn_bg6{ width:143px; height:44px; background:url(../images/wykd_btn_bg2.jpg) no-repeat;cursor:pointer;font-size:16px;font-family:"Microsoft YaHei"; color:#FFF; margin:10px 82px; border:0;}
.wykd_btn_bg4 .m1{ margin-left:20px;}
.wykd_btn_bg6 { width:143px; line-height:44px; height:44px; text-align:center; margin-right:0; display:inline-block;}
.box_con_right_con_btn{float: right; width:143px;margin-right: 100px;}
.box_gsxx{
    width:680px;
    border:1px solid #9d9d9d;
    background:#fff;
    padding-left:20px;
    padding-bottom:20px;
    position:absolute;
    top:100px;
    left:259px;
    z-index:99999;
    overflow:hidden;
    z-index:999;
    display:none;
}

.box_gsxx_title h1{ width:120px;font-size:18px; font-family:"Microsoft YaHei"; font-weight:bold; float:left;  margin:10px 0 20px 290px;}
.box_gsxx_title .gb{ width:19px; height:19px; margin:10px 10px 0 0; float:right; background:url(../images/btn_gb.jpg) no-repeat; border:none; cursor:pointer;}
.box_gsxx_con{ margin:20px; clear:both;}
.box_gsxx_con span{ display:block; float:left; width:80px; height:28px; line-height:28px;}
.box_gsxx_con .text_bg1{ width:240px; height:24px; line-height:24px; border:1px solid #9d9d9d; padding:2px; float:left;}
.box_gsxx_con li{ width:450px; float:left; padding-bottom:14px;}
.wykd_btn_bg5{ width:90px; height:28px;background:url(../images/wykd_pic_bg7.jpg) no-repeat; float:left; color:#FFF; margin-left:10px; margin-top:2px;}
.authen_busi_div { min-height:322px; padding-bottom:20px; display:none;}
.busi_tit { padding:25px 0 2px 24px; border-bottom:1px solid #b71c22; color:#b71c22; font-size:18px;}
.busi_txt { font-size:14px; color:#333333; line-height:30px; padding:20px 45px 20px 45px;}
.authen_table01 th { font-weight:normal;}
.authen_table01 th span { color:#B71C22;}
.authen_table01 td,.authen_table01 th { padding-bottom:10px;}
.authen_table01 td .button { border-radius:4px; margin-right:20px; margin-top:20px;}
.authen_table01 td select { margin-right:10px;}
.authen_upload { border:1px solid #b8b7b7; width:440px; padding-bottom:10px; padding-left:10px;}
.authen_upload .up_p01 { padding:10px 5px 0 0px}
.authen_upload_btn { background:#B71C22; border-radius:2px; width:80px; color:#fff; height:30px; border:0; margin-right:15px; line-height:33px\9;}
.upload_img01 { max-width:200px; max-height:120px; margin:10px 0 0 0px;}

/* authen 我要认证 css */
.authen_div { width:900px;height: 650px; margin:25px auto 0 auto; overflow:hidden;}
.authen_div h1 { background:#484848; font-size:18px; font-family:"Microsoft YaHei"; height:34px; line-height:34px; text-align:center; color:#fff;}
.authen_div p { padding:15px 5px; line-height:20px;}
.authen_div table { background:#dbdfea;}
.authen_div table th { background:#d9dce7;}
.authen_div table th,.authen_div table td { height:50px;}
.authen_div table td { background:#fff; text-align:center; padding:10px;}
.authen_div table td input { display:block; color:#0033ff; width:68px; height:20px; text-align:center; border:1px solid #0033ff; border-radius:10px; margin:0 auto;}
.authen_div table td input.disabled { color:#fff; background:#ccc; border:1px solid #ccc; cursor:not-allowed;}
.authen_div table td .delete_authen { border:1px solid #fc0903; color:#fc0903;}
.authen_div table td.txt_td { text-align:left; line-height:24px;}
