@import "../../base/fn";

.weui_positionscroller {
    position: fixed;
    //width: 2em;
    //height: 2em;
    right: 10px;
    bottom: 10%;
    //background-color: #fff;
    display: none;
    text-align: center;
    //line-height: 2em;
    //border-radius: 50%;
    color: #666;
    //border: 1px solid #666;
    //opacity: 0.7;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    i {
        font-size: 16px;
    }
    &.anm-out {
        @include bounceOutRight;
        //@include bounceOutRight2;
    }
    &.anm-in {
        @include bounceInRight;
        //@include bounceInRight2;
    }
    ///weui_positionscroller-hd
    @at-root .weui_positionscroller-hd{

    }
    ///weui_positionscroller-bd
    @at-root .weui_positionscroller-bd{
        line-height: 1;
    }
}