@charset "UTF-8";
body{
  font-size: "微软雅黑";
  margin: 0;
  min-height: 0;
}
img{
  width: 100%;
  height:100%;
}
.orange{
  color:#ff6d06;
}
.weui-cells {
  margin-top: 1.17647059em;
  background-color: #FFFFFF;
  line-height: 1.41176471;
  font-size: 17px;
  overflow: hidden;
  position: relative;
}

.weui-cells:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #D9D9D9;
  color: #D9D9D9;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.recommend_list .weui-cell:after,.weui-cells:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #D9D9D9;
  color: #D9D9D9;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.weui-cell {
  padding: 10px 15px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.weui-cell_access {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: inherit;
}
.weui-cell__bd {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.weui-cell_access .weui-cell__ft {
  padding-right: 13px;
  position: relative;
}

.weui-cell__ft {
  text-align: right;
  color: #999999;
}






.weui-mask {

  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
.weui-dialog {
  position: fixed;
  z-index: 5000;
  width: 90vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
}

.rule-window{
color: #333;
  font-size: 4.5vw;
  text-align: left;
  padding: 5vw 3vw;
}
.rule-window p{
  line-height: 1.5em;
  margin: .5em 0;
}
.rule-window p span{
  display: inline-block;
  white-space: nowrap;
}
.weui-dialog__ft{
  margin-bottom: 5vw;
}
.weui-dialog__ft a{
  color: #333;
  font-size: 5vw;
  font-weight: bold;


}
.weui-dialog__ft a:hover{
  text-decoration: none;
}









.recommendTenant .weui-cell__bd p.shop_name{
  font-size: 3.8vw;
  color: #000;
}
.distance{
  margin: 0 .5em 0 1em;

}

.recommendTenant{
  width: 100%;
  overflow: auto;
  overflow-y: scroll;
  height: auto;
  margin-top: 10px;
  position: absolute;
  left:0;
  bottom:0;
}

.recommendTenant .weui-cell__hd{
  width: 20vw;
  height:20vw;
  margin-right: .5em;
}


.recommendTenant .weui-cell__bd .use{
  position: absolute;
  right: 1em;
  bottom: 2em;
  font-size:3.5vw;
  font-weight: bold;
}
.recommendTenant .weui-cell__bd p{
  margin: 0;

  color:#999;
  font-size: 3.5vw;
}
.recommendTenant .weui-cell__bd p i{
  margin-right: .5em;
  font-size: 12px;
}

.recommendTenant i.icon-seckill:before{
  content: "\e661";
  color: #ff635b;
}

.recommendTenant i.icon-mail:before{
  content: "\e65d";
  color: #10AEFF;
}

.recommendTenant i.icon-discount:before{
  content: "\e661";
  color: #06c1ae;
}
.recommendTenant i.icon-buyfree:before{
  content: "\e65c";
  color: #ffa627;
}

.recommendTenant.weui-cells:before,.recommendTenant.weui-cells:after{
  border-top: none;
  border-bottom: none;
}
.recommendTenant .weui-cell{
  left: 0;
}


.arrivalRedBag{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  text-align: center;
  color:#333;
  font-size: 4vw;
}
.arrivalRedBag p.state{
  font-size: 5vw;
  margin: 0 auto 3vw;
}
.arrivalRedBag p.money{
  font-size: 7vw;
  font-weight: bold;
  margin: 0;
}
.arrivalRedBag p.money .end_img{
  display: inline-block;
  width: 10.6vw;
  height:10.6vw;
}
.arrivalRedBag .end_img img{
  width: 100%;
  height:100%;
}
.arrivalRedBag p.balance{
 margin-top: 1vw;
}
.arrivalRedBag p.balance a{
  color: #999999;
  text-decoration: underline;
  margin: 0vw auto 5vw;
}
.arrivalRedBag .tit{
  text-align: left;
  font-size: 4.5vw;
  padding-left: 15px;
  position: relative;
  line-height: 2em;
  border-bottom: 1px solid #D9D9D9;
}
/*.arrivalRedBag .tit:after{
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #D9D9D9;
  color: #D9D9D9;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}*/
.recommend_list{
  overflow-y: auto;
}
.success,.fail,.received{
  padding: 10vw 0 5vw;
}

.record .weui-cells{
  color:#333;
  margin: 0;
}
.record .weui-cells:nth-child(2n){
  background: #f9f9f9;
}
.record .weui-cells:before{
  border-top: none;
}
.record .weui-cell__hd,.record .weui-cell__bd,.record .weui-cell__ft{
  font-size:4vw;
}
.record .weui-cell__bd{
  text-align: center;
}
.record .weui-cell__ft{
  color: #333;
}
.record .tenant-name{
  color: #999;
  text-align: left;
}
.record .time{ margin-left: .5em}

.platform{ padding-top: 0; padding-bottom: 0; background: #fff; margin-top: 20px}
.platform .bg{
  width: 30.46875vw;
  height:16.5vw;
  background: #37b2ec;
  position: relative;
  text-align: center;

}
.platform .bg img{
  width: 90%;
  height:auto;
  position: absolute;
  left:5%;
  top:50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.platform .bg span{
  display: block;
  width: 30.46875vw;
  height:16.5vw;
  line-height: 16.5vw;
  color: #fff;
  position: absolute;
  top: 0;
  left:0;
  text-align: center;
  font-size: 7vw;
}
.platform .weui-cell__bd{ margin-left: 20px; font-size: 4.5vw;}
.shuoming{
  color: #f65700;
  font-size: 4vw;
  text-align: center;
  font-weight: bold;
}
.mar{
  margin: 2em auto 5em;
}
.guize{
  margin-bottom: 8vw;
  font-size: 4vw;
  text-align: right;
  padding-top: .8em;
}
span.tenant_address{
  display: block;
  float: left;
  max-width: 10em;
  white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.mar0{
  margin: 2em auto 0;
}
.mar1{
  margin-bottom: 0.1rem;
  font-size: 0.7rem;
}