/// namespace: SE
/* >>invite\download*/
$page_ns: "IE-DL";

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

///weixin-tip
.weixin-tip {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 10, 0.8);
    filter: alpha(opacity = 80);
    height: 100%;
    width: 100%;
    z-index: 100;

    ///图片容器
    p {
        text-align: center;

        //margin-top: 10%;
        //padding: 0 5%;
   
    }

    ///
    div {
        text-align: center;
        padding: 2em;

        a {
            font-size: 4.6875vw;
            padding: 0.3em 1.2em;
            display: inline-block;
            position: relative;
            color: #fff;
			border: 1px solid #fff;
            border-radius: 8px;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                border: 1px solid #fff;
                border-radius: 8px;
                transform:rotate(-5deg);
				-ms-transform:rotate(-5deg); 	/* IE 9 */
				-moz-transform:rotate(-5deg); 	/* Firefox */
				-webkit-transform:rotate(-5deg); /* Safari 和 Chrome */
				-o-transform:rotate(-5deg); 	/* Opera */
            }
        }
    }
}

///pageR
.pageR {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background: -webkit-linear-gradient(top, #fff 43%, #ff6d06 43%, #ff6d06);
    background: repeating-linear-gradient(top, #fff 43%, #ff6d06 43%, #ff6d06);

    .sec1 {
        height: 20%;//不支持vh
        height: 20vh;
        background: url(../../img/invite_download-001.png) center center no-repeat transparent;
        background-size: contain;
        margin: 1.5% 0;//不支持vh
        margin: 1.5vh 0;
    }

    .sec2 {
        height: 48%;//不支持vh
        height: 48vh;
        background: url(../../img/invite_download-002.png) center center no-repeat transparent;
        background-size: contain;
        margin: 1.5% 0;//不支持vh
        margin: 1.5vh 0;
    }

    .sec3 {
        height: 23%;//不支持vh
        height: 26vh;
        margin: 1.5% 0;//不支持vh
        margin: 0vh;
        padding: 1.5vh;
    }
}

///downlink
.downlink {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    margin-top: 1vh;
    margin-bottom: 3.5vh;
    width: 40%;//不支持vw单位
    width: 45vw;
    height: 10vw;
    font-size: 6vw;
    border: 1px solid #fff;
    border-radius: 0.3em;
    text-align: center;
    color: #fff;
    line-height: 2;//不支持vw单位
    line-height: 10vw;
    text-indent: 1.6em;
    background-repeat: no-repeat;

    &:hover, &:focus {
        color: #fff;
    }

    &.iphone {
        margin-top: 1.5em;
        margin-top: 1vh;
        background-image: url(../../img/iphone.png);
        background-size: 1.2em 1.2em;//不支持vw
        background-size: 5.9vw 7vw;
        background-position: 20% center;//不支持vw
        background-position: 6.5vw center;
    }

    &.android {
        background-image: url(../../img/and.png);
        background-size: 1.2em 1.2em;//不支持vw
        background-size: 5.9vw 7vw;
        background-position: 20% center;//不支持vw
        background-position: 6.5vw center;
    }
}

$page_ns: "";

/* >>invite\download,end*/