/// namespace: CN
/// description: 频道首页-水果
$page_ns: "CN";
$star: "*";

//频道子分类
.subcate {
    &.#{$page_ns} {
        font-size: 0;
        white-space: nowrap;
        overflow: auto;

        //所有浏览器
        #{$star}word-spacing: -1px;

        //IE6、7
        overflow-x: auto;
        padding: dimension-to-vw(12.8px);
        background-color: #fff;

        .it {
            width: dimension-to-vw(120.32px);
            text-align: center;
            width: dimension-to-vw(153.6px);
            display: inline-block;
            #{$star}display: inline;
            #{$star}zoom: 1;
            font-family: "微软雅黑";
            padding: dimension-to-vw(12.8px) 0;
            letter-spacing: normal;
            word-spacing: normal;

            //频道图标wrap
            .channel_sign_rap {
                padding: 0 dimension-to-vw(38.4px);
            }

            //频道图标
            .channel_sign {
                max-width: 100%;
                height: auto;

                @include no-flicker;
            }

            p {
                text-align: center;
                line-height: 2.4em;
                height: 2em;
            }
        }
    }
}

//频道banner
.banners {
    &.#{$page_ns} {
        padding: dimension-to-vw(10px);
        margin-top: dimension-to-vw(18px);

        img {
            width: 100%;
            margin-top: dimension-to-vw(8px);
        }
    }
}

//为您推荐
.recomtenants {
    &.#{$page_ns} {
        .weui_cell_bd {
            text-align: center;
        }
    }
}

$page_ns: "";