/// namespace: STC-TS
/// description: 技术支持页面ggg
/* >>wap\html\techsupport.html*/
$page_ns: "STC-TS";

//style here
$w96: 96%;
$auto: 0 auto;
$center: center;
$font-family: "Microsoft YaHei";

.techsupport {
    width: $w96;
    margin: $auto;
    text-align: $center;
    font-family: $font-family;

    .top {
        padding-top: 2em;

        .top_logo {
            width: dimension-to-vw(244px);
            height: dimension-to-vw(98px);
            margin: 0 auto;

            img {
                width: 100%;
            }
        }

        @at-root h1,h2 {
            font-weight: normal;
        }

        h1 {
            line-height: 1.8em;

            img {
                margin: 0 0 .2em .5em;
                width: 5%;
            }
        }

        h2 {
            letter-spacing: .1em;
            margin: 1em auto .5em;
        }
    }
}

//productintr
.productionintr {
    .weui_cell {
        padding: 10px 10px 10px 15px;

        @include flexbox;

            @include flex-direction(row);

            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;
            .weui_cell_bd {
                -webkit-box-flex: 1;
                -moz-box-flex: 1;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }

        &:before {
            left: 0;
        }

        .weui_cell_hd {
            width: dimension-to-vw(72px);
            margin-right: dimension-to-vw(50px);

            img {
                width: 100%;
            }
        }

        .weui_cell_bd {
            text-align: left;

            h2 {
                font-weight: normal;
                margin-bottom: dimension-to-vw(10px);
            }
        }

        .weui_cell_ft {
            margin: .2em 0 0 .8em;

            &:after {
                width: 10px;
                height: 10px;
                position: absolute;
                top: 10px;
                right: 12px;
                content: none;
            }

            .iconfont {
                font-size: 20px;
            }
        }
    }
}

.hezuo {
    $fa_hezuo: #{&};

    margin: dimension-to-vw(35px) auto;
    padding-bottom: dimension-to-vw(40px);
    position: relative;

    &:after {
        @include dividingline(bottom, #e1e1e1);
    }

    #iSlider-wrapper {
        width: 100%;
        height: dimension-to-vw(260px);
        margin-top: dimension-to-vw(30px);
        overflow: hidden;

        @include inline-flex;

        @include flex-direction(row);

        @at-root #{$fa_hezuo} .partner {
            width: dimension-to-vw(190px);
            text-align: $center;
            border-radius: .5em;
            border: 1px solid #e1e1e1;
            padding-bottom: dimension-to-vw(15px);
            margin-right: dimension-to-vw(22px);

            @at-root #{$fa_hezuo} div.bg {
                width: 100%;
                height: dimension-to-vw(129px);
                padding: dimension-to-vw(33px) 0 dimension-to-vw(39px);
                background: #ff5a57;
                vertical-align: middle;
                border-radius: .5em;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                .bg_img {
                    width: dimension-to-vw(163px);
                    height: dimension-to-vw(57px);
                    margin: 0 auto;

                    img {
                        width: 100%;
                    }
                }
            }

            h1 {
                margin-top: dimension-to-vw(20px);
                line-height: 2em;
            }
        }

        @at-root #{$fa_hezuo} .partner:nth-child(3) {
            margin-right: 0;

            .bg {
                background: #feb800;
            }
        }

        @at-root #{$fa_hezuo} .partner:nth-child(2) {
            .bg {
                background: #ff830a;
            }
        }
    }
}

.anli {
    font-family: $font-family;
    text-align: $center;

    .slider {
        white-space: nowrap;
        overflow: auto;
        padding-bottom: dimension-to-vw(3px);
        margin-top: dimension-to-vw(30px);
        font-size: 0;
        letter-spacing: -3px;

        @include flexbox;
        
        @include flex-direction(row);

        li {
            @include flex-shrink(0);

            width: dimension-to-vw(460px);
            height: auto;
            margin-right: dimension-to-vw(18px);
            border-radius: 10px;
            border: 1px solid #e1e1e1;
            letter-spacing: 0;

            &:nth-child(1) {
                margin-left: dimension-to-vw(20px);
            }

            &:nth-child(2) {
                .tit {
                    background-color: #e9463f;
                }
            }

            &:nth-child(3) {
                .tit {
                    background-color: #006428;
                }
            }

            &:nth-child(4) {
                .tit {
                    background-color: #3eb134;
                }
            }

            &:last-child{
                width: dimension-to-vw(0.1px);
                border:none;
            }

            .tit {
                padding: dimension-to-vw(18px) 0;
                text-align: $center;
                background: #e70206;
                border-radius: 10px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                .tit_logo {
                    width: dimension-to-vw(335px);
                    height: dimension-to-vw(98px);
                    margin: 0 auto;

                    img {
                        width: 100%;
                    }
                }
            }

            .cont {
                padding: dimension-to-vw(20px);

                //height: 300px;

                h1 {
                    text-align: left;
                }

                p {
                    white-space: normal;
                    text-align: left;
                    text-indent: 2em;
                }

                p:nth-child(2) {
                    text-indent: 0;
                }
            }
        }
    }
}

footer {
    line-height: 3em;
    text-align: $center;
}

$page_ns: "";

/* <<wap\html\techsupport.html*/