/// namespace: G
/* >>indexnew.ftl*/
$page_ns: "G";

.techsupport {
    &.#{$page_ns} {
        display: block;
        height: 45px;
        background: url(../image/technical_support.png) center center no-repeat transparent;
        background-size: contain;
    }
}

$page_ns: "";

/* <<indexnew.ftl*/