@charset "utf-8";

/* ---------- Reset ---------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
}

html {
	_width: 100%;
	_height: 100%;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	_filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

body {
	_width: 100%;
	_height: 100%;
	min-width: 800px;
	/*overflow: hidden;*/
	_width: expression(document.body.clientWidth <= 800 ? "800px": "auto");
	font: 12px "microsoft yahei",Arial,Verdana,"\5b8b\4f53";
	line-height: normal;
	color: #666666;
	background-color: #fff;
	/*_background-image: url(about: blank);*/
	_background-attachment: fixed;
	overflow-x: hidden;
}

a {
	color: #666666;
	text-decoration: none;
}

a:hover {
	color: #eb3341;
	text-decoration: none;
}

i, em, u {
	font-style:normal;
}

img {
	vertical-align: middle;
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
}

ul {
	list-style-type: none;
}

input {
	outline: none;
}

textarea {
	outline: 0px;
	resize: none;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color: #fff;
    background-image: none;
    color: #cccccc;
}

input:-webkit-autofill {
    background-color: #fff;
    background-image: none;
    color: rgb(0, 0, 0);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* ---------- Base ---------- */

h1 {
	font: 20px "microsoft yahei","\5b8b\4f53";
}

h2,h3 {
	font-size: 14px;
}

h4,h5,h6 {
	font-size: 12px;
}

.black {
	color: black;
}

.white {
	color: white;
}

.gray {
	color: gray;
}

.red {
	color: #eb3341;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

.yellow {
	color: yellow;
}

.bg-red {
	background-color: red;
}

.bg-green {
	background-color: green;
}

.bg-grey {
	background-color: grey;
}

.bg-sandybrown {
	background-color: sandybrown;
}

.bg-plum {
	background-color: plum;
}

.bg-pink {
	background-color: #f98686;
}

.bg-light_blue {
	background-color: #4ec6f8;
}

.bg-dark-blue {
	background-color: #3d578d;
}

.bg-base {
	background-color: #f6f6f6;
}

.bg-green {
	background-color: greenyellow;
}

.bg-grey {
	background-color: darkgray;
}

.hidden {
	display: none;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	height: 0px;
	display: block;
	clear: both;
	visibility: hidden;
	overflow: hidden;
	content: "\0020";
}

.btn-img,.button {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	cursor: pointer;
}
.display-n {
	display: none;
}
.display {
	display: block;
}

/*-----------------Public--------------*/

:after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* ---------- container ---------- */

.container {
	margin: auto;
	display: block;
	width: 1100px;
	overflow: hidden;
}

div.container .span1, div.container .span2, div.container .span3, div.container .span4, div.container .span5, div.container .span6, div.container .span7, div.container .span8, div.container .span9, div.container .span10, div.container .span11, div.container .span12, div.container .span13, div.container .span14, div.container .span15, div.container .span16, div.container .span17, div.container .span18, div.container .span19, div.container .span20, div.container .span21, div.container .span22, div.container .span23, div.container .span24 {
	_display: inline;
	float: left;
}

.container .last {
	margin-right: 0px;
}

.container .span1 {
	width: 50px;
}

.container .span2 {
	width: 100px;
}

.container .span3 {
	width: 150px;
}

.container .span4 {
	width: 200px;
}

.container .span5 {
	width: 250px;
}

.container .span6 {
	width: 300px;
}

.container .span7 {
	width: 350px;
}

.container .span8 {
	width: 400px;
}

.container .span9 {
	width: 450px;
}

.container .span10 {
	width: 500px;
}

.container .span11 {
	width: 550px;
}

.container .span12 {
	width: 600px;
}

.container .span13 {
	width: 650px;
}

.container .span14 {
	width: 700px;
}

.container .span15 {
	width: 750px;
}

.container .span16 {
	width: 800px;
}

.container .span17 {
	width: 850px;
}

.container .span18 {
	width: 900px;
}

.container .span19 {
	width: 950px;
}

.container .span20 {
	width: 1000px;
}

.container .span21 {
	width: 1050px;
}

.container .span22 {
	width: 1100px;
}

.container .span23 {
	width: 1150px;
}

.container .span24 {
	width: 1200px;
}

.container .left {
	float: left;
	width: 200px;
}

.container .content {
	float: right;
	width: 990px;
}

.footer .container .content {
	width: auto;
}

.overflow-v {
	overflow: visible;
}
/* ---------- 网页布局定位 ---------- */

.fix-bottom {
    position: fixed;
    bottom: 0;
}

.position-r {
	position: relative;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

.t-left {
	text-align: left;
}

.t-right {
	text-align: right;
}

/* ---------- header PC主页头部 ---------- */

div.header {
	width: 100%;
	background-color: #ffffff;
}

div.header .position {
	position: static;
}

/* --- 顶部导航 --- top-nav --- */

div.top-nav-block {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 9999;
	top: 30px;
}

div.top-nav-block.change {
	position: fixed;
	top: 0;
	background: rgba(0, 0, 0,0.4);
	padding-top: 10px;
	padding-bottom: 5px;
}

div.top-nav {
	height: auto;
	overflow: hidden;
}

div.top-nav .nav-ul ul {
	height: auto;
}

div.top-nav .nav-ul ul li {
	height: auto;
	float: left;
	font-size: 18px;
	padding: 0 5px;
}

div.top-nav .nav-ul ul li a {
	display: block;
	width: auto;
	height: auto;
	padding: 10px 40px;
	line-height: 1;
	color: #fff;
}

div.top-nav .nav-ul ul li:hover a {
	color: #da4a3d;
	border: 1px solid #da4a3d;
	border-radius: 5px;
}

div.top-nav .nav-ul ul li.active a {
	color: #da4a3d;
	border: 1px solid #da4a3d;
	border-radius: 5px;
}

div.top-nav-block.change .nav-ul ul li:hover a {
	border: none;
}

div.top-nav-block.change .nav-ul ul li.active a {
	border: none;
}

div.top-nav-block.change .top-nav .logo-top img {
	display: block;
	width: 80%;
}

/*PC-登录页*/

.pc-bg {
    background-color: #eff3f5;
}

.pc-g {
	margin: 0 auto;
	width: 100%;
}

.pc-g:before,.pc-g:after {
	content: " ";
	display: table;
}

.pc-g:after {
	clear: both;
}

.header-bg {
    background-color: #fff;
}

/*----------轮播广告brands-slider-----------*/

div.brands-slider {
	position: relative;
	width: 100%;
	height: 612px;
	overflow: hidden;
}

div.brands-slider .container {
	width: 1024px;
}

div.brands-slider .slider-inner {
	position: relative;
	height: 612px;
}

div.brands-slider .slider-items li {
	position: absolute;
	width: 2000px;
	height: 100%;
	left: -525px;
	display: none;
}

div.brands-slider .slider-items li .container {
	width: 900px;
}

div.brands-slider .slider-items li .tit {
	color: #ffffff;
	position: absolute;
	bottom: 90px;
	line-height: 1;
}

div.brands-slider .slider-items li .tit h2 {
	font-size: 38px;
	font-weight: bold;
	margin-bottom: 25px;
}

div.brands-slider .slider-items li .tit h3 {
	font-size: 28px;
	font-weight: 400;
	margin-bottom: 25px;
}

div.brands-slider .slider-items li .tit h4 {
	font-size: 18px;
	font-weight: 400;
}

div.brands-slider .slider-items li .tit .tit_a {
	margin-top: 40px;
}

div.brands-slider .slider-items li .tit .tit_a a {
	font-size: 18px;
	color: #ffffff;
	display: inline-block;
	text-align: center;
	padding: 10px 30px;
	border-radius: 5px;
	border: 1px solid #ffffff;
	margin-right: 20px;
}

div.brands-slider .slider-items li .tit .tit_a a.active {
	background-color: #da4a3d;
	border: 1px solid #da4a3d;
}

div.brands-slider .slider-items li a img {
	display: block;
	width: 100%;
}

div.brands-slider .slider-extra .slider-trigger {
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 100%;
	height: 11px;
	line-height: 11px;
	font-size: 0;
	z-index: 9;
	text-align: center;
	overflow: hidden;
}

div.brands-slider .slider-extra .trigger-inner {
	display: inline-block;
	margin-right: -16px;
}

div.slider-extra .slider-trigger span {
	display: inline-block;
	width: 50px;
	height: 4px;
	overflow: hidden;
	background: #fff;
	vertical-align: middle;
	margin-right: 15px;
}

div.slider-extra .slider-trigger span.ui-switchable-selected {
	background: #000;
}

div.brands-slider .slider-extra .slider-page a {
	position: absolute;
	top: 160px;
	width: 40px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background: rgba(0,0,0,0.4);
	color: #fff;
	font-size: 60px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#28000000,endColorstr=#28000000);
	z-index: 10;
	text-decoration: none;
	font-family: "\5b8b\4f53";
}

div.brands-slider .slider-extra .slider-page .page-prev {
	left: 0;
}

div.brands-slider .slider-extra .slider-page .page-next {
	right: 0;
}

/*---------- 公司简介 company_info -----------*/

div.company_info {
	width: 100%;
	background: #f2f2f2;
}

div.company_info h1 {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 40px;
	color: #1a1a1a;
	font-weight: 400;
	line-height: 1;
}

div.company_info p {
	font-size: 18px;
	line-height: 2;
	color: #666666;
}

div.company_info p i {
	padding-left: 40px;
}

div.company_info .company_content {
	display: inline-block;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 1200px;
}

div.company_info .company_content img {
	float: left;
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 10px;
	width: auto;
	height: auto;
}

/*---------- 合作伙伴 partner_block -----------*/

div.partner_block {
	width: 100%;
	background: #fff;
	padding-bottom: 80px;
}

div.partner_block h1 {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 40px;
	color: #1a1a1a;
	font-weight: 400;
	line-height: 1;
}

div.partner_block h3 {
	text-align: center;
	font-size: 18px;
	color: #666666;
	font-weight: 400;
	line-height: 1;
}

div.partner_content {
	padding-top: 70px;
	width: 1200px;
	overflow: hidden;
}

div.partner_content ul {
	display: inline-block;
	/*margin-left: -20px;*/
}

div.partner_content ul li {
	float: left;
	margin-left: 10px;
	margin-bottom: 20px;
}

div.partner_content ul li a {
	display: block;
	width: 260px;
	height: 75px;
	border: 1px solid #e4e4e4;
	padding-top: 15px;
}

div.partner_content ul li a img {
	margin: 0px auto;
	display: block;
	width: auto;
	height: 60px;
}

div.partner_content ul li a .img1 {
	display: block;
}

div.partner_content ul li a .img2 {
	display: none;
}

div.partner_content ul li:hover a {
	border-color: #da4a3d;
}

div.partner_content ul li:hover a .img1 {
	display: none;
}

div.partner_content ul li:hover a .img2 {
	display: block;
}

/*---------- 新闻动态 news_bulletin ------------*/

div.news_bulletin {
	width: 100%;
	background-color: #f2f2f2;
	padding-top: 45px;
	padding-bottom: 70px;
}

.slideTxtBox {
	width: 100%;
}

.slideTxtBox .hd {
	text-align: center;
	font-size: 24px;
	line-height: 1;
}

.slideTxtBox .hd ul {
	display: inline-block;
}

.slideTxtBox .hd ul li {
	float: left;
	margin-left: 40px;
	border: 1px solid #e4e4e4;
	padding: 32px 35px;
	cursor: pointer;
}

.slideTxtBox .hd ul li .img {
	width: 24px;
	height: 24px;
	overflow: hidden;
	float: left;
	padding-right: 15px;
}

.slideTxtBox .hd ul li img {
	display: block;
	width: 20px;
	height: 20px;
	padding: 2px;
}

.slideTxtBox .hd ul li .img1 {
	display: block;
}

.slideTxtBox .hd ul li .img2 {
	display: none;
}

.slideTxtBox .hd ul li.on {
	background-color: #da4a3d;
	border-color: #da4a3d;
	color: #ffffff;
}

.slideTxtBox .hd ul li.on .img1 {
	display: none;
}

.slideTxtBox .hd ul li.on .img2 {
	display: block;
}

.slideTxtBox .bd ul {
	display: inline-block;
	width: 1100px;
	padding-top: 60px;
}

.slideTxtBox .bd ul li {
	float: left;
	width: 50%;
	margin-bottom: 25px;
}

.slideTxtBox .bd ul li:nth-child(2n) {
	width: 40%;
	padding-left: 7%;
}

.slideTxtBox .bd ul li .item_l {
	float: left;
	border: 1px solid #da4a3d;
	width: 70px;
	height: 50px;
	padding: 10px 0;
	text-align: center;
	line-height: 1;
	color: #da4a3d;
	box-shadow: 1px 1px 1px #da4a3d;
	margin-right: 20px;
	background-color: #fff;
}

.slideTxtBox .bd .item_l h2 {
	font-size: 24px;
	padding-top: 2px;
	font-weight: 400;
	color: #da4a3d;
}

.slideTxtBox .bd .item_l span {
	font-size: 16px;
	padding-top: 5px;
	display: block;
}

.slideTxtBox .bd ul li .item_r {
	float: left;
	font-size: 18px;
	line-height: 1.1;
	padding-top: 10px;
}

.slideTxtBox .bd .item_r span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 340px;
	cursor: pointer;
}

.slideTxtBox .bd .item_r a {
	color: #da4a3d;
	display: inline-block;
	padding-top: 15px;
}
/*--加载更多--*/
.load-more {
	text-align: center;
	margin-top: 55px;
}

.load-more a {
	display: inline-block;
	line-height: 1;
	color: #da4a3d;
	font-size: 18px;
	border: 1px solid #da4a3d;
	border-radius: 5px;
	padding: 10px 35px;
}

/*---------------------*/

div.details_content h2 {
	font-size: 18px;
	font-weight: 400;
	color: #000;
	padding: 15px 30px;
	line-height: 1;
	border-bottom: 1px solid #ccc;
}

div.details_content .title {
	font-size: 16px;
	font-weight: 400;
	color: #666;
	padding: 15px 30px;
	line-height: 2;
	overflow-x: hidden;
}

/*---------- 页面底部 footer -----------*/
div.footer {
	background-color: #263238;
	width: 100%;
	padding-top: 45px;
	color: #ffffff;
}

div.footer .left {
	overflow: hidden;
	width: auto;
	line-height: 1;
}

div.footer .left h2 {
	font-size: 20px;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 30px;
}

div.footer .left h4 {
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 20px;
}

div.footer .content {
	text-align: right;
	height: auto;
}

div.footer .content .top {
	float: right;
	height: auto;
	line-height: 1;
	font-size: 20px;
	font-weight: bold;
	padding-top: 35px;
}

div.footer .content .top h2 {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 20px;
}

div.footer .content .bottom {
	float: right;
	height: auto;
	line-height: 1;
	margin-left: 40px;
	font-size: 18px;
	text-align: center;
	padding-bottom: 60px;
}

div.footer .content .bottom .img {
	padding-bottom: 20px;
}

div.footer .content .bottom img {
	width:200px;
	height: 200px;
}

div.footer .wire {
	border-top: 1px solid #e4e4e4;
}

div.footer .ban_quan {
	padding: 35px 0;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	line-height: 1;
}

/*----------shiping---------*/
.bofang {
    
}

.shiping {
    position: fixed;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#B2000000', endColorstr='#B2000000');
    background: rgba(0, 0, 0, 0.7);
    z-index: 11111;
    overflow: hidden;
}

.shiping_1 {
    width: 100%;
    height: 100%;
}

.shiping_ {
    width: 1000px;
    height: 562px;
    position: absolute;
    left: 50%;
    top: 8%;
    margin-left: -500px;
    background: #ffffff;
}

.shiping_ i {
	position: absolute;
	color: #fff;
	font-size: 20px;
	width: 30px;
	height: 30px;
	text-align: center;
	display: block;
	right: -25px;
	top: 0;
	background-color: #333;
	cursor: pointer;
}




















