/// namespace: STC-TT-BY
/// description: 买单立减
/* >>wap\html\tenant\buyreduceRN.html*/
$page_ns: "STC-TT-BY";

.buyreduceRN {
    &.#{$page_ns} {
        padding-top: dimension-to-vw(18px);

        &:before {
            @include dividingline(top, #bbbbbb);
        }

        .total_consumption {
            height: dimension-to-vw(72px);
            margin: 0 auto dimension-to-vw(18px);
            padding: 0 dimension-to-vw(30px);

            @include flexbox;

            @include flex-direction(row);

            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;

            .weui_cell_bd {
                -webkit-box-flex: 1;
                -moz-box-flex: 1;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;

                input {
                    width: 100%;
                    text-align: right;
                    color: #bbbbbb;
                }

                &.active {
                    input {
                        color: #ff6d06;
                    }
                }

                .weui_cell_primary {}
            }
        }

        .merchant_coupons {
            padding-bottom: dimension-to-vw(25px);

            .merchant_coupons_tit {
                padding: dimension-to-vw(25px) dimension-to-vw(30px);


                -ms-flex-align: center;
                -webkit-align-items: center;
                -webkit-box-align: center;
                align-items: center;

                .weui_cell_bd {
                    @include justify-content(center);
                    text-align: center;
                    -webkit-box-flex: 1;
                    -moz-box-flex: 1;
                    -webkit-flex: 1;
                    -ms-flex: 1;
                    flex: 1;

                    span {
                        display: inline-block;

                        &:nth-child(2){
                            margin: 0 dimension-to-vw(20px);
                        }

                        &.line {
                            width: dimension-to-vw(120px);
                            position: relative;

                            &:before {
                                @include dividingline(top, #bbbbbb);
                            }
                        }
                    }
                }
            }

            .coupon {
                width: dimension-to-vw(580px);
                height: dimension-to-vw(185px);
                margin: 0 auto;

                .coupon_cont {
                    color: #999999;
                    padding: dimension-to-vw(30px) dimension-to-vw(69px);

                    .weui_cell_bd {
                        .money {
                            @include inline-flex;

                            @include flex-direction(row);

                            .value {
                                margin-right: dimension-to-vw(25px);
                            }
                        }

                        .time {
                            margin-top: dimension-to-vw(10px);
                        }
                    }

                    .weui_cell_ft {
                        .section3 {
                            display: none;
                        }
                    }

                    &.active {
                        .section1 {
                            color: #ff6d06;
                        }

                        .section2 {
                            color: #333333;
                        }

                        .section3 {
                            display: block;
                        }
                    }
                }
            }
        }

        .business_discount {
            height: dimension-to-vw(168px);
            padding: dimension-to-vw(15px) 0;

            .bd_tit {
                text-align: center;

                @include flexbox;

                @include flex-direction(row);

                @include justify-content(center);

                -ms-flex-align: center;
                -webkit-align-items: center;
                -webkit-box-align: center;
                align-items: center;

                span {
                    display: inline-block;

                    &:nth-child(2) {
                        margin: 0 dimension-to-vw(30px);
                    }

                    &.line {
                        width: dimension-to-vw(118px);
                        position: relative;

                        &:before {
                            @include dividingline(top, #bbbbbb);
                        }
                    }
                }
            }

            .bd_cont {
                width: dimension-to-vw(580px);
                margin: 0 auto;

                &:before {
                    border-top: none;
                    left: 0;
                }

                &.active {
                    .section4 {
                        display: none;
                    }

                    .section5 {
                        display: block;
                    }
                }

                .section4 {
                    margin-left: dimension-to-vw(30px);
                }

                .section5 {
                    display: none;
                }
            }
        }

        .random_reduce {
            height: dimension-to-vw(72px);
            margin: dimension-to-vw(18px) auto;
            padding: 0 dimension-to-vw(30px);

            @include flexbox;

            @include flex-direction(row);

            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;

            &:before {
                border-top: none;
                left: 0;
            }

            .weui_cell_bd {
                -webkit-box-flex: 1;
                -moz-box-flex: 1;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;

                .section3 {
                    color: #bbbbbb;
                    display: none;
                }
            }

            .weui_cell_ft {
                color: #bbbbbb;

                &.active {
                    .section1 {
                        color: #ff6d06;
                    }
                }
            }

            &.active {
                .section3 {
                    display: block;
                }

                .section1 {
                    color: #ff6d06;
                }
            }
        }

        .pay_money {
            height: dimension-to-vw(72px);
            margin-bottom: dimension-to-vw(18px);
            padding: 0 dimension-to-vw(70px) 0 dimension-to-vw(30px);

            @include flexbox;

            @include flex-direction(row);

            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;

            &:before {
                border-top: none;
                left: 0;
            }

            .weui_cell_bd {
                -webkit-box-flex: 1;
                -moz-box-flex: 1;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }

            .weui_cell_ft {
                color: #bbbbbb;

                &.active {
                    .section1 {
                        color: #ff6d06;
                    }
                }
            }
        }

        .buyreduceRN_ft {
            padding: dimension-to-vw(47px) 0 dimension-to-vw(70px);

            .confirm_check {
                text-align: center;
                width: dimension-to-vw(420px);
                height: dimension-to-vw(68px);
                line-height: dimension-to-vw(68px);
                border-radius: 10px;
                margin: 0 auto dimension-to-vw(47px);

                &.section4 {
                    background-color: #cccccc;

                    &.active {
                        background-color: #ff6d06;
                    }
                }
            }

            .buyreduceRN_business {
                @include flexbox;

                @include flex-direction(row);

                -ms-flex-align: center;
                -webkit-align-items: center;
                -webkit-box-align: center;
                align-items: center;

                &:before {
                    border-top: none;
                    left: 0;
                }

                .weui_cell_bd {
                    -webkit-box-flex: 1;
                    -moz-box-flex: 1;
                    -webkit-flex: 1;
                    -ms-flex: 1;
                    flex: 1;

                    p {
                        line-height: 1.8em;
                    }
                }
            }
        }

        @at-root .more_buyreduceRN,.more_coupon {
            &.#{$page_ns} {
                width: 100%;
                position: fixed;
                left: 0;
                bottom: 0;
                z-index: 9999;

                .more_buyreduceRN_tit {
                    height: dimension-to-vw(91px);
                    padding: 0 dimension-to-vw(28px);
                    position: relative;

                    &:after {
                        @include dividingline(bottom, #d6d6d6);
                    }

                    .weui_cell_bd {
                        text-align: center;
                    }
                }

                .more_buyreduceRN_cont, .more_coupon_cont {
                    padding: 0 dimension-to-vw(28px);

                    li {
                        position: relative;
                        height: dimension-to-vw(102px);

                        @include flexbox;

                        @include flex-direction(column);

                        @include justify-content(center);

                        &:after {
                            @include dividingline(bottom, #eeeeee);
                        }

                        &:last-child {
                            &:after {
                                border-bottom: none;
                            }
                        }
                    }
                }

                .more_coupon_cont {
                    li {
                        height: dimension-to-vw(126px);
                    }
                }
            }
        }
    }
}

$page_ns: "";

/* <<wap\html\tenant\buyreduceRN.html*/