/// namespace: STC-FU
/// description: 水果商家首页
/* >>wap\html\techsupport.html*/
$page_ns: "STC-TT-ID";

//style here
//顶部搜索框及购物车
.top {
    &.#{$page_ns} {
        padding: dimension-to-vw(21px) 15px;
        .weui_cell_bd {
            margin-right: dimension-to-vw(20px);

            a {
                border-radius: .3em;
                width: dimension-to-vw(530px);
                height: dimension-to-vw(50px);
                line-height: dimension-to-vw(50px);
                padding-left: dimension-to-vw(20px);
                display: block;
            }

            .search {
                color: #e0e0e0;
            }
        }
    }
}

//店铺banner
.banner {
    &.#{$page_ns} {
        position: relative;

        //banner图
        .banner_img img {
            width: 100%;
        }

        //店铺logo、名称等信息
        .shop {
            position: absolute;
            background-color: transparent;
            width: 100%;
            left: 0;
            bottom: .4em;
            padding: 0 dimension-to-vw(27px) 0 dimension-to-vw(28px);

            &:before {
                border-top: none;
            }

            &:after {
                border-bottom: none;
            }

                &.weui_cell{
                    &:before{
                        content: none;
                    }
                }

                .weui_cell_hd {
                    width: dimension-to-vw(105px);
                    height: dimension-to-vw(105px);
                    margin-right: dimension-to-vw(13px);


                    img {
                        width: 100%;
                    }
                }

                .weui_cell_ft {
                    //display: flex;
                    //flex-direction:row;
                    @include inline-flex;

                    @include flex-direction(row);

                    span {
                        line-height: 1.5em;
                        margin-right: dimension-to-vw(20px);
                    }

                    i {
                        margin-top: .5em;
                    }
                }
            }
        
    }
}

//店铺导航
.nav {
    &.#{$page_ns} {
        font-size: 0;
        padding: 0 dimension-to-vw(13.2px);
        white-space: nowrap;
        overflow: auto;
        position: relative;

        //所有浏览器
        #{$star}word-spacing: -1px;

        //IE6、7
        overflow-x: auto;
        background-color: #fff;

        &:after {
            @include dividingline(bottom, #ddd);
        }

        .it {
            text-align: center;

            //width: dimension-to-vw(153.6px);
            display: inline-block;
            #{$star}display: inline;
            #{$star}zoom: 1;
            font-family: "微软雅黑";

            //padding: dimension-to-vw(12.8px) dimension-to-vw(12.4px);
            padding: dimension-to-vw(12.8px) dimension-to-vw(5px) dimension-to-vw(3px) dimension-to-vw(5px);
            margin: 0 dimension-to-vw(32.8px);
            letter-spacing: normal;
            word-spacing: normal;

            //导航图标
            .nav_sign {
                max-width: 100%;
                width: dimension-to-vw(32px);
                height: auto;

                @include no-flicker;
            }

            p {
                text-align: center;
                line-height: 2em;
                height: 2em;
            }
        }

        //导航选中状态
        .selected {
            border-bottom: 1px solid #ff6d06;
        }
    }
}

//中间广告图片
.ad {
    &.#{$page_ns} {
        width: 100%;
    }
}

//店铺商品轮播
.lunbo {
    &.#{$page_ns} {
        margin-top: dimension-to-vw(18px);
        white-space: nowrap;
        overflow: auto;

        .box_product {
            $father_box_product: #{&};

            width: dimension-to-vw(302px);
            margin-top: 5px;
            margin-left: dimension-to-vw(15px);

            @include inline-flex;

            @include flex-direction(row);

            &:nth-child(2n) {
                margin-right: dimension-to-vw(15px);
                margin-left: 0;
            }

            s {
                margin-left: dimension-to-vw(20px);
            }

            &:nth-child(2n) > a {
                padding: 6px 0;
            }

            & > a {
                display: block;
                padding: 6px 0;

                p {
                    line-height: 2em;
                }

                @at-root #{$father_box_product} {
                    .imgsymbol {
                        width: dimension-to-vw(302px);
                        height: dimension-to-vw(302px);

                        img {
                            width: 100%;
                        }
                    }

                    //description
                    .description {
                        height: 2.4em;
                        line-height: 1.2;
                        color: #333;
                        margin-top: 0.3em;
                    }
                }
            }
        }
    }
}

//店铺导购轮播
.guide {
    &.#{$page_ns} {
        margin: dimension-to-vw(18px) auto;
        padding: dimension-to-vw(23px) 0;
        white-space: nowrap;
        overflow: auto;

         @include flexbox;

            @include flex-direction(row);
            

            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;

        

        .guide_box {
            width: dimension-to-vw(300px);

            //display: flex;
            //flex-direction:row;
            //@include inline-flex;
            
            @include flexbox;

            @include flex-direction(row);
            

            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;

            &:first-child {
                margin-left: dimension-to-vw(50px);
            }

            //导购图片
            .guide_img {
                width: dimension-to-vw(130px);
                height: dimension-to-vw(130px);

                img {
                    width: 100%;
                }
            }

            //导购详细信息
            .guide_description {
                margin-left: dimension-to-vw(19px);
                width: dimension-to-vw(151px);

                //display: flex;
                //@include inline-flex;

                @include flexbox;

                //flex-direction:column;
                @include flex-direction(column);

                //justify-content: center;
                @include justify-content(center);

                //align-items:center;
                @include justify-content(center);

                p {
                    line-height: 1.5em;

                    img {
                        width: dimension-to-vw(26px);
                        margin-left: dimension-to-vw(9px);
                        margin-bottom: dimension-to-vw(6px);
                    }
                }

                a {
                    display: block;
                    width: dimension-to-vw(92px);
                    padding: .2em 0;
                    margin-top: .3em;
                    text-align: center;
                }
            }
        }
    }
}

//商品列表（一列）
.product {
    &.#{$page_ns} {
        .col-1 {
            .box_production {
                position: relative;
                padding: dimension-to-vw(20px) dimension-to-vw(15px);

                //display: flex;
                //flex-direction:row;
                @include inline-flex;

                @include flex-direction(row);

                &:after {
                    @include dividingline(bottom, #eee);
                }

                &:last-child {
                    &:after {
                        border-bottom: none;
                    }
                }

                //商品图片
                .product-img {
                    width: dimension-to-vw(205px);
                    height: dimension-to-vw(205px);

                    img {
                        width: 100%;
                    }
                }

                //商品描述
                .description {
                    $fa_description: #{&};

                    position: relative;
                    margin-left: dimension-to-vw(15px);

                    h2{
                        @extend %ellipsis-2line;
                    }
                    p {
                        @at-root #{$fa_description} s {
                            margin-left: dimension-to-vw(15px);
                        }
                    }

                    //商品列表中购物车
                    .buy {
                        padding: .3em 1%;
                        border-radius: .4em;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }
}

$page_ns: "";

/* <<wap\html\techsupport.html*/