<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="" content="" />
    <title>挑货网-首页</title>
    <meta name="keywords" content="挑货网-首页" />
    <meta name="description" content="挑货网-首页" />

    <link href="../../../resources/ztb/css/common.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="details_content">
    <h2>淘汰你的不是互联网，而是你不接受互联网</h2>
    <div class="title">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;最近小编看到一篇标题是《淘汰你的不是互联网，而是你不接受互联网》的文章，这句话是万科创始人王石说的，这样简单的一句话，不知道大家看到后有什么感触呢?</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;淘汰你的不是互联网，而是你不接受互联网。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;为什么王石会发出这样的感慨?</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;如果把互联网工具、手段跟企业结合起来，给消费者提供更多增值服务，在管理上提供更好的效率，可能情况会恰恰相反，不但不会被取代，还会如鱼得水。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;但是如果你不把互联网当成工具跟你的行业结合起来。最终淘汰你的还是你的同行，因为他们接受了互联网，把互联网跟自己做的事情结合起来，淘汰了你自己。 </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;也就是说，传统行业，如果不用现在的互联网和移动互联网方法来改造自己，你不会被互联网打败，而是会被那些接受互联网方法论的同行打败。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;传统行业进军互联网，只不过是把网络工具和平台当成过去媒体和实体店的一个补充，只不过代替过去线下的工具而已。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;从这我们引出另一个结论：网络营销的本质在于营销，而不是互联网，也不是技术。传统行业想要在互联网这块蛋糕中分得一羹，必须从自己的传统生意的根本之处去理解互联网，学习互联网，从而避开网络营销的误区。</p>
    </div>
</div>
</body>
</html>