/// namespace: MBPI
/* >>page\member\promoting\_index*/
$page_ns: "MBPI";

///主区域
.mainR {
    &.#{$page_ns} {
        height: 33vh;
        padding: 0.5em 1em;

        @include flexbox;

        @include flex-direction(column);

        @include align-items;

        @include justify-content(space-between);

        font-family: "微软雅黑";
        font-size: 12px;

        .hd {
            margin: 10px 0;

            @include flexbox;

            @include flex-direction;

            @include align-items(center);

            @include justify-content(center);

            position: relative;
            text-align: center;
            color: #999;

            span {
                display: inline-block;
                padding: 0 0.5em;
                background-color: #fff;
            }

            &:after {
                content: "";
                z-index: -1;
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                height: 1px;
                border-bottom: 1px solid #c9c9c9;
                transform: scaleY(0.5);
                -webkit-transform: scaleY(0.5);
            }
        }

        .bd {
            $father_mainR_bd: #{&};

            @include align-self(center);

            //@include flex(1);
            @include flexbox;

            @include flex-direction;

            @include align-items(center);

            @include justify-content(center);

            color: #333;

            span {
                @at-root #{$father_mainR_bd} {
                    .money {
                        font-size: 14vw;
                        font-weight: normal;
                    }
                }
            }
        }

        .ft {
            margin: 10px 0;

            @include align-self(center);

            text-align: center;
            line-height: 1.8;
            color: #999;

            a {
                &.howmany {
                    font-size: 14px;
                    color: #666;
                    &.active{
                        color: #ff6d06;    
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

///邀请区域
.inviteR {
    &.#{$page_ns} {
        height: 67vh;
        padding: 10vw;

        @include flexbox;

        @include flex-direction(column);

        @include align-items;

        @include justify-content(space-around);

        font-family: "微软雅黑";
        background: url(../images/border-curveline.png) left top repeat-x #f2f2f2;
        background-size: 12px 5px;

        .symbol {
            padding: 0 3vw;
        }

        .desc {
            color: #666;
            text-align: center;
            line-height: 1.8;

            a {
                color: #00a0e9;
            }
        }

        .invite_friends {
            display: block;
            background-color: #ef2641;
            color: #fff;
            line-height: 2.5;
            text-align: center;
            border-radius: 0.5em;
        }
    }
}

///二维码按钮
.coner_qrsign {
    &.#{$page_ns} {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 20vw;
        height: 20vw;
        background-color: #e3e3e3;
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%);

        a {
            font-size: 8vw;
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 0 1vw;
            margin-bottom: -2px;
            color: #a0a0a0;

            &.active {
                transition: all 2s ease;
                -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
            }
        }
    }
}

//二维码弹窗
.qrcodeboxR {
    &.#{$page_ns} {
        .qrcodebox {
            background-color: #fff;
            z-index: 2;
            position: absolute;
            left: 50%;
            width: 80%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transition: all .5s ease;

            &.comeout {
                transform: translate(20%, 100%) scale(0.05, 0.05) rotate(180deg);
                -webkit-transform: translate(20%, 100%) scale(0.05, 0.05) rotate(180deg);
            }
        }
    }
}

$page_ns: "";

/* >>page\member\promoting\_index,end*/