/** COPYRIGHT 2016, TiaoHuo ALL RIGHTS RESERVED. by VST-UI */
/* foundation*/
.shown { display: block !important; }

.none, .hidden { display: none !important; }

.table { display: table; width: 100%; }

.table-row { display: table-row; }

.table-cell { display: table-cell; }

.translateup-halfY { transform: translate3d(0, -50%, 0); -webkit-transform: translate3d(0, -50%, 0); -ms-transform: translate3d(0, -50%, 0); }

.translatedown-halfY { transform: translate3d(0, 50%, 0); -webkit-transform: translate3d(0, 50%, 0); -ms-transform: translate3d(0, 50%, 0); }

.cf:after, .clearfix:after { content: '\0020'; display: block; height: 0; clear: both; visibility: hidden; }

.cf, .clearfix { zoom: 1; }

.fl, .left { float: left; }

.fr, .right { float: right; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { .ft-bs08 { font-size: 8px; }
  .ft-bs0 { font-size: 10px; }
  .ft-bs1 { font-size: 12px; }
  .ft-bs2 { font-size: 14px; }
  .ft-bs3 { font-size: 16px; }
  .ft-bs4 { font-size: 18px; }
  .ft-bs5 { font-size: 20px; }
  .ft-bs6 { font-size: 22px; }
  .ft-bs7 { font-size: 24px; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) { .ft-bs08 { font-size: 8px; }
  .ft-bs0 { font-size: 10px; }
  .ft-bs1 { font-size: 12px; }
  .ft-bs2 { font-size: 14px; }
  .ft-bs3 { font-size: 16px; }
  .ft-bs4 { font-size: 18px; }
  .ft-bs5 { font-size: 20px; }
  .ft-bs6 { font-size: 22px; }
  .ft-bs7 { font-size: 24px; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) { .ft-bs08 { font-size: 9.375px; }
  .ft-bs0 { font-size: 11.71875px; }
  .ft-bs1 { font-size: 14.0625px; }
  .ft-bs2 { font-size: 16.40625px; }
  .ft-bs3 { font-size: 18.75px; }
  .ft-bs4 { font-size: 21.09375px; }
  .ft-bs5 { font-size: 23.4375px; }
  .ft-bs6 { font-size: 25.78125px; }
  .ft-bs7 { font-size: 28.125px; } }
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) { .ft-bs08 { font-size: 10.35px; }
  .ft-bs0 { font-size: 12.9375px; }
  .ft-bs1 { font-size: 15.525px; }
  .ft-bs2 { font-size: 18.1125px; }
  .ft-bs3 { font-size: 20.7px; }
  .ft-bs4 { font-size: 23.2875px; }
  .ft-bs5 { font-size: 25.875px; }
  .ft-bs6 { font-size: 28.4625px; }
  .ft-bs7 { font-size: 31.05px; } }
/* foundation,end*/
/* component*/
/* >>custom_plugin*/
/* >>custom_plugin,end*/
/* component,end*/
/* structure*/
*, *:before, *:after { -moz-box-sizing: inherit; -webkit-box-sizing: inherit; box-sizing: inherit; -webkit-text-size-adjust: none; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* >>_page-router-download.scss*/
.wrap { position: absolute; left: 0; right: 0; top: 0; bottom: 0; }
.wrap .bannerR { height: 40%; position: relative; }
.wrap .bannerR > img { width: 100%; height: 100%; }
.wrap .bannerR-ctn { position: absolute; background: url(../images/invite-register-bg02.png); width: 86.7vw; min-height: 43.9vw; left: 50%; top: 50%; transform: translate(-50%, -52%); -webkit-transform: translate(-50%, -52%); background-size: contain; background-repeat: no-repeat; background-position: center bottom; }
.wrap .bannerR-ctn .txt { position: absolute; bottom: 1.3vw; width: 100%; text-align: center; height: 9.5vw; line-height: 9.5vw; font-size: 4.7vw; color: #ff6d06; }
@media only screen and (min-height: 250px) and (max-height: 330px) { .wrap .bannerR-ctn { min-height: auto; height: 40vh; }
  .wrap .bannerR-ctn .txt { bottom: 1.26061vh; height: 9.21212vh; line-height: 9.21212vh; } }
@media only screen and (max-height: 250px) { .wrap .bannerR-ctn { min-height: auto; height: 40vh; }
  .wrap .bannerR-ctn .txt { display: none; } }
.wrap .bannerR .storeinfo { font-size: 12px; position: absolute; width: 100%; bottom: 0px; padding: 0 3.73vw; transform: translateY(50%); -webkit-transform: translateY(50%); }
.wrap .bannerR .storeinfo .pt1 { width: 5.28em; height: 5.28em; display: inline-block; vertical-align: bottom; border: 2px solid #fff; border-radius: 50%; }
.wrap .bannerR .storeinfo .pt1 img { width: 100%; height: 100%; border-radius: 50%; }
.wrap .bannerR .storeinfo .pt2 { font-size: 1.25em; vertical-align: text-bottom; display: inline-block; color: #333; }
@media only screen and (min-height: 480px) and (max-height: 540px) { .wrap .bannerR .storeinfo .pt1 { width: 4.28em; height: 4.28em; }
  .wrap .bannerR .storeinfo .pt2 { font-size: 1em; } }
@media only screen and (max-height: 479px) { .wrap .bannerR .storeinfo { display: none; } }
.wrap .operaR { height: 60%; padding: 10vw 10vw 0 10vw; display: -webkit-box; display: box; -webkit-box-align: center; box-align: center; -webkit-box-orient: vertical; box-orient: vertical; box-pack: center; -webkit-box-pack: center; }
.wrap .operaR .inputS { width: 100%; height: 11.71875vw; display: -webkit-box; display: box; -webkit-box-align: center; box-align: center; -webkit-box-orient: horizontal; box-orient: horizontal; box-pack: center; -webkit-box-pack: center; margin-bottom: 7.344vw; border-bottom: 1px solid #999; }
.wrap .operaR .inputS > i.icon { display: block; width: 5.625vw; margin-left: 0.6vw; }
.wrap .operaR .inputS > i.icon > img { width: 100%; height: auto; }
.wrap .operaR .inputS input[type="text"] { display: block; box-flex: 1; -webkit-box-flex: 1; border-width: 0; outline: none; font-size: 4.0625vw; padding-left: 1em; }
.wrap .operaR .inputS a.getVcode { display: block; background-color: #ff6d06; color: #fff; padding: 0.3em 0.8em; border-radius: 5px; font-size: 3.9vw; vertical-align: middle; margin-left: 0.5em; }
.wrap .operaR .inputS a.getVcode:active { background-color: #d25700; }
.wrap .operaR .btnT { width: 100%; }
.wrap .operaR .btn-ok { display: block; width: 100%; font-size: 4.84vw; background-color: #ff6d06; color: #fff; text-align: center; border-radius: 5px; height: 12.5vw; line-height: 12.5vw; margin: 8.44vw 0; }
.wrap .operaR .btn-ok:active { background-color: #d25700; }

/* >>_page-router-download.scss,end*/
/* >>_invite-register-success*/
.operaR.IRS { padding: 6.25vw 15.16vw; }
.operaR.IRS .welcome img, .operaR.IRS .qrcodeR img { width: 100%; height: auto; }
.operaR.IRS .welcome { padding: 0 14.06vw; }
.operaR.IRS .qrcodeR { box-flex: 1; -webkit-box-flex: 1; display: -webkit-box; display: box; -webkit-box-align: center; box-align: center; -webkit-box-orient: vertical; box-orient: vertical; box-pack: center; -webkit-box-pack: center; box-shadow: rgba(51, 51, 51, 0.3) 5px 8px 5px; }
.operaR.IRS .qrcodeR > .imgR { padding: 0 10.16vw; }
.operaR.IRS .qrcodeR p { font-size: 3.9vw; margin-top: 1em; color: #333; }

/* >>_invite-register-success,end*/
/* structure,end*/


