.border-r5 {
    border-radius: 50%;
    overflow: hidden;
}
.cl-center {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.weui_search_text span {
    line-height: 26px;
}

/*自适应布局*/
.mui-flex
{
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display:         flex!important;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.mui-flex > .cell.fixed
{
    width: auto;
    -webkit-box-flex: 0!important;
    -webkit-flex: none!important;
        -ms-flex: none!important;
            flex: none!important;
}
.fixed
{
    width: auto;
    -webkit-box-flex: 0!important;
    -webkit-flex: none!important;
        -ms-flex: none!important;
            flex: none!important;
}
.mui-flex > .cell
{
    position: relative;
    display: block;
    width: 0;
    max-width: 100%;
    padding: 0!important;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
            flex-basis: 0;
}
/*end*/
/*index.html*/
ul.avg-pd li
{
    padding-right: .4rem;
    padding-left: .4rem;
}
ul.avg-pd li:first-child
{
    padding-left: 0;
}
ul.avg-pd li:last-child
{
    padding-right: 0;
}

ul.nav-tab-tips li
{
    text-align: center;
}
ul.nav-tab-tips li a
{
    margin-bottom: -2px;
    padding: 1rem;
}


ul.nav-tip-items li
{
    padding: 5px;
    text-align: right;
}

/*footer*/
.am-topbar
{
    min-height: 49px;
    border-width: 0 0 0 0;
}
.am-topbar-fixed-bottom
{
    bottom: -1px;
    margin-bottom: 0;
    border-width: 1px 0 0;
}
.am-topbar-fixed-top,
.am-topbar-fixed-bottom
{
    position: fixed;
    z-index: 1000;
    right: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}


.am-navbar
{
    line-height: 49px;
    position: fixed;
    z-index: 1010;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 49px;
}
.am-navbar .am-navbar-nav
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    overflow: hidden;
    text-align: center;
}
.am-navbar ul
{
    width: 100%;
    height: 49px;
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.am-navbar-nav
{
    position: relative;
    z-index: 1015;
}
.am-navbar .am-navbar-nav li
{
    float: none;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.am-navbar-nav a
{
    line-height: 20px;
    display: inline-block;
    width: 100%;
    height: 49px;
}
.am-topbar a
{
    /*color: #666;*/
}
.we-icon-bottom
{
    /*font-size: 24px;*/
    line-height: 24px;

    display: block;

    margin: 4px auto 2px;
}
[class*='am-icon-']
{
    font-style: normal;

    display: inline-block;
}
.am-navbar-nav a .am-navbar-label
{
    /*font-size: 12px;*/
    line-height: 1;

    display: block;
    overflow: hidden;

    padding-top: 2px;

    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
}

/*商品-分类页*/
.class-title
{
    font-size: 2.4rem;
    padding: 1rem 20px;
}

ul.class-items .active
{
    background-color: #fff;
}
ul.class-items li
{
    font-size: 1.5rem;
    color: #666;
    background-color: #eee;
}
ul.class-items li:first-child
{
    border-top: none;
}
.class-items-title
{
    font-size: 2rem;
    padding: 1rem 20px;
    color: #999;
}
.pay-input {
    font-size: 26px;
    border: 1px solid #ccc;
    outline: none;
    width: 187px;
    text-indent: 10px;
    letter-spacing: 22px;
    background: url(../images/mima.png) no-repeat;
    height: 30px;
    /*background-size: cover;*/
}
/*商品分类*/
ul.shop-items
{
    background-color: #fff;
    border-bottom: 1px solid #EAE6E6;
}

ul.shop-items li a
{
    font-size: 18px;
    display: block;
    padding: 7px;
    text-align: center;
    color: #333;
}
ul.shop-items li a.visited
{
    color: #fff;
    background-color: #ff6d06;
}
/*商品分类详情列表*/
ul.shop-tip-items {
    padding: 0;
    background: #eaeaea;
}
ul.shop-tip-items li
{
    padding: 2px;
    text-align: left;
}
ul.shop-tip-items li .shop-title
{
    line-height: 22px;
    position: relative;
    display: -webkit-box;
    overflow: hidden;
    height: 44px;
    margin-bottom: 3px;
    word-break: break-all;
    color: #4b566a;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.shop-tip-items a {
    color: #333333;
}
/*ul.shop-tip-items li .shop-title
{
    line-height: 1.2;
    height:0.8rem;
    position: relative;
    display: -webkit-box;
    overflow: hidden;
    margin-bottom: 3px;
    word-break: break-all;
    color: #4b566a;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}*/
/**/

span.order-com{
    display: inline-block;
    padding: 0 5px;
    border-radius: 4px;
}
/*--折扣、满减、买赠--*/
span.order-prefer
{
    border: 1px solid #ffa627;
    color: #ffa627;
}
/*--限时折扣-*/
.order-discount
{
    border: 1px solid #ff635b;
    color: #ff635b;
}
/*--满减--*/
.order-full
{
    border: 1px solid #c183e2;
    color: #c183e2;
}
/*--买赠--*/
.order-gift
{
    color: #ffa627;
    border: 1px solid #ffa627;
}

/*--买赠--*/
.order-gift1
{
    color: #f4f4f4;
    border: 1px solid #f4f4f4;
}

/*--VIP价格--*/
.vip-scale-btn {
    border:2px solid #fd3636;
    border-radius: 6px;
}
/*--好评、中评--*/
.gd-review-btn {
    border-radius: 6px;
    color: #fc0303;
    display:inline-block;
    border:2px solid #fc0303;
}
/*--差评--*/
.bd-review-btn {
    border-radius: 6px;
    color: #666666;
    border:2px solid #666666;
}
.sku-info
{
    color: #666;
}
.item-pay
{
    text-align: right;
}
span.price
{
    font-size: 20px;
    line-height: 1;
    letter-spacing: -1px;
}
span.price .main-price
{
    font-size: 26px;
}
span.old-price
{
    text-decoration: line-through;
    color: #666;
}
.multiple
{
    font-size: 18px;
    color: #333;
}
.ext
{
    font-size: 2rem;
    font-weight: 400;

    color: #666;
}
.symbol-bd
{
    font-size: 3rem;

    display: inline-block;

    padding: 0 1rem;

    text-align: center;

    color: #333;
    border: 1px solid #cccbcb;
}
.sku-info input
{
    display: inline-block;

    width: 6rem;

    text-align: center;

    color: #333;
}
form.add_minus {
    color: #666;
}
form.add_minus input
{
    width: 52px;
    text-align: center;
    border: none;
    outline: none;
}
a.shop-img_bg
{
    line-height: 2.3rem;
    display: block;
    width: 2.3rem;
    height: 2.3rem;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
}
a.shop-img_bg img
{
    width: 2.3rem;
    height: 2.3rem;
    text-align: center;
    vertical-align: middle;
}
/*购物车footer*/
#cart-footer {
    width: 100%;
    height: 1.328125rem;
    line-height: 1.328125rem;
    background-color: #333333;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1010;
}
a.settle {
    padding: 0 22px;
    display: block;
}
/*--商品详情页--*/
.shop-items {
    text-align: center;
    background-color: #fff;
}
.shop-items .weui_cell_primary {
    text-align: center;
    border-right: 1px solid #e0e0e0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.shop-items a{
    /*color: #999999;*/
}
.shop-items .weui_cell_primary:nth-last-child(1) {
    border-right: none;
}
.shop-items .visited {
    color: #333;
}
.float-dot {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    background-color: #999999;
    opacity: 0.8;
    position: absolute;
    bottom: 30rem;
    right: 1rem;
    color: #fff;
    z-index: 888;
    border-radius: 50%;
    text-align: center;
}
.border-r {
    border-radius: 4px;
    border:1px solid #999999;
    overflow: hidden;
/*    padding: 0 0.2rem;*/
}
.shop-level img {
    width: .3rem;
    height: .3rem;
    margin-right: 5px;
    overflow: hidden;
}
ul.shop-tip-items li .items-title
{
    line-height: 18px;
    height:36px;
    position: relative;
    display: -webkit-box;
    overflow: hidden;
    margin-bottom: 3px;
    word-break: break-all;
    color: #4b566a;
    -webkit-line-clamp: 2; /*此为CSS3限制文本行数*/
    -webkit-box-orient: vertical;
}

/*商品详情页底部*/
#actionbar-container {
    /*1display: none;!* 暂时隐藏*!*/
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    background-color: #fff;
}
#actionbar-container .action-bar a {
    color: #666;
    display: block;
    top: 0;
}
#actionbar-container .action-bar {
    color: #999;
    z-index:1;
    border-top: 1px solid #E5E5E5;
}
#actionbar-container .action-bar .support {
    border-right: 1px solid #dadada;
}
#actionbar-container .action-bar .support:nth-last-of-type(1) {
    border-right: none;
}
#actionbar-container .action-bar .ct{
    position: absolute;
    top: 0px;
    z-index: 88;
}
#actionbar-container .action-bar .ct span{
    font-size: 10px;
    width: 18px;
    height: 18px;
    display: block;
    line-height: 18px;
    border-radius: 50%;
    background-color: #ff0000;
    color: #fff;
    margin-left: -28px;
}
#actionbar-container .action-bar .cart {
    background: #fbb049;
}
#actionbar-container .action-bar .buy {
    background: #fc0303;
}
#actionbar-container .action-bar .weui_cell_primary {
    text-align: center;
}
#actionbar-container .action-bar>button {
    border: 0;
    color: #fff;
    padding: 0 6px;
    line-height: 54px;
    height: 54px;
    font-weight: 600;
}
/*商品页的详情*/
.dt-text {
    color: #666;
    min-height:2rem;
}
.dtit-dt {
    text-align: center;
    margin-top: 10px;
    padding: 0 5px;
}
.dtit-dt img {
    display: block;
    max-width: 100%;
    margin: 5px auto;
}

/*商品页的评论*/
.review img {
    width: 1rem;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}
ul.pics {
    overflow: hidden;
}
ul.pics li {
    width: 2rem;
    height: 2rem;
    float: left;
    margin: 0 0.25rem;
    background-color: #fff;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
}
ul.pics li img {
    max-width: 100%;
    max-height: 100%;
}
/*首页的搜索框*/
.tp-jd {
    opacity: 0.8;
    background-color:#fff;
    height:32px;
    border-radius:8px;
    margin: 0 0 0 10px;
    color: #999;
    text-indent: 20px;
    line-height: 32px;
}
/*明星商家*/
.mx_bg {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-clip:content-box;
    background-color: transparent;
    margin: 0 auto;
    width: 9.2rem;
    height: 5.0rem;
}
.mx-shop-img {
    width: 1.34rem;
    height: 1.34rem;
    overflow: hidden;
}
.mx_item {

}
.mx_items {

}
.mx_items_big{
    margin-right: 0.1875rem;
    width: 6.109375rem;
    height:5.53125rem;
    overflow: hidden;
}
.mx_items_big img{
    width: 6.109375rem;
    height:5.53125rem;
}
.mx_items img{
    width: 2.96875rem;
    height: 2.671875rem;
    margin-bottom: 0.1875rem;
}
.mx_items img:last-child {
    margin-bottom: 0;
}
ul.mx_class_rec {
    margin: 0  0.32rem 0.32rem 0.32rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
ul.mx_class_rec li {
    margin-right: 0.32rem;
    text-align: center;
    color: #fff;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
ul.mx_class_rec li:last-child {
    margin-right: 0;
}
ul.mx_class_rec li:nth-child(1) {
    background-color: #ff5f6a;
}
ul.mx_class_rec li:nth-child(2) {
    background-color: #ffa459;
}
ul.mx_class_rec li:nth-child(3) {
    background-color: #ffd24c;
}
ul.mx_class_rec li .rec_item{
    margin:0.15625rem;
    border:1px solid hsla(0,0%,100%,.8);
}
.visit {
    padding: 0 0.5rem;
    display: inline-table;
    /*border-bottom: 2px solid #e60012;*/
    margin-bottom: -1px;
    color: #333;
    font-weight: 500;
}
/*社交圈-JS*/
.js-line {
/*    width: 9.5rem;*/
    height:100%;
    position: relative;
    background-size: 100% 100%;
    background-clip: content-box;
	background-image:url(../images/img-n.png);
	background-repeat:no-repeat;
}
.js-line ul {
/*    margin-top:5.1rem;*/
    width: 100%;
    text-align: center;
}
.js-line ul li {
    margin: 70% 0.2rem 6% 0.2rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.js-line ul li a {
    color:#666;
}
/*社交圈*/
.my-img {
    width: 1.46rem;
    height: 1.46rem;
    margin: 0.56rem auto 0 auto;
    border:3px solid hsla(0,0%,100%,.8);
    border-radius: 50%;
    box-shadow: inset 0 1px 8px rgba(0,0,0,0.2);
    background-image: url(../images/defaul.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: padding-box;
}
.my-text {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
}
.my-text a.weui_cell_primary {
    line-height: 2;
    color: #fff;
}
.my-text .weui_cell_primary:nth-child(1) {
    border-right: 1px solid hsla(0,0%,100%,.3)
}
.my-text .weui_cell_primary:nth-child(2) {
    border-left: 1px solid hsla(0,0%,100%,.8)
}
/*我的魔拍秀*/
.my-text .visited {
    border-bottom: 1px solid #f15353;
}
.sj-items {
    width: 1rem;
    height: 1rem;
    overflow: hidden;
    border-radius: 50%;
}
.sj-items img {
    width: 100%;
}
.sj-items-pic {
    width: 100%;
/*    height: 9.36rem;*/
    text-align: center;
    vertical-align: middle;
}
.sj-items-pic img {
    max-width: 100%;
    max-height: 100%;
}
ul.sj-items-title {

}
ul.sj-items-title li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-right: 1px solid #cecece;
    text-align: center;
}
ul.sj-items-title li:last-child {
    border-right: none;
}
/*随手记底部*/
#actionbar-container.ssj-a .action-bar a {
    color: #666;
    display: block;
    top: 0;
}
#actionbar-container.ssj-a #visited {
    color: #ff6d06;
}
#actionbar-container.ssj-a .iconfont {
    left: 5px;
    position: relative;
}
.ssj-a a{
    padding-top: 15px;
}
/*社交圈-详情页*/
.store-rec {
    width: 100%;
}
.store-rec .weui_cell {
    background-color: #f7f7f7;
}
.store-rec .weui_cell .weui_cell_hd {
    margin-right: 0.25rem;
}
.store-rec .weui_cell .weui_cell_hd img{
    width: 1.6rem;
    height: 1.6rem;
}
.store-rec .weui_cell+.weui_cell {
    margin-top: .3rem;
}
.store-rec .weui_cell a.weui_cell_primary {
    color: #666666;
}
.store-rec .weui_cell a.weui_cell_primary p{

}
.store-rec .weui_cell a.weui_cell_primary span {
    color: #e60012;
}
.store-chat {
    color: #666;
}
.store-chat .pic{
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    overflow: hidden;
    border-radius: 50%;
}
.store-chat .pic img{
    width: 100%;
}
.store-chat .col{
    color: #1d85dd;
}

.product_tags {
    color: #ffffff;
    padding: 0 1px;
    margin-left: 3px;
    font-size: 10px;
}

.reclassify .items a {
    line-height: 2.5;
    padding: 0 0.4em;
    display: block;
    color: #282828;
    text-align: center;
    border-bottom: 2px solid #fff;
    margin: 0 0.2em;
}
/* .reclassify .items a:focus*/
.reclassify .items a:hover {
    color: #ff6d06;
    /* border-width: 0 0 2px 0;*/
    /* border-bottom-color: #ff6d06;*/
}
.reclassify .items a.active{
    color: #ff6d06;
    /* border-width: 0 0 2px 0;*/
    /* border-bottom-color: #ff6d06;*/
}
/* */
.ThumbIconLeft p:first-child{
    position: relative;
}
.ThumbIconLeft .togglebtn{
    position: absolute;
    right: 0;
    bottom: 0;
    transform:translateY(100%);
    -webkit-transform:translateY(100%);
}
/* soga begin*/
.mask-transparent{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    background-color: rgba(0,0,0,0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.mask-halfblack{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    background-color: rgba(0,0,0,0.6);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.mask-blue{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: blue;
}
/* 头部搜索框*/
.am-margin-top-0{
    background-color: rgba(255,255,255,0);

    /*transition: 0.5s;*/
    /*-webkit-transition: 0.5s; !* Safari 和 Chrome *!*/
}
.searchbox_state {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    margin-top: -1px!important;
}
.searchbox_state .weui_cell{
    display: block;
    padding: 7px 60px 6px 72px;
}
.searchbox_state div.weui_cell_bd{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 75px;
    text-align: center;
}
.searchbox_state div.weui_cell_bd .iconfont{
    margin-left: -5px;
    vertical-align: middle;
}
.searchbox_state a.tp-jd{
    display: block;
    text-indent: 0;
    text-align: center;
    /* margin-left: 0;*/
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}
.searchbox_state a.weui_cell_bd{
    text-align:center;
    color: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform:translateY(-50%);
    width: 60px;
    text-align: center;
}
.searchbox_state a.weui_cell_bd span{
    display: block;
    float: none!important;
}
.searchbox_state2{
    /*1border-bottom: 0.1rem solid #F5EFEF;*/
    /*1background-color: rgba(255,255,255,1);*/
    /*transition: 0.5s;*/
    /*-webkit-transition: 0.5s; !* Safari 和 Chrome *!*/

}
.searchbox_state2 .weui_cell_bd span,.searchbox_state2 .weui_cell_bd i{
    color: #8c8c8c!important;
}
.searchbox_state2 .weui_cell_primary i.iconfont{
    color: #999999!important;
}
.searchbox_state2 .tp-jd{
    border: 1px solid #d1d1d1;
}
/* soga end*/
.fixedtop_tab{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
}


/**社交圈样式**/
.defaults{
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ebebeb;
}
.radius-left{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.radius-right{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.showImg{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 10px;
}
.tyrs{
    background-color:#fc4949;
    color:#fff;
    padding:0.3rem 0.3rem;
    display: inline-block;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    border-radius: 0.2rem;
}

div.userInfor {
    background-image: url(../images/headerbg.jpg);
    width: 100%;
    height: auto;
    padding: 10px 0;
}

div.userInfor .headBox {
    display: block;
    width: 74px;
    height: 74px;
    margin: 0px auto;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
    background-color: #e4e4e4;
}

div.userInfor span {
    color: white;
    font-size: 14px;
    display: block;
    text-align: center;
    padding: 5px 0px;

}

/* youhuiquan begin*/
.youhuiquan{
    font-size: 12px;
    position: relative;
    padding: 0 1.8em;
    height: 100%;
    background-color: #FF6D06;
}
.youhuiquan:before,.youhuiquan:after{
    content: "";
    display: block;
    position: absolute;
    height: 0.8em;
    width: 0.8em;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
}
.youhuiquan .in-cell{
    color: #fff;
}
.youhuiquan .up .in-cell{
    font-size: 2em;
    font-weight: bold;
    padding-top: 3%;
}
.youhuiquan .down .in-cell{
    font-size: 1.3em;
    padding-bottom: 3%;
}
.youhuiquan .in-table{
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.youhuiquan .in-cell{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.youhuiquan:before{
    left: 0;
    -webkit-transform: translate(-40%,-50%);
    transform: translate(-40%,-50%);
}
.youhuiquan:after{
    right: 0;
    -webkit-transform: translate(40%,-50%);
    transform: translate(40%,-50%);
}
.youhuiquan .up{
    height: 50%;
    border-bottom: 1px solid #fff;
}
.youhuiquan .down{
    height: 50%;
}
/* youhuiquan end*/
/* youhuiquan box begin*/
.simcell-youhuiquan{
    display: block;
    background-color: #fff;
    font-size: 12px;
    height: 7em;
    padding: 0.6em;
    float: left;
    border-bottom: 1px solid #e0e0e0;
}
.simcell-youhuiquan .store-avatar{
    width: 20%;
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 20%;
    overflow: hidden;
    height: 100%;
    display: table;
}
.simcell-youhuiquan .store-avatar-rap{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.simcell-youhuiquan .ctn{
    font-size: 1.2em;
    width: 50%;
    padding: 0.8em 0.5em;
}
.simcell-youhuiquan .title1{
    color: #333;
}
.simcell-youhuiquan .title2{
    color: #666;
    font-size: 0.85em;
}
.simcell-youhuiquan .store-avatar img{
    width: 100%;
    height: auto;
}
.simcell-youhuiquan .youhuiquan{
    font-size: 0.8rem;
    padding: 0 1.4em;
    width: 30%;
}
.simcell-youhuiquan .expiredsign{
    position: absolute;
    margin: 0.3em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/coupon01.png) center center no-repeat transparent;
    background-size: contain;
}
/* 下拉级联菜单*/
.dropcasmenu{
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    height: 60%;
    overflow: auto;
    z-index: 1001;
    background-color: #fff;
}
.dropcasmenu .menu-rap{
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;
}
.dropcasmenu .menu-L{
    left: 0;
}
.dropcasmenu .menu-R{
    right: 0;
}

.lass-ab {
    width: 8rem;
    height: 8rem;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    z-index: 1000;
    position: relative;
    margin-top: -2.5rem;
}

.lass-ab img {
    max-width: 100%;
    max-height: 100%;
}
.lass-txt{
    text-align: left;
    padding: 0 1em;
}
.kind-items {
    text-align: left;
}
.kind-items button{
    border-width: 0;
    display: inline-block;
    margin: 0.2em 0.2em;
    background-color: #f5f5f5;
    outline: none;
    color: #666666;
    padding: 0.5em 1em;
    font-size: 0.7em;
    border-radius: 0.6em;
}
.kind-items button.choosed{
    background-color: #ff6d06;
    color: #fff;
}

.kind-items button.sorry_no{
    color: #b3b3b3;
}
.chose_goods {
    transform: none;
    -webkit-transform: none;
    left: 0;
    bottom: 0;
    right: 0;
    top: auto;
    background-color: #fff;
}
.chose_goods .box_hd{
    font-size: 0.8em;
    padding-bottom: 0;
}
.chose_goods .box_bd{
    padding-top: 0.3em;
}
.chose_goods-closebtn{
    position: absolute;
    margin: 3px;
    right: 0;
    color: #333;
    width: 1.7em;
    height: 1.7em;
    top: 0;
    padding: 0.2em;
    /* background: url(../images/cancel.png) center center no-repeat transparent; */
    /* background-size: contain; */
    /* background-origin: content-box; */
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
}
.chose_goods .add_minus i,.chose_goods .add_minus input{
    font-size: 1em;
}
/* 附近排序下拉选中*/
.soga-dropDownSelect{
    position: fixed;
    background-color: #fff;
    z-index: 1001;
    left: 0;
    right: 0;
    display: none;
}
.soga-dropDownSelect li{
    border-bottom: 1px solid #d6d6d6;
}
.soga-dropDownSelect li a{
    display: block;
    color: #666;
    text-align: center;
    line-height: 3;
}
/* */
.tipicon-wrap{
    position: relative;
}
.tipicon-main{
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
}
.tipicon-main.myxiu_quan{
    background-image: url(../images/myxiu_quan.png);
}
.tipicon-main.myxiu_shoppingcar{
    background-image: url(../images/myxiu_shoppingcar.png);
}
.tipicon-main.myxiu_wallet{
    background-image: url(../images/myxiu_wallet.png);
}